<div>
    <div>
    <div>Redefina&nbsp;sua&nbsp;senha&nbsp;clicando&nbsp;neste&nbsp;link.</div>
    </div>
    </div>
    <br /><br />
    <div>
    <div>
    <div>
    <div>
    <div>
    <div>Ol&aacute; __name__,</div>
    </div>
    <br /></div>
    </div>
    &nbsp; &nbsp; Clique abaixo para criar nova senha :&nbsp;<a href="__link__">ALTERAR SUA SENHA:-&nbsp;</a>Caso n&atilde;o funcione copie e cole o link abaixo em seu navegador: __link__</div>
    </div>
    <div>
    <div><br />
    <div>
    <div>Atenciosamente,<br /><br />
    <div>
    <div>Netbhe<br /><br /><span style="font-size: 12pt; font-family: 'trebuchet ms', geneva, sans-serif;">contato@netbhe.com.br</span><br /><br />
    <div>
    <div><a title="https://netbhe.com.br" href="https://netbhe.com.br">https://netbhe.com.br</a></div>
    </div>
    <br /></div>
    </div>
    <br /></div>
    </div>
    <br /></div>
    </div>
    <br />