/* @import url(https://fonts.googleapis.com/css?family=Open+Sans); */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600);
@import url(https://fonts.googleapis.com/css?family=Kurale);


/*
Template Name: Moltran Dashboard
Author: CoderThemes
Email: coderthemes@gmail.com
File: Pages
*/
/*
  - Profile
  - Timeline-2
  - Pricing
  - Sweet Alerts
  - Maps
  - Email
  - Timeline
  - Charts
  - Count Down
  - Gallery
  - Maintenance
  - Account Pages
*/
/* ==============
  Profile
===================*/
.bg-img {
    /*background: url(../images/small/bg.jpg) center;*/
}

.bg-overlay {
    background: #ffffff;
    border-radius: 6px 6px 0 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.panel-pages .panel-body {
    padding: 30px;
    background: #fff;
    border-bottom: 2px solid #88ca4f;
}

.bg-picture {
    -webkit-background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: -20px -25px 0px -25px;
    padding: 100px 0px;
    position: relative;
}

.bg-picture>.bg-picture-overlay {
    background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0, rgba(0, 0, 0, 0.4) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(rgba(0, 0, 0, 0.4)));
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0, rgba(0, 0, 0, 0.4) 100%);
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, rgba(0, 0, 0, 0.4) 100%);
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.profile-info-name {
    position: relative;
}

.profile-tab-content {
    background-color: transparent !important;
    box-shadow: none !important;
    margin-top: 35px;
}

.user-tabs {
    background-color: #ffffff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    margin-left: -35px;
    padding-left: 25px;
}

.user-tabs .nav.nav-tabs {
    box-shadow: none !important;
}

.user-tabs .nav.nav-tabs a {
    text-transform: uppercase;
}

.user-tabs .pull-right .btn {
    margin-top: 8px;
}

.about-info-p {
    margin-bottom: 20px;
}

.about-info-p p {
    font-size: 16px;
}

/* ==============
  Timeline-2
===================*/
.timeline-2 {
    border-left: 2px solid #14082d;
    position: relative;
}

.timeline-2 .time-item:after {
    background-color: #ffffff;
    border-color: #14082d;
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    bottom: 0;
    content: '';
    height: 14px;
    left: 0;
    margin-left: -8px;
    position: absolute;
    top: 5px;
    width: 14px;
}

.time-item {
    border-color: #dee5e7;
    padding-bottom: 1px;
    position: relative;
}

.time-item:before {
    content: " ";
    display: table;
}

.time-item:after {
    background-color: #ffffff;
    border-color: #14082d;
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    bottom: 0;
    content: '';
    height: 14px;
    left: 0;
    margin-left: -8px;
    position: absolute;
    top: 5px;
    width: 14px;
}

.time-item-item:after {
    content: " ";
    display: table;
}

.item-info {
    margin-bottom: 15px;
    margin-left: 15px;
}

.item-info p {
    margin-bottom: 10px !important;
}

/* ==============
  Sweet Alert
===================*/
.sweet-alert p {
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
}

button.confirm {
    background-color: #2b4049 !important;
    border-color: #2b4049 !important;
    box-shadow: none !important;
}

/* ==============
  Pricing
===================*/
.pricing-plan {
    padding-bottom: 50px;
}

.price_card {
    -moz-border-radius: 5px;
    -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 5px;
    background: #fafafa;
    border-radius: 5px;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    padding-bottom: 20px;
    position: relative;
    webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
}

.price_card .name {
    display: block;
    font-size: 16px;
    font-weight: 700;
    padding: 0 0 30px;
    text-align: center;
    width: 100%;
}

.price_card button {
    margin-top: 20px;
}

.pricing-header {
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: #ffffff;
}

.price {
    display: block;
    font-size: 48px;
    font-weight: 300;
    padding: 30px 0 10px;
    text-align: center;
    width: 100%;
}

.price-features {
    color: #8a8a8a;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.price-features li {
    margin: 0 35px;
    padding: 20px 15px;
}

.pricing-item {
    margin: 0 0 30px;
    position: relative;
    text-align: center;
}

.pricing-item-inner {
    -moz-transition: all 0.27s cubic-bezier(0, 0, 0.58, 1);
    -ms-transition: all 0.27s cubic-bezier(0, 0, 0.58, 1);
    -o-transition: all 0.27s cubic-bezier(0, 0, 0.58, 1);
    -webkit-transition: all 0.27s cubic-bezier(0, 0, 0.58, 1);
    border-radius: 7px;
    border: 2px solid rgba(151, 160, 175, 0.2);
    transition: all 0.27s cubic-bezier(0, 0, 0.58, 1);
    vertical-align: middle;
}

.pricing-wrap {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
    padding: 30px 20px;
    position: relative;
    text-align: center;
}

.pricing-icon {
    font-size: 32px;
    padding-bottom: 5px;
    padding-top: 10px;
    position: relative;
    z-index: 1;
}

.pricing-title {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 40px;
    position: relative;
    text-transform: uppercase;
    z-index: 1;
}

.pr-list {
    color: #97a0af;
    font-size: 12px;
    font-weight: 400;
    margin: 0 -20px 30px;
    padding: 0;
    text-transform: uppercase;
}

.pr-list li {
    list-style: none;
    padding: 12px 20px;
}

.pricing-num {
    font-size: 40px;
    font-weight: 700;
    line-height: 1;
}

.pricing-num sup {
    font-size: 18px;
    font-weight: 400;
    left: -3px;
    margin-left: -7px;
    position: relative;
    top: -20px;
}

.pr-per {
    color: #97a0af;
    font-size: 12px;
}

.pr-button {
    margin-top: 30px;
}

/*Sudipto Chakraborty*/
.cust_log {
    width: 90%;
}

.logo {
    color: #ffffff !important;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.05em;
    line-height: 70px;
    text-transform: uppercase;
    text-align: center;
    display: block;
}

.logo img {
    display: inline-block;
}

.pad_left_20 {
    padding-left: 20px;
}

.pad_left_170 {
    padding-left: 170px !important;
}

.fileupload.btn-primary_cust {
    background-color: #126f68 !important;
    border: 1px solid #2b4049 !important;
    color: #fff;
    border-radius: 5px;
}

.fileupload.btn-primary_cust:hover {
    background-color: #FFD238 !important;
    border: 1px solid #F2C224 !important;
    color: #237973;
    border-radius: 5px;
}

.btn-success_cust {
    background-color: #005952;
    border-radius: 5px;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 33px;
    margin-bottom: 8px;
    margin-top: 8px;
    padding: 0 20px;
    text-align: center;
    transition-duration: 0.3s;
    margin-right: 10px;
    border: 1px solid #2b4049;
}

.btn-success_cust:hover {
    background-color: #FFD238;
    color: #237973;
    border: 1px solid #F2C224;
}

.video_upload {
    float: left;
    margin-right: 15px;
    display: inline-block;
    width: 250px;
}

.video-container {
    position: relative;
    /*padding-bottom:56.25%;*/
    /*padding-top:30px;*/
    height: auto;
    overflow: hidden;
    /*border:3px solid #787878;*/

}

.video-container iframe,
.video-container object,
.video-container embed {
    /*position:absolute;*/
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: medium none;
}

.pho_video_hldr {
    background: #1cedd8 none repeat scroll 0 0;
    line-height: 11px;
    padding: 5px;
    position: relative;
    text-align: center;
}

.cust_mrgn_tp {
    margin-top: 0 !important;
    font-size: 14px;
}

.btn-default_cust {}

.btn-default_cust {
    background-color: #005952;
    border-radius: 5px;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 33px;
    padding: 0 20px;
    transition-duration: 0.3s;
    margin-top: 5px;
    color: #fff;
}

.btn-default_cust:hover {
    background-color: #89A257;
    color: #fff;
}

div.dataTables_paginate {
    margin: 0;
    text-align: right;
    white-space: nowrap;
}

.dataTables_length label {
    font-weight: normal;
    display: none;
}

div.dataTables_filter {
    text-align: right;
    margin-bottom: 10px;
}

div.dataTables_filter label {
    font-weight: normal;
    white-space: nowrap;
    font-weight: normal;
    text-align: left;
}

.input-sm {
    border-radius: 3px;
    font-size: 12px;
    height: 30px;
    line-height: 1.5;
    padding: 5px 10px;
    margin-left: 5px;
}

.dataTables_paginate>.pagination>.active>a,
.dataTables_paginate>.pagination>.active>span,
.dataTables_paginate>.pagination>.active>a:hover,
.dataTables_paginate>.pagination>.active>span:hover,
.dataTables_paginate>.pagination>.active>a:focus,
.dataTables_paginate>.pagination>.active>span:focus {
    /*background-color: #237973;*/
    border-color: #106B63;
}

table.dat_tbl tbody tr td:last-child {
    text-align: center !important;
}

table.dat_tbl tbody tr td img {
    display: inline-block;
}

.checkbox span {
    display: inline-block;
    margin-right: 10px;
}

.mrgn_btm_10 {
    margin-bottom: 10px;
}

.mrgn_tp_15 {
    margin-top: 15px;
}

.mrgn_lft-15 {
    margin-left: 15px;
}

.pho_img_hldr {
    background: #1cedd8 none repeat scroll 0 0;
    /*line-height: 140px;*/
    line-height: normal;
    padding: 5px;
    position: relative;
    text-align: center;
}

.responsive_img {
    max-width: 100%;
}

.crsbtn {
    position: absolute;
    top: 0;
    right: 0;
}

.mrgn_btm_20 {
    margin-bottom: 20px;
}

/* ==============
  Maps
===================*/
.gmaps,
.gmaps-panaroma {
    height: 300px;
    background: #eeeeee;
    border-radius: 3px;
}

.gmaps-overlay {
    display: block;
    text-align: center;
    color: #ffffff;
    font-size: 16px;
    line-height: 40px;
    background: #2b4049;
    border-radius: 4px;
    padding: 10px 20px;
}

.gmaps-overlay_arrow {
    left: 50%;
    margin-left: -16px;
    width: 0;
    height: 0;
    position: absolute;
}

.gmaps-overlay_arrow.above {
    bottom: -15px;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    border-top: 16px solid #2b4049;
}

.gmaps-overlay_arrow.below {
    top: -15px;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    border-bottom: 16px solid #2b4049;
}

/* ==============
  Email
===================*/
.mails a {
    color: #444444;
}

.mails .checkbox {
    margin-bottom: 0px;
    margin-top: 0px;
    vertical-align: middle;
}

.mails .checkbox label {
    min-height: 16px;
}

/* ==============
  Timeline
===================*/
.cd-container {
    width: 90%;
    max-width: 1170px;
    margin: 0 auto;
}

.cd-container::after {
    content: '';
    display: table;
    clear: both;
}

#cd-timeline {
    margin-bottom: 2em;
    margin-top: 2em;
    padding: 2em 0;
    position: relative;
}

#cd-timeline::before {
    background: #ffffff;
    content: '';
    height: 100%;
    left: 18px;
    position: absolute;
    top: 0;
    width: 4px;
}

@media only screen and (min-width: 1170px) {
    #cd-timeline {
        margin-bottom: 3em;
        margin-top: 3em;
    }

    #cd-timeline::before {
        left: 50%;
        margin-left: -2px;
    }
}

.cd-timeline-block {
    margin: 2em 0;
    position: relative;
}

.cd-timeline-block:after {
    clear: both;
    content: "";
    display: table;
}

.cd-timeline-block:first-child {
    margin-top: 0;
}

.cd-timeline-block:last-child {
    margin-bottom: 0;
}

@media only screen and (min-width: 1170px) {
    .cd-timeline-block {
        margin: 4em 0;
    }

    .cd-timeline-block:first-child {
        margin-top: 0;
    }

    .cd-timeline-block:last-child {
        margin-bottom: 0;
    }
}

.cd-timeline-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: #fff;
}

.cd-timeline-img.cd-success {
    background: #58c9c7;
}

.cd-timeline-img.cd-info {
    background: #2b9ac9;
}

.cd-timeline-img.cd-pink {
    background: #ec407a;
}

.cd-timeline-img.cd-danger {
    background: #ef5350;
}

.cd-timeline-img.cd-primary {
    background: #2b4049;
}

.cd-timeline-img.cd-warning {
    background: #ffd740;
}

@media only screen and (min-width: 1170px) {
    .cd-timeline-img {
        width: 60px;
        height: 60px;
        line-height: 60px;
        left: 50%;
        margin-left: -30px;
        -webkit-transform: translateZ(0);
        -webkit-backface-visibility: hidden;
    }

    .cssanimations .cd-timeline-img.is-hidden {
        visibility: hidden;
    }

    .cssanimations .cd-timeline-img.bounce-in {
        visibility: visible;
        -webkit-animation: cd-bounce-1 0.6s;
        -moz-animation: cd-bounce-1 0.6s;
        animation: cd-bounce-1 0.6s;
    }
}

.cd-timeline-content {
    -moz-box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.1);
    background: white;
    border-radius: 0;
    box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.1);
    margin-left: 60px;
    padding: 1em;
    position: relative;
}

.cd-timeline-content img {
    display: block;
    width: 100%;
}

.cd-timeline-content:after {
    clear: both;
    content: "";
    display: table;
}

.cd-timeline-content h2 {
    margin-top: 0;
}

.cd-timeline-content p {
    color: #666666;
    font-size: 14px;
    margin: 10px 0px 10px 0px;
}

.cd-timeline-content .cd-read-more {
    background: #acb7c0;
    border-radius: 0.25em;
    color: white;
    display: inline-block;
    float: right;
    font-size: 14px;
    padding: .8em 1em;
}

.cd-timeline-content .cd-date {
    display: inline-block;
    font-size: 14px;
}

.cd-timeline-content h3 {
    font-size: 21px;
    margin: 0px;
}

.no-touch .cd-timeline-content .cd-read-more:hover {
    background-color: #bac4cb;
}

.cd-timeline-content .cd-date {
    float: left;
    padding: .8em 0;
    opacity: .7;
}

.cd-timeline-content::before {
    content: '';
    position: absolute;
    top: 16px;
    right: 100%;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-right: 7px solid white;
}

@media only screen and (min-width: 1170px) {
    .cd-timeline-content {
        margin-left: 0;
        padding: 1.6em;
        width: 45%;
    }

    .cd-timeline-content::before {
        top: 24px;
        left: 100%;
        border-color: transparent;
        border-left-color: white;
    }

    .cd-timeline-content .cd-read-more {
        float: left;
    }

    .cd-timeline-content .cd-date {
        position: absolute;
        width: 100%;
        left: 122%;
        top: 6px;
    }

    .cd-timeline-block:nth-child(even) .cd-timeline-content {
        float: right;
    }

    .cd-timeline-block:nth-child(even) .cd-timeline-content::before {
        top: 24px;
        left: auto;
        right: 100%;
        border-color: transparent;
        border-right-color: white;
    }

    .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-read-more {
        float: right;
    }

    .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-date {
        left: auto;
        right: 122%;
        text-align: right;
    }

    .cssanimations .cd-timeline-content.is-hidden {
        visibility: hidden;
    }

    .cssanimations .cd-timeline-content.bounce-in {
        visibility: visible;
        -webkit-animation: cd-bounce-2 0.6s;
        -moz-animation: cd-bounce-2 0.6s;
        animation: cd-bounce-2 0.6s;
    }
}

@media only screen and (min-width: 1170px) {
    .cssanimations .cd-timeline-block:nth-child(even) .cd-timeline-content.bounce-in {
        -webkit-animation: cd-bounce-2-inverse 0.6s;
        -moz-animation: cd-bounce-2-inverse 0.6s;
        animation: cd-bounce-2-inverse 0.6s;
    }
}

/* ==============
  Charts
===================*/
.jqstooltip {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.chart {
    position: relative;
    display: inline-block;
    width: 110px;
    height: 110px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.chart canvas {
    position: absolute;
    top: 0;
    left: 0;
}

.chart.chart-widget-pie {
    margin-top: 5px;
    margin-bottom: 5px;
}

.percent {
    display: inline-block;
    line-height: 110px;
    z-index: 2;
}

.percent:after {
    content: '%';
    margin-left: 0.1em;
    font-size: .8em;
}

#flotTip {
    padding: 4px 8px;
    background-color: #000000;
    z-index: 100;
    color: #ffffff;
    opacity: .7;
    font-size: 12px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.flot-chart .error {
    display: none;
}

/* ==============
  Count Down
===================*/
.home-wrapper {
    margin: 10% 0px;
}

.home-text {
    font-family: 'Nunito', sans-serif;
}

.lj-countdown {
    color: #2b4049;
    margin-top: 40px;
    text-align: center;
}

.lj-countdown div {
    display: inline-block;
}

.lj-countdown div span {
    display: block;
    width: 150px;
}

.lj-countdown div span:first-child {
    font-size: 3em;
    font-weight: 700;
    height: 48px;
    line-height: 48px;
}

.lj-countdown div span:last-child {
    color: #333333;
    font-size: 0.9em;
    height: 25px;
    line-height: 25px;
}

.lj-countdown>* {
    text-align: center;
}

/* ==============
  Gallery
===================*/
.portfolioFilter a {
    -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
    -webkit-transition: all 0.3s ease-out;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
    color: #333333;
    padding: 5px 10px;
    transition: all 0.3s ease-out;
}

.portfolioFilter a:hover {
    background-color: #2b4049;
    color: #ffffff;
}

.portfolioFilter a.current {
    background-color: #2b4049;
    color: #ffffff;
}

.thumb {
    background-color: #ffffff;
    border-radius: 3px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
    margin-top: 30px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    width: 100%;
}

.thumb-img {
    border-radius: 2px;
    overflow: hidden;
    width: 100%;
}

.gal-detail h4 {
    margin-top: 16px;
}

/* ==============
  Maintenance
===================*/
.icon-main {
    font-size: 88px;
    margin-bottom: 50px;
}

.maintenance-page {
    margin: 10% 0%;
}

.mainten-box {
    margin-bottom: 30px;
}

.mainten-box .text-m-mode {
    margin: 0px auto;
    width: 80%;
}

.media-main a.pull-left {
    width: 100px;
}

.media-main .info {
    color: #000000;
    overflow: hidden;
}

.media-main .info h4 {
    margin-bottom: 5px;
    padding-top: 10px;
}

/* ==============
  Account pages
===================*/
.wrapper-page {
    margin: 7.5% auto;
    width: 420px;
}

.panel-pages {
    border-radius: 6px;
}

.panel-pages .panel-body {
    padding: 30px;
}

.panel-pages .panel-heading {
    -moz-border-radius: 6px 6px 0px 0px;
    -webkit-border-radius: 6px 6px 0px 0px;
    border-radius: 6px 6px 0px 0px;
    padding: 2px 20px;
    position: relative;
}

.panel-pages .panel-heading h3 {
    position: relative;
    z-index: 999;
}

.user-thumb {
    margin-top: -44px;
    position: relative;
    z-index: 999;
}

.user-thumb img {
    height: 88px;
    margin: 0px auto;
    width: 88px;
}

.ex-page-content h1 {
    color: #252932;
    font-size: 98px;
    font-weight: 700;
    line-height: 150px;
    text-shadow: rgba(61, 61, 61, 0.3) 1px 1px, rgba(61, 61, 61, 0.2) 2px 2px, rgba(61, 61, 61, 0.3) 3px 3px;
}

@media screen and (max-width: 767px) {

    .resp_center {
        text-align: center;
    }

    .pho_img_hldr {
        display: inline-block;
        margin-bottom: 20px;
    }

    .resp_mrgn_btm_20 {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 558px) {
    .video_upload {
        display: inline-block;
        float: left;
        margin-right: 15px;
        width: 100%;
        margin-bottom: 15px;
    }
}

@media screen and (max-width: 1300px) {
    .pho_img_hldr {
        line-height: normal;
    }

    .clndr input[type="text"] {
        width: 130px;
    }
}


.status {
    /*width:100%;*/
    /*float:left;*/
    margin-top: 11px;
    font-size: 18px;
}

select.drop {
    width: 100%;
    border: 1px solid #999;
}

.clndr {
    width: auto;
    float: left;
    margin-top: 3px;
    font-size: 18px;
    margin: 10px 0;
}

.clndr input[type='text'] {
    width: 100%;
    border: 1px solid #999;
    height: 40px;
}

.srch input[type="submit"] {
    background: #f03939 none repeat scroll 0 0;
    border-color: rgba(0, 0, 0, 0);
    border-radius: 3px;
    color: #ffffff;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    font-weight: 600 !important;
    margin-bottom: 40px;
    margin-top: 26px;
    padding: 8px 17px;
    text-align: center;
}

.srch input[type='submit']:hover {
    background: #000;
    color: #fff;
}

/*@media screen and (max-width: 1290px){
.clndr input[type="text"] {
  width: 124px;
}
	}
@media screen and (max-width: 1250px){
.clndr input[type="text"] {
  width: 120px;
}
	}
@media screen and (max-width: 1236px){
.clndr input[type="text"] {
  width: 114px;
}
	}
@media screen and (max-width: 1210px){
.clndr input[type="text"] {
  width: 108px;
}
	}
@media screen and (max-width: 1199px){
.clndr {
  display: block;
  margin-top: 3px;
  width:335px;
  float:none;
  margin-left:0 !important;
  margin-top:10px;
  margin-bottom:10px;
}
.status{
  width:335px;
	float:none;
	margin-top:3px;
	}
select.drop{
  min-width:200px;
	border:1px solid #999;
	float:right;
	}
.srch input[type='submit']{
	float:none;
	}
.clndr input[type="text"] {
  min-width:200px;
  float:right;
}
	}
@media screen and (max-width:991px){
.order-id h4 {
padding: 20px 0 0 !important;
}
}
@media screen and (max-width: 767px){
.clndr {
  margin-left:20px !important;
}
.status{
	margin-left:20px;
	margin-top:10px
	}
.srch input[type='submit']{
	float:none;
	margin-left:20px;
	margin-top:10px;
	}
.submit-login .btn-default{
	margin-top:0px !important;
	}
	}
@media screen and (max-width: 454px){
.clndr {
  width:280px;

}
.clndr input[type="text"] {
  min-width:150px;
  float:right;
}
.status{
  width:280px;
	}
select.drop{
  min-width:150px;
	}
	}
@media screen and (max-width: 396px){
.clndr {
  width:250px;

}
.clndr input[type="text"] {
  min-width:120px;
  float:right;
}
.status{
  width:250px;
	}
select.drop{
  min-width:120px;
	}
	}

@media screen and (max-width: 364px){
.clndr {
  width:200px;

}
.clndr input[type="text"] {
  min-width:200px;
  margin:5px 0;
}
.status{
  width:200px;
	}
select.drop{
  min-width:200px;
  margin:10px 0;
	}
	}

*/



.your-mail {
    width: 100%;
    float: left;
    margin-top: 5px;
}

.your-mail label {
    width: 100%;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    color: #333333;
    margin: 4px 0 4px 0;
}

.your-mail input[type='text'], .your-mail textarea, .your-mail input[type='file'] {
    width: 100%;
    height: 40px;
    /*line-height:50px;*/
    float: left;
    padding: 8px;
    margin-bottom: 8px;
    border: 1px solid #CCC;
    border-radius: 0;
    background: #fff !important;
    color: #000;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.your-mail textarea {
    height: 100px;
}

.your-mail input[type='submit'] {
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    margin-bottom: 20px;
    border-radius: 2px;
    background: #66cc33;
    padding: 15px 30px;
}

.your-mail .message {
    width: 100%;
    float: left;
    padding: 4px 10px;
    color: #666;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    margin-bottom: 20px;
    border: 1px solid #CCC;
    border-radius: 0;
    background: #f7f7f7;
    margin-bottom: 12px;
}

.submit-login .btn-default {
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    margin-bottom: 20px;
    border-radius: 5px;
    background: #88ca4f !important;
    padding: 8px 22px;
    margin-top: 0;
    border: none !important;
}

.submit-login .btn-default:hover {
    background: hsl(334, 51%, 34%) none repeat scroll 0 0;
    color: #fff;
}

.submit-login span {
    /*	float:left;*/
    color: #666666;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    margin-left: 18px;
}

.your-mail p {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    margin-right: 100px;
}

select.newdrop {
    -moz-appearance: none;
    -webkit-appearance: none;
    background: #fff url(../images/users/cntry-drop.png) no-repeat scroll right 10px top 15px;
    border: medium none;
    color: #000;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    height: 40px;
    padding: 8px;
    width: 100%;
    border: 1px solid #cccccc;
    border-radius: 0;
    margin-bottom: 8px;
}

.message {
    width: 100%;
    float: left;
    padding: 0 12px;
    color: #666;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    margin-bottom: 20px;
    border: 1px solid #CCC;
    border-radius: 0;
    background: #fff !important;
}

textarea.form-control {
    min-height: 50px !important;
}


.upload {
    float: left;
    margin-top: 30px;
}

.upload a {
    max-width: 160px;
    /*	height:32px;*/
    background: rgba(0, 102, 204, 0.7);
    color: #fff;
    border-radius: 2px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: bold;
    /*	border:1px solid #0066cc;*/
    line-height: 32px;
    display: inline-block;
    padding-right: 10px;
    text-decoration: none !important;
}

.upload a img {
    float: left;
    padding-right: 12px;
}

.upload a:hover {
    color: #fff !important;
    background: rgba(0, 102, 204, 0.9);
    border-color: 0 !important;
}


.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 0;
}

.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.cust_file {
    background: #000 no-repeat !important;
    border: medium none;
    padding: 0;
    text-align: left;
    border: none !important;
    border-radius: 3px !important;
    padding: 10px 10px 10px 5px;
    margin-top: 3px;
}

.cust_file:hover {
    background: #58585a !important;
    border: none !important;
}

.upld-icon {
    margin: 0px 8px 0px 5px;
    font-size: 16px !important;
}

/*.cust_file:hover{
	background:url(../images/upload.png) no-repeat scroll 0 0 !important;
	background:rgba(0,102,204,0.9) !important;
}*/
.cust_file span.upld_txt {
    font-weight: normal;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    display: inline-block;
    float: right;
    color: #fff;
    height: 100%;
}

.upld_lbl {
    width: 100%;
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    margin-bottom: 5px;
    color: #3e3e3e !important;
    font-weight: normal;
    margin-top: 8px;
}

.upld_lbl span {
    color: #666666 !important;
    font-family: "Open Sans", sans-serif;
    font-size: 15px !important;
    font-weight: normal;
}

.order-detail {
    width: 100%;
    display: block;
    margin-bottom: 30px;
    border: 1px solid #ccc;
    /*min-height:300px;*/
    padding: 12px;
    overflow: hidden;
}

.order-infrom {
    width: 100%;
    display: block;
}

.order-id {
    width: 100%;
    display: block;
}

.order-id h4 {
    color: #848282 !important;
    display: block;
    font-family: "Kurale", serif;
    font-size: 24px !important;
    font-weight: normal;
    margin: 8px 0 !important;
    overflow: hidden;
    width: 100%;
    font-weight: 400;
    line-height: 29px;
}

.order-id h4 i {
    font-style: normal !important;
    color: #679a7e;
}

.order-id p {
    width: 100%;
    color: #666666 !important;
    font-family: "Open Sans", sans-serif;
    font-size: 18px !important;
    font-weight: normal;
    text-align: left;
    margin: 8px 0 !important;
}

.order-id strong {
    width: 100%;
    color: #666666 !important;
    font-family: "Open Sans", sans-serif;
    font-size: 18px !important;
    font-weight: 400;
    text-align: left;
    margin: 8px 0 !important;
    display: block;
    word-wrap: break-word;
}

.no_padd_lft {
    padding-left: 0 !important;
}

.buyer {
    width: 300px;
    display: block;
}

.delet {
    font-size: 15px;
    color: #58585a;
    width: 15px;
    margin: 0 2px 0 0;
    /*margin:1px;*/
}

.delet:hover {
    color: #8c001a;
}

.cncl {
    font-size: 15px;
    color: #000;
    border-right: 1px solid #679a7e;
    padding: 0 11px;
}

.cncl:hover {
    background-color: none;
    color: #58585a;
}

.cncl_oopo {
    font-size: 15px;
    font-family: "Open Sans", sans-serif;
}

.withrawl {
    width: 100%;
    display: block;
    border-top: 3px solid #F13939;
    padding: 30px 0;
    overflow: hidden;
}

.withrawl p {
    color: #010000 !important;
    display: block;
    font-family: "Open Sans", sans-serif;
    font-size: 17px !important;
    font-weight: 600;
    margin: 8px 0 !important;
    overflow: hidden;
    width: 100%;
}

.withrawl span {
    font-family: "Open Sans", sans-serif;
    font-size: 17px !important;
    font-weight: normal !important;
}

.creat-withrawl {
    width: 100%;
    display: block;
    border-top: 1px solid #000;
    padding: 30px 0;
}

.creat-withrawl p {
    color: #000000 !important;
    display: block;
    font-family: "Kurale", serif;
    font-size: 26px !important;
    font-weight: normal;
    overflow: hidden;
    width: 100%;
    margin-top: 10px !important;
    margin-bottom: 20px !important;
}

button.wthrl_btn {
    background: #f03939 none repeat scroll 0 0;
    border-color: rgba(0, 0, 0, 0);
    border-radius: 3px;
    color: #ffffff;
    display: block;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 600 !important;
    margin: 5px 0;
    padding: 10px 20px;
    text-align: center;
}

button.wthrl_btn:hover {
    background: #000;
    color: #fff;
}

.all_time_sho {
    display: block;
    overflow: hidden;
    width: 100%;
}

.cack_area_nn {
    display: block;
    overflow: hidden;
    width: 100%;
}


.add_btnm {
    display: block;
    overflow: hidden;
    width: 100%;
}

.add_btnm input[type="button"] {
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    margin-bottom: 20px;
    border-radius: 2px;
    background: #88ca4f !important;
    padding: 6px 0px;
    border: none;
    margin-top: 36px;
    width: 108px;
}

.add_btnm input[type="button"]:hover {
    background: #000 !important;
    color: hsl(0, 0%, 100%);
    transition: all 0.3s ease 0s;
}

.cack_area_nn select option {
    padding: 4px;
}

.your-mail select option {
    padding: 4px;
}

.table>tbody>tr>td {
    padding: 6px;
}

.category_name55 {
    display: block;
    overflow: hidden;
    width: 100%;
    background: #000;
    padding: 5px 10px;
    margin: 16px 0 0 0;
}

.category_name55 p {
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    font-weight: 600;
}

.ex_mmrg {
    display: block;
    overflow: hidden;
    width: 100%;
    margin: 28px 0 6px 0;
}

.ex_mmrg2 {
    display: block;
    overflow: hidden;
    width: 100%;
    margin: 22px 0 12px 0;
}

.ex_mmrg3 {
    display: block;
    overflow: hidden;
    width: 100%;
    margin: 22px 0 12px 0;
}

.ex_mmrg4 {
    display: block;
    overflow: hidden;
    width: 100%;
    margin: 43px 0 0 0;
}

.ex_mmrg5 {
    display: block;
    overflow: hidden;
    width: 100%;
    margin: 36px 0 0 0;
}

.ex_mmrg6 {
    display: block;
    overflow: hidden;
    width: 100%;
    margin: 0px 0 10px 0;
}

.no_mmg button {
    margin-top: 8px !important;
}

.nhp {
    padding: 0;
}

.irs-with-grid .irs-grid {
    display: none;
}

.dateee {
    display: block;
    overflow: hidden;
    width: 100%;
}




.bt_accept {}

.bt_accept {
    display: inline-block;
    padding: 3px 8px;
    background: #58585a;
    color: #FFF;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    text-decoration: none;
    border-radius: 2px;
    margin-bottom: 4px;
}

.bt_accept:hover {
    background: #000;
    color: #FFF;
}

.bt_accept:focus {
    background: #f13939;
    color: #FFF;
}

.ex_mmrg7 {
    display: block;
    overflow: hidden;
    width: 100%;
    margin: 61px 0 12px 0;
}

.eex_mmrg05 {
    display: block;
    overflow: hidden;
    width: 100%;
    margin: 48px 0 12px 0;
}

.nopadd_both4 {
    padding: 0;
}

.nopadd_both5 {
    padding: 0;
    margin: 10px 0 0 0;
}

.ppo {
    margin-top: 26px !important;
}

.ex_mmrg10 {
    display: block;
    overflow: hidden;
    width: 100%;
    margin: 16px 0 12px 0;
}


.table>tbody>tr>td img {
    max-width: 100%;
}

.dess5 {
    display: block;
    overflow: hidden;
    width: 100%;
    margin: 22px 0 6px 0;
}

.ddty {
    margin: 15px 0 0 0;
}


.your-mail input[type="password"] {
    width: 100%;
    height: 40px;
    line-height: 50px;
    float: left;
    padding: 8px;
    margin-bottom: 8px;
    border: 1px solid #CCC;
    border-radius: 0;
    background: #fff !important;
    color: #000;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
}

/*------------saoli----------------*/

.ss {
    background: #fff none repeat scroll 0 0 !important;
    border: 1px solid #ccc;
    border-radius: 0;
    color: #000;
    float: left;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    height: 40px !important;
    line-height: 32px;
    margin-bottom: 8px;
    padding: 0px;
    width: 100%;
}


.des {
    background: #fff none repeat scroll 0 0 !important;
    border: 1px solid #ccc;
    border-radius: 0;
    color: #000;
    float: left;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;

    line-height: 30px;
    margin-bottom: 14px;
    padding: 0 20px;
    width: 100%;
}

/*------------saoli----------------*/
.nm9 {
    margin: 5px 0 0 0 !important;
}

.dess55 {
    margin: 0 0 19px 0;
}

.dess_nn89 {
    display: block;
    overflow: hidden;
    width: 100%;
    margin: 5px 0 0px 0 !important;
}

.nh252 {
    margin: 34px 0 0 0 !important;
}

.noymmg {
    margin: 0 !important;
}

.mmu {
    margin: 0 0 19px 0 !important;
}

.ex_m9 {
    display: block;
    overflow: hidden;
    width: 100%;
    margin: 24px 0 12px 0;
}

.sample_area {
    display: block;
    overflow: hidden;
    width: 100%;
    height: 450px;
}

.info_ii {
    display: block;
    overflow: hidden;
    width: 100%;
    background: #EAEAEA;
    padding: 1px 12px 0px 12PX;
    margin: 3px 0 9px 0;
    border-left: 3px solid #58585a;
}

.info_ii p {
    color: #000;
    font-family: "Open Sans", sans-serif;
    font-size: 17px;
    font-weight: 600;
    height: 40px;
    line-height: 34px;
    margin: 0;
}

.mmop {
    margin: 35px 0 5px 0;
}

.erta {
    margin-top: 9px;
}

.erta20 {
    margin-top: 40px;
}

.manager_12 p {
    margin: 0 !important;
    line-height: 22px;
}



.add_btnm_pp {
    display: block;
    overflow: hidden;
    width: 100%;
}

.add_btnm_pp input[type="button"] {
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    margin-bottom: 20px;
    border-radius: 2px;
    background: #f03939 !important;
    padding: 6px 17px;
    border: none;
    margin-top: 36px;
}

.add_btnm_pp input[type="button"]:hover {
    background: #000 !important;
}

.date_time_aar {
    display: block;
    overflow: hidden;
    width: 100%;
}



.ch_chick {
    display: block;
    overflow: hidden;
    width: 100%;
    margin: 24px 0 0px 10px;
}

.ch_chick a {
    float: left;
    max-width: 161px;
    background: #58585a;
    color: #fff;
    border-radius: 2px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 32px;
    display: inline-block;
    padding: 0px 13px;
    text-decoration: none !important;
    margin: 0 3px 0 0;
}

.ch_chick a:hover {
    background: hsl(334, 51%, 34%) none repeat scroll 0 0;
}





/*start popup*/
.custom_popup_area {
    background: rgba(0, 0, 0, 0.6) none repeat scroll 0% 0%;
    position: fixed;
    z-index: 2147483647;
    top: 0px;
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: auto;
}

.custom_popup {
    width: 600px;
    margin: 0 auto;
    position: absolute;
    top: 0;
    background-clip: padding-box;
    outline: 0px none;
    box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.5);
    border-top: 5px solid #db3340;
    border-radius: 0px;
    padding: 8px 12px 0px 12px;
    background: #FFF;
    margin-top: 120px;
    z-index: 999;
    left: 0;
    right: 0;
}

.pup_bb01 {
    display: block;
    overflow: hidden;
    width: 100%;
    margin-bottom: 10px;
}

.login_outer {
    width: 100%;
    height: 2790px;
    text-align: center;
    display: block;
    background: transparent url(../../image1/trans.png) repeat scroll 0px 0px;
    ;
    position: fixed;
    z-index: 99;
    top: 0;
}

.popups_custom {
    margin: 0px auto;
    padding: 31px 18px;
    background: #EEE none repeat scroll 0% 0%;
    text-align: center;
    display: block;
    float: left;
    width: 100%;
    border-radius: 10px;
}

.new_sty_pop {
    background: #FFF none repeat scroll 0% 0%;
    border-radius: 10px;
    border: 7px solid #292929;
    padding: 0px;
    left: 0px;
    right: 0px;
    position: absolute;
    top: 30%;
    z-index: 9800001;
}

button.close {
    padding: 4px 8px 3px;
    cursor: pointer;
    border: 0px none;
    border-radius: 50%;
    top: 10px;
    right: 10px;
    z-index: 555;
    position: absolute;
    opacity: 1;
}

.user_pic_icon {
    background: #FFF;
    width: 27px;
    height: 27px;
    overflow: hidden;
    display: inline-block;
    float: left;
    margin: -3px 8px 0 0;
    text-align: center;
    border-radius: 100%;
}




.exrt {
    margin: 7px 0 29px 0;
}

.width_aa {
    width: 120px;
}

.ass_nn {
    float: left;
    max-width: 161px;
    background: #58585a;
    color: #fff;
    border-radius: 2px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 32px;
    display: inline-block;
    padding: 0px 15px;
    text-decoration: none !important;
    margin: 3px 0px 0 4px;
}

.ass_nn:hover {
    background: #7fb397;
    color: #fff;
}

.add_pluss a {
    float: left;
    max-width: 161px;
    background: #58585a;
    color: #fff;
    border-radius: 2px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 21px;
    display: inline-block;
    padding: 5px 24px 12px 22px;
    text-decoration: none !important;
    margin: 36px 0px 0 4px;
}

.add_pluss a:hover {
    background: #000;
    color: #fff;
}

.com_mm {
    margin-top: 8px;
    margin-bottom: 8px;
}

.mmrr_22 {
    width: 261px !important;
}

.mk2 {
    margin: 19px 0px 12px;
}










.add_new_btn1 {
    display: block;
    overflow: hidden;
    width: 100%;
    text-align: right;
    margin: 15px 0 0 0;
}

.add_new_btn1 a {
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    margin-bottom: 0;
    border-radius: 2px;
    background: #f03939 !important;
    padding: 6px 10px 5px 6px;
    border: none;
    margin-top: 0px;
    width: auto;
    display: inline-block;
    text-align: center;
    line-height: 25px;
}

.add_new_btn1 a:hover {
    background: #000 !important;
}

.boxx_ww {
    width: 160px;
}

.boxx_ww1 {
    width: 200px;
}

.ertaa_59 {
    margin-top: 36px;
}

.link_style {
    margin: 24px 0 0 0;
    text-align: right;
}

.link_style a {
    color: #000;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    width: auto;
    display: inline-block;
    text-align: right;
    line-height: 20px;
    text-decoration: none;
}

.link_style a:hover {
    color: #58585a;
}

.link_style a:focus {
    outline: none;
}

.appli {
    width: 82px;
}






.order-id span {
    width: 100%;
    color: #666666 !important;
    font-family: "Open Sans", sans-serif;
    font-size: 18px !important;
    font-weight: 400;
    text-align: left;
    margin: 8px 0 !important;
    display: block;
}

.width_sselect {
    width: 99% !important;
}

@media(max-width:991px) {
    .eex_mmrg05 {
        margin: 20px 0 8px 0;
    }

    .noymmg {
        margin: 0 0 29px 0 !important;
    }
}

@media(max-width:767px) {
    .nh252 {
        margin: 4px 0 0 0 !important;
    }

    .custom_popup {
        max-width: 600px;
        width: auto !important;
        margin-left: 20px;
        margin-right: 20px;
    }

    .xs_custom {
        float: left;
        width: 33%;
    }

    .ertaa_59 {
        margin-top: 15px;
    }

    .add_pluss a {
        margin: 11px 0px 0 4px;
    }

    .link_style {
        margin: 8px 0 18px 0;
        text-align: right;
    }
}

@media(max-width:600px) {
    .xs_custom {
        width: 50%;
    }
}

@media(max-width:400px) {
    .xs_custom {
        width: 100%;
        float: none;
        display: block;
    }
}

.ccir {
    border-radius: 5px;
    background: #d85450;
    float: left;
    padding: 5px 10px;
    text-align: center;
    line-height: 40px;
    color: #fff;
    width: 299px;
    overflow: hidden;
    cursor: pointer;


}

.ccir a {
    color: #fff;
    width: 241px;
    overflow: hidden;
    float: left;
    text-align: left;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.ccir a i {
    color: #fff;
    margin: 12px 0 0 10px;
    float: right;
    cursor: pointer;
}

.active1 {
    background-color: #5c0000;
}

.active2 {
    color: #660000 ! important;
}


.img-list {
    width: 100%;
    float: left;
}

.img-list ul {
    width: 100%;
    float: left;
    padding: 0;
}

.img-list ul li {
    float: left;
    margin: 10px 10px 0 0;
    list-style-type: none;
}


.blog_area_nn01 {
    display: block;
    overflow: hidden;
    width: 98%;
    background: #FFF;
    box-shadow: 0px 5px 8px #e0dcdc;
    margin: 0 0 30px 1%;
    padding: 20px;
    text-align: center;
    position: relative;
}

.blog_image_prbbon {
    top: 15px;
    left: 17px;
    z-index: 99;
    background: rgb(30, 107, 162) none repeat scroll 0 0;
    color: rgb(255, 255, 255);
    height: 36px;
    line-height: 33px;
    position: absolute;
    text-align: center;
    width: 220px;
    font-size: 18px;
    font-weight: 400;
    font-family: "Roboto", serif;
}

.blog_area_nn01 img {
    max-width: 100%;
}

.blog_area_nn01 p {
    text-align: left;
    color: #444444;
    font-family: 'Noto Sans', sans-serif;
    font-size: 15px;
    line-height: 24px;
    display: block;
    overflow: hidden;
    width: 100%;
}

.blog_area_nn01 h4 {
    text-align: left;
    color: #444444;
    font-family: 'Noto Sans', sans-serif;
    font-size: 22px;
    line-height: 28px;
    margin: 0;
    font-weight: 600;
}

.blog_area_nn01 h5 {
    text-align: left;
    color: #444444;
    font-family: 'Noto Sans', sans-serif;
    font-size: 15px;
    line-height: 24px;
    float: left;
}

.blog_area_nn01 h5 strong {
    margin: 0 25px 0 0;
    float: left;
}

.blog_area_nn01 h5 strong img {
    float: left;
    margin: 6px 10px 0 0;
}

.u01 {
    display: block;
    overflow: hidden;
    width: 48%;
    float: left;
    background: #FFF;
    box-shadow: 0px 5px 8px #e0dcdc;
    margin: 0 0 30px 1%;
    padding: 20px;
}

.u02 {
    display: block;
    overflow: hidden;
    width: 48%;
    float: right;
    background: #FFF;
    box-shadow: 0px 5px 8px #e0dcdc;
    margin: 0 1% 30px 0;
    padding: 20px;
}

.com_img {
    display: block;
    overflow: hidden;
    width: 100px;
    border: 1px solid #e6e0e0;
    margin: 0 25px 15px 0;
    float: left;
    padding: 5px;
}

.com_img img {
    width: 100%;
}

.com_detls h4 {
    text-align: left;
    color: #444444;
    font-family: 'Noto Sans', sans-serif;
    font-size: 22px;
    line-height: 28px;
    margin: 0;
    font-weight: 600;
}

.com_detls a {
    color: #007bff;
    text-decoration: none;
    float: right;
    margin: 0 0 0 12px;
    font-size: 17px;
}

.com_detls p {
    text-align: left;
    color: #444444;
    font-family: 'Noto Sans', sans-serif;
    font-size: 14px;
    line-height: 22px;
}

.com_detls h5 {
    text-align: left;
    color: #444444;
    font-family: 'Noto Sans', sans-serif;
    font-size: 14px;
    line-height: 22px;
}

.chat_one_01 {
    display: block;
    overflow: hidden;
    width: auto;
    max-width: 70%;
    float: left;
    box-shadow: 2px 2px 2px #E8E8E8;
    margin: 0 0 15px 0;
    padding: 10px 10px 4px 10px;
    border: 1px solid #e8f5dd;
    background: #fdfefb;
}

.chat_one_01>span {
    float: left;
    width: 60px;
    height: 60px;
    overflow: hidden;
    border-radius: 50%;
    background: #dadada;
    margin: 0 15px 0 0;
}

.chat_one_01>span img {
    width: 100%;
}

.chat_one_01 p {
    font-family: 'Rubik', sans-serif;
    font-size: 15px;
    color: #373737;
    line-height: 20px;
    font-weight: 400;
    margin: 0 0 5px 0 !important;
}

.chat_one_01 h6 {
    font-family: 'Rubik', sans-serif;
    font-size: 13px;
    color: #600;
    line-height: 20px;
}

.chat_one_01 h6 span {
    margin: 0 12px 0 0;
}

.chat_one_01 h6 span i {
    margin: 0 4px 0 0;
}

.cht {
    overflow: hidden;
}

.chat_two_02 {
    display: block;
    overflow: hidden;
    width: auto;
    max-width: 70%;
    float: right;
    box-shadow: 2px 2px 2px #E8E8E8;
    margin: 0 0 15px 0;
    padding: 10px 10px 4px 10px;
    border: 1px solid #f2e1e1;
    background: #fbf6f6;
}

.chat_two_02>span {
    float: left;
    width: 60px;
    height: 60px;
    overflow: hidden;
    border-radius: 50%;
    background: #dadada;
    margin: 0 15px 0 0;
}

.chat_two_02>span img {
    width: 100%;
}

.chat_two_02 p {
    font-family: 'Rubik', sans-serif;
    font-size: 15px;
    color: #373737;
    line-height: 20px;
    font-weight: 400;
    margin: 0 0 5px 0 !important;
}

.chat_two_02 h6 {
    font-family: 'Rubik', sans-serif;
    font-size: 13px;
    color: #600;
    line-height: 20px;
}

.chat_two_02 h6 span {
    margin: 0 12px 0 0;
}

.chat_two_02 h6 span i {
    margin: 0 4px 0 0;
}


.information_area {
    display: block;
    margin-top: 17px;
}

.information_area .form-group {
    float: left;
    width: 100%;
    margin-bottom: 0;
    position: relative;
}

.type_label {
    color: #000;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 16px;
    font-family: 'Roboto', sans-serif;
    width: 100%;
}

.type_label1 {
    color: #818181;
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 12px;
    font-family: 'Roboto', sans-serif;
    width: 145px;
    float: left;
}

.type_label2 {
    color: #000;
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 12px;
    font-family: 'Roboto', sans-serif;
    width: auto;
    /*float:left;*/
}

.information_box {
    display: block;
    margin-bottom: 3px;
}

.information_box h4 {
    height: 45px;
    /* background: #f2f2f2; */
}

.information_box h4 span {
    color: #660000;
    background: #fff;
    font-size: 26px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    padding: 0px 0;
    float: left;
    height: 45px;
    line-height: 27px;
    text-transform: capitalize;
    line-height: 45px;
    /*margin-left: -28px;*/
}


.modal-lg {
    width: 900px;
    margin-top: 130px;
}


@media only screen and (max-width: 991px) {
    .u01 {
        width: 100%;
        margin: 0 0 20px 0;
        padding: 10px;
    }

    .u02 {
        width: 100%;
        margin: 0 0 20px 0;
        padding: 10px;
    }

    .blog_area_nn01 {
        margin: 0 0 20px 0;
        padding: 20px;
    }

    .com_detls {
        width: 100%;
        display: block;
        overflow: hidden;
    }
}




@media only screen and (max-width: 480px) {
    .information_box h4 span {
        font-size: 21px;
        line-height: 27px;
    }

    .type_label1 {
        font-size: 15px;
        width: 128px;
    }

    .type_label2 {
        font-size: 15px;
        width: 40%;
    }
}

/*for loader...................................*/
.parent_loader {
    position: fixed;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 9999999999999;
    height: 100vh;
    vertical-align: middle;
    align-items: center;
    display: flex;
}

.loader {
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid #9cb03b;
    width: 90px;
    height: 90px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}






.dwnviw {
    width: 100%;
    margin-top: 10px;
    font-size: 16px;
}

.dwnviw a {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #8ca93d;
    font-weight: 500;
}

.dwnviw a:hover {
    color: #8c001a;
}

.add-button {
    margin-top: 38px;
}
.top-gap{
    margin-top: 35px !important;
    margin-bottom: 0px !important;
}












.for_editor_text {
	/* color: #282828; */
	font-size: 15px;
	/* font-weight: 400; */
	font-family: 'Roboto', sans-serif;
	line-height: 22px;
	box-shadow: none !important;
	padding: 0 !important;
}
.for_editor_text p {
	/* color: #282828; */
	font-size: 15px;
	text-align: justify;
	/* font-weight: 400; */
	font-family: 'Roboto', sans-serif;
	line-height: 22px;
	margin-bottom: 17px;

}
.for_editor_text p span {
	/* color: #282828; */
	font-size: 15px;
	/* font-weight: 400; */
	font-family: 'Roboto', sans-serif;
	line-height: 22px;

}
.for_editor_text span {
	/* color: #282828; */
	font-size: 15px;
	/* font-weight: 400; */
	font-family: 'Roboto', sans-serif;
	line-height: 22px;

}
.for_editor_text h1 {
	float: left;
	width: 100%;
	display: block;
	margin-bottom: 17px;
	/* color: #282828; */
	font-size: 40px;
	font-weight: bold;
	font-family: 'Roboto', sans-serif;
	line-height: 42px;

}
.for_editor_text h1 span {
	float: left;
	width: 100%;
	display: block;
	/* color: #282828; */
	font-size: 40px;
	font-weight: bold;
	font-family: 'Roboto', sans-serif;
	line-height: 42px;

}
.for_editor_text h2 {
	float: left;
	width: 100%;
	display: block;
	margin-bottom: 17px;
	/* color: #282828; */
	font-size: 32px;
	font-weight: bold;
	font-family: 'Roboto', sans-serif;
	line-height: 34px;

}
.for_editor_text h2 span {
	float: left;
	width: 100%;
	display: block;
	/* color: #282828; */
	font-size: 32px;
	font-weight: bold;
	font-family: 'Roboto', sans-serif;
	line-height: 34px;

}
.for_editor_text h3 {
	float: left;
	width: 100%;
	display: block;
	margin-bottom: 17px;
	/* color: #282828; */
	font-size: 28px;
	font-weight: bold;
	font-family: 'Roboto', sans-serif;
	line-height: 30px;

}
.for_editor_text h3 span {
	float: left;
	width: 100%;
	display: block;
	/* color: #282828; */
	font-size: 28px;
	font-weight: bold;
	font-family: 'Roboto', sans-serif;
	line-height: 30px;

}
.for_editor_text h4 {
	float: left;
	width: 100%;
	display: block;
	margin-bottom: 17px;
	/* color: #282828; */
	font-size: 24px;
	font-weight: bold;
	font-family: 'Roboto', sans-serif;
	line-height: 26px;

}
.for_editor_text h4 span {
	float: left;
	width: 100%;
	display: block;
	/* color: #282828; */
	font-size: 24px;
	font-weight: bold;
	font-family: 'Roboto', sans-serif;
	line-height: 26px;
	background: transparent;
	padding: 0;
}
.for_editor_text h5 {
	float: left;
	width: 100%;
	display: block;
	margin-bottom: 17px;
	/* color: #282828; */
	font-size: 21px;
	font-weight: bold;
	font-family: 'Roboto', sans-serif;
	line-height: 23px;

}
.for_editor_text h5 span {
	float: left;
	width: 100%;
	display: block;
	/* color: #282828; */
	font-size: 21px;
	font-weight: bold;
	font-family: 'Roboto', sans-serif;
	line-height: 23px;

}
.for_editor_text h6 {
	float: left;
	width: 100%;
	display: block;
	margin-bottom: 17px;
	/* color: #282828; */
	font-size: 18px;
	font-weight: bold;
	font-family: 'Roboto', sans-serif;
	line-height: 22px;

}
.for_editor_text h6 span {
	float: left;
	width: 100%;
	display: block;
	/* color: #282828; */
	font-size: 18px;
	font-weight: bold;
	font-family: 'Roboto', sans-serif;
	line-height: 22px;

}
.for_editor_text span {
	/* color: #282828; */
	font-size: 15px;
	/* font-weight: 400; */
	font-family: 'Roboto', sans-serif;
	line-height: 22px;

	margin-bottom: 17px;
}
.for_editor_text strong {
	font-weight: bolder;
}
.for_editor_text a {
    text-decoration: underline;
}
.for_editor_text b {
	font-weight: bolder;
}
.for_editor_text ul {
	margin: 0 !important;
	padding: 0 0 0 17px;
	list-style: inherit;
}
.for_editor_text ul li {
	margin:0;
	padding:0;
	/* color: #282828; */
	font-size: 15px;
	/* font-weight: 400; */
	font-family: 'Roboto', sans-serif;
	line-height: 22px;
}
/* .for_editor_text ul li a {
	color:#1781d2;
}
.for_editor_text ul li p span a {
	color:#1781d2;
}
.for_editor_text ul li p a {
	color:#1781d2;
}
.for_editor_text ul li p a strong {
	color:#1781d2;
}
.for_editor_text a {
	color:#1781d2;
}
.for_editor_text a:hover {
	color:#fa4041;
} */
.for_editor_text p em {
	font-style: italic;
}









