@media (min-width: 1700px) {
 .bottom_fxdd {
width:calc(100% - 26.2rem);
}
}
 @media (min-width: 1265px) {
 .course_view {
 z-index: 1;
}
 .admin-build-section {
 padding-right: 40px!important;
 width: 100%;
 max-width: 990px!important;
 margin: 0 auto;
}
 .content__sections {
 width: 100%;
 max-width: 990px!important;
 margin-right: 16px;
 margin-left: 16px;
 float: left;
}
 .tree_action {
 max-width: 419px;
}
 .mb-lg-4, .my-lg-4 {
 margin-bottom: 1.5rem!important;
}
 .admin-build-section_new {
 max-width: 680px;
}
 .empty-state {
 padding: 72px 16px 40px;
}
}
 @media (max-width: 1265px) {
 .content__sections .section {
 width: unset;
}
 .builder-bar {
 width: unset;
}
.navbar-expand-lg .navbar-nav .nav-link {
    padding: 0 14px;
}
}
 @media all and (min-width: 992px) {
 .navbar .nav-item .dropdown-menu {
 display: block;
 opacity: 0;
 visibility: hidden;
 transition: .3s;
 margin-top: 0;
}
 .navbar .nav-item:hover .nav-link {
 color: #fff;
}
 .navbar .dropdown-menu.fade-down {
 top: 80%;
 transform: rotateX(-75deg);
 transform-origin: 0% 0%;
}
 .navbar .dropdown-menu.fade-up {
 top: 180%;
}
 .navbar .nav-item:hover .dropdown-menu {
 transition: .3s;
 opacity: 1;
 visibility: visible;
 top: 100%;
 transform: rotateX(0deg);
}
}
 @media (min-width: 952px) {
 .pl-md-2, .px-md-2 {
 padding-left: .5rem!important;
}
 .pr-md-2, .px-md-2 {
 padding-right: .5rem!important;
}
 .upgrade-sectin {
 margin: 24px -24px 24px -24px;
}
}
 @media (min-width: 768px) {
 .course-player__left-drawer {
 max-width: 23rem;
}
}
 @media all and (max-width: 1199px) {
 .admin-build-section, .admin-build-section_new {
 padding-right: 15px;
 padding-left: 15px;
}
 .builder__header {
 font-size: 1.2rem;
}
.bottom_fxdd {
width:calc(100% - 25.8rem);
}
.navbar-expand-lg .navbar-nav .nav-link{
    padding: 0 10px;
    font-size: 15px;
}
}
/*---1199--*/

@media all and (max-width: 991px) {
 .all-menu-sec {
 padding: 0;
 margin: 0;
}
 .mobile-hide {
 display: none;
}
 .mobile--show {
 display: block;
}
 .navbar-nav {
 flex-direction: inherit;
}
 .all-menu-sec {
 height: 50px;
}
 .navbar-expand-lg .navbar-nav .nav-link {
 font-size: 16px;
 padding: 0 12px;
 height: 50px;
}
 .builder-bar {
 padding-top: 10px;
}
 .builder__header {
 font-size: 1.4rem;
 line-height: 1rem;
 margin-top: 0;
}
 .content__sections {
 margin: 10px 0 0;
}
 .mobile-show {
 display: flex;
 background: #1781d2;
 align-items: center;
 padding: 5px 0;
}
 .course-wrap {
 display: block;
 overflow: unset;
}
 .course-player__content {
 background-color: transparent;
 display: block;
 position: inherit;
 height: auto;
 grid-area: none;
}
 .rightpannel_middle {
 position: relative;
 height: auto;
}
 .ember-upper-sec {
 padding-top: 0;
}
 .ember-info-top {
 display: none;
}
 .ember-upper-sec {
 width: 100%;
}
 .ember-info-bottom h2 {
 font-size: 18px;
}
 .ember-link {
 padding: 15px 15px 10px;
}
 aside {
 width: 100%;
}
 .course-player__left-drawer {
 width: 50%;
}
 .course-player__left-drawer {
 background-color: #f2f3f5;
}
 .course-player__right-drawer {
 padding: 0;
}
 .course-player__right-inner {
 height: calc(100vh - 215px);
}
 aside {
 position: absolute;
 height: 100%;
 background: #000000b3;
 left: 0;
 top: 95px;
 z-index: 99999;
 display: none;
}
 .course-player {
 margin-bottom: 100px;
}
 .con-btn {
 margin-bottom: 50px;
}
 .quiz-part {
 padding: 0;
}
 .quiz-qus h5 {
 margin-bottom: 8px;
}
 .quiz-qus h2 {
 font-size: 20px;
 margin: 0 0 .2rem;
}
 .dex_pagiph_pagi {
 display: block;
}
 .dex_pagi {
 display: none;
}
 .righ_footer_odio .pres_audios {
 position: absolute;
left: 50%;
 -webkit-transform:translateX(-50%);
 -moz-transform:translateX(-50%);
 transform:translateX(-50%);
 width: 100%;
 top: 10px;
 text-align: center;
}
 .righ_footer_odio .pres_audios audio {
 padding-bottom: 10px;
 width: 80%;
 position: relative;
}
 .righ_footer_odio::before {
 content: '';
 width: 100%;
 height: 1px;
 background-color: gray;
 position: absolute;
 top: 40px;
 left: 0px;
}
 .righ_footer_odio {
 padding-top: 50px;
 border: none !important;
}
.page_builder {
 display: block;
}
 .course_view, .builder__footer {
 width: 750px;
 min-width:750px;
 border-right: 0;
 margin: 0 auto;
}
 .list-view-sessoin {
 width: 90%;
 max-width: 90%;
 margin: 0 auto !important;
}
 .bottom_fxdd {
 bottom: 105px;
 width: 97%;
 border-bottom: none;
}
.mobile_title{
	display: block;
    position: relative;
    right: inherit;
    padding: 0 !important;
	margin: 0 !important;
}
.desktop_title{
    display: none;
}
.navbar-menu-mobile .all-menu-sec{
    flex-direction: column;
    height: auto !important;
}
.navbar-menu-mobile{
    padding-top: 20px !important;
}
.navbar-menu-mobile .navbar-nav{
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
}
/*---991--*/

@media all and (max-width: 767px) {
 .builder__header {
 font-size: 1.3rem;
 line-height: 1rem;
}
 .content__sections {
 margin: 15px 0 0;
}
 .all-menu-sec {
 height: 50px;
}
 .navbar-expand-lg .navbar-nav .nav-link {
 font-size: 16px;
 padding: 0 12px;
 height: 50px;
}
 .custom-control {
 padding-left: 0;
}
 .button {
 padding: 0 12px;
 font-size: .8rem;
 height: 35px;
}
 .builder-bar {
 padding-top: 20px;
 margin-left: 0px;
}
 .course-content-grow {
 padding: 15px 15px;
}
 .drop-zone__details small {
 font-size: 13px;
 line-height: 17px;
}
 small {
 font-size: .80rem;
 line-height: .8rem;
}
 .button-group {
 right: 20px;
}
 .empty-state {
 margin: 25px auto;
}
 .empty-state__title {
 font-size: 24px;
}
 .rightpannel_body_apart {
 margin: 1rem auto 0;
}
 .dash-d1 label, .dash-d1.das-radio input[type="radio"] + label span.color-span, .dash-d1.das-radio input[type="checkbox"] + label span.color-span {
 height: auto;
}
 .ans-status {
 margin: 5px 0 10px 0;
 padding:10px;
}
 .quiz-result h1 {
 font-size: 50px;
 margin: 5px 0 15px 0;
}
 .quiz-player {
 padding: 30px 0 80px 0;
}
 .quiz-player p {
 padding-bottom: 0px;
}
 .course_view, .builder__footer {
 width: 550px;
 min-width:550px;
 border-right: 0;
 margin: 0 auto;
}
 .rightpannel_title h2 {
 font-size: 15px;
 line-height: 22px;
 width: 65%;
}
 #progressBar {
 width: 110px;
}
 span#timer_text {
 font-size: 15px;
 line-height: 17px;
}
 .lesson-timer {
 float: revert;
 width: 100%;
}
 .qua_secc {
 top: 63px;
}
}
/*---767--*/

@media all and (max-width: 575px) {
 .preview-btn {
 padding: 0;
}
 .navbar-nav li {
 float: left;
}
 .upgrade-sectin {
 display: inherit;
 padding: 15px;
}
 .upgrade-sectin p {
 font-size: 14px;
 margin-bottom: 10px;
}
 .tools-tip1:hover:after {
 right: 0;
}
 aside {
 width: 100%;
}
 .course-player__left-drawer {
 width: 100%;
}
 .ans-status, .ans-status span {
 font-size: 14px;
 display: block;
}
 .button--default--small {
 font-size: 12px;
 padding: 0 6px;
 margin-right: 4px;
}
 .select2-video__result img {
 width: 40px;
 margin-right: 5px;
}
 .discard-sec {
 top: 19%;
 right: 30px;
 font-size: 15px;
}
 .select2-video__result {
 font-size: 13px;
}
 .video-pro-info {
 padding-right: 20px;
}
 .video-pro-info {
 font-size: 12px;
}
 .builder__header {
 font-size: 1.1rem;
 line-height: 1rem;
}
 .attachment {
 padding: 15px 10px;
}
 .attachment {
 display: block;
}
 a.btn.btn-secondary.attch_dwnld {
 margin-top: 10px;
}
 .course_view, .builder__footer {
 width: 100%;
 min-width: 100%;
}
 .list-view-sessoin {
 width: 95%;
 margin:0 auto;
}
 .question_details h4 {
 font-size: 17px;
 margin-bottom: 4px;
}
 .question_details h5, .question_details h6 {
 font-size: 14px;
}
 .question_box {
 margin-bottom: 15px;
}
 .qua_secc {
 padding: 0 10px 70px 10px;
}
 .question_box {
 padding-left: 4px;
}
 .question_box.ansqq {
 padding: 10px 2px !important;
}
 .question_user {
 margin: 2px 5px 0 0;
}
 .del_ans {
 background: none;
 padding: 0;
 border: 0;
 right: 3px;
 top: 3px;
 color: #dc3545;
}
}
 @media all and (max-width: 480px) {
 #progressBar {
 width:90px;
}
 span#timer_text {
 font-size: 14px;
 line-height: 17px;
}
 .rightpannel_title {
 padding: 0.5rem 0.5rem;
}
 .rightpannel_title h2 {
 font-size: 14px;
 line-height: 22px;
 width: 61%;
}
 }
 @media all and (max-width: 380px) {
 .header-con p {
 padding: 12px 0;
}
}
 @media all and (max-width: 360px) {
 #progressBar {
 width:80px;
}
 span#timer_text {
 font-size: 13.5px;
 line-height: 17px;
}
 .rightpannel_title {
 padding: 0.5rem 0.4rem;
}
 .rightpannel_title h2 {
 font-size: 14px;
 line-height: 22px;
 width: 55%;
}
}
 @media all and (max-width: 350px) {
 .button {
 padding: 0 9px;
 font-size: .8rem;
 height: 28px;
}
}
 @media all and (max-width: 335px) {
 aside {
 top: 120px;
}
}
