* {
	margin: 0;
	padding: 0;
}
body {
	background-position: top;
	font-size: 16px;
	color: #454545;
	background: #f7f7f7;
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif !important;
}
.clear {
	clear: both;
}
ul {
	list-style: none;
	margin: 0px !important;
}
a:focus, :focus {
	outline: none !important;
	border: none;
}
a:hover {
	text-decoration: none !important;
}
a {
	text-decoration: none;
}
a img {
	border: none;
}

nav.navbar.navbar-expand-lg.navbar-dark.sticky-top {
	padding: 0;
	width: 100%;
}
.top-bar {
	display: flex;
	position: relative;
	justify-content: space-between;
	height: 64px;
	background-color: #1781d2;
	z-index: 2703;
	color: #fff;
}
.top-bar-left-container {
	left: 0;
	display: flex;
	position: absolute;
	align-items: center;
}
.top-bar-button {
	width: 64px;
	height: 64px;
	margin-right: 24px;
	background: transparent;
	color: #dedede;
	padding: 0;
	display: inline-flex;
	position: relative;
	flex-shrink: 0;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	text-transform: uppercase;
	cursor: pointer;
}
.top-bar-button:before {
	position: absolute;
	width: 1px;
	height: calc(100% - 32px);
	background-color: #3c9fea;
	content: "";
	right: 0;
}
.ml-4, .mx-4 {
	margin-left: 1.5rem!important;
}
.top-bar-left-container h4 {
	font-weight: 500;
	letter-spacing: .01875em;
	margin-bottom: 0;
	font-size: 20px;
}
.top-bar-button:hover {
	background: hsla(0, 0%, 100%, .3);
	color: #fff;
}
.top-bar-button i {
	font-size: 20px;
}
.top-bar-center-container {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 64px;
	color: #fff;
}
.top-bar-center-container a {
	color: #fff;
	font-size: 15px;
}
.search-category {
	margin-top: 8px;
	position: absolute;
	z-index: 9999;
	top: 65px;
	min-width: 320px;
	background: #fff;
	border-radius: 4px;
	box-shadow: 0 4px 12px 0 rgb(0 0 0 / 25%);
	-webkit-box-shadow: 0 4px 12px 0 rgb(0 0 0 / 25%);
}
.select2-search {
	padding: 16px;
	margin-bottom: 8px;
	position: relative;
	z-index: 10000;
	white-space: nowrap;
	border-bottom: 1px solid #CACCD6;
}
.select2-search input {
	color: #36394D;
	width: 100%;
	padding: 4px 4px 4px 32px;
	height: 40px;
	outline: 0;
	font-family: 'Roboto', sans-serif;
	font-size: 1rem;
	border: 1px solid #CACCD6;
	border-radius: 4px;
	-webkit-box-shadow: none;
	box-shadow: none;
	background:url(../images/search.png) 10px center no-repeat;
}
.select2-results {
	max-height: 200px;
	padding: 0;
	color: #36394D;
	position: relative;
	overflow-x: hidden;
	overflow-y: auto;
	-webkit-tap-highlight-color: transparent;
	margin: 8px 0 !important;
}
.select2-results .select2-ajax-error, .select2-results .select2-no-results, .select2-results .select2-searching, .select2-results .select2-selection-limit {
	display: list-item;
	padding: 8px 16px;
}
.top-bar-right-container {
	right: 0;
	display: flex;
	position: absolute;
	align-items: center;
}
.top-bar-right-container .topbar-right-btn {
	height: 64px;
	margin-left: 24px;
	background: transparent;
	color: #dedede;
	font-size: 15px;
	padding: 0;
	display: inline-flex;
	position: relative;
	flex-shrink: 0;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	text-transform: uppercase;
	cursor: pointer;
	padding-left: 24px;
	padding-right: 16px;
	width: 230px;
}
.top-bar-right-container .topbar-right-btn i {
	font-size: 24px;
}
.top-bar-right-container .topbar-right-btn:before {
	position: absolute;
	width: 1px;
	left: 0;
	height: calc(100% - 32px);
	background-color: #3c9fea;
	content: "";
}
.top-bar-right-container .topbar-right-btn:hover {
	background: hsla(0, 0%, 100%, .3);
	color: #fff;
}
.navbar-menu {
	color:#000 !important;
	background: #f7f7f7;
	border-bottom: 1px solid #caccd6;
}
.all-menu-sec {
	padding: 0 32px;
	margin-top: 0px;
 transition: box-shadow .2s;
	box-shadow: none;
	display: flex;
	position: relative;
	height: 56px;
	width: 100%;
	z-index: 9;
}
.navbar-expand-lg .navbar-nav .nav-link {
	border-color: #000;
	background-color: transparent;
	color: #000;
	font-size: 17px;
 border-top-left-radius: .25rem;
 border-top-right-radius: .25rem;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 56px;
	padding: 0 24px;
	border: 0;
	border-bottom: 3px solid transparent;
	background-color: transparent;
	margin-right: 1px;
	cursor: pointer;
}
.navbar-dark .navbar-nav .active>.nav-link {
	border-color: #1781d2;
	background-color: transparent;
	color: #1781d2;
}
.navbar-dark .navbar-nav:hover .nav-link, .navbar-dark .navbar-nav:hover .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
	color:  #1781d2;
	border-color: #1781d2;
}
.navbar__actions {
	display: flex;
	flex-grow: 1;
	align-items: center;
	align-self: flex-start;
	justify-content: flex-end;
	height: 100%;
}
.preview-btn {
	color: #1781d2;
	display: inline-flex;
	position: relative;
	flex-shrink: 0;
	align-items: center;
	justify-content: center;
	height: 40px;
	padding: 0 16px;
	border: 1px solid transparent;
	border-radius: 4px;
	background: transparent;
	font-size: 14px;
	font-weight: 500;
 letter-spacing: .03125rem;
	line-height: 1.5rem;
	text-decoration: none;
	text-transform: uppercase;
	cursor: pointer;
}
.preview-btn i {
	font-size: 22px;
	margin-right: 8px;
}
.preview-btn:hover {
	color: #000;
}
.page_builder {
	display: flex;
	position: relative;
	flex-grow: 1;
	height: calc(100% - 132px);
	-webkit-overflow-scrolling: auto;
}
.course_view {
	position: relative;
	border-right: 1px solid #CACCD6;
	padding-top: 32px;
	padding-bottom: 0;
	width: 420px;
	min-width: 420px;
	height: 100%;
	transition-property: width;
	transition-duration: 200ms;
	transition-timing-function: cubic-bezier(0.17, .67, .83, .67);
	overflow-y: auto;
}
.builder_section {
	width: 100%;
	height: 100%;
	overflow: auto;
}
.wrapper2 {
	display: flex;
	position: absolute;
	top: 117px;
	right: 0;
	bottom: 0;
	left: 0;
	flex-direction: column;
	overflow: hidden;
	-webkit-overflow-scrolling: touch;
}
.list-view-sessoin {
	position: relative;
	z-index: -2;
	max-width: 420px;
	margin-right: 16px;
	margin-left: 16px;
}
#main #faq .card {
	margin-bottom: 30px;
	border: 0;
	border-radius: 4px;
	background-color: #fff;
	box-shadow: 0 2px 2px 0 rgb(0 0 0 / 10%), 0 1px 3px 0 rgb(0 0 0 / 6%);
}
#main #faq .card .card-header {
	border: 0;
	-webkit-box-shadow: 0 0 20px 0 rgba(213, 213, 213, 0.5);
	box-shadow: 0 0 20px 0 rgba(213, 213, 213, 0.5);
	border-radius: 2px;
	padding: 0;
}
#main #faq .card .card-header .btn-header-link {
	color: #fff;
	display: block;
	text-align: left;
	background: #fff;
	color: #222;
	padding: 15px 12px;
}
#main #faq .card .card-header .btn-header-link:after {
	content: "\f107";
	font-family: 'FontAwesome';
	font-weight: 900;
	float: right;
	margin-left: auto;
}
#main #faq .card .card-header .btn-header-link.collapsed {
	background: #fff;
	color: #000;
}
#main #faq .card .card-header .btn-header-link.collapsed:after {
	content: "\f106";
}
#main #faq .card .collapsing {
	background: #fff;
	line-height: 30px;
}
#main #faq .card .collapse {
	border: 0;
}
#main #faq .card .collapse.show {
	background: #fff;
	line-height: 30px;
	color: #222;
}
.acco-chap {
	display: flex !important;
	align-items: center;
	width: 100%;
}
.acco-chap p {
	color: #000;
	font-weight: 500;
	font-size: 20px;
	margin-bottom: 0;
}
.acco-chap img {
	width: 20px;
	margin-right: 8px;
}
.btn.focus, .btn:focus {
	box-shadow: none;
}
.session_info {
	display: flex;
	box-align: center;
	align-items: center;
	-ms-flex-align: center;
	padding: 16px 16px 16px 4px;
	border: 1px solid #CACCD6;
	border-radius: 4px;
	cursor: pointer;
	margin-bottom: 10px;
}
.content-handle {
	padding-right: 10px;
	padding-left: 5px;
}
.content-handle img {
	width: 16px;
}
.lesson-se span {
	margin-bottom: 15px;
	color:#36394d;
	display: block;
	line-height: 17px;
	font-size: 15px;
}
.tool-tip img {
	width: 18px;
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
	filter: grayscale(100%);
}
.card-body {
	padding:1rem 1rem;
	padding-top: 0.1rem;
}
.session-btn {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 10px;
	margin-bottom: 5px;
}
.button {
	display: inline-flex;
	position: relative;
	flex-shrink: 0;
	align-items: center;
	justify-content: center;
	height: 40px;
	padding: 0 16px;
	border: 1px solid transparent;
	border-radius: 4px;
	background-color: transparent;
	color: #36394d;
 font-size: .875rem;
	font-weight: 600;
 letter-spacing: .03125rem;
	line-height: 1.5rem;
	text-decoration: none;
	text-transform: uppercase;
	cursor: pointer;
}
.button, .button.pressed, .button:active {
	outline: none;
}
.add-lesson {
	background-color: #1781d2;
	color: #fff;
	width: 100%;
}
.add-lesson:hover, .button--secondary:hover {
	background: #000;
	color: #fff;
}
.button--secondary {
	border-color: #caccd6;
	background-color: #fff;
	color: #100d59;
}
.session_info:focus, .session_info:hover {
	box-shadow: 0 2px 2px 0 rgb(0 0 0 / 10%), 0 1px 3px 0 rgb(0 0 0 / 6%);
}
.add-lesson i {
	margin-right: 5px;
}
.lesson-se span.badge--warning {
	background: #fa4041;
	color: #fff !important;
	margin-left: auto !important;
	font-size: 12px;
	font-weight: 500;
	margin-bottom: 0;
}
.tool-tip, .lesson-se {
	width: 100%;
}
.types__item {
	display: inline-block;
	width: 24%;
	margin: 5px 0;
}
.types__link {
	display: block;
	position: relative;
	color:#1781d2;
	width: 100%;
	padding: 7px 4px 3px;
	border-radius: 4px;
	outline: 0;
	font-size: 12px;
	text-align: center;
	text-decoration: none;
}
.types__link img {
	width:  20px;
}
.types__link p {
	margin-bottom: 0;
	color: #1781d2;
}
.types__link:focus, .types__link:hover {
	background: #f4faff;
	color:#1781d2;
}
.tree-tip {
	margin-bottom: 96px;
}
.tip__title {
	display: flex;
	align-items: center;
	margin-bottom: 8px;
	font-weight: 600;
	color: #6f7282;
 font-size: .875rem;
	line-height: 1rem;
}
.tip__description {
	margin-bottom: 4px;
	font-size: 15px;
	color: #636161;
}
.tree-tip a {
	font-size: 14px;
}
.tree-tip a:hover {
	color:#000;
	text-decoration: underline !important;
}
.wrap {
	display: flex;
	width: 100%;
	height: 100%;
	padding: 0;
}
.ember-view:first-child {
	width: 100%;
}
.content__sections {
	margin: 32px 0 0;
}
.course-content-grow {
	border-radius: 4px;
	background-color: #fff;
	box-shadow: 0 2px 2px 0 rgb(0 0 0 / 10%), 0 1px 3px 0 rgb(0 0 0 / 6%);
	position: relative;
	padding: 16px 24px;
	min-width: 304px;
	margin-right: auto;
	margin-bottom: 16px;
	margin-left: auto;
}
.form-control {
	height: 40px;
	padding: 8px 12px;
	border-color: #caccd6;
	color: #36394d;
}
.form-control:focus {
	box-shadow: none;
	border: 1px solid #caccd6;
}
.form-group .label {
	display: inline-block;
	font-size: 14px;
	line-height: 1rem;
}
.drop-zone {
	width: 100%;
	border: 1px dashed #1781d2;
	text-align: center;
}
.drop-zone, .table-container__content {
	border-radius: 4px;
	background-color: #fff;
}
.p-4 {
	padding: 1.5rem!important;
}
.drop-zone__title {
	color: #080707;
}
.manual-upload {
	float: none;
}
.form-inline label, .form-row label {
	margin: 0 0 8px 4px;
}
.manual-upload+input[type=file] {
	margin: 0 auto;
	display: block;
	width: 1px;
	height: 1px;
	padding: 0;
	overflow: hidden;
	clip: rect(0,0,0,0);
	border: 0;
	outline: 0;
}
.button--primary {
	background-color: #1781d2;
	color: #fff;
}
.pb-5, .py-5 {
	padding-bottom: 3rem!important;
}
.mb-5, .my-5 {
	margin-bottom: 3rem!important;
}
.action-buttons__container .button {
	margin-left: 8px;
}
.button--primary:hover {
	background: #000;
	color: #fff;
}
.tip__title img {
	margin-right: 7px;
}
.builder__footer {
	width: 100%;
	transition-property: width;
	transition-duration: 200ms;
	transition-timing-function: ease;
	z-index: 2703;
	display: flex;
	align-items: center;
	position: fixed;
	bottom: 0;
	max-width: 419px;
	padding: 16px 16px 16px 16px;
	background-color: #F2F3F5;
	box-shadow: 2px -4px 4px -5px rgb(0 0 0 / 50%);
}
.tree_action {
	width: 100%;
	display: flex;
}
.builder-add-chapter {
	width: 100%;
}
.custom-control {
	position: relative;
	display: block;
	min-height: 1.5rem;
	padding-left: 1.5rem;
}
.mr-2, .mx-2 {
 margin-right: .5rem!important;
}
.custom-control {
	display: block;
}
.custom-control-input {
	position: absolute;
	left: 0;
	z-index: -1;
	width: 1rem;
	height: 1.25rem;
	opacity: 0;
}
.custom-control .custom-control-label {
	color: #36394d;
	font-size: 1rem;
	line-height: 24px;
}
.custom-control-label {
	position: relative;
	margin-bottom: 0;
	vertical-align: top;
}
.custom-control input[type=radio], .custom-control input[type=checkbox] {
	display: none;
}
.custom-control input {
	color: #4f575f;
	font-size: 16px;
	height: 45px;
	line-height: 42px;
	background: #fff;
	border: 1px solid #cdcdcd;
	border-radius: 2px;
	outline: none;
	font-weight: 500;
	-webkit-appearance: none;
	width: 100%;
	padding-left: 12px;
	padding-right: 12px;
	display: block;
}
.custom-control input[type=radio] + label, .custom-control input[type=checkbox] + label {
	padding: 2px 0px 6px 24px;
	padding-right: 0;
	color: #6f6f6e;
	font-size: 15px;
	background: url(../images/check.png)no-repeat;
	margin-bottom: 0;
	background-position: left top 5px !important;
}
.custom-control input[type=radio]:checked + label, .custom-control input[type=checkbox]:checked + label {
	background: url(../images/checked.png)no-repeat;
}
.action-buttons .button {
	margin-left: 8px;
}
.mobile--show {
	display: none;
}
.builder-bar {
	padding-top: 30px;
	margin-left: 16px;
	width: 100%;
}
.builder__header {
	font-size: 1.5rem;
	font-weight: 600;
	letter-spacing: .3px;
	line-height: 2rem;
	display: block;
	max-width: 640px;
	color:#000;
	overflow-wrap: break-word;
}
.drop-zone__details {
	background: #f4faff;
}
.drop-zone__details small {
	color: #1781d2;
	font-size: 14px;
}
small {
	color: #6f7282;
 font-size: .85rem;
 line-height: .9rem;
}
#main2 .accordion .card {
	margin-bottom: 10px;
	background-color: #f2f3f55c;
	border: 0;
}
#main2 #faqnew .card .card-header .btn-header-link {
	width: 100%;
	text-align: left;
	display: block;
}
#main2 #faqnew .card .card-header .btn-header-link:after {
	content: "\f107";
	font-family: 'FontAwesome';
	font-weight: 900;
	float: right;
	margin-left: auto;
}
#main2 #faqnew .card-header .btn-header-link {
	color:#000;
}
.extra-class {
	font-style: italic;
	font-size: 13px;
	color: #6f7282;
}
 .btn:focus-visible {
 border: 0;
}
#main2 #faqnew .card .card-header {
	border-bottom: 0;
}
.fr-box {
	margin-top: 15px;
}
.fr-toolbar {
	border-top: 0px solid #222 !important;
	box-shadow: none !important;
	border: 1px solid #e2e2e2 !important;
	border-top: 1px solid #e2e2e2 !important;
}
.fr-toolbar .fr-command.fr-btn, .fr-popup .fr-command.fr-btn {
	width: 36px !important;
}
.fr-box.fr-basic.fr-top .fr-wrapper {
	box-shadow: none !important;
	border: 1px solid #e2e2e2 !important;
	border-top: 1px solid #e2e2e2 !important;
}
.fr-separator {
	background: #ffffff !important;
}
.fr-quick-insert {
	display: none !important;
}
.fr-box.fr-basic .fr-element {
	min-height: 200px !important;
}
.form-title {
	font-size: 20px;
	margin-bottom: 15px;
}
.course-content-grow .form-group.custom-control {
	padding-left: 0;
	margin-top: 6px;
	margin-bottom: 0;
	align-items: center;
	display: flex;
	float: inherit;
}
.course-content-grow .form-group.custom-control i {
	font-size: 20px;
	color: #36394d;
	margin-right: 3px;
	margin-left: -3px;
}
.course-content-grow .form-group.custom-control p {
	color: #6f6f6e;
	font-size: 15px;
	margin-bottom: 0;
}
.badge--upsell {
	background: #00a999;
	color: #fff;
	display: inline-block;
 padding: .25rem .4rem;
	border-radius: 4px;
	color: #fff;
 font-size: .75rem;
	font-weight: 700;
	line-height: 100%;
	text-align: center;
	white-space: nowrap;
	margin-left: 8px;
	vertical-align: baseline;
}
.badge--upsell:hover {
	color:#fff;
}
.button--knockout-danger {
	color: #d83232;
	border-color: #d83232;
}
.button--knockout-danger i {
	font-size: 20px;
	margin-right: 10px;
}
 .button--knockout-danger:not([disabled]).focused, .button--knockout-danger:not([disabled]).hovered, .button--knockout-danger:not([disabled]):focus, .button--knockout-danger:not([disabled]):hover {
 border-color: #d83232;
 background: #d83232;
 color: #fff;
}
.navbar-dark .navbar-toggler-icon {
	background-image: url(../images/menu.png);
}
.new-chap {
	margin-top: 15px;
}
.new-chap label {
	color:#36394d !important;
}
.form-group .label {
	color:#36394d !important;
}
.upgrade-sectin {
	margin: 16px -12px;
	padding: 24px;
	background-color: #effaf9;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.upgrade-sectin p {
	color: #006f63;
	margin-bottom: 0;
}
.button--knockout-upgrade {
	color: #006f63;
	border-color: #006f63;
}
.button--knockout-upgrade i {
	font-size: 24px;
}
.button--knockout-upgrade:hover {
	background: #006f63;
	color:#fff;
}
.toolstip, .tools-tip, .tools-tip1 {
	display: inline;
	position: relative;
}
.toolstip:hover:after {
	position: absolute;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
	justify-content: center;
	background: #444;
	border-radius: 4px;
	color: #fff;
	content: attr(title);
	margin: -60px auto 0;
	font-size: 14px;
	padding: 4px 10px;
	left: -3px;
	line-height: 20px;
	max-width: 220px;
}
.toolstip:hover:before {
	position: absolute;
	border: solid;
	border-color: #444 transparent;
	border-width: 9px 6px 0 6px;
	content: "";
	left: 17%;
	bottom: 26px;
	position: absolute;
}
.tools-tip:hover:before {
	position: absolute;
	border: solid;
	border-color: #444 transparent;
	border-width: 0px 6px 9px 6px;
	content: "";
	left: 17%;
	top: 26px;
	position: absolute;
}
.tools-tip i, .tools-tip1 i {
	font-size: 24px;
	color: #36394d;
}
.tools-tip1 i {
	margin-left: 10px !important;
}
.tools-tip:hover:after {
	position: absolute;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
	justify-content: center;
	background: #444;
	border-radius: 4px;
	color: #fff;
	content: attr(title);
	margin: 7px auto 0;
	font-size: 14px;
	padding: 4px 10px;
	left: -3px;
	line-height: 20px;
	width: 220px;
	z-index: 999;
}
.tools-tip1:hover:before {
	position: absolute;
	border: solid;
	border-color: #444 transparent;
	border-width: 9px 6px 0 6px;
	content: "";
	left: 35%;
	bottom: 26px;
	position: absolute;
}
.tools-tip1:hover:after {
	position: absolute;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
	justify-content: center;
	background: #444;
	border-radius: 4px;
	color: #fff;
	content: attr(title);
	margin: -102px auto 0;
	font-size: 14px;
	padding: 4px 10px;
	left: -3px;
	line-height: 20px;
	width: 220px;
	z-index: 999;
}
#main3 .accordion3 .card {
	margin-bottom: 0px;
	border: 0;
}
#main3 .accordion3 .card .card-header .btn-header-link {
	width: 100%;
	text-align: left;
	display: flex;
}
#main3 .accordion3 .card .card-header .btn-header-link:after {
	content: "\f107";
	font-family: 'FontAwesome';
	font-weight: 900;
	float: right;
	margin-left: auto;
}
#main3 .accordion3 .card-header .btn-header-link {
	color:#000;
	display: block;
	display: flex;
	align-items: center;
}
#main3 .accordion3 .card .card-header {
	padding: 0;
	background: transparent;
	border: 0;
}
.button-group {
	position: absolute;
	right: 100px;
	display: flex;
	align-items: center;
}
* {
	margin: 0;
	padding: 0;
}
body {
	background-position: top;
	font-size: 16px;
	color: #454545;
	background: #f7f7f7;
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif !important;
}
.clear {
	clear: both;
}
ul {
	list-style: none;
	margin: 0px !important;
}
a:focus, :focus {
	outline: none !important;
	border: none;
}
a:hover {
	text-decoration: none !important;
}
a {
	text-decoration: none;
}
a img {
	border: none;
}
/*-----------------menu & topbar--------------------*/

nav.navbar.navbar-expand-lg.navbar-dark.sticky-top {
	padding: 0;
	width: 100%;
}
.top-bar {
	display: flex;
	position: relative;
	justify-content: space-between;
	height: 64px;
	background-color: #1781d2;
	z-index: 2703;
	color: #fff;
}
.top-bar-left-container {
	left: 0;
	display: flex;
	position: absolute;
	align-items: center;
}
.top-bar-button {
	width: 64px;
	height: 64px;
	margin-right: 24px;
	background: transparent;
	color: #dedede;
	padding: 0;
	display: inline-flex;
	position: relative;
	flex-shrink: 0;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	text-transform: uppercase;
	cursor: pointer;
}
.top-bar-button:before {
	position: absolute;
	width: 1px;
	height: calc(100% - 32px);
	background-color: #3c9fea;
	content: "";
	right: 0;
}
.ml-4, .mx-4 {
	margin-left: 1.5rem!important;
}
.top-bar-left-container h4 {
	font-weight: 500;
	letter-spacing: .01875em;
	margin-bottom: 0;
	font-size: 20px;
}
.top-bar-button:hover {
	background: hsla(0, 0%, 100%, .3);
	color: #fff;
}
.top-bar-button i {
	font-size: 20px;
}
.top-bar-center-container {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 64px;
	color: #fff;
}
.top-bar-center-container a {
	color: #fff;
	font-size: 15px;
}
.search-category {
	margin-top: 8px;
	position: absolute;
	z-index: 9999;
	top: 65px;
	min-width: 320px;
	background: #fff;
	border-radius: 4px;
	box-shadow: 0 4px 12px 0 rgb(0 0 0 / 25%);
	-webkit-box-shadow: 0 4px 12px 0 rgb(0 0 0 / 25%);
}
.select2-search {
	padding: 16px;
	margin-bottom: 8px;
	position: relative;
	z-index: 10000;
	white-space: nowrap;
	border-bottom: 1px solid #CACCD6;
}
.select2-search input {
	color: #36394D;
	width: 100%;
	padding: 4px 4px 4px 32px;
	height: 40px;
	outline: 0;
	font-family: 'Roboto', sans-serif;
	font-size: 1rem;
	border: 1px solid #CACCD6;
	border-radius: 4px;
	-webkit-box-shadow: none;
	box-shadow: none;
	background:url(../images/search.png) 10px center no-repeat;
}
.select2-results {
	max-height: 200px;
	padding: 0;
	color: #36394D;
	position: relative;
	overflow-x: hidden;
	overflow-y: auto;
	-webkit-tap-highlight-color: transparent;
	margin: 8px 0 !important;
}
.select2-results .select2-ajax-error, .select2-results .select2-no-results, .select2-results .select2-searching, .select2-results .select2-selection-limit {
	display: list-item;
	padding: 8px 16px;
}
.top-bar-right-container {
	right: 0;
	display: flex;
	position: absolute;
	align-items: center;
}
.top-bar-right-container .topbar-right-btn {
	height: 64px;
	margin-left: 24px;
	background: transparent;
	color: #dedede;
	font-size: 15px;
	padding: 0;
	display: inline-flex;
	position: relative;
	flex-shrink: 0;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	text-transform: uppercase;
	cursor: pointer;
	padding-left: 24px;
	padding-right: 16px;
	width: 230px;
}
.top-bar-right-container .topbar-right-btn i {
	font-size: 24px;
}
.top-bar-right-container .topbar-right-btn:before {
	position: absolute;
	width: 1px;
	left: 0;
	height: calc(100% - 32px);
	background-color: #3c9fea;
	content: "";
}
.top-bar-right-container .topbar-right-btn:hover {
	background: hsla(0, 0%, 100%, .3);
	color: #fff;
}
.navbar-menu {
	color:#000 !important;
	background: #f7f7f7;
	border-bottom: 1px solid #caccd6;
}
.all-menu-sec {
	padding: 0 32px;
	margin-top: 0px;
 transition: box-shadow .2s;
	box-shadow: none;
	display: flex;
	position: relative;
	height: 56px;
	width: 100%;
	z-index: 9;
}
.navbar-expand-lg .navbar-nav .nav-link {
	border-color: #000;
	background-color: transparent;
	color: #000;
	font-size: 17px;
 border-top-left-radius: .25rem;
 border-top-right-radius: .25rem;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 56px;
	padding: 0 24px;
	border: 0;
	border-bottom: 3px solid transparent;
	background-color: transparent;
	margin-right: 1px;
	cursor: pointer;
}
.navbar-dark .navbar-nav .active>.nav-link {
	border-color: #1781d2;
	background-color: transparent;
	color: #1781d2;
}
.navbar-dark .navbar-nav:hover .nav-link, .navbar-dark .navbar-nav:hover .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
	color:  #1781d2;
	border-color: #1781d2;
}
.navbar__actions {
	display: flex;
	flex-grow: 1;
	align-items: center;
	align-self: flex-start;
	justify-content: flex-end;
	height: 100%;
}
.preview-btn {
	color: #1781d2;
	display: inline-flex;
	position: relative;
	flex-shrink: 0;
	align-items: center;
	justify-content: center;
	height: 40px;
	padding: 0 16px;
	border: 1px solid transparent;
	border-radius: 4px;
	background: transparent;
	font-size: 14px;
	font-weight: 500;
 letter-spacing: .03125rem;
	line-height: 1.5rem;
	text-decoration: none;
	text-transform: uppercase;
	cursor: pointer;
}
.preview-btn i {
	font-size: 22px;
	margin-right: 8px;
}
.preview-btn:hover {
	color: #000;
}
.page_builder {
	display: flex;
	position: relative;
	flex-grow: 1;
	height: calc(100% - 132px);
	-webkit-overflow-scrolling: auto;
}
.course_view {
	position: relative;
	border-right: 1px solid #CACCD6;
	padding-top: 32px;
	padding-bottom: 0;
	width: 420px;
	min-width: 420px;
	height: 100%;
	transition-property: width;
	transition-duration: 200ms;
	transition-timing-function: cubic-bezier(0.17, .67, .83, .67);
	overflow-y: auto;
	z-index: 9;
}
.builder_section {
	width: 100%;
	height: 100%;
	overflow: auto;
}
.wrapper2 {
	display: flex;
	position: absolute;
	top: 117px;
	right: 0;
	bottom: 0;
	left: 0;
	flex-direction: column;
	overflow: hidden;
	-webkit-overflow-scrolling: touch;
}
.list-view-sessoin {
	position: relative;
	z-index: -2;
	max-width: 420px;
	margin-right: 16px;
	margin-left: 16px;
}
#main #faq .card {
	margin-bottom: 30px;
	border: 0;
	border-radius: 4px;
	background-color: #fff;
	box-shadow: 0 2px 2px 0 rgb(0 0 0 / 10%), 0 1px 3px 0 rgb(0 0 0 / 6%);
}
#main #faq .card .card-header {
	border: 0;
	-webkit-box-shadow: 0 0 20px 0 rgba(213, 213, 213, 0.5);
	box-shadow: 0 0 20px 0 rgba(213, 213, 213, 0.5);
	border-radius: 2px;
	padding: 0;
}
#main #faq .card .card-header .btn-header-link {
	color: #fff;
	display: block;
	text-align: left;
	background: #fff;
	color: #222;
	padding: 15px 12px;
}
#main #faq .card .card-header .btn-header-link:after {
	content: "\f107";
	font-family: 'FontAwesome';
	font-weight: 900;
	float: right;
	margin-left: auto;
}
#main #faq .card .card-header .btn-header-link.collapsed {
	background: #fff;
	color: #000;
}
#main #faq .card .card-header .btn-header-link.collapsed:after {
	content: "\f106";
}
#main #faq .card .collapsing {
	background: #fff;
	line-height: 30px;
}
#main #faq .card .collapse {
	border: 0;
}
#main #faq .card .collapse.show {
	background: #fff;
	line-height: 30px;
	color: #222;
}
.acco-chap {
	display: flex !important;
	align-items: baseline;
	width: 100%;
}
.acco-chap p {
	color: #000;
	font-weight: 500;
	font-size: 20px;
	margin-bottom: 0;
	word-break: break-word;
	white-space: break-spaces;
}
.acco-chap img {
	width: 20px;
	margin-right: 8px;
}
.btn.focus, .btn:focus {
	box-shadow: none;
}
.session_info {
	display: flex;
	box-align: center;
	align-items: center;
	-ms-flex-align: center;
	padding: 16px 16px 16px 4px;
	border: 1px solid #CACCD6;
	border-radius: 4px;
	cursor: pointer;
	margin-bottom: 10px;
}
.content-handle {
	padding-right: 10px;
	padding-left: 5px;
}
.content-handle img {
	width: 16px;
}
.lesson-se span {
	margin-bottom: 15px;
	color:#36394d;
	display: block;
	line-height: 17px;
	font-size: 15px;
}
.tool-tip img {
	width: 18px;
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
	filter: grayscale(100%);
}
.card-body {
	padding:1rem 1rem;
	padding-top: 0.1rem;
}
.session-btn {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 10px;
	margin-bottom: 5px;
}
.button {
	display: inline-flex;
	position: relative;
	flex-shrink: 0;
	align-items: center;
	justify-content: center;
	height: 40px;
	padding: 0 16px;
	border: 1px solid transparent;
	border-radius: 4px;
	background-color: transparent;
	color: #36394d;
 font-size: .875rem;
	font-weight: 600;
 letter-spacing: .03125rem;
	line-height: 1.5rem;
	text-decoration: none;
	text-transform: uppercase;
	cursor: pointer;
}
.button, .button.pressed, .button:active {
	outline: none;
}
.add-lesson {
	background-color: #1781d2;
	color: #fff;
}
.add-lesson:hover, .button--secondary:hover {
	background: #000;
	color: #fff;
}
.button--secondary {
	border-color: #caccd6;
	background-color: #fff;
	color: #100d59;
}
.session_info:focus, .session_info:hover {
	box-shadow: 0 2px 2px 0 rgb(0 0 0 / 10%), 0 1px 3px 0 rgb(0 0 0 / 6%);
}
.add-lesson i {
	margin-right: 5px;
}
.lesson-se span.badge--warning {
	background: #fa4041;
	color: #fff !important;
	margin-left: auto !important;
	font-size: 12px;
	font-weight: 500;
	margin-bottom: 0;
}
.tool-tip, .lesson-se {
	width: 100%;
}
.types__item {
	display: inline-block;
	width: 24%;
	margin: 5px 0;
}
.types__link {
	display: block;
	position: relative;
	color:#1781d2;
	width: 100%;
	padding: 7px 4px 3px;
	border-radius: 4px;
	outline: 0;
	font-size: 12px;
	text-align: center;
	text-decoration: none;
}
.types__link img {
	width:  20px;
}
.types__link p {
	margin-bottom: 0;
	color: #1781d2;
}
.types__link:focus, .types__link:hover {
	background: #f4faff;
	color:#1781d2;
}
.tree-tip {
	margin-bottom: 96px;
}
.tip__title {
	display: flex;
	align-items: center;
	margin-bottom: 8px;
	font-weight: 600;
	color: #6f7282;
 font-size: .875rem;
	line-height: 1rem;
}
.tip__description {
	margin-bottom: 4px;
	font-size: 15px;
	color: #636161;
}
.tree-tip a {
	font-size: 14px;
}
.tree-tip a:hover {
	color:#000;
	text-decoration: underline !important;
}
.wrap {
	display: flex;
	width: 100%;
	height: 100%;
	padding: 0;
}
.ember-view:first-child {
	width: 100%;
}
.content__sections {
	margin: 15px 0 0;
}
.course-content-grow {
	border-radius: 4px;
	background-color: #fff;
	box-shadow: 0 2px 2px 0 rgb(0 0 0 / 10%), 0 1px 3px 0 rgb(0 0 0 / 6%);
	position: relative;
	padding: 16px 24px;
	min-width: 304px;
	margin-right: auto;
	margin-bottom: 16px;
	margin-left: auto;
}
.form-control {
	height: 40px;
	padding: 8px 12px;
	border-color: #caccd6;
	color: #36394d;
}
.form-control:focus {
	box-shadow: none;
	border: 1px solid #caccd6;
}
.form-group .label {
	display: inline-block;
	font-size: 14px;
	line-height: 1rem;
}
.drop-zone {
	width: 100%;
	border: 1px dashed #1781d2;
	text-align: center;
}
.drop-zone, .table-container__content {
	border-radius: 4px;
	background-color: #fff;
}
.p-4 {
	padding: 1.5rem!important;
}
.drop-zone__title {
	color: #080707;
}
.manual-upload {
	float: none;
}
.form-inline label, .form-row label {
	margin: 0 0 8px 4px;
}
.manual-upload+input[type=file] {
	margin: 0 auto;
	display: block;
	width: 1px;
	height: 1px;
	padding: 0;
	overflow: hidden;
	clip: rect(0,0,0,0);
	border: 0;
	outline: 0;
}
.button--primary {
	background-color: #1781d2;
	color: #fff;
}
.pb-5, .py-5 {
	padding-bottom: 3rem!important;
}
.mb-5, .my-5 {
	margin-bottom: 3rem!important;
}
.action-buttons__container .button {
	margin-left: 8px;
}
.button--primary:hover {
	background: #000;
	color: #fff;
}
.tip__title img {
	margin-right: 7px;
}
.builder__footer {
	width: 100%;
	transition-property: width;
	transition-duration: 200ms;
	transition-timing-function: ease;
	z-index: 2703;
	display: flex;
	align-items: center;
	position: fixed;
	bottom: 0;
	max-width: 419px;
	padding: 16px 16px 16px 16px;
	background-color: #F2F3F5;
	box-shadow: 2px -4px 4px -5px rgb(0 0 0 / 50%);
}
.tree_action {
	width: 100%;
	display: flex;
}
.builder-add-chapter {
	width: 100%;
}
.custom-control {
	position: relative;
	display: block;
	min-height: 1.5rem;
	padding-left: 1.5rem;
}
.mr-2, .mx-2 {
 margin-right: .5rem!important;
}
.custom-control {
	display: block;
}
.custom-control-input {
	position: absolute;
	left: 0;
	z-index: -1;
	width: 1rem;
	height: 1.25rem;
	opacity: 0;
}
.custom-control .custom-control-label {
	color: #36394d;
	font-size: 1rem;
	line-height: 24px;
}
.custom-control-label {
	position: relative;
	margin-bottom: 0;
	vertical-align: top;
}
.custom-control input[type=radio], .custom-control input[type=checkbox] {
	display: none;
}
.custom-control input {
	color: #4f575f;
	font-size: 16px;
	height: 45px;
	line-height: 42px;
	background: #fff;
	border: 1px solid #cdcdcd;
	border-radius: 2px;
	outline: none;
	font-weight: 500;
	-webkit-appearance: none;
	width: 100%;
	padding-left: 12px;
	padding-right: 12px;
	display: block;
}
.custom-control input[type=radio] + label, .custom-control input[type=checkbox] + label {
	padding: 2px 0px 6px 24px;
	padding-right: 0;
	color: #6f6f6e;
	font-size: 15px;
	background: url(../images/check.png)no-repeat;
	margin-bottom: 0;
	background-position: left top 5px !important;
}
.custom-control input[type=radio]:checked + label, .custom-control input[type=checkbox]:checked + label {
	background: url(../images/checked.png)no-repeat;
}
.action-buttons .button {
	margin-left: 8px;
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}
.mobile--show {
	display: none;
}
.builder-bar {
	padding-top: 30px;
	margin-left: 16px;
	width: 100%;
}
.builder__header {
	font-size: 1.5rem;
	font-weight: 600;
	letter-spacing: .3px;
	line-height: 2rem;
	display: block;
	max-width: 640px;
	color:#000;
	overflow-wrap: break-word;
}
.drop-zone__details {
	background: #f4faff;
}
.drop-zone__details small {
	color: #1781d2;
	font-size: 14px;
}
small {
	color: #6f7282;
 font-size: .85rem;
 line-height: .9rem;
}
#main2 .accordion .card {
	margin-bottom: 10px;
	background-color: #f2f3f55c;
	border: 0;
}
#main2 #faqnew .card .card-header .btn-header-link {
	width: 100%;
	text-align: left;
	display: block;
}
#main2 #faqnew .card .card-header .btn-header-link:after {
	content: "\f107";
	font-family: 'FontAwesome';
	font-weight: 900;
	float: right;
	margin-left: auto;
}
#main2 #faqnew .card-header .btn-header-link {
	color:#000;
}
.extra-class {
	font-style: italic;
	font-size: 13px;
	color: #6f7282;
}
 .btn:focus-visible {
 border: 0;
}
#main2 #faqnew .card .card-header {
	border-bottom: 0;
}
.fr-box {
	margin-top: 15px;
}
.fr-toolbar {
	border-top: 0px solid #222 !important;
	box-shadow: none !important;
	border: 1px solid #e2e2e2 !important;
	border-top: 1px solid #e2e2e2 !important;
}
.fr-toolbar .fr-command.fr-btn, .fr-popup .fr-command.fr-btn {
	width: 36px !important;
}
.fr-box.fr-basic.fr-top .fr-wrapper {
	box-shadow: none !important;
	border: 1px solid #e2e2e2 !important;
	border-top: 1px solid #e2e2e2 !important;
}
.fr-separator {
	background: #ffffff !important;
}
.fr-quick-insert {
	display: none !important;
}
.fr-box.fr-basic .fr-element {
	min-height: 200px !important;
}
.form-title {
	font-size: 20px;
	margin-bottom: 15px;
}
.course-content-grow .form-group.custom-control {
	padding-left: 0;
	margin-top: 6px;
	margin-bottom: 0;
	align-items: center;
	display: flex;
	float: inherit;
}
.course-content-grow .form-group.custom-control i {
	font-size: 20px;
	color: #36394d;
	margin-right: 3px;
	margin-left: -3px;
}
.course-content-grow .form-group.custom-control p {
	color: #6f6f6e;
	font-size: 15px;
	margin-bottom: 0;
}
.badge--upsell {
	background: #00a999;
	color: #fff;
	display: inline-block;
 padding: .25rem .4rem;
	border-radius: 4px;
	color: #fff;
 font-size: .75rem;
	font-weight: 700;
	line-height: 100%;
	text-align: center;
	white-space: nowrap;
	margin-left: 8px;
	vertical-align: baseline;
}
.badge--upsell:hover {
	color:#fff;
}
.button--knockout-danger {
	color: #d83232;
	border-color: #d83232;
}
.button--knockout-danger i {
	font-size: 20px;
	margin-right: 10px;
}
 .button--knockout-danger:not([disabled]).focused, .button--knockout-danger:not([disabled]).hovered, .button--knockout-danger:not([disabled]):focus, .button--knockout-danger:not([disabled]):hover {
 border-color: #d83232;
 background: #d83232;
 color: #fff;
}
.navbar-dark .navbar-toggler-icon {
	background-image: url(../images/menu.png);
}
.new-chap {
	margin-top: 15px;
}
.new-chap label {
	color:#36394d !important;
}
.form-group .label {
	color:#36394d !important;
}
.upgrade-sectin {
	margin: 16px -12px;
	padding: 24px;
	background-color: #effaf9;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.upgrade-sectin p {
	color: #006f63;
	margin-bottom: 0;
}
.button--knockout-upgrade {
	color: #006f63;
	border-color: #006f63;
}
.button--knockout-upgrade i {
	font-size: 24px;
}
.button--knockout-upgrade:hover {
	background: #006f63;
	color:#fff;
}
.toolstip, .tools-tip, .tools-tip1 {
	display: inline;
	position: relative;
}
.tools-tip.tools-tip-right:hover:after {
	left:35px;
	top: 0;
	margin-top: 0;
}
.tools-tip.tools-tip-right:hover:before {
	position: absolute;
	content: "";
	left: 20px;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-right: 10px solid #444;
	top: 2px;
	position: absolute;
}
.toolstip:hover:after {
	position: absolute;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
	justify-content: center;
	background: #444;
	border-radius: 4px;
	color: #fff;
	content: attr(title);
	margin: -60px auto 0;
	font-size: 14px;
	padding: 4px 10px;
	left: -3px;
	line-height: 20px;
	max-width: 220px;
}
.toolstip:hover:before {
	position: absolute;
	border: solid;
	border-color: #444 transparent;
	border-width: 9px 6px 0 6px;
	content: "";
	left: 17%;
	bottom: 26px;
	position: absolute;
}
.tools-tip:hover:before {
	position: absolute;
	border: solid;
	border-color: #444 transparent;
	border-width: 0px 6px 9px 6px;
	content: "";
	left: 17%;
	top: 26px;
	position: absolute;
}
.tools-tip i, .tools-tip1 i {
	font-size: 20px;
	color: #36394d;
}
.tools-tip1 i {
	margin-left: 10px !important;
}
.tools-tip:hover:after {
	position: absolute;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
	justify-content: center;
	background: #444;
	border-radius: 4px;
	color: #fff;
	content: attr(title);
	margin: 7px auto 0;
	font-size: 14px;
	padding: 4px 10px;
	left: -3px;
	line-height: 20px;
	width: 220px;
	z-index: 999;
}
.tools-tip1:hover:before {
	position: absolute;
	border: solid;
	border-color: #444 transparent;
	border-width: 9px 6px 0 6px;
	content: "";
	left: 35%;
	bottom: 26px;
	position: absolute;
}
.tools-tip1:hover:after {
	position: absolute;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
	justify-content: center;
	background: #444;
	border-radius: 4px;
	color: #fff;
	content: attr(title);
	margin: -102px auto 0;
	font-size: 14px;
	padding: 4px 10px;
	left: -3px;
	line-height: 20px;
	width: 220px;
	z-index: 999;
}
#main3 .accordion3 .card {
	margin-bottom: 0px;
	border: 0;
}
#main3 .accordion3 .card .card-header .btn-header-link {
	width: 100%;
	text-align: left;
	display: flex;
}
#main3 .accordion3 .card .card-header .btn-header-link:after {
	content: "\f107";
	font-family: 'FontAwesome';
	font-weight: 900;
	float: right;
	margin-left: auto;
}
#main3 .accordion3 .card-header .btn-header-link {
	color:#000;
	display: block;
	display: flex;
	align-items: center;
}
#main3 .accordion3 .card .card-header {
	padding: 0;
	background: transparent;
	border: 0;
}
.button-group {
	position: absolute;
	right: 100px;
	display: flex;
	align-items: center;
}
.new-link2 {
	font-size: 24px;
	color:#000;
	border-color: #caccd6;
	background-color: #fff;
	color: #100d59;
	border-left: 0;
	border-radius: 0 3px 3px 0;
}
.new-link3 {
	font-size: 24px;
	color:#000;
	border-color: #caccd6;
	background-color: #fff;
	color: #100d59;
	border-radius: 0 3px 3px 0;
}
.new-btn2 {
	border-radius: 3px 0px 0px 3px;
}
.empty-state {
	max-width: 600px;
	text-align: center;
	margin: 0 auto;
}
.toga-product-icon i {
	font-size:60px;
	color:#36394d;
}
.empty-state__title {
	padding-top: 25px;
	padding-bottom: 15px;
	color: #36394d;
	font-size: 30px;
	font-weight: 300;
}
.empty-state__description {
	padding-bottom: 24px;
	color: #36394d;
}
.button--danger {
	background-color: #d83232;
	color: #fff;
}
.button--danger:hover {
	background-color: #a62626;
	color: #fff;
}
.empty-state__actions>* {
	margin: 0 8px;
}
.header-area {
	background: #fff;
	z-index: 9999;
}
.rm_correctt01 .mt-2 {
	position:relative;
}
.rm_correctt01 .rm_correctt02 {
	width: 120px !important;
	height: 40px !important;
	position: relative;
	top: -48px;
	left: 1px;
	opacity: 1;
	cursor: pointer;
	text-indent: 500px;
	border-radius: 4px;
}
.rm_correctt03 {
	font-weight: 600 !important;
}
.main-top-bar {
	background: #000;
}
.header-con p {
	color: #fff;
	margin-bottom: 0;
	font-size: 15px;
	padding:12px 15px;
}
.course-wrap {
	display: grid;
	overflow: hidden;
	grid-gap: 0;
	grid-area: container;
	grid-template-columns: auto;
	grid-template-rows: minmax(64px, min-content) calc(100% - 64px);
	grid-template-areas:
 "top-bar" "content";
	grid-template-rows: 100%;
	grid-template-areas: "content";
}
.course-player__content {
	background-color: #F2F3F5;
	color: #36394D;
	display: flex;
	position: relative;
	height: 100%;
	grid-area: content;
}
.course-player__left-drawer {
	position: relative;
	margin-left: 0;
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	background-color: inherit;
	overflow-y: auto;
}
.course-player {
	background-color: #F2F3F5;
	position: relative;
}
.ember-upper-sec {
	width: 23rem;
	margin: 0 auto;
	padding-top: 1rem;
 transition: .25s ease-in;
}
.ember-infosec {
	box-shadow: 0 1px 2px 0 rgb(0 0 0 / 35%);
	width: 100%;
	height: 100%;
	border-radius: 4px;
	background-color: #fff;
}
.ember-info-top {
	background: #1781d2;
	display: block;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	height: 56px;
}
.ember-info-top p {
	color:#fff;
	text-align: center;
	font-size: 20px;
	margin-bottom: 0;
	line-height: 50px;
}
.ember-link {
	padding: 20px 15px 10px;
	display: flex;
	align-items: center;
	color: #6F7282;
	font-size: 14px;
}
.ember-link i {
	font-size:18px;
	margin-right:6px;
}
.ember-link:hover {
	color:#1781d2;
}
.ember-info-bottom {
	padding: 0 15px 20px;
}
.ember-info-bottom h2 {
	color: #36394D;
	font-size: 21px;
	line-height: 2rem;
	margin-bottom: 3px;
}
.progress {
	height: 5px;
	margin: 16px 0 10px;
}
.progress-bar {
	height: 5px;
	background-color: #1781d2;
}
.ember-info-bottom p {
	font-size: 15px;
	color: #36394D;
	margin-bottom: 0;
}
.ember-info-bottom p span {
	font-weight:  700;
	font-size: 16px;
}
.ember-middile-sec, .ember-bottom-sec {
 margin: 1rem 1rem .5rem;
	position: relative;
}
.drop-box {
	border:1px solid #CACCD6;
	background-color: #fff;
	padding: 8px 16px;
	height: 40px;
	border-radius: 4px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	cursor: pointer;
	font-size: 15px;
}
.drop-box:hover {
	background: #fff;
}
.drop-search {
	border:1px solid #CACCD6;
	background: #fff;
	width: 100%;
	position: absolute;
	z-index: 1000;
	left: 0;
}
.drop-btn {
	position: relative;
 padding: 1rem 1rem .5rem;
}
.drop-btn input {
	border: 1px solid #abacae;
	border-radius: 3px;
	color: #495057;
	font-weight: 400;
	padding-left: 30px;
	font-size: 14px;
	line-height: 20px;
	width: 100%;
	height: 40px;
}
.drop-btn .serch-submit {
	position: absolute;
	background: transparent;
	border: 0;
	left: 25px;
	top: 22px;
}
.drop-list {
	max-height: 200px;
	overflow-x: auto;
	margin-top: 20px;
}
.drop-list h4 {
	color: #36394D;
	font-size: 16px;
	padding: 0rem 1rem 0rem;
	text-transform: uppercase;
}
.drop-list ul li {
	color: #36394D;
 padding: .6rem 1rem .6rem 1.5rem;
	font-size: 14px;
}
.drop-list ul li:hover {
	background: #f2f2f2;
}
#main4 .accordion .card {
	margin-bottom: 10px;
	background-color: #f2f3f55c;
	border: 0;
}
#main4 #faqnewst .card .card-header .btn-header-link {
	width: 100%;
	text-align: left;
	display: block;
}
#main4 #faqnewst .card .card-header .btn-header-link:after {
	content: "\f107";
	font-family: 'FontAwesome';
	font-weight: 900;
	float: right;
	margin-left: auto;
}
#main4 #faqnewst .card-header .btn-header-link {
	color:#000;
 padding: .75rem 0rem;
}
#main4 #faqnewst .card .card-header .btn-header-link.collapsed:after {
	content: "\f106";
}
#main4 #faqnewst .card {
	background: #fff;
	border:0;/* padding: 0 15px; */
}
#main4 #faqnewst .card-body {
	padding: 0 1rem;
}
#main4 #faqnewst .card .card-header {
	display: flex;
	align-items: center;
	padding: 0;
	background: transparent;
	border-bottom:1px solid #36394D;
}
.progress-cir {
	width: 26px;
	height: 26px;
	font-size: 0px;
	color: #fff;
	border-radius: 50%;
	z-index: 9;
    position: relative;
	background: #07070c00;
	text-align: center;
	margin-right: 10px;
	line-height: 26px;
    border: 3px solid #00000030;
}
 .progress-cir::after {
content: "%";
}
.progress-cir .title {
	position: relative;
	z-index: 100;
}
.progress-cir .left, .progress-cir .right {
	width: 13px;
	height: 26px;
	position: absolute;
	top: -3px;
	left: -3px;
	border: 3px solid #1919de;
	border-radius: 100px 0px 0px 100px;
	border-right: 0;
	transform-origin: right;
	z-index: 99999;
}
.progress-cir .left {
	animation: load1 1s linear forwards;
}
 .progress-cir:nth-of-type(2) .right, .progress-cir:nth-of-type(3) .right {
animation: load2 .5s linear forwards 1s;
}
.progress-cir:last-of-type .right, .progress-cir:first-of-type .right {
animation: load3 .8s linear forwards 1s;
}
 @keyframes load1 {
 0% {
transform: rotate(0deg);
}
 100% {
transform: rotate(180deg);
}
}
 @keyframes load2 {
 0% {
z-index: 100;
transform: rotate(180deg);
}
 100% {
z-index: 100;
transform: rotate(270deg);
}
}
 @keyframes load3 {
 0% {
z-index: 100;
transform: rotate(180deg);
}
 100% {
 z-index: 100;
transform: rotate(315deg);
}
}
.acco-chap p.cahp-p {
	color: #36394D;
	margin-left: 10px;
	font-size: 18px;
}
.all-chap {
	margin: 0;
 padding: .5rem 0 0;
	list-style: none;
}
.all-chap li {
	position:relative;
}
.lesson-cont {
 padding: .5rem 1.5rem 1rem 2.5rem;
	color: #36394D;
 transition: background-color .2s ease;
	text-decoration: none;
	display: block;
	position: relative;
	margin-bottom: 10px;
	width: 100%;
}
.cont-item {
	font-size: 14px;
	line-height: 20px;
}
.lesso-details {
	display: flex;
	align-items: center;
	margin-top: 10px;
}
.lesso-details img {
	width: 16px;
	margin-right: 10px;
	filter: grayscale(100%);
}
.lesson-cont:hover, .lesson-cont.active {
	/* background: rgb(148 150 165 / 11%); */

    background-image: linear-gradient(rgb(148 150 165 / 11%), rgb(148 150 165 / 11%), transparent);
	color: #36394D;
}
.lesson-cont.active .cont-item {
	font-weight: 600;
}
.lesson-cont.active .cont-item .lesso-details {
	font-weight: normal;
}
.brand-color__text {
	color:#1781d2;
	display: block;
	position: absolute;
 top: .5rem;
	left: 0rem;
	width: 1.5rem;
	height: 100%;
	text-align: center;
}
.brand-color__text:before {
	background-color: #6F7282;
	height: calc(100% - 24px);
	z-index: 101;
	display: block;
	position: absolute;
	top: 1.5rem;
	left: 50%;
 width: .09375rem;
	transform: translatex(-50%);
 border-radius: .5rem;
	content: '';
}
.content-item {
	display: inline-block;
	position: relative;
 top: .0625rem;
	width: 1rem;
	height: 1rem;
	font-size: 0;
}
.content-item:before {
	border:1px solid currentColor;
	z-index: 102;
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 1rem;
	height: 1rem;
	transform: translatex(-50%) translatey(-50%);
	border-radius: 50%;
	content: '';
	font-size: 1rem
}
.content-item:after {
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 1rem;
	height: 1rem;
	transform: translatex(-50%) translatey(-50%);
	border-radius: 50%;
	content: '';
	z-index: 101;
 border: .09375rem solid transparent;
}
.lesson-cont.active .content-item:after {
	background-color: #fff;
}
.lesson-cont.complete .content-item:before {
	content: "\f058";
	font-family: 'FontAwesome';
	color: #1781d2;
	font-size: 19px;
	margin-left: -1px;
	line-height: 15px;
}
.lesson-cont.complete .brand-color__text:before {
	background:#1781d2;
}
.brand-color__text:after {
 height: .5rem;
	transition: height 350ms ease;
	background-color: currentColor;
	z-index: 102;
	display: block;
	position: absolute;
	top: 1.5rem;
	left: 50%;
 width: .09375rem;
	transform: translatex(-50%);
 border-radius: .5rem;
	content: '';
}
.all-chap li:last-child .lesson-cont .brand-color__text:before {
	display: none;
}
.course-player__right-drawer {
 transition: padding .2s ease-in-out;
	display: flex;
	position: relative;
	flex: 1 1 0;
	padding: 1rem 1rem 0rem 0rem;
	background-color: inherit;
}
.course-player__right-inner {
	box-shadow: 0 4px 10px 2px rgb(0 0 0 / 16%);
	background-color: #fff;
	width: 100%;
	height: 100%;
}
.course-information_right {
	background-color: #fff;
	display: grid;
	position: relative;
	height: 100%;
	grid-template-rows: minmax(42px, min-content) auto;
	grid-template-areas:
 "content-header" "content-wrapper";
}
.rightpannel_title {
	display: flex;
	justify-content: space-between;
	max-width: 100vw;
 padding: .5rem 1rem;
	border-bottom: 1px solid;
	grid-area: content-header;
	border-color: #CACCD6;
}
.rightpannel_title h2 {
	color: #000;
	margin-bottom: 0;
	font-size: 16px;
	line-height: 24px;
}
.rightpannel_middle {
	position: relative;
	height: inherit;
	grid-area: content-wrapper;
}
.rightpannel_middle-info {
	display: grid;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	grid-gap: 0;
	grid-template-columns: auto;
	grid-template-rows: auto minmax(64px, min-content);
	grid-template-areas:
 "content-inner" "content-navigation";
}
.rightpannel_body {
	display: flex;
	position: relative;
	flex-direction: column;
	align-content: flex-start;
	grid-area: content-inner;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}
.rightpannel_body_apart {
	position: relative;
	flex: 1 1 0;
	align-self: center;
	width: 100%;
	max-width: 43.75rem;
	min-height: auto;
	margin: 2.5rem auto 0;
	padding: 0 1rem;
}
audio, video {
	width: 100%;
}
.rightpannel_footer {
	border-color: #CACCD6;
	display: flex;
	flex-shrink: 0;
	align-items: center;
	justify-content: center;
	width: 100%;
	padding: 1rem;
 border-top: .0625rem solid;
	grid-area: content-navigation;
	position: relative;
}
.button--default--small {
	display: inline-flex;
	align-items: center;
	text-transform: uppercase;
	justify-content: center;
	border-radius: 4px;
	cursor: pointer;
	padding: 0 11px;
	margin-right: 8px;
	border: 1px solid;
	font-size: 13px;
	font-weight: 400;
	line-height: 1rem;
	text-decoration: uppercase;
	min-height: 30px;
	height: 32px;
}
.button--default--disabled, .button--default--disabled:hover {
	background: #eee !important;
	color: #939aac !important;
	border: 1px solid #939aac !important;
}
.button--primary_n {
	background-color: #1781d2;
	color: #fff;
	border-color:  #1781d2;
}
.button--secondary_n {
	border-color: #caccd6;
	background-color: #fff;
	color: #100d59;
}
.button--primary_n:hover, .button--secondary_n:hover {
	background: #000;
	border-color: #000;
	color: #fff
}
hgroup {
	width: calc(100% - 42px);
	margin: 2px 2px 2px 10px;
}
.toggle-wrap {
	padding: 10px;
	position: relative;
	cursor: pointer;
	float: left;
	/*disable selection*/

  -webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
 .toggle-bar, .toggle-bar::before, .toggle-bar::after, .toggle-wrap.active .toggle-bar, .toggle-wrap.active .toggle-bar::before, .toggle-wrap.active .toggle-bar::after {
 -webkit-transition: all .2s ease-in-out;
 -moz-transition: all .2s ease-in-out;
 -o-transition: all .2s ease-in-out;
 transition: all .2s ease-in-out;
}
.toggle-bar {
	width: 22px;
	margin: 10px 0;
	position: relative;
	border-top: 2px solid #fff;
	display: block;
}
 .toggle-bar::before, .toggle-bar::after {
 content: "";
 display: block;
 background: #fff;
 height: 2px;
 width: 22px;
 position: absolute;
 top: -8px;
 -ms-transform: rotate(0deg);
 -webkit-transform: rotate(0deg);
 transform: rotate(0deg);
 -ms-transform-origin: 13%;
 -webkit-transform-origin: 13%;
 transform-origin: 13%;
}
 .toggle-bar::after {
 top: 4px;
}
.toggle-wrap.active .toggle-bar {
	border-top: 3px solid transparent;
}
 .toggle-wrap.active .toggle-bar::before {
 -ms-transform: rotate(45deg);
 -webkit-transform: rotate(45deg);
 transform: rotate(45deg);
}
 .toggle-wrap.active .toggle-bar::after {
 -ms-transform: rotate(-45deg);
 -webkit-transform: rotate(-45deg);
 transform: rotate(-45deg);
}
.mobile-show {
	display: none;
}
hgroup h3 {
	margin-bottom: 0;
	font-size: 16px;
	color: #fff;
	text-align: center;
	margin-left: -65px;
}
.quiz-part {
	flex: 1 1 0;
	width: 100%;
	max-width: 43.75rem;
	min-height: 0;
	margin: 0rem auto 0;
	padding: 0 1rem;
}
.quiz-qus {
	position: relative;
	display: flex;
	flex-direction: column;
}
.quiz-qus h5 {
	color: #6F7282;
	font-size:12px;
	font-weight: 400;
	line-height: 1rem;
	text-transform: uppercase;
	display: block;
 margin: 0 0 .8rem;
}
.quiz-qus h2 {
	color: #36394D;
	font-size: 24px;
	line-height: 2rem;
	display: block;
	margin: 0 0 1.2rem;
}
.quiz-qus p {
	color: #36394D;
	font-size:14px;
	font-weight: 400;
	line-height: 1.25rem;
	margin: 0 0 1rem;
}
.rightpannel_middle-info.new-grid {
	display: block;
}
.rightpannel_middle-info.new-grid .rightpannel_body {
	height: 100%
}
.dash-d1 {
}
.dash-d1 label {
	width: 100%;
	height: auto;
	background: #fff;
	border:1px solid #CACCD6;
	border-radius: 3px;
	margin-bottom: 15px;
	display: flex;
}
.dash-d1 label:hover {
	border:1px solid #1781d2;
}
.dash-d1.das-radio input[type="radio"] + label span.color-span, .dash-d1.das-radio input[type="checkbox"] + label span.color-span {
	text-transform: uppercase;
	padding: 0px 12px;
	color: #36394D;
	font-weight: bold;
	line-height: 52px;
	width:50px;
	text-align: center;
	background-color: #CACCD6;
}
.dash-d1.das-radio label span.label-cont {
	color: #36394D;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5rem;
	display: block;
	width: 100%;
	margin: 0;
	padding: 9px 56px 16px 16px;
	text-align: left;
}
.dash-d1.das-radio input[type="radio"]:checked + label span.color-span, .dash-d1.das-radio input[type="checkbox"]:checked + label span.color-span {
	background-color: #1781d2;
	color: #fff;
}
.dash-d1.das-radio input[type="radio"]:checked + label, .dash-d1.das-radio input[type="checkbox"]:checked + label {
	border:2px solid #1781d2;
}
.dash-d1.das-radio input[type="radio"], .dash-d1.das-radio input[type="checkbox"] {
	display: none;
}
.con-btn {
	float: right;
	background-color: #1781d2;
	color: #fff;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border-radius: 4px;
	padding: 0 18px;
	cursor: pointer;
	text-transform: uppercase;
	border: 0;
	font-size: 14px;
	letter-spacing: 0.5px;
	line-height: 1.5rem;
	height: 40px;
	margin-bottom: 50px;
}
.ans-status {
	background-color: #F2F3F5;
	border:1px solid #CACCD6;
	color: #36394D;
	/* display: flex; */

    width: 100%;
	margin:20px 0 25px 0;
	padding: 24px;
}
.color-green {
	color: green;
	margin-right: 5px;
}
.color-red {
	color: #dc0606;
	margin-right: 5px;
}
.quiz-result h5 {
	font-size: 17px;
	line-height: 25px;
}
.quiz-result h1 {
	color: green;
	font-size: 70px;
	font-weight: bold;
	margin: 15px 0 25px 0;
}
.uppercase {
	text-transform: uppercase;
	letter-spacing:  0.5px;
}
.delete-deta-ul {
	border-radius: 4px;
	background-color: #CACCD6;
 padding: .5rem!important;
}
.downloads-reorder {
	display: flex;
	align-items: center;
	margin: 8px 0;
}
.recoder-ff {
	cursor: pointer;
	padding: 0 5px;
}
.recoder-ff img {
	width:20px;
}
.recoder-mm {
	width: 100%;
}
.button--knockout i {
	font-size: 22px;
}
.button--knockout {
	margin-left: 8px;
}
.button--knockout:hover {
	border: 1px solid #000;
}
.button--default--small i {
	margin-left: 8px;
}
.retake-btn {
	background: transparent;
	border: 0;
	font-size: 13px;
}
.retake-btn:hover {
	background-color: rgba(29, 29, 29, .1);
}
.quiz-player {
	padding: 50px 0 80px 0;
}
.quiz-player p {
	color: #36394D;
	font-size: 14px;
	padding-bottom: 15px;
}
.quiz-layer {
	display: block;
	width: 100%;
	margin: 0 0 16px;
	padding: 24px;
	text-align: left;
	border-width: 1px;
	border-radius: 2px;
	border-style: solid;
	background-color: #F2F3F5;
	border-color: #696b74;
	color: #36394D;
	position: relative;
}
.quiz-layer p {
	font-size: 16px;
	font-weight: 500;
	color: #36394D;
	margin-bottom: 0;
	position: relative;
}
.quiz-an {
	position: absolute;
	right: 25px;
	color: green;
	font-size: 20px;
}
.quiz-hr {
	border:1px solid #CACCD6;
	margin:10px 0 10px 0;
}
.quiz-an-red {
	position: absolute;
	right: 25px;
	color: #dc0606;
	font-size: 20px;
}
.prev-info {
	position: absolute;
	left: 1rem;
	display: flex;
	align-items: center;
}
.btn-black {
	background-color: #36394D;
	color: #fff;
}
.prev-info span {
	font-size: 12px;
}
.accordion3 > .card {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border: 0 !important;
}
.accordion4 .card {
	margin-bottom: 10px !important;
	padding-bottom: 10px !important;
	background-color: #f2f3f5 !important;
	border: 0 !important;
}
.accordion4 .card .card-header {
 padding: .75rem 1rem !important;
	margin-bottom: 0 !important;/* background-color: rgba(0,0,0,.03) !important; */
}
.section--gray {
	position: relative;
	margin-bottom: 8px;
	padding: 16px;
	border-radius: 4px;
	background-color: #f2f3f5;
}
.video-show {
	margin: 0;
	position: relative;
	display: block;
	padding: 8px 12px;
	vertical-align: middle;
	font-size: 1rem;
	font-weight: 400;
	background-color: #fff!important;
	border-radius: 2px;
	border: 1px solid #CACCD6;
}
.select2-video__result img {
	width: 70px;
	margin-right: 5px;
}
.select2-video__result {
	color: #36394d;
	font-size: 14px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.discard-sec {
	position: absolute;
	top: 27%;
	right: 36px;
	z-index: 9999;
	color: #000;
	font-size: 18px;
}
.video-search {
	background: #fff;
	border-radius: 4px;
	box-shadow: 0 4px 12px 0 rgb(0 0 0 / 25%);
	-webkit-box-shadow: 0 4px 12px 0 rgb(0 0 0 / 25%);
	margin-top: 4px;
}
.video-search-re {
	border-top: 1px solid #CACCD6;
	margin-top: 8px !important;
}
.select2-result-label {
	padding: 1rem 1rem;
}
.video-search-re li:hover {
	background: #f5f5f5;
}
.video-search-re li.select {
	background: #f4faff;
}
.accordion3 .card {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border: 0 !important;
}
.upload-info {
	padding: 20px 5px;
	border-top: 1px solid #CACCD6;
	display: flex;
	align-items: center;
}
.progress-bars {
	margin:10px auto 0 auto;
	padding:0;
	width:100%;
	height:10px;
	overflow:hidden;
	background:#e5e5e5;
	border-radius:6px;
}
.progress-bars .bar, .progress-bars .vdo_bar, .progress-bars .ado_bar, .progress-bars .bar_atch, .progress-bars .img_bar, .progress-bars .presado_bar {
	position:relative;
	float:left;
	min-width:1%;
	height:100%;
	background:#f84848;
}
.progress-bars .percent {
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
	margin:0;
	font-size:12px;
	color:white;
}
.video-pro-info {
	font-size: 14px;
	color: #36394d;
	width: calc(100% - 40px);
	padding-right: 40px;
}
.audio-pro-info {
	font-size: 14px;
	color: #36394d;
	width: 100%;
}
.video-pro-info p {
	margin-bottom:2px;
}
.progress-ul {
	margin-top: 15px !important;
}
.prs_img_section {
	display: flex;
	justify-content: center;
	align-items: center;
}
.prs_img_section img {
	width: 100%;
}
.dash-d.das-radio {
	float: left;
	margin: 10px 15px 0 0;
}
.das-radio input[type="radio"]:checked + label, .das-radio input[type="checkbox"]:checked + label {
	background: url(../images/checked.png)no-repeat;
}
.das-radio input[type="radio"] + label, .das-radio input[type="checkbox"] + label {
	text-align: left;
}
.das-radio input[type="radio"] + label, .das-radio input[type="checkbox"] + label {
	padding: 2px 0px 6px 24px;
	padding-right: 0;
	color: #6f6f6e;
	font-size: 15px;
	background: url(../images/check.png)no-repeat;
	margin-bottom: 0;
	background-position: left top 5px !important;
}
.das-radio input[type="radio"], .das-radio input[type="checkbox"] {
	display: none;
}
.header-area {
	position: fixed;
}
.course-wrap {
	height: 100%;
}
#main4 #faqnewst .card .card-header {
	margin-bottom: 0;
}
.new_cc_vedo {
	display: inline-block;
	width: 100%;
}
.new_cc_vedo .rightpannel_body_apart {
	min-height: auto;
}
.video_extras {
	width: 100%;
	display: inline-block;
	padding: 17px 0px;
}
.video_extras p {
	font-size: 13px;
}
.attachment {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #f7f7f7;
	border: 1px solid #6c757d;
	border-radius: 10px;
	padding: 30px;
	margin-top: 5px;
}
.attch_names {
	width: 65%;
}
.attch_names p {
	color: #000;
	font-size: 13px;
	margin: 0;
}
.attch_names span {
	color: grey;
	margin-top: 8px;
	display: inline-block;
	font-size: 11px;
}
.round_sec {
	width: 24px;
	height: 24px;
	background-color: #fff;
	border-radius: 50%;
	border: 3px solid #1781d2;
}
.round_sec_h {
	width: 24px;
	height: 24px;
	background-color: #1781d2;
	border-radius: 50%;
	border: 3px solid #1781d2;
}
.disable_btns {
	opacity: 0.7 !important;
	pointer-events: none !important;
	cursor: default !important;
}
.das-success label {
	border: 1px solid green !important;
}
.das-error label {
	border: 1px solid red !important;
}
.das-success.das-radio input[type="radio"] + label span.color-span, .das-success.das-radio input[type="checkbox"] + label span.color-span {
	background-color: green !important;
	color: white !important;
}
.das-error.das-radio input[type="radio"] + label span.color-span, .das-error.das-radio input[type="checkbox"] + label span.color-span {
	background-color: red !important;
	color: white !important;
}
.button--primary--disabled, .button--primary--disabled:hover {
	background-color: #1781d2;
	color: #fff;
	opacity: 0.7;
}
.pres_audios {
	width: 250px;
}
.righ_footer_odio {
	justify-content: space-between;
}
.pag_next li {
	display: inline-block;
}
.prv_bt {
	background: #fa4041 !important;
	border-color: #fa4041 !important;
	outline: none !important;
	padding: 3px 10px !important;
	font-size: 13px;
	border-width: 1px !important;
	color: white !important;
}
.prv_bt:hover {
	background: #000 !important;
	border-color: #000 !important;
	outline: none !important;
	border-width: 1px !important;
}
.pag_next span {
	font-size: 14px;
	display: inline-block;
	vertical-align: middle;
	padding: 0 10px;
}
.pag_next span a {
	color: #36394D;
}
.righ_footer_odio .pres_audios audio {
	height: 30px !important;
}
.prv_bt:focus, .prv_bt:hover {
	outline: 0 !important;
	box-shadow: none !important;
	border-width: 1px !important;
}
.dex_pagiph_pagi {
	display: none;
}
.active_lesson_view {
	background-image: linear-gradient(#dedede, #dedede, transparent);
}
.qz_qstn {
	display: flex;
}
.lesson-timer {
	float: left;
	margin-right: 10px;
}
.course-player__left-drawer {
	overflow-x: hidden;
}
.bottom_fxdd {
	width:calc(100% - 26rem);
}
