@media(max-width:1199px) {
    .guide-image {
    height: 193px;
   }
   .testi-dtls {
    width: 75.8%;
   }
    .wrapper {
    overflow: hidden;
   }
   .dshbrd-lftmnu {
    width: 27%;
   }
    .dshbrd-rghtcntn {
    width: 71%;
   }
    .dashmnu ul li a {
    font-size: 14px;
   }
    .all-search .guide-more ul li {
    padding: 0 11px 0 0px;
    width: calc(50% - 5px);
   }
    .all-search .guide-more ul li:last-child {
    padding: 0 0 0 0;
   }
    .all-search .guide-more ul li:first-child {
    margin-right: 10px;
   }
    .all-search .guide-intro h3 {
    font-size: 15px;
   }
    .all-search .guide-intro p {
    font-size: 13px;
    margin: 4px 0 0;
    float: left;
    width: 100%;
   }
    .all-search .guide-btn {
    font-size: 12px;
    padding: 8px 5px;
   }
    .lfttbvrsn ul li {
    padding: 0 14px 10px 14px;
   }
    .rtsidebtn ul li a {
    padding: 11px 7px;
    font-size: 14px;
   }
    .msg_details {
    margin-left: 2%;
    width: 89%;
   }
    .msg_list_pa .right-options {
    width: 39%;
   }
    .blog-image {
    width: 279px;
    height: 156px;
   }
    .blog-dtls h4 {
    font-size: 17px;
   }
    .blog-dtls p {
    font-size: 14px;
    margin-bottom: 10px;
   }
    .blog-more {
    font-size: 12px;
    padding: 8px 15px;
    border-radius: 2px;
   }
    .review {
    padding-left: 17px;
    padding-top: 7px;
   }
    .blog-categori h3 {
    font-size: 17px;
   }
    .catte-ul li a {
    font-size: 14px;
   }
    .details-right .blog-image {
    height: 320px;
   }
    .blog-profile .guide-btn {
    font-size: 11px;
   }
    .blog-profile .guide-image {
    height: 185px;
   }
    .guide-intro ul {
    float: left;
   }
    .rtpnlfld {
    width: 72%;
   }
    .file_div123 {
    width: 38% !important;
   }
    .static {
    left: 68%;
   }
    .competencestools li {
    width: 100%;
    margin-right: 0px;
   }
    .reply-btns, .close-chat {
    font-size: 14px;
    padding: 10px 5px;
   }
    div#video_player {
    margin-top: 150px !important;
    max-width: 70%;
    margin: 0 auto;
    background-color: transparent !important;
    padding-top: 20px !important;
    height: 400px !important;
    margin-bottom: 50px !important;
   }
    .lfttbvrsn ul li a p {
    line-height: 17px;
    font-size: 13px;
   }
    .lfttbvrsn {
    width: 51%;
   }
    .rtsidebtn {
    width: 49%;
   }
    .lfttbvrsn ul li {
    padding: 0 0px 10px 14px;
   }
    .adjusttr_rmm01 .image_resize {
    height: 110px;
   }
    .header-area {
   padding: 6px 0px;
   }
   .ffffffffff{
       margin-bottom: 15px;
   }
   }
   /*1199*/

   @media(max-width:991px) {
    .header-area .navbar-brand img {
    width: 150px;
   }
    .become {
    font-size: 15px;
    margin-right: 17px;
   }
    .login-btn,  .submit-btn {
    font-size: 15px;
   }
    .header-area {
    padding: 15px 0px;
   }
    .banner-contant h1 {
    font-size: 35px;
   }
    .banner-contant p {
    font-size: 15px;
   }
    .banner-contant p br {
    display: none;
   }
    .form_custom {
    width: 600px;
   }
    .all-work .col-sm-12 {
    padding: 0 11px !important;
   }
    .page-h2 h2 {
    font-size: 24px;
   }
    .page-h2 p {
    font-size: 13px;
    line-height: 19px;
    padding-bottom: 16px;
   }
    .work-box span {
    font-size: 17px;
   }
    .categori-box p {
    font-size: 16px;
   }
    .expart-banner h2 {
    font-size: 40px;
    margin-bottom: 18px;
   }
    .expart-banner p {
    font-size: 14px;
    padding-bottom: 6px;
   }
    .expart-banner a {
    padding: 8px 44px;
    font-size: 15px;
   }
    .dif-detls h2 {
    font-size: 30px;
    padding-bottom: 4px;
   }
    .dif-detls p {
    font-size: 14px;
   }
    .dif-detls ul li {
    width: 100%;
    padding-right: 0;
   }
    .dif-detls ul li span {
    width: 48px;
    min-height: 85px;
   }
    .dif-detls ul li h6 {
    font-size: 15px;
    margin-bottom: 6px;
   }
    .learn-btn {
    font-size: 15px;
    height: 46px;
    padding: 0 40px;
    line-height: 47px;
   }
    .testimonial-area .page-h2 h2 {
    font-size: 24px;
   }
    .testimonial-area .page-h2 p {
    font-size: 14px;
   }
    .fot-box ul {
    width: 50%;
    margin-right: 0% !important;
    border-right: none;
   }
    .fot-box {
    margin-bottom: 20px;
   }
    .below-footer {
    padding: 20px 0;
   }
    .main-login {
    width: 600px;
   }
    .main-login h2 {
    font-size: 26px;
    font-weight: 500;
    margin-bottom: 20px;
   }
    .white-div {
    padding: 22px;
   }
    .login-type {
    height: 55px;
    font-size: 15px;
   }
    .checkbox-group label,  .login_forgot {
    font-size: 15px;
   }
    .or-main {
    width: 400px;
   }
   .only_shawo {
    display: none !important;
   }
    .tab_head_sheet_1 {
    padding: 10px;
    height: auto;
    display: initial !important;
    float: left;
    width: 100% !important;
   }
    .W55_1 {
    display: inline-block;
    width: 50%;
    float: left;
    font-size: 15px;
    color: #007cc2;
   }
    .tab_head_sheet_1 p {
    width: 50%;
    float: right;
   }
    .tab_head_sheet_1 p {
    font-size: 14px;
   }
    .acpt {
    padding: 2px 3px;
    font-size: 13px;
   }
    .rjct {
    padding: 2px 3px;
    font-size: 13px;
   }
    .dshbrd-lftmnu {
    width: 37%;
   }
    .dshbrd-rghtcntn {
    width: 61%;
   }
    .frmfld {
    width: 46%;
    margin-right: 2%;
   }
    .one-type {
    width: 48%;
    margin: 1%;
   }
    .tow-type {
    width: 48%;
    margin: 1%;
   }
    .three-type {
    float: left;
    width: 98%;
    margin: 1%;
   }
    .srchpgi {
    padding-right: 10px;
    margin-bottom: 0;
   }
    .srtby {
    margin-bottom: 10px;
   }
    .pagination {
    margin-bottom: 10px;
   }
    .lfttbvrsn {
    width: 100%;
    margin-bottom: 15px;
   }
    .lfttbvrsn ul li {
    float: none;
    display: inline-block;
   }
    .lfttbvrsn ul {
    text-align: center;
   }
    .rtsidebtn {
    width: 100%;
    float: none;
    text-align: center;
    margin-bottom: 10px;
   }
    .rtsidebtn ul {
    float: none;
   }
    .porflabt {
    margin-bottom: 15px;
   }
    .pra {
    font-size: 14px;
    line-height: 22px;
   }
    .avll {
    position: relative;
    float: right;
    top: 43px;
   }
    .avll p {
    font-size: 14px;
   }
    .avll p img {
    max-width: 28px;
   }
    .msg_list_pa .right-options {
    width: 57%;
   }
    .msg_details {
    width: auto;
    overflow: hidden;
    float: none;
    margin-left: 0;
    padding-left: 10px;
   }
    .right-options {
    width: 69%;
   }
    .blog-image {
    width: 100%;
   }
    .blog-dtls {
    float: left;
    width: 100%;
    padding-left: 0;
    margin-top: 15px;
   }
    .blog-head h2 {
    font-size: 24px;
   }
    .review li:last-child {
    margin: 0px;
   }
    .details-right .blog-image {
    height: 202px;
    margin: 5px 0;
   }
    .prev-next ul {
    width: 100%;
    margin-bottom: 10px !important;
   }
    .prev-next {
    padding: 8px 0;
   }
    .blog-commants h3 {
    font-size: 18px;
   }
    .commant-div .blog-post {
    padding-left: 0;
    margin: 0px !important;
   }
    .prev-next {
    text-align: left;
   }
    .prev-next a {
    padding: 5px 10px;
    display: inline-block;
   }
    .rem-pro {
    top: 12px;
    right: 8px;
    font-size: 12px;
    padding: 6px 10px 5px 10px;
   }
    .bkng-hstrybdy h2 {
    font-size: 28px;
    padding-bottom: 16px;
   }
    .all-sub ul li {
    width: 33.33%;
   }
    .weicome h3 {
    font-size: 19px;
   }
    .dash_main ul li span {
    width: 55px;
    height: 55px;
    line-height: 55px;
   }
    .dash_main ul li {
    padding: 8px 10px;
   }
    .dash_main ul li h4 {
    font-size: 17px;
    margin-bottom: 5px;
    margin-top: 4px;
   }
    .dash_main ul li h3 {
    font-size: 20px;
   }
    .up-class {
    font-size: 17px;
   }
    .dash_main ul li span img {
    width: 33px;
   }
    .about-body {
    padding: 40px 0;
   }
    .abut_page h2 {
    font-size: 28px;
   }
    .abut_contnt h4 {
    font-size: 19px;
   }
    .bitt h5 {
    font-size: 22px;
    margin-bottom: 4px;
   }
    .rtpnlfld {
    width: 100%;
   }
    .day_name {
    margin-bottom: 0px;
   }
    .hdn {
    display: none;
   }
    .file_div123 {
    width: 37% !important;
   }
    .fc-day {
    padding: 15px 7px !important;
    font-size: 13px;
   }
    .fc-day-number {
    margin-right: 6px;
    font-size: 11px;
   }
    .static {
    position: relative;
    top: 14px;
    right: auto;
    z-index: 99;
    left: 0;
   }
    .pro-dls h2 {
    font-size: 22px;
   }
    .pro-dls h4 {
    font-size: 17px;
   }
    .pro-btns {
    padding: 7px 19px;
    font-size: 14px;
   }
    .pro-dls p {
    line-height: 20px;
   }
    .seller-descriptions {
    width: 83%;
   }
    .seller-descriptions h2 {
    font-size: 16px;
   }
    .left-list {
    width: 100%;
    margin-bottom: 35px;
    border-bottom: 1px solid #ccc;
   }
    .all-chat-lists {
    height: 180px;
   }
    .right-profle {
    width: 100%;
    border-top: 1px solid #ccc;
   }
    .media-body h5 {
    font-size: 16px;
   }
    .mobile_filter {
    display: block;
   }
    .left-list {
    display: none;
   }
    .chat-holders {
    padding: 3px 6px;
   }
    .holder-image {
    width: 30px;
    height: 30px;
    margin: 6px 5px 0px 0;
   }
    .chat-holders h4 {
    font-size: 14px;
    margin-bottom: 0px;
   }
    .chat-holders p {
    font-size: 13px;
    float: left;
    margin-top: -3px;
   }
    .common-top {
    padding: 5px;
    height: auto;
   }
    .common-top h4 {
    font-size: 15px;
    margin-bottom: 4px;
   }
    .all-conversation {
    height: 220px;
   }
    .attachedd-type {
    min-height: auto;
    padding: 5px 5px 5px 5px;
   }
    .message-pagbody {
    padding: 16px 0;
   }
    div#video_player {
    margin-top: 110px !important;
    max-width: 95%;
    height: 450px !important;
    margin-bottom: 25px !important;
   }
    .mmt_rmtopp02 {
    margin-top: 0 !important;
   }
    .lfttbvrsn ul li {
    float: left !important;
   }
    .product_dates {
    font-size: 12px;
   }

   .cart_left {
    width: 100%;
   }
    .cart_right {
    width: 100%;
    padding: 0;
    margin-top: 10px;
   }
    .cart_sec {
    padding: 20px 0;
   }
    .adjusttr_rmm01 .image_resize {
    height: 80px;
   }
    .adjusttr_rmm01 .product-dtls {
    min-height: 192px;
   }
    .product-btn {
    font-size: 13px;
    padding: 8px 8px;
   }
    .after_login_nav .one-lins {
   color: #fff;
   }
    .after_login_nav .one-lins:hover {
   color: #fa4041
   }
    .menu_dash p {
   padding-left: 0;
   }
    .menu_dash p .fa {
   margin: 2px 0 0 10px;
   }
    .dropdown_dash {
   top: 100%;
   }
   }

   /*991*/



   @media(max-width:767px) {
    .become {
    margin-right: 10px;
   }
    .become img {
    display: none;
   }
    .banner-area {
    min-height: 100px;
    padding: 40px 0;
   }
    .banner-contant h1 {
    font-size: 23px;
    margin-bottom: 10px;
   }
    .work-box {
    padding: 20px 0 15px 0;
   }
    .view-all {
    margin-top: 0;
    font-size: 14px;
    height: 42px;
    line-height: 43px;
   }
    .product-area .owl-prev {
    margin-left: 0px !important;
   }
    .product-area .owl-next {
    margin-right: 0px !important;
   }
    .product-area .owl-nav {
    margin: 0px !important;
   }
    .expart-banner {
    padding: 40px 0;
   }
    .expart-banner h2 {
    font-size: 30px;
    margin-bottom: 14px;
   }
    .differ-image {
    display: none;
   }
    .fot-box h3 {
    font-size: 18px;
    margin-bottom: 6px;
   }
    .form_custom {
    width: 480px;
   }
    .right-white {
    display: none;
   }
    .guidance-area .owl-prev {
    margin-left: 0px !important;
   }
    .guidance-area .owl-next {
    margin-right: 0px !important;
   }
    .guidance-area .owl-nav {
    margin: 0px !important;
   }
    .login-body {
    padding: 45px 0;
   }
    .user-div a {
    font-size: 14px;
    margin: 0 2px;
   }
    .user-div {
    margin-top: 12px;
   }
    .main-login {
    width: 450px;
   }
    .or-main {
    width: 270px;
   }
    .header-area {
    padding: 10px;
    position: relative;
   }
    .header-area .navbar-collapse {
    position: absolute;
    top: 47px;
    background: rgba(0, 0, 0, 0.8) none repeat scroll 0% 0%;
    width: 100%;
    padding: 10px;
    z-index: 9;
   }
    .header-area .navbar-toggler {
    border: none;
   }
    .become {
    margin-right: 0;
    width: 100%;
    float: left;
    color: #fff;
   }
    .login-btn,  .submit-btn {
    font-size: 15px;
    padding: 0;
    border: none;
    color: #fff;
    width: 100%;
    float: left;
   }
    .become:hover,  .login-btn:hover,  .submit-btn:hover {
    color: #fa4041;
    background: none;
   }
    .expart-signup p {
    font-size: 15px;
    margin-bottom: 17px;
   }
    .top-white,  .mid-light {
    padding: 25px 65px 19px 65px;
   }
    .mid-light .form-group {
    width: 37%;
   }

       .dshbrd-lftmnu {
    width: 100%;
    display: none;
   }
    .dshbrd-rghtcntn {
    width: 100%;
    padding-top: 15px;
   }
    .dashboard-type {
    height: 39px;
    font-size: 13px;
   }
    .search_label {
    font-size: 13px;
   }
    .banner_subb {
    font-size: 16px;
    padding: 7px 19px;
    margin-top: 24px;
   }
    .mobile_filter {
    display: block;
   }
    .bkng-hstrybdy h2 {
    font-size: 23px;
   }
    .bokcntnt-bdy {
    margin-top: 13px;
   }
    .dashboard_select {
    background: rgb(255, 255, 255) url("../images/drop-arw.png") no-repeat right 10px top 17px;
   }
    .rwmrgn {
    margin: 0 !important;
   }
    .search-white {
    margin-top: 0;
   }
    .pstn {
    top: 33px;
   }
    .rghtinoo .breadcrumb-item {
    font-size: 13px;
   }
    .boxed-list-item .item-description p {
    font-size: 13px;
   }
    .pra {
    font-size: 13px;
   }
    .pbdy-box h3 {
    font-size: 19px;
   }
    .boxed-list-item .item-content h4 a,  .boxed-list-item .item-content h4 {
    font-size: 15px;
   }
    .boxed-list-item .item-details .detail-item {
    font-size: 14px;
   }
    .star-rating::before {
    font-size: 12px;
   }
    .star-rating .star {
    padding: 4px 0 0;
    font-size: 13px;
   }
    .eductn-sec h5 {
    font-size: 15px;
    margin-bottom: 10px;
   }
    .eductn-sec li {
    font-size: 13px;
   }
    .eductn-sec li img {
    max-width: 14px;
   }
    .eductn-sec p {
    font-size: 13px;
    margin: 10px 0;
   }
    .pbdy-box {
    margin-bottom: 20px;
   }
    .skilsplty ul li {
    padding: 7px 15px;
    font-size: 13px;
   }
    .upupdwnpd .tab_head_sheet_1 {
    padding-top: 8px;
    padding-bottom: 8px;
   }
    .header-area .navbar-nav li {
    margin-bottom: 5px;
   }
    .personal-type {
    height: 41px;
    font-size: 14px;
   }
    .personal-label {
    font-size: 15px;
    margin-bottom: 2px;
   }
    .personal-type99 {
    font-size: 14px;
   }
    .dash_form_box h4 {
    font-size: 18px;
    margin: 11px 0 10px;
   }
    .login_submitt {
    font-size: 16px;
    height: 43px;
    padding: 4px 13px;
   }
    .right-options,  .right-options1 {
    margin-top: 7px;
    width: 100% !important;
    text-align: left;
   }
    .message_tab .nav-tabs li a {
    font-size: 15px !important;
   }
    .compose_btn {
    font-size: 13px;
    padding: 9px 13px;
   }
    .below_msg p {
    font-size: 13px;
    line-height: 20px;
   }
    .below_msg ul li {
    font-size: 13px;
   }
    .last_doc>p {
    margin-right: 14px !important;
    font-size: 15px;
   }
    .cus-book p br {
    display: none;
   }
    .one-lins {
    margin-right: 6px;
    width: auto;
    float: left;
    color: #454545;
   }
    .guide-intro ul {
    float: right;
   }
    .blog-profile .guide-btn {
    font-size: 12px;
   }
    .all-sub ul li {
    width: 50%;
    margin-bottom: 12px;
   }
    .main-categori span {
    width: 54px;
    height: 36px;
    margin-right: 10px;
   }
    .main-categori h4 {
    margin: 7px 0;
    font-size: 16px;
   }
    .accordion .link {
    font-size: 15px;
   }
    .about_image {
    margin: 0 0 14px 0;
    width: 100%;
   }
    .about_details {
    width: 100%;
   }
    .about_details h3 {
    font-size: 18px;
    line-height: 24px;
    float: left;
   }
    .make_who .about_image {
    margin: 0 0 10px 0;
    width: 100%;
   }
    .make_who .about_details {
    text-align: left;
    width: 100%;
   }
    .fc-button {
    padding: 0px 5px 5px 5px !important;
    height: 30px;
   }
    .fc-button .fc-icon {
    font-size: 18px !important;
   }
    .fc-toolbar>*> :not(:first-child) {
    margin-left: 5px !important;
   }
    .fc-button-primary:disabled {
    font-size: 13px !important;
    padding: 2px 5px !important;
   }
    #calendar .fc-center h2 {
    font-size: 17px;
   }
    .avll {
    top: 31px;
   }
    .fc-day {
    font-size: 11px;
   }
    .fc-day {
    padding: 15px 4px !important;
   }
    .header_bannerImgMain {
    height: 390px;
    padding: 30px 0px;
   }
    .pro-dl-image {
    height: 250px;
    margin-bottom: 15px;
   }
    .pro-dls h2 {
    font-size: 18px;
   }
    .seller-image {
    width: 85px;
   }
    .seller-image span {
    width: 75px;
    height: 75px;
   }
    div#video_player {
    margin-top: 110px !important;
    max-width: 95%;
    height: 360px !important;
    margin-bottom: 25px !important;
   }
    .lfttbvrsn ul li {
    width: 25%;
    margin: 7px 0;
   }
    .mmt_rmtopp02 {
    margin-top: 6px !important;
   }
    .copy-icon {
    top: 7px;
    right: 12px;
   }
    .cart_icon {
    padding-left: 0;
    position: absolute;
    right: 67px;
   }
    .adjusttr_rmm01 .price-and-more {
    position: relative;
   }
    .adjusttr_rmm01 .more_det {
    min-height: inherit;
    height: auto;
   }
    .adjusttr_rmm01 .product-dtls {
    min-height: inherit;
    height: auto;
   }
    .adjusttr_rmm01 .image_resize {
    height: 180px;
   }
   }
   /*767*/

   @media(min-width:767px) {
    .abut_contnt {
    flex-basis: 32%;
   }
    .abut_sec {
    display: flex;
    justify-content: space-between;
   }
   }
   /*767*/
   @media(max-width:575px) {
    .banner_item_form_Box {
    padding:0px 60px;
   }
    .header_bannerImgMain {
    min-height: 310px;
    padding: 60px 0;
   }
    .banner-contant {
    padding-top: 20px;
   }
    .form_custom {
    width: 100%;
   }
    .search-type {
    height: 34px;
    padding: 4px 88px 3px 30px;
   }
    .form_custom span {
    top: 4px;
   }
    .submit-search {
    padding: 8px 15px;
    font-size: 13px;
   }
    .product-area .page-h2 {
    padding: 0 10px;
   }
    .all-product {
    padding: 23px 20px 0 20px;
   }
    .guidance-area, .product_area  .testimonial-area {
    padding: 35px 0;
   }
    .banner-area {
    min-height: 100px;
    padding: 40px 0 0px 0;
   }
    .category .page-h2 {
    padding: 0 10px;
   }
    .all-categories {
    padding: 23px 10px 0 10px;
   }
    .guidance-area .page-h2 {
    padding: 0 10px;
   }
    .all-guidance {
    padding: 23px 20px 0 20px;
   }
    .all-testi {
    padding: 23px;
   }
    .top-footer {
    padding: 31px 10px 20px 10px;
   }
    .different-area {
    padding: 35px 0;
   }
    .dif-detls h2 {
    font-size: 24px;
    padding-bottom: 0px;
   }
    .dif-detls p {
    font-size: 14px;
    margin: 0;
   }
    .guidance-area, .product_area,  .testimonial-area {
    padding: 35px 0;
   }
    .testi-image-area {
    width: 93px;
   }
    .testi-image-area span {
    width: 65px;
    height: 65px;
   }
    .testi-dtls h4 {
    font-size: 17px;
   }
    .all-testi {
    padding: 18px;
    padding-bottom: 0px;
   }
    .testimonial-area .page-h2 {
    padding: 0 6px;
   }
    .below-footer {
    padding: 15px 0;
   }
    .below-footer p {
    font-size: 14px;
   }
    .category {
    padding: 35px 0;
   }
    .categori-box p {
    font-size: 15px;
    padding: 8px;
   }
    .main-login {
    width: 365px;
   }
    .login-type {
    height: 48px;
    font-size: 14px;
   }
    .checkbox-group label .box {
    width: 18px;
    height: 18px;
   }
    .checkbox-group label .check {
    top: 5px;
    left: 6px;
    height: 12px;
   }
    .checkbox-group label,  .login_forgot {
    font-size: 14px;
    line-height: 19px;
   }
    .checkbox-group label {
    padding-left: 25px;
   }
    .or-main {
    width: 206px;
    margin-top: 34px;
   }
    .login-social {
    margin: 30px 0 10px 0;
   }
    .login-social img {
    margin: 0 0px;
    width: 117px;
   }
    .login_submit1 {
    font-size: 15px;
    padding: 5px 35px;
   }
    .user-div a {
    padding: 6px 12px;
   }
    .below-white p {
    font-size: 15px;
   }
    .login-body {
    padding: 25px 0;
   }
    .main-login h2 {
    font-size: 20px;
    margin-bottom: 11px;
   }
    .signup-page .login_submit1 {
    padding: 6px 24px;
   }
    .signup-page .login-social {
    margin: 7px 0 10px 0;
   }
    .already {
    font-size: 14px;
   }
    .top-white,  .mid-light {
    padding: 25px 45px 19px 45px;
   }
    .mid-light .form-group {
    width: 36%;
   }
    .expart-signup .login-social img {
    margin: 0 0 10px 0;
    width: 100%;
   }
    .bkng-hstrybdy {
    padding: 22px 0 30px;
   }
    .bkng-hstrybdy h2 {
    font-size: 20px;
    padding-bottom: 12px;
   }
    .prlpic {
    width: 90px;
    height: 90px;
   }
    .prlpic img {
    width: 100%;
   }
    .jbinfo {
    margin-top: 0;
   }
    .jbinfo ul li span {
    font-size: 14px;
    margin-bottom: 2px;
   }
    .jbinfo ul li p {
    font-size: 14px;
   }
    .rtsidebtn ul li {
    margin: 3px;
   }
    .rtsidebtn ul li a {
    padding: 8px 7px;
    font-size: 14px;
    margin: 0;
   }
    .shre {
    width: 38px;
    height: 38px;
    line-height: 18px;
   }
    .fc-button {
    padding: 1px 4px !important;
    font-size: 11px !important;
    line-height: 1.5;
   }
    .fc-toolbar h2 {
    font-size: 15px !important;
   }
    .jbinfo ul li {
    padding: 0 10px;
   }
    .prfldtl {
    padding-top: 9px;
   }
    .prfldtl h5 {
    font-size: 17px;
   }
    .prfldtl p {
    font-size: 13px;
   }
    .porflabt {
    float: none;
    max-width: 310px;
    margin: 0 auto;
    margin-bottom: 15px !important;
    display: block;
    overflow: hidden;
   }
    .prfil-info {
    padding: 20px 0 18px;
   }
    .pblcprfl-bdy {
    width: 100%;
    float: left;
    padding: 14px 0 0;
    background: #f0f2f3;
   }
    .main-form {
    margin-top: 0;
   }
    .usrdsp h3 {
    font-size: 16px;
   }
    .usrdsp h6 {
    font-size: 15px;
   }
    .usrdsp p {
    font-size: 12px;
   }
    .usrdsp {
    overflow: hidden;
    padding-left: 12px;
   }
    .myusr {
    padding: 12px;
   }
    .usrdsp {
    padding-left: 0;
    width: 100%;
    padding-top: 15px;
   }
    .dash_form_box {
    padding: 0 8px;
   }
    .message_tab .nav-tabs li a {
    font-size: 15px !important;
    padding: 5px 6px !important;
   }
    .message_tab .nav-tabs li {
    margin-right: -2px !important;
   }
    .compose_btn {
    font-size: 13px;
    padding: 8px 7px;
   }
    .message_tab .tab-content {
    padding: 14px;
   }
    .last_doc>p {
    margin-right: 0 !important;
    font-size: 15px;
    width: 100%;
    float: left;
   }
    .below_msg p {
    float: left;
    width: 100%;
   }
    .reply_msg a {
    font-size: 13px;
   }
    .checkout-div {
    width: 400px;
   }
    .head-check h3 {
    font-size: 18px;
    margin-bottom: 4px;
   }
    .head-check p {
    font-size: 14px;
   }
    .left-check strong,  .right-check p {
    font-size: 14px;
    line-height: 28px;
   }
    .booking-div {
    padding: 15px;
   }
    .head-book span {
    margin-right: 10px;
   }
    .des-big h4 {
    font-size: 15px;
   }
    .des-big p {
    font-size: 13px;
   }
    .des-small {
    margin-left: 15px;
   }
    .des-small h5 {
    font-size: 14px;
   }
    .des-small p {
    font-size: 13px;
   }
    .abut_page,  .abthstry {
    padding: 0 10px;
   }
    .abut_page h2 {
    font-size: 23px;
   }
    .bitt h5 {
    font-size: 20px;
    margin-bottom: 4px;
   }
    .bitt p {
    font-size: 14px;
    line-height: 21px;
   }
    .abut_page p {
    font-size: 14px;
   }
    .day_name .checkbox-group label .check {
    top: 15px;
   }
    .modlwdth {
    max-width: 96% !important;
    margin-top: 10px !important;
   }
    .wbcmp {
    width: 28px;
   }
    .modal-title {
    font-size: 18px;
   }
    .coach_tools p strong {
    width: 100%;
   }
    .seller-descriptions {
    width: 100%;
    margin-top: 10px;
   }
    .message-pagbody {
    padding: 14px 8px;
   }
    .mobile_filter {
    min-height: 37px;
    padding: 5px;
   }
    .common-top p {
    font-size: 12px;
   }
    .close-chat {
    font-size: 12px;
    padding: 6px 8px;
   }
    div#video_player {
    margin-top: 110px !important;
    max-width: 95%;
    height: 260px !important;
    margin-bottom: 25px !important;
   }
    .lfttbvrsn ul li {
    width: 24%;
    margin: 7px 0;
   }
   }

   /*575*/

   @media(max-width:500px) {
    .avll {
    top: 0;
   }
    #calendar .fc-center {
    width: auto;
    float: left;
   }
    .fc-day-header span {
    font-size: 13px;
   }

   .fc-day {
    padding: 15px 0px !important;
    text-align: center;
   }
    .view-page p strong {
    width: auto;
    margin-right: 10px;
   }
    .rwmrgn {
    margin: 0 !important;
   }
    .pymtinfo strong {
    width: 120px;
    font-size: 14px;
   }
    .pymtinfo p {
    font-size: 14px;
   }
    .pymtbox input[type="text"] {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 14px;
   }
    .pymtboxslct {
    height: 40px;
    font-size: 13px;
   }
    .pymnt-check a {
    font-size: 15px;
    padding: 8px 10px;
   }
    .pymtbox h3 {
    font-size: 21px;
   }
    .pymtbox {
    padding: 17px 24px;
   }
    .pymtinfo {
    padding: 15px 12px;
   }
   }

   /*500*/

   @media(max-width:480px) {
    svg {
    width: 254px;
   }
    .header_bannerImgMain {
    padding: 30px 0px;
   }
    .common-top h4 {
    font-size: 16px;;
   }
    .common-top p {
    font-size: 13px;
   }
    .messsage_heading {
    width:70%;
    float: left;
   }
    .button_div {
    width: 29%;
   }
    .video_div iframe {
   height: 216px !important;
   }
    .lfttbvrsn ul li {
    width: 32%;
    margin: 7px 0;
   }
    .lfttbvrsn ul li {
    float: none !important;
   }
   }
    @media(max-width:431px) {
    .lfttbvrsn ul li {
    float: left !important;
   }
    .devideted {
    display:block;
    height:1px;
    width:100%;
    overflow:hidden;
   }
   }
    @media(max-width:450px) {
   .form_custom {
    width: 100%;
    padding: 5px;
   }
    .search-type {
    height: 34px;
    padding: 3px 71px 3px 26px;
    font-size: 14px;
   }
    .form_custom span img {
    width: 14px;
   }
    .form_custom span {
    top: 0px;
    left: 8px;
   }
    .submit-search {
    padding: 8px 11px;
    font-size: 14px;
    top: 4px;
    right: 4px;
   }
    .expart-banner {
    padding: 25px 7px;
   }
    .expart-banner h2 {
    font-size: 24px;
    margin-bottom: 10px;
   }
    .learn-btn {
    font-size: 13px;
    height: 41px;
    padding: 0 30px;
    line-height: 41px;
   }
    .testi-image-area span {
    width: 50px;
    height: 50px;
   }
    .testi-image-area {
    width: 70px;
    padding: 9px;
   }
    .banner-area {
    min-height: 90px;
    padding: 30px 5px 0px 5px;
   }
    .pbdy-box h3 {
    font-size: 17px;
   }
    .rtsidebtn ul li a {
    font-size: 12px;
   }
    .fc-unthemed th,  .fc-unthemed td,  .fc-unthemed thead,  .fc-unthemed tbody,  .fc-unthemed .fc-divider,  .fc-unthemed .fc-row,  .fc-unthemed .fc-content,  .fc-unthemed .fc-popover,  .fc-unthemed .fc-list-view,  .fc-unthemed .fc-list-heading td {
    font-size: 12px;
   }
    .prlpic {
    width: 76px;
    height: 76px;
   }
    .rghtinoo .rtd::after {
    display: none;
   }
    .rghtinoo .breadcrumb {
    padding: 7px 10px;
   }
    .lfttbvrsn ul li a {
    font-size: 14px;
   }
    .msg_details {
    width: 100%;
    padding-left: 0;
    padding-top: 10px;
   }
    .msg_list_pa .msg_details p {
    font-size: 13px;
    line-height: 19px;
   }
    .right-options .mail_date {
    font-size: 13px;
   }
    .top_msg p {
    font-size: 14px !important;
    margin-bottom: 8px !important;
   }
    .right-check,  .left-check {
    padding: 10px;
   }
    .head-book span {
    width: 45px;
    height: 46px;
   }
    .booking-div {
    padding: 10px;
   }
    .des-small {
    margin-left: 10px;
   }
    .blog-box {
    padding: 10px;
   }
    .details-right .blog-image {
    height: 150px;
   }
    .all-sub ul li {
    width: 100%;
   }
    .bitt img {
    width: 100%;
    margin: 0 0 10px 0;
   }
    .competencestools li strong {
    width: 82%;
   }
    .competencestools li span {
    width: 18%;
    margin: 0px;
   }
    div#video_player {
    margin-top: 110px !important;
    max-width: 95%;
    height: 200px !important;
    margin-bottom: 25px !important;
   }
   }

   /*450*/

   @media(max-width:420px) {
    .dash_main ul li {
    width: 100%;
    margin-right: 0px;
   }
   }

   /*420*/

   @media(max-width:400px) {
    .banner-contant h1 {
    font-size: 18px;
    margin-bottom: 10px;
   }
    .banner-contant p {
    font-size: 14px;
    margin-bottom: 23px;
   }
    .main-login {
    width: 300px;
   }
    .white-div {
    padding: 13px;
   }
    .white-div .from-group {
    margin-bottom: 10px;
   }
    .login-type {
    height: 40px;
    font-size: 13px;
    padding: 5px 11px;
   }
    .login_forgot {
    width: 100%;
    float: left;
    text-align: left;
   }
    .top-white,  .mid-light {
    padding: 10px 15px 10px 15px;
   }
    .mid-light a {
    padding: 11px 10px;
    font-size: 16px;
   }
    .pagination a {
    padding: 3px 8px;
    font-size: 12px;
   }
    .result-type {
    height: 40px;
    font-size: 12px;
    padding: 8px 6px;
   }
    .search-label {
    font-size: 13px;
   }
    .header-area .navbar-brand img {
    width: 132px;
   }
    .uu_roundd {
    height: 34px;
    width: 34px;
   }
    .menu_dash p {
    font-size: 13px;
    padding-left: 8px;
   }
    .noticon span {
    height: 23px;
    width: 23px;
    font-size: 11px;
    line-height: 22px;
   }
    .alertt {
    margin: 12px 10px 0 0;
   }
    .file_div123 {
    width: 48% !important;
    margin-right: 2%;
   }
    .file_div123:last-child {
    margin-right: 0 !important;
   }
    .banner_item_form_Box {
    padding: 0px 25px;
   }
    div#video_player {
    margin-top: 110px !important;
    max-width: 95%;
    height: 180px !important;
    margin-bottom: 25px !important;
   }
    .one-type {
    width: 99%;
   }
    .et_pb_text_0 h1 {
   font-size: 22px;
   }
   }
   /*400*/
   @media(max-width:360px) {
    .message_tab .nav-tabs li a {
    font-size: 13px !important;
    padding: 5px 4px !important;
   }
    .compose_btn {
    font-size: 11px;
    padding: 8px 4px;
   }
    .bkng-hstrybdy {
    padding: 22px 0 10px;
   }
    .left-check strong,  .right-check p {
    font-size: 13px;
    line-height: 25px;
   }
    .last-check a {
    font-size: 13px;
   }
    div#video_player {
    margin-top: 110px !important;
    max-width: 95%;
    height: 160px !important;
    margin-bottom: 25px !important;
   }
   }
    @media(max-width:340px) {
    .header-area {
    padding: 4px 7px;
   }
    .header-area .navbar-collapse {
    top: 41px;
   }
    .testi-dtls {
    width: 74%;
   }
    .modal-title {
    font-size: 16px;
   }
    .wbcmp {
    width: 25px;
   }
    .modal-header {
    padding: 10px;
   }
   }
   /*340*/

   @media (min-width: 992px) {
    .modal-lg {
    max-width: 500px !important;
   }
   }
   /*23-06-2021*/



   @media(max-width:1199px) {
    .guide-image {
    height: 193px;
   }
   .testi-dtls {
    width: 75.8%;
   }

       .dshbrd-lftmnu {
    width: 27%;
   }
    .dshbrd-rghtcntn {
    width: 71%;
   }
    .dashmnu ul li a {
    font-size: 14px;
   }
    .all-search .guide-more ul li {
    padding: 0 11px 0 0px;
    width: calc(50% - 5px);
   }
    .all-search .guide-more ul li:last-child {
    padding: 0 0 0 0;
   }
    .all-search .guide-more ul li:first-child {
    margin-right: 10px;
   }
    .all-search .guide-intro h3 {
    font-size: 15px;
   }
    .all-search .guide-intro p {
    font-size: 13px;
    margin: 4px 0 0;
    float: left;
    width: 100%;
   }
    .all-search .guide-btn {
    font-size: 12px;
    padding: 8px 5px;
   }
    .lfttbvrsn ul li {
    padding: 0 14px 10px 14px;
   }
    .rtsidebtn ul li a {
    padding: 11px 7px;
    font-size: 14px;
   }
    .msg_details {
    margin-left: 2%;
    width: 89%;
   }
    .msg_list_pa .right-options {
    width: 39%;
   }
    .blog-image {
    width: 279px;
    height: 156px;
   }
    .blog-dtls h4 {
    font-size: 17px;
   }
    .blog-dtls p {
    font-size: 14px;
    margin-bottom: 10px;
   }
    .blog-more {
    font-size: 12px;
    padding: 8px 15px;
    border-radius: 2px;
   }
    .review {
    padding-left: 17px;
    padding-top: 7px;
   }
    .blog-categori h3 {
    font-size: 17px;
   }
    .catte-ul li a {
    font-size: 14px;
   }
    .details-right .blog-image {
    height: 320px;
   }
    .blog-profile .guide-btn {
    font-size: 11px;
   }
    .blog-profile .guide-image {
    height: 185px;
   }
    .guide-intro ul {
    float: left;
   }
    .rtpnlfld {
    width: 72%;
   }
    .file_div123 {
    width: 38% !important;
   }
    .static {
    left: 68%;
   }
    .competencestools li {
    width: 100%;
    margin-right: 0px;
   }
    .reply-btns, .close-chat {
    font-size: 14px;
    padding: 10px 5px;
   }
    div#video_player {
    margin-top: 150px !important;
    max-width: 70%;
    margin: 0 auto;
    background-color: transparent !important;
    padding-top: 20px !important;
    height: 400px !important;
    margin-bottom: 50px !important;
   }
    .lfttbvrsn ul li a p {
    line-height: 17px;
    font-size: 13px;
   }
    .lfttbvrsn {
    width: 51%;
   }
    .rtsidebtn {
    width: 49%;
   }
    .lfttbvrsn ul li {
    padding: 0 0px 10px 14px;
   }
    .product_left_panel {
    width: calc(65% - 20px);
    margin-right: 20px;
   }
    .product_right_panel {
    width: 35%;
   }
    .topic_heading ul {
    margin-bottom: 5px !important;
   }
    .prod_heading {
    font-size: 22px;
    line-height: 30px;
    margin-bottom: 7px;
   }
    .pro_para {
    font-size: 16px;
    line-height: 23px;
   }
    .btn_div ul li a {
    font-size: 14px;
    padding: 0.4rem .7rem;
   }
    .creat {
    font-size: 15px;
   }
    .what_list li {
    width: calc(100% - 0px);
    margin-right: 0px;
    line-height: 22px;
    margin-bottom: 4px;
    font-size: 14px;
   }
    .what_list li img {
    margin-right: 5px;
    width: 14px;
   }
    .course_details {
    margin-top: 20px;
   }
    .what_sec h2, .course_details h2 {
    font-size: 20px;
    margin-bottom: 8px;
   }
    .accordian-faq .card .card-header .btn-header-link ul {
    display: none;
   }
    .accordian-faq .card .card-header .btn-header-link p {
    font-size: 14px;
   }
    .review_left {
    width: 30%;
    padding: 0;
   }
    .review_box {
    align-items: inherit;
   }
    .review_left b {
    font-size: 30px;
   }
    .review_left li i {
    margin: -1px 1px;
    font-size: 15px;
   }
    .review_left ul {
    margin-left: 8px !important;
   }
    .review_left strong {
    font-size: 14px;
    margin-top: 0px;
    margin-left: 8px;
   }
    .review_right {
    margin-left: 0;
   }
    .star_ul li i {
    margin-right: 3px;
    font-size: 11px;
   }
    .review_right b {
    font-size: 13px;
   }
    .review_right .progress {
    width: 250px;
    height: 5px;
   }
    .review_right li {
    margin-top: 0;
   }
    .review_right ul {
    margin-bottom: 10px !important;
   }
    .inst_selct, .form-control.next-search, button.btn.btn-success.ser-img, button.btn.btn-success.ser-img:active {
    height: 42px;
    margin-bottom: 8px;
   }
    .rev_img {
    width: 35px;
    height: 35px;
    margin-right: 10px;
   }
    .review_sec_con {
    margin-top: 10px;
   }
    .price_list {
    padding: 10px 10px;
   }
    .re_price {
    font-size: 20px;
   }
    .dis_price {
    font-size: 14px;
   }
    .solid_btn, .out_btn {
    padding: 7px 0px;
    margin-bottom: 8px;
    font-size: 16px;
   }
    .login-btn {
   padding: 3.1px 9px;
   font-size: 12px;
   }
    .submit-btn {
   padding: 2px 7px;
   font-size: 14px;
   }
    .become {
   font-size: 14px;
   }
    .cart_icon {
    padding-right: 10px;
   }
    .become {
   margin-right: 14px;
   }
    .become img {
    width: 18px;
    margin-top: 4px;
   }
    .header-area .container {
   width: 100%;
    max-width: 100%;
   }
    .header-area {
    padding: 6px 13px;
   }
    .after_login_nav .one-lins {
   margin-top: 0;
   }
    .after_login_nav .become img {
   margin-top: 3px;
   }
   }
   /*1199*/



   @media (min-width: 768px) {
    .modal-dialog {
    max-width: 600px !important;
    margin: 30px auto;
   }
   }
    @media(max-width:991px) {
    .header-area .navbar-brand img {
    width: 150px;
   }
    .become {
    font-size: 15px;
    margin-right: 17px;
   }
    .login-btn,  .submit-btn {
    font-size: 15px;
   }
    .header-area {
    padding: 15px 0px;
   }
    .banner-contant h1 {
    font-size: 35px;
   }
    .banner-contant p {
    font-size: 15px;
   }
    .banner-contant p br {
    display: none;
   }
    .form_custom {
    width: 600px;
   }
    .all-work .col-sm-12 {
    padding: 0 11px !important;
   }
    .page-h2 h2 {
    font-size: 24px;
   }
    .page-h2 p {
    font-size: 13px;
    line-height: 19px;
    padding-bottom: 16px;
   }
    .work-box span {
    font-size: 17px;
   }
    .categori-box p {
    font-size: 16px;
   }
    .expart-banner h2 {
    font-size: 40px;
    margin-bottom: 18px;
   }
    .expart-banner p {
    font-size: 14px;
    padding-bottom: 6px;
   }
    .expart-banner a {
    padding: 8px 44px;
    font-size: 15px;
   }
    .dif-detls h2 {
    font-size: 30px;
    padding-bottom: 4px;
   }
    .dif-detls p {
    font-size: 14px;
   }
    .dif-detls ul li {
    width: 100%;
    padding-right: 0;
   }
    .dif-detls ul li span {
    width: 48px;
    min-height: 85px;
   }
    .dif-detls ul li h6 {
    font-size: 15px;
    margin-bottom: 6px;
   }
    .learn-btn {
    font-size: 15px;
    height: 46px;
    padding: 0 40px;
    line-height: 47px;
   }
    .testimonial-area .page-h2 h2 {
    font-size: 24px;
   }
    .testimonial-area .page-h2 p {
    font-size: 14px;
   }
    .fot-box ul {
    width: 50%;
    margin-right: 0% !important;
    border-right: none;
   }
    .fot-box {
    margin-bottom: 20px;
   }
    .below-footer {
    padding: 20px 0;
   }
    .main-login {
    width: 600px;
   }
    .main-login h2 {
    font-size: 26px;
    font-weight: 500;
    margin-bottom: 20px;
   }
    .white-div {
    padding: 22px;
   }
    .login-type {
    height: 55px;
    font-size: 15px;
   }
    .checkbox-group label,  .login_forgot {
    font-size: 15px;
   }
    .or-main {
    width: 400px;
   }
   .only_shawo {
    display: none !important;
   }
    .tab_head_sheet_1 {
    padding: 10px;
    height: auto;
    display: initial !important;
    float: left;
    width: 100% !important;
   }
    .W55_1 {
    display: inline-block;
    width: 50%;
    float: left;
    font-size: 15px;
    color: #007cc2;
   }
    .tab_head_sheet_1 p {
    width: 50%;
    float: right;
   }
    .tab_head_sheet_1 p {
    font-size: 14px;
   }
    .acpt {
    padding: 2px 3px;
    font-size: 13px;
   }
    .rjct {
    padding: 2px 3px;
    font-size: 13px;
   }
    .dshbrd-lftmnu {
    width: 37%;
   }
    .dshbrd-rghtcntn {
    width: 61%;
   }
    .frmfld {
    width: 46%;
    margin-right: 2%;
   }
    .one-type {
    width: 48%;
    margin: 1%;
   }
    .tow-type {
    width: 48%;
    margin: 1%;
   }
    .three-type {
    float: left;
    width: 98%;
    margin: 1%;
   }
    .srchpgi {
    padding-right: 10px;
    margin-bottom: 0;
   }
    .srtby {
    margin-bottom: 10px;
   }
    .pagination {
    margin-bottom: 10px;
   }
    .lfttbvrsn {
    width: 100%;
    margin-bottom: 15px;
   }
    .lfttbvrsn ul li {
    float: none;
    display: inline-block;
   }
    .lfttbvrsn ul {
    text-align: center;
   }
    .rtsidebtn {
    width: 100%;
    float: none;
    text-align: center;
    margin-bottom: 10px;
   }
    .rtsidebtn ul {
    float: none;
   }
    .porflabt {
    margin-bottom: 15px;
   }
    .pra {
    font-size: 14px;
    line-height: 22px;
   }
    .avll {
    position: relative;
    float: right;
    top: 43px;
   }
    .avll p {
    font-size: 14px;
   }
    .avll p img {
    max-width: 28px;
   }
    .msg_list_pa .right-options {
    width: 57%;
   }
    .msg_details {
    width: auto;
    overflow: hidden;
    float: none;
    margin-left: 0;
    padding-left: 10px;
   }
    .right-options {
    width: 69%;
   }
    .blog-image {
    width: 100%;
   }
    .blog-dtls {
    float: left;
    width: 100%;
    padding-left: 0;
    margin-top: 15px;
   }
    .blog-head h2 {
    font-size: 24px;
   }
    .review li:last-child {
    margin: 0px;
   }
    .details-right .blog-image {
    height: 202px;
    margin: 5px 0;
   }
    .prev-next ul {
    width: 100%;
    margin-bottom: 10px !important;
   }
    .prev-next {
    padding: 8px 0;
   }
    .blog-commants h3 {
    font-size: 18px;
   }
    .commant-div .blog-post {
    padding-left: 0;
    margin: 0px !important;
   }
    .prev-next {
    text-align: left;
   }
    .prev-next a {
    padding: 5px 10px;
    display: inline-block;
   }
    .rem-pro {
    top: 12px;
    right: 8px;
    font-size: 12px;
    padding: 6px 10px 5px 10px;
   }
    .bkng-hstrybdy h2 {
    font-size: 28px;
    padding-bottom: 16px;
   }
    .all-sub ul li {
    width: 33.33%;
   }
    .weicome h3 {
    font-size: 19px;
   }
    .dash_main ul li span {
    width: 55px;
    height: 55px;
    line-height: 55px;
   }
    .dash_main ul li {
    padding: 8px 10px;
   }
    .dash_main ul li h4 {
    font-size: 17px;
    margin-bottom: 5px;
    margin-top: 4px;
   }
    .dash_main ul li h3 {
    font-size: 20px;
   }
    .up-class {
    font-size: 17px;
   }
    .dash_main ul li span img {
    width: 33px;
   }
    .about-body {
    padding: 40px 0;
   }
    .abut_page h2 {
    font-size: 28px;
   }
    .abut_contnt h4 {
    font-size: 19px;
   }
    .bitt h5 {
    font-size: 22px;
    margin-bottom: 4px;
   }
    .rtpnlfld {
    width: 100%;
   }
    .day_name {
    margin-bottom: 0px;
   }
    .hdn {
    display: none;
   }
    .file_div123 {
    width: 37% !important;
   }
    .fc-day {
    padding: 15px 7px !important;
    font-size: 13px;
   }
    .fc-day-number {
    margin-right: 6px;
    font-size: 11px;
   }
    .static {
    position: relative;
    top: 14px;
    right: auto;
    z-index: 99;
    left: 0;
   }
    .pro-dls h2 {
    font-size: 22px;
   }
    .pro-dls h4 {
    font-size: 17px;
   }
    .pro-btns {
    padding: 7px 19px;
    font-size: 14px;
   }
    .pro-dls p {
    line-height: 20px;
   }
    .seller-descriptions {
    width: 83%;
   }
    .seller-descriptions h2 {
    font-size: 16px;
   }
    .left-list {
    width: 100%;
    margin-bottom: 35px;
    border-bottom: 1px solid #ccc;
   }
    .all-chat-lists {
    height: 180px;
   }
    .right-profle {
    width: 100%;
    border-top: 1px solid #ccc;
   }
    .media-body h5 {
    font-size: 16px;
   }
    .mobile_filter {
    display: block;
   }
    .left-list {
    display: none;
   }
    .chat-holders {
    padding: 3px 6px;
   }
    .holder-image {
    width: 30px;
    height: 30px;
    margin: 6px 5px 0px 0;
   }
    .chat-holders h4 {
    font-size: 14px;
    margin-bottom: 0px;
   }
    .chat-holders p {
    font-size: 13px;
    float: left;
    margin-top: -3px;
   }
    .common-top {
    padding: 5px;
    height: auto;
   }
    .common-top h4 {
    font-size: 15px;
    margin-bottom: 4px;
   }
    .all-conversation {
    height: 220px;
   }
    .attachedd-type {
    min-height: auto;
    padding: 5px 5px 5px 5px;
   }
    .message-pagbody {
    padding: 16px 0;
   }
    div#video_player {
    margin-top: 110px !important;
    max-width: 95%;
    height: 450px !important;
    margin-bottom: 25px !important;
   }
    .mmt_rmtopp02 {
    margin-top: 0 !important;
   }
    .lfttbvrsn ul li {
    float: left !important;
   }
    .product_left_panel {
    width: calc(65% - 20px);
    margin-right: 20px;
   }
    .product_right_panel {
    width: 35%;
   }
    .topic_heading ul {
    margin-bottom: 5px !important;
   }
    .prod_heading {
    font-size: 22px;
    line-height: 30px;
    margin-bottom: 7px;
   }
    .pro_para {
    font-size: 16px;
    line-height: 23px;
   }
    .btn_div ul li a {
    font-size: 14px;
    padding: 0.4rem .7rem;
   }
    .creat {
    font-size: 15px;
   }
    .what_list li {
    width: calc(100% - 0px);
    margin-right: 0px;
    line-height: 22px;
    margin-bottom: 4px;
    font-size: 14px;
   }
    .what_list li img {
    margin-right: 5px;
    width: 14px;
   }
    .cou_list {
    display: block;
   }
    .course_details {
    margin-top: 20px;
   }
    .what_sec h2, .course_details h2 {
    font-size: 20px;
    margin-bottom: 8px;
   }
    .accordian-faq .card .card-header .btn-header-link ul {
    display: none;
   }
    .accordian-faq .card .card-header .btn-header-link p {
    font-size: 14px;
   }
    .review_left {
    padding: 0;
    display: flex;
    align-items: center;
   }
    .review_box {
    display: block;
   }
    .review_left, .review_right {
    width: 100%;
   }
    .review_left {
    padding: 0;
    display: flex;
    align-items: center;
   }
    .review_left b {
    font-size: 30px;
   }
    .review_left li i {
    margin: -1px 1px;
    font-size: 15px;
   }
    .review_left ul {
    margin-left: 8px !important;
   }
    .review_left strong {
    font-size: 14px;
    margin-top: 0px;
    margin-left: 8px;
   }
    .review_right {
    margin-left: 0;
   }
    .star_ul li i {
    margin-right: 3px;
    font-size: 11px;
   }
    .review_right b {
    font-size: 13px;
   }
    .review_right .progress {
    width: 250px;
    height: 5px;
   }
    .review_right li {
    margin-top: 0;
   }
    .review_right ul {
    margin-bottom: 10px !important;
   }
    .inst_selct, .form-control.next-search, button.btn.btn-success.ser-img, button.btn.btn-success.ser-img:active {
    height: 42px;
    margin-bottom: 8px;
   }
    .rev_img {
    width: 35px;
    height: 35px;
    margin-right: 10px;
   }
    .review_sec_con {
    margin-top: 10px;
   }
    .price_list {
    padding: 10px 10px;
   }
    .re_price {
    font-size: 20px;
   }
    .dis_price {
    font-size: 14px;
   }
    .solid_btn, .out_btn {
    padding: 7px 0px;
    margin-bottom: 8px;
    font-size: 16px;
   }
    .product_page_form {
    padding-top: 6px;
   }
    .header-area .navbar-brand img {
    width: 135px;
   }
    .header-area .container {
    max-width: 100%;
   }
    .header-area {
    padding: 15px 20px;
   }
    .header-area .navbar-collapse {
    position: absolute;
    top: 47px;
    background: rgba(0, 0, 0, 0.8) none repeat scroll 0% 0%;
    width: 100%;
    padding: 10px;
    z-index: 9;
   }
    .become {
    margin-right: 0;
    width: 100%;
    float: left;
    color: #fff;
   }
    .become img {
    display: none;
   }
    .login-btn, .submit-btn {
    font-size: 15px;
    padding: 0;
    border: none;
    color: #fff;
    width: 100%;
    float: left;
   }
    .cart_icon {
    right: 67px;
   }
    .navbar-toggler {
    position: absolute;
    right: 0;
   }
    .cart_icon {
   position: absolute;
   }
    .menu_dash p {
   margin-top: 6px;
   font-size: 13px;
   }
    .after_login_nav .dashboard_header {
    position: absolute;
    float: inherit;
    margin-right: 0;
    right: 107px;
   }
    .after_login_nav {
   top: 6px;
   height: 30px;
   width: 30px;
   }
    .after_login_nav .navbar-brand {
   margin-top: -21px !important;
   }
    .header-area {
    padding: 17px 10px;
   }
   }

   /*991*/



   @media(max-width:767px) {
    .become {
    margin-right: 10px;
   }
    .become img {
    display: none;
   }
    .banner-area {
    min-height: 100px;
    padding: 40px 0;
   }
    .banner-contant h1 {
    font-size: 23px;
    margin-bottom: 10px;
   }
    .work-box {
    padding: 20px 0 15px 0;
   }
    .view-all {
    margin-top: 0;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    height: 42px;
    line-height: 43px;
   }
    .product-area .owl-prev {
    margin-left: 0px !important;
   }
    .product-area .owl-next {
    margin-right: 0px !important;
   }
    .product-area .owl-nav {
    margin: 0px !important;
   }
    .expart-banner {
    padding: 40px 0;
   }
    .expart-banner h2 {
    font-size: 30px;
    margin-bottom: 14px;
   }
    .differ-image {
    display: none;
   }
    .fot-box h3 {
    font-size: 18px;
    margin-bottom: 6px;
   }
    .form_custom {
    width: 480px;
   }
    .right-white {
    display: none;
   }
    .guidance-area .owl-prev {
    margin-left: 0px !important;
   }
    .guidance-area .owl-next {
    margin-right: 0px !important;
   }
    .guidance-area .owl-nav {
    margin: 0px !important;
   }
    .login-body {
    padding: 45px 0;
   }
    .user-div a {
    font-size: 14px;
    margin: 0 2px;
   }
    .user-div {
    margin-top: 12px;
   }
    .main-login {
    width: 450px;
   }
    .or-main {
    width: 270px;
   }
    .header-area {
    padding: 10px;
    position: relative;
   }
    .header-area .navbar-collapse {
    position: absolute;
    top: 47px;
    background: rgba(0, 0, 0, 0.8) none repeat scroll 0% 0%;
    width: 100%;
    padding: 10px;
    z-index: 9;
   }
    .header-area .navbar-toggler {
    border: none;
   }
    .become {
    margin-right: 0;
    width: 100%;
    float: left;
    color: #fff;
   }
    .login-btn,  .submit-btn {
    font-size: 15px;
    padding: 0;
    border: none;
    color: #fff;
    width: 100%;
    float: left;
   }
    .become:hover,  .login-btn:hover,  .submit-btn:hover {
    color: #fa4041;
    background: none;
   }
    .expart-signup p {
    font-size: 15px;
    margin-bottom: 17px;
   }
    .top-white,  .mid-light {
    padding: 25px 65px 19px 65px;
   }
    .mid-light .form-group {
    width: 37%;
   }
       .dshbrd-lftmnu {
    width: 100%;
    display: none;
   }
    .dshbrd-rghtcntn {
    width: 100%;
    padding-top: 15px;
   }
    .dashboard-type {
    height: 39px;
    font-size: 13px;
   }
    .search_label {
    font-size: 13px;
   }
    .banner_subb {
    font-size: 16px;
    padding: 7px 19px;
    margin-top: 24px;
   }
    .mobile_filter {
    display: block;
   }
    .bkng-hstrybdy h2 {
    font-size: 23px;
   }
    .bokcntnt-bdy {
    margin-top: 13px;
   }
    .dashboard_select {
    background: rgb(255, 255, 255) url("../images/drop-arw.png") no-repeat right 10px top 17px;
   }
    .rwmrgn {
    margin: 0 !important;
   }
    .search-white {
    margin-top: 0;
   }
    .pstn {
    top: 33px;
   }
    .rghtinoo .breadcrumb-item {
    font-size: 13px;
   }
    .boxed-list-item .item-description p {
    font-size: 13px;
   }
    .pra {
    font-size: 13px;
   }
    .pbdy-box h3 {
    font-size: 19px;
   }
    .boxed-list-item .item-content h4 a,  .boxed-list-item .item-content h4 {
    font-size: 15px;
   }
    .boxed-list-item .item-details .detail-item {
    font-size: 14px;
   }
    .star-rating::before {
    font-size: 12px;
   }
    .star-rating .star {
    padding: 4px 0 0;
    font-size: 13px;
   }
    .eductn-sec h5 {
    font-size: 15px;
    margin-bottom: 10px;
   }
    .eductn-sec li {
    font-size: 13px;
   }
    .eductn-sec li img {
    max-width: 14px;
   }
    .eductn-sec p {
    font-size: 13px;
    margin: 10px 0;
   }
    .pbdy-box {
    margin-bottom: 20px;
   }
    .skilsplty ul li {
    padding: 7px 15px;
    font-size: 13px;
   }
    .upupdwnpd .tab_head_sheet_1 {
    padding-top: 8px;
    padding-bottom: 8px;
   }
    .header-area .navbar-nav li {
    margin-bottom: 5px;
   }
    .personal-type {
    height: 41px;
    font-size: 14px;
   }
    .personal-label {
    font-size: 15px;
    margin-bottom: 2px;
   }
    .personal-type99 {
    font-size: 14px;
   }
    .dash_form_box h4 {
    font-size: 18px;
    margin: 11px 0 10px;
   }
    .login_submitt {
    font-size: 16px;
    height: 43px;
    padding: 4px 13px;
   }
    .right-options,  .right-options1 {
    margin-top: 7px;
    width: 100% !important;
    text-align: left;
   }
    .message_tab .nav-tabs li a {
    font-size: 15px !important;
   }
    .compose_btn {
    font-size: 13px;
    padding: 9px 13px;
   }
    .below_msg p {
    font-size: 13px;
    line-height: 20px;
   }
    .below_msg ul li {
    font-size: 13px;
   }
    .last_doc>p {
    margin-right: 14px !important;
    font-size: 15px;
   }
    .cus-book p br {
    display: none;
   }
    .one-lins {
    margin-right: 6px;
    width: auto;
    float: left;
    color: #454545;
   }
    .guide-intro ul {
    float: right;
   }
    .blog-profile .guide-btn {
    font-size: 12px;
   }
    .all-sub ul li {
    width: 50%;
    margin-bottom: 12px;
   }
    .main-categori span {
    width: 54px;
    height: 36px;
    margin-right: 10px;
   }
    .main-categori h4 {
    margin: 7px 0;
    font-size: 16px;
   }
    .accordion .link {
    font-size: 15px;
   }
    .about_image {
    margin: 0 0 14px 0;
    width: 100%;
   }
    .about_details {
    width: 100%;
   }
    .about_details h3 {
    font-size: 18px;
    line-height: 24px;
    float: left;
   }
    .make_who .about_image {
    margin: 0 0 10px 0;
    width: 100%;
   }
    .make_who .about_details {
    text-align: left;
    width: 100%;
   }
    .fc-button {
    padding: 0px 5px 5px 5px !important;
    height: 30px;
   }
    .fc-button .fc-icon {
    font-size: 18px !important;
   }
    .fc-toolbar>*> :not(:first-child) {
    margin-left: 5px !important;
   }
    .fc-button-primary:disabled {
    font-size: 13px !important;
    padding: 2px 5px !important;
   }
    #calendar .fc-center h2 {
    font-size: 17px;
   }
    .avll {
    top: 31px;
   }
    .fc-day {
    font-size: 11px;
   }
    .fc-day {
    padding: 15px 4px !important;
   }
    .header_bannerImgMain {
    height: 390px;
    padding: 30px 0px;
   }
    .pro-dl-image {
    height: 250px;
    margin-bottom: 15px;
   }
    .pro-dls h2 {
    font-size: 18px;
   }
    .seller-image {
    width: 85px;
   }
    .seller-image span {
    width: 75px;
    height: 75px;
   }
    div#video_player {
    margin-top: 110px !important;
    max-width: 95%;
    height: 360px !important;
    margin-bottom: 25px !important;
   }
    .lfttbvrsn ul li {
    width: 25%;
    margin: 7px 0;
   }
    .mmt_rmtopp02 {
    margin-top: 6px !important;
   }
    .product_left_panel, .product_right_panel {
    width: 100%;
   }
    .sticky_right {
    position: relative;
   }
    .dark-area {
    height: 1000px;
   }
    .review_right .progress {
    width: 50px;
   }
    .price_list {
    padding: 10px 15px;
   }
    .re_price {
    font-size: 20px;
   }
    .dis_price {
    font-size: 12px;
   }
    .pro_btn {
    margin-top: 10px;
   }
    .solid_btn, .out_btn {
    padding: 7px 0px;
    margin-bottom: 8px;
    font-size: 16px;
   }
    .product_video {
    margin-bottom: 0;
    min-height: auto;
   }
    .topic_heading ul {
    margin-bottom: 8px !important;
   }
    .prod_heading {
    font-size: 22px;
    font-weight: 500;
    line-height: 26px;
    margin-bottom: 10px;
   }
    .pro_para {
    font-size: 16px;
    line-height: 22px;
   }
    .creat {
    font-size: 15px;
   }
    .ins_ele ul li {
    font-size: 15px;
    line-height: 28px;
   }
    .btn_div {
    margin-top: 15px;
   }
    .prro_top, .prro_btm {
    padding: 15px 0;
   }
    .what_sec {
    padding: 15px 10px;
   }
    .what_sec h2, .course_details h2 {
    font-size: 18px;
    margin-bottom:8px;
   }
    .what_list li {
    width: calc(100% );
    margin-right: 0;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 2px;
   }
    .what_list li img {
    margin-right: 5px;
    width: 12px;
   }
    .course_details {
    margin-top: 20px;
   }
    .cou_list a {
    font-size: 15px;
    display: block;
   }
    .accordian-faq .card .card-header {
    padding: 5px 10px;
   }
    .accordian-faq .card .card-header .btn-header-link.collapsed:after {
    left: 7px;
   }
    .accordian-faq .card .card-header .btn-header-link p {
    font-size: 13px;
    padding-left: 7px;
   }
    .accordian-faq .card .card-header .btn-header-link ul li {
    font-size: 12px;
    margin-right: 3px;
   }
    .accordian-faq .card .card-header .btn-header-link {
    padding-right: 0;
   }
    .accordian-faq .card .card-header .btn-header-link ul {
    display: none;
   }
    .inner_accor .card .card-header .btn-header-link {
    padding: 5px 0px 5px 0px;
   }
    .inner_accor .card .card-body {
    padding: 0 18px 10px 20px;
   }
    .inst_info h3 {
    font-size: 18px;
    line-height: 24px;
   }
    .inst_info p {
    font-size: 15px;
    margin-bottom: 10px;
   }
    .inst_img_sec span {
    margin-right: 10px;
   }
    .video_les iframe {
    width: 100%;
   }
    .smap_video {
    margin-top: 0;
   }
    .modal_product .modal-body h4 {
    font-size: 18px;
   }
    .modal_product .modal-body p {
    font-size: 14px;
   }
    .video_details img {
    width: 48px;
    margin-right: 5px;
   }
    .video-smaple_list {
    font-size: 11px;
   }
    .review_box {
    display: block;
   }
    .review_left, .review_right {
    width: 100%;
   }
    .review_left {
    padding: 0;
    display: flex;
    align-items: center;
   }
    .review_left b {
    font-size: 30px;
   }
    .review_left li i {
    margin: -1px 1px;
    font-size: 15px;
   }
    .review_left ul {
    margin-left: 8px !important;
   }
    .review_left strong {
    font-size: 14px;
    margin-top: 0px;
    margin-left: 8px;
   }
    .review_right {
    margin-left: 0;
   }
    .star_ul li i {
    margin-right: 3px;
    font-size: 11px;
   }
    .review_right b {
    font-size: 13px;
   }
    .review_right .progress {
    width: 250px;
    height: 5px;
   }
    .review_right li {
    margin-top: 0;
   }
    .review_right ul {
    margin-bottom: 10px !important;
   }
    .inst_selct, .form-control.next-search, button.btn.btn-success.ser-img, button.btn.btn-success.ser-img:active {
    height: 42px;
    margin-bottom: 8px;
   }
    .rev_img {
    width: 35px;
    height: 35px;
    margin-right: 10px;
   }
    .rev_profile ul li {
    font-size: 13px;
    margin-right: 3px;
   }
    .rev_profile {
    width: calc(100% - 45px);
   }
    .rev_profile p {
    margin-top: 2px;
    font-size: 14px;
    line-height: 19px;
   }
    .review_right ul.star_ul {
    margin-bottom: 0 !important;
   }
    .product_page_form {
    padding-left: 6px !important;
   }

   /*(30/06/21)(puja)*/

   .table_sec .table .thead-dark th {
    padding: 6px;
    font-size: 13px;
   }
    .cart_media .media-body p {
    font-size: 12px;
    line-height: 16px;
    margin-top: 5px;
   }
    .cart_media .media-body h4 {
    font-size: 14px;
   }
    .table_sec .table tbody td,  .table_sec .table tbody th {
    padding: 6px;
    font-size: 13px;
   }
    .cart_inr h1,  .cart_inr h2 {
    font-size: 17px;
   }
    .cart_right_bx {
    padding: 18px;
    margin-top: 15px;
   }
    .cart_right_bx li {
    font-size: 15px;
    margin-top: 7px;
   }
    .cart_right_bx .solid_btn {
    margin-top: 17px;
   }
    .cart_icon {
    padding-left: 0;
    position: absolute;
    right: 67px;
   }
   }

   /*767*/


   @media(min-width:767px) {
    .abut_contnt {
    flex-basis: 32%;
   }
    .abut_sec {
    display: flex;
    justify-content: space-between;
   }
   }
   /*767*/

   @media(max-width:575px) {
    .banner_item_form_Box {
    padding:0px 60px;
   }
    .header_bannerImgMain {
    min-height: 310px;
    padding: 60px 0;
   }
    .banner-contant {
    padding-top: 20px;
   }
    .form_custom {
    width: 100%;
   }
    .search-type {
    height: 34px;
    padding: 4px 88px 3px 30px;
   }
    .form_custom span {
    top: 4px;
   }
    .submit-search {
    padding: 8px 15px;
    font-size: 13px;
   }
    .product-area .page-h2 {
    padding: 0 10px;
   }
    .all-product {
    padding: 23px 20px 0 20px;
   }
    .guidance-area, .product_area  .testimonial-area {
    padding: 35px 0;
   }
    .banner-area {
    min-height: 100px;
    padding: 40px 0 0px 0;
   }
    .category .page-h2 {
    padding: 0 10px;
   }
    .all-categories {
    padding: 23px 10px 0 10px;
   }
    .guidance-area .page-h2 {
    padding: 0 10px;
   }
    .all-guidance {
    padding: 23px 20px 0 20px;
   }
    .all-testi {
    padding: 23px;
   }
    .top-footer {
    padding: 31px 10px 20px 10px;
   }
    .different-area {
    padding: 35px 0;
   }
    .dif-detls h2 {
    font-size: 24px;
    padding-bottom: 0px;
   }
    .dif-detls p {
    font-size: 14px;
    margin: 0;
   }
    .guidance-area, .product_area,  .testimonial-area {
    padding: 35px 0;
   }
    .testi-image-area {
    width: 93px;
   }
    .testi-image-area span {
    width: 65px;
    height: 65px;
   }
    .testi-dtls h4 {
    font-size: 17px;
   }
    .all-testi {
    padding: 18px;
    padding-bottom: 0px;
   }
    .testimonial-area .page-h2 {
    padding: 0 6px;
   }
    .below-footer {
    padding: 15px 0;
   }
    .below-footer p {
    font-size: 14px;
   }
    .category {
    padding: 35px 0;
   }
    .categori-box p {
    font-size: 15px;
    padding: 8px;
   }
    .main-login {
    width: 365px;
   }
    .login-type {
    height: 48px;
    font-size: 14px;
   }
    .checkbox-group label .box {
    width: 18px;
    height: 18px;
   }
    .checkbox-group label .check {
    top: 5px;
    left: 6px;
    height: 12px;
   }
    .checkbox-group label,  .login_forgot {
    font-size: 14px;
    line-height: 19px;
   }
    .checkbox-group label {
    padding-left: 25px;
   }
    .or-main {
    width: 206px;
    margin-top: 34px;
   }
    .login-social {
    margin: 30px 0 10px 0;
   }
    .login-social img {
    margin: 0 0px;
    width: 117px;
   }
    .login_submit1 {
    font-size: 15px;
    padding: 5px 35px;
   }
    .user-div a {
    padding: 6px 12px;
   }
    .below-white p {
    font-size: 15px;
   }
    .login-body {
    padding: 25px 0;
   }
    .main-login h2 {
    font-size: 20px;
    margin-bottom: 11px;
   }
    .signup-page .login_submit1 {
    padding: 6px 24px;
   }
    .signup-page .login-social {
    margin: 7px 0 10px 0;
   }
    .already {
    font-size: 14px;
   }
    .top-white,  .mid-light {
    padding: 25px 45px 19px 45px;
   }
    .mid-light .form-group {
    width: 36%;
   }
    .expart-signup .login-social img {
    margin: 0 0 10px 0;
    width: 100%;
   }
    .bkng-hstrybdy {
    padding: 22px 0 30px;
   }
    .bkng-hstrybdy h2 {
    font-size: 20px;
    padding-bottom: 12px;
   }
    .prlpic {
    width: 90px;
    height: 90px;
   }
    .prlpic img {
    width: 100%;
   }
    .jbinfo {
    margin-top: 0;
   }
    .jbinfo ul li span {
    font-size: 14px;
    margin-bottom: 2px;
   }
    .jbinfo ul li p {
    font-size: 14px;
   }
    .rtsidebtn ul li {
    margin: 3px;
   }
    .rtsidebtn ul li a {
    padding: 8px 7px;
    font-size: 14px;
    margin: 0;
   }
    .shre {
    width: 38px;
    height: 38px;
    line-height: 18px;
   }
    .fc-button {
    padding: 1px 4px !important;
    font-size: 11px !important;
    line-height: 1.5;
   }
    .fc-toolbar h2 {
    font-size: 15px !important;
   }
    .jbinfo ul li {
    padding: 0 10px;
   }
    .prfldtl {
    padding-top: 9px;
   }
    .prfldtl h5 {
    font-size: 17px;
   }
    .prfldtl p {
    font-size: 13px;
   }
    .porflabt {
    float: none;
    max-width: 310px;
    margin: 0 auto;
    margin-bottom: 15px !important;
    display: block;
    overflow: hidden;
   }
    .prfil-info {
    padding: 20px 0 18px;
   }
    .pblcprfl-bdy {
    width: 100%;
    float: left;
    padding: 14px 0 0;
    background: #f0f2f3;
   }
    .main-form {
    margin-top: 0;
   }
    .usrdsp h3 {
    font-size: 16px;
   }
    .usrdsp h6 {
    font-size: 15px;
   }
    .usrdsp p {
    font-size: 12px;
   }
    .usrdsp {
    overflow: hidden;
    padding-left: 12px;
   }
    .myusr {
    padding: 12px;
   }
    .usrdsp {
    padding-left: 0;
    width: 100%;
    padding-top: 15px;
   }
    .dash_form_box {
    padding: 0 8px;
   }
    .message_tab .nav-tabs li a {
    font-size: 15px !important;
    padding: 5px 6px !important;
   }
    .message_tab .nav-tabs li {
    margin-right: -2px !important;
   }
    .compose_btn {
    font-size: 13px;
    padding: 8px 7px;
   }
    .message_tab .tab-content {
    padding: 14px;
   }
    .last_doc>p {
    margin-right: 0 !important;
    font-size: 15px;
    width: 100%;
    float: left;
   }
    .below_msg p {
    float: left;
    width: 100%;
   }
    .reply_msg a {
    font-size: 13px;
   }
    .checkout-div {
    width: 400px;
   }
    .head-check h3 {
    font-size: 18px;
    margin-bottom: 4px;
   }
    .head-check p {
    font-size: 14px;
   }
    .left-check strong,  .right-check p {
    font-size: 14px;
    line-height: 28px;
   }
    .booking-div {
    padding: 15px;
   }
    .head-book span {
    margin-right: 10px;
   }
    .des-big h4 {
    font-size: 15px;
   }
    .des-big p {
    font-size: 13px;
   }
    .des-small {
    margin-left: 15px;
   }
    .des-small h5 {
    font-size: 14px;
   }
    .des-small p {
    font-size: 13px;
   }
    .abut_page,  .abthstry {
    padding: 0 10px;
   }
    .abut_page h2 {
    font-size: 23px;
   }
    .bitt h5 {
    font-size: 20px;
    margin-bottom: 4px;
   }
    .bitt p {
    font-size: 14px;
    line-height: 21px;
   }
    .abut_page p {
    font-size: 14px;
   }
    .day_name .checkbox-group label .check {
    top: 15px;
   }
    .modlwdth {
    max-width: 96% !important;
    margin-top: 10px !important;
   }
    .wbcmp {
    width: 28px;
   }
    .modal-title {
    font-size: 18px;
   }
    .coach_tools p strong {
    width: 100%;
   }
    .seller-descriptions {
    width: 100%;
    margin-top: 10px;
   }
    .message-pagbody {
    padding: 14px 8px;
   }
    .mobile_filter {
    min-height: 37px;
    padding: 5px;
   }
    .common-top p {
    font-size: 12px;
   }
    .close-chat {
    font-size: 12px;
    padding: 6px 8px;
   }
    div#video_player {
    margin-top: 110px !important;
    max-width: 95%;
    height: 260px !important;
    margin-bottom: 25px !important;
   }
    .lfttbvrsn ul li {
    width: 24%;
    margin: 7px 0;
   }
    .dark-area {
    height: 1000px;
   }
    .review_right .progress {
    width: 50px;
   }
    .price_list {
    padding: 10px 15px;
   }
    .re_price {
    font-size: 20px;
   }
    .dis_price {
    font-size: 12px;
   }
    .pro_btn {
    margin-top: 10px;
   }
    .solid_btn, .out_btn {
    padding: 7px 0px;
    margin-bottom: 8px;
    font-size: 16px;
   }
    .product_video {
    margin-bottom: 0;
    min-height: auto;
   }
    .topic_heading ul {
    margin-bottom: 8px !important;
   }
    .prod_heading {
    font-size: 22px;
    font-weight: 500;
    line-height: 26px;
    margin-bottom: 10px;
   }
    .pro_para {
    font-size: 16px;
    line-height: 22px;
   }
    .creat {
    font-size: 15px;
   }
    .ins_ele ul li {
    font-size: 15px;
    line-height: 28px;
   }
    .btn_div {
    margin-top: 15px;
   }
    .prro_top, .prro_btm {
    padding: 15px 0;
   }
    .what_sec {
    padding: 15px 10px;
   }
    .what_sec h2, .course_details h2 {
    font-size: 18px;
    margin-bottom:8px;
   }
    .what_list li {
    width: calc(100% );
    margin-right: 0;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 2px;
   }
    .what_list li img {
    margin-right: 5px;
    width: 12px;
   }
    .course_details {
    margin-top: 20px;
   }
    .cou_list {
    display: block;
   }
    .cou_list a {
    font-size: 15px;
    margin-top: 4px;
    display: block;
   }
    .accordian-faq .card .card-header {
    padding: 5px 10px;
   }
    .accordian-faq .card .card-header .btn-header-link.collapsed:after {
    left: 7px;
   }
    .accordian-faq .card .card-header .btn-header-link p {
    font-size: 13px;
    padding-left: 7px;
   }
    .accordian-faq .card .card-header .btn-header-link ul li {
    font-size: 12px;
    margin-right: 3px;
   }
    .accordian-faq .card .card-header .btn-header-link {
    padding-right: 0;
   }
    .accordian-faq .card .card-header .btn-header-link ul {
    display: none;
   }
    .inner_accor .card .card-header .btn-header-link {
    padding: 5px 0px 5px 0px;
   }
    .inner_accor .card .card-body {
    padding: 0 18px 10px 20px;
   }
    .inst_info h3 {
    font-size: 18px;
    line-height: 24px;
   }
    .inst_info p {
    font-size: 15px;
    margin-bottom: 10px;
   }
    .inst_img_sec span {
    margin-right: 10px;
   }
    .inst_img_sec span {
    width: 100px;
    height: 100px;
   }
    .inst_img_sec ul li {
    font-size: 13.5px;
    padding: 2px 0;
   }
    .ins_details p {
    font-size: 13px;
    line-height: 19px;
   }
    .video_les iframe {
    width: 100%;
   }
    .smap_video {
    margin-top: 0;
   }
    .modal_product .modal-body h4 {
    font-size: 18px;
   }
    .modal_product .modal-body p {
    font-size: 14px;
   }
    .video_details img {
    width: 48px;
    margin-right: 5px;
   }
    .video-smaple_list {
    font-size: 11px;
   }
    .review_box {
    display: block;
   }
    .review_left, .review_right {
    width: 100%;
   }
    .review_left {
    padding: 0;
    display: flex;
    align-items: center;
   }
    .review_left b {
    font-size: 30px;
   }
    .review_left li i {
    margin: -1px 1px;
    font-size: 15px;
   }
    .review_left ul {
    margin-left: 8px !important;
   }
    .review_left strong {
    font-size: 14px;
    margin-top: 0px;
    margin-left: 8px;
   }
    .review_right {
    margin-left: 0;
   }
    .star_ul li i {
    margin-right: 3px;
    font-size: 11px;
   }
    .review_right b {
    font-size: 13px;
   }
    .review_right .progress {
    width: 250px;
    height: 5px;
   }
    .review_right li {
    margin-top: 0;
   }
    .review_right ul {
    margin-bottom: 10px !important;
   }
    .inst_selct, .form-control.next-search, button.btn.btn-success.ser-img, button.btn.btn-success.ser-img:active {
    height: 42px;
    margin-bottom: 8px;
   }
    .rev_img {
    width: 35px;
    height: 35px;
    margin-right: 10px;
   }
    .rev_profile ul li {
    font-size: 13px;
    margin-right: 3px;
   }
    .rev_profile {
    width: calc(100% - 45px);
   }
    .rev_profile p {
    margin-top: 2px;
    font-size: 14px;
    line-height: 19px;
   }
    .review_right ul.star_ul {
    margin-bottom: 0 !important;
   }
    .product_dates {
    position: relative;
    right: 0;
    font-size: 12px;
    width: 100%;
   }
    .header-area .navbar-brand img {
    width: 120px;
   }
    .after_login_nav .navbar-brand {
    margin-top: -18px !important;
   }
    .nm_pro {
   display: none;
   }
   }
   /*575*/

   @media(max-width:500px) {
    .avll {
    top: 0;
   }
    #calendar .fc-center {
    width: auto;
    float: left;
   }
    .fc-day-header span {
    font-size: 13px;
   }
   .fc-day {
    padding: 15px 0px !important;
    text-align: center;
   }

    .view-page p strong {
    width: auto;
    margin-right: 10px;
   }
    .rwmrgn {
    margin: 0 !important;
   }
    .pymtinfo strong {
    width: 120px;
    font-size: 14px;
   }
    .pymtinfo p {
    font-size: 14px;
   }
    .pymtbox input[type="text"] {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 14px;
   }
    .pymtboxslct {
    height: 40px;
    font-size: 13px;
   }
    .pymnt-check a {
    font-size: 15px;
    padding: 8px 10px;
   }
    .pymtbox h3 {
    font-size: 21px;
   }
    .pymtbox {
    padding: 17px 24px;
   }
    .pymtinfo {
    padding: 15px 12px;
   }
   }
   /*500*/



   @media(max-width:480px) {
    svg {
    width: 254px;
   }
    .header_bannerImgMain {
    padding: 30px 0px;
   }
    .common-top h4 {
    font-size: 16px;;
   }
    .common-top p {
    font-size: 13px;
   }
    .messsage_heading {
    width:70%;
    float: left;
   }
    .button_div {
    width: 29%;
   }
    .video_div iframe {
   height: 216px !important;
   }
    .lfttbvrsn ul li {
    width: 32%;
    margin: 7px 0;
   }
    .lfttbvrsn ul li {
    float: none !important;
   }
    .btn_div ul li {
    margin-right: 10px;
   }
    .btn_div ul li a {
    font-size: 14px;
    padding: 0.4rem .8rem;
   }
   }
    @media(max-width:431px) {
    .lfttbvrsn ul li {
    float: left !important;
   }
    .devideted {
    display:block;
    height:1px;
    width:100%;
    overflow:hidden;
   }
   }


   @media(max-width:450px) {
   .form_custom {
    width: 100%;
    padding: 5px;
   }
    .search-type {
    height: 34px;
    padding: 3px 71px 3px 26px;
    font-size: 14px;
   }
    .form_custom span img {
    width: 14px;
   }
    .form_custom span {
    top: 0px;
    left: 8px;
   }
    .submit-search {
    padding: 8px 11px;
    font-size: 14px;
    top: 4px;
    right: 4px;
   }
    .expart-banner {
    padding: 25px 7px;
   }
    .expart-banner h2 {
    font-size: 24px;
    margin-bottom: 10px;
   }
    .learn-btn {
    font-size: 13px;
    height: 41px;
    padding: 0 30px;
    line-height: 41px;
   }
    .testi-image-area span {
    width: 50px;
    height: 50px;
   }
    .testi-image-area {
    width: 70px;
    padding: 9px;
   }
    .banner-area {
    min-height: 90px;
    padding: 30px 5px 0px 5px;
   }
    .pbdy-box h3 {
    font-size: 17px;
   }
    .rtsidebtn ul li a {
    font-size: 12px;
   }
    .fc-unthemed th,  .fc-unthemed td,  .fc-unthemed thead,  .fc-unthemed tbody,  .fc-unthemed .fc-divider,  .fc-unthemed .fc-row,  .fc-unthemed .fc-content,  .fc-unthemed .fc-popover,  .fc-unthemed .fc-list-view,  .fc-unthemed .fc-list-heading td {
    font-size: 12px;
   }
    .prlpic {
    width: 76px;
    height: 76px;
   }
    .rghtinoo .rtd::after {
    display: none;
   }
    .rghtinoo .breadcrumb {
    padding: 7px 10px;
   }
    .lfttbvrsn ul li a {
    font-size: 14px;
   }
    .msg_details {
    width: 100%;
    padding-left: 0;
    padding-top: 10px;
   }
    .msg_list_pa .msg_details p {
    font-size: 13px;
    line-height: 19px;
   }
    .right-options .mail_date {
    font-size: 13px;
   }
    .top_msg p {
    font-size: 14px !important;
    margin-bottom: 8px !important;
   }
    .right-check,  .left-check {
    padding: 10px;
   }
    .head-book span {
    width: 45px;
    height: 46px;
   }
    .booking-div {
    padding: 10px;
   }
    .des-small {
    margin-left: 10px;
   }
    .blog-box {
    padding: 10px;
   }
    .details-right .blog-image {
    height: 150px;
   }
    .all-sub ul li {
    width: 100%;
   }
    .bitt img {
    width: 100%;
    margin: 0 0 10px 0;
   }
    .competencestools li strong {
    width: 82%;
   }
    .competencestools li span {
    width: 18%;
    margin: 0px;
   }
    div#video_player {
    margin-top: 110px !important;
    max-width: 95%;
    height: 200px !important;
    margin-bottom: 25px !important;
   }
   }
   /*450*/

   @media(max-width:420px) {
    .dash_main ul li {
    width: 100%;
    margin-right: 0px;
   }
   }
   /*420*/

   @media(max-width:400px) {
    .banner-contant h1 {
    font-size: 18px;
    margin-bottom: 10px;
   }
    .banner-contant p {
    font-size: 14px;
    margin-bottom: 23px;
   }
    .main-login {
    width: 300px;
   }
    .white-div {
    padding: 13px;
   }
    .white-div .from-group {
    margin-bottom: 10px;
   }
    .login-type {
    height: 40px;
    font-size: 13px;
    padding: 5px 11px;
   }
    .login_forgot {
    width: 100%;
    float: left;
    text-align: left;
   }
    .top-white,  .mid-light {
    padding: 10px 15px 10px 15px;
   }
    .mid-light a {
    padding: 11px 10px;
    font-size: 16px;
   }
    .pagination a {
    padding: 3px 8px;
    font-size: 12px;
   }
    .result-type {
    height: 40px;
    font-size: 12px;
    padding: 8px 6px;
   }
    .search-label {
    font-size: 13px;
   }
    .header-area .navbar-brand img {
    width: 132px;
   }
    .uu_roundd {
    height: 34px;
    width: 34px;
   }
    .menu_dash p {
    font-size: 13px;
    padding-left: 8px;
   }
    .noticon span {
    height: 23px;
    width: 23px;
    font-size: 11px;
    line-height: 22px;
   }
    .alertt {
    margin: 12px 10px 0 0;
   }
    .file_div123 {
    width: 48% !important;
    margin-right: 2%;
   }
    .file_div123:last-child {
    margin-right: 0 !important;
   }
    .banner_item_form_Box {
    padding: 0px 25px;
   }
    div#video_player {
    margin-top: 110px !important;
    max-width: 95%;
    height: 180px !important;
    margin-bottom: 25px !important;
   }
    .prod_heading {
    font-size: 19px;
    font-weight: 500;
    line-height: 25px;
    margin-bottom: 10px;
   }
    .pro_para {
    font-size: 15px;
    line-height: 22px;
   }
    .ratingstar i {
    font-size: 12px;
   }
    .btn_div ul li {
    margin-right: 7px;
   }
    .btn_div ul li a {
    font-size: 13px;
    padding: 0.4rem .5rem;
   }
    .review_box {
    display: block;
   }
    .review_left, .review_right {
    width: 100%;
   }
    .review_left {
    padding: 0;
    display: flex;
    align-items: center;
   }
    .review_left b {
    font-size: 30px;
   }
    .review_left li i {
    margin: -1px 1px;
    font-size: 15px;
   }
    .review_left ul {
    margin-left: 8px !important;
   }
    .review_left strong {
    font-size: 14px;
    margin-top: 0px;
    margin-left: 8px;
   }
    .review_right {
    margin-left: 0;
   }
    .star_ul li i {
    margin-right: 3px;
    font-size: 11px;
   }
    .review_right b {
    font-size: 13px;
   }
    .review_right .progress {
    width: 185px;
    height: 5px;
   }
    .review_right li {
    margin-top: 0;
   }
    .review_right ul {
    margin-bottom: 10px !important;
   }
    .search-section, .inst_selct {
    width: 100%;
    margin-right: 0;
   }
    .inst_selct, .form-control.next-search, button.btn.btn-success.ser-img, button.btn.btn-success.ser-img:active {
    height: 42px;
    margin-bottom: 8px;
   }
    .sort_sec {
    display: block;
   }
    .rev_img {
    width: 35px;
    height: 35px;
    margin-right: 10px;
   }
    .rev_profile ul li {
    font-size: 13px;
    margin-right: 3px;
   }
    .rev_profile {
    width: calc(100% - 45px);
   }
    .rev_profile p {
    margin-top: 2px;
    font-size: 14px;
    line-height: 19px;
   }
   }

   /*400*/

   @media(max-width:360px) {
    .message_tab .nav-tabs li a {
    font-size: 13px !important;
    padding: 5px 4px !important;
   }
    .compose_btn {
    font-size: 11px;
    padding: 8px 4px;
   }
    .bkng-hstrybdy {
    padding: 22px 0 10px;
   }
    .left-check strong,  .right-check p {
    font-size: 13px;
    line-height: 25px;
   }
    .last-check a {
    font-size: 13px;
   }
    div#video_player {
    margin-top: 110px !important;
    max-width: 95%;
    height: 160px !important;
    margin-bottom: 25px !important;
   }
    .rating_sec {
    display: block;
    margin-top: 5px;
   }
    .rating_sec p {
    margin-top: 4px;
   }
    .cou_list ul li {
    margin-right: 5px;
    font-size: 13px;
   }
   }
   /*360*/


   @media(max-width:340px) {
    .header-area {
    padding: 4px 7px;
   }
    .header-area .navbar-collapse {
    top: 41px;
   }
    .testi-dtls {
    width: 74%;
   }
    .modal-title {
    font-size: 16px;
   }
    .wbcmp {
    width: 25px;
   }
    .modal-header {
    padding: 10px;
   }
    .btn_div ul li {
    margin-right: 7px;
   }
    .btn_div ul li a {
    font-size: 12px;
    padding: 0.4rem .5rem;
   }
    .cou_list ul li {
    margin-right: 2px;
    font-size: 13px;
   }
    .header-area {
    padding: 16px 7px;
   }
    .header-area .navbar-brand img {
    width: 110px;
   }
    .after_login_nav .navbar-brand {
    margin-top: -15px !important;
   }
   }
   /*340*/
   @media (min-width: 992px) {
    .modal-lg {
    max-width: 500px !important;
   }
   }
