
@media(max-width:1199px) {
.guide-image {
	height: 193px;
}
/*.guide-intro ul {
	width: 100%;
	padding: 7px 0 3px 0;
}
.guide-more ul li {
	width: 100%;
	padding: 0 15px 0 10px;
	border-right: none;
}
.guide-more .pull-right {
	float: left;
	margin-top: 5px;
}
.guide-btn{
	padding:7px 15px;
	}*/
.testi-dtls {
	width: 75.8%;
}
.wrapper{
	overflow:hidden;
	}




/*tapan*/
.dshbrd-lftmnu {
	width: 27%;
}
.dshbrd-rghtcntn {
	width: 71%;
}
.dashmnu ul li a {
	font-size: 14px;
}	
	
	
.all-search .guide-more ul li {
	padding: 0 11px 0 0px;
}	
.all-search .guide-more ul li:last-child {
	padding: 0 0 0 10px;
}
.all-search .guide-intro h3 {
	font-size: 15px;
}	
.all-search .guide-intro p {
	font-size: 13px;
	margin: 4px 0 0;
	float: left;
	width: 100%;
}
.all-search .guide-btn {
	font-size: 12px;
	padding: 8px 5px;
}
.lfttbvrsn ul li {
	padding: 0 14px 10px 14px;
}
.rtsidebtn ul li a {
	padding: 11px 7px;
	font-size: 14px;
}	
}
/*1199*/



@media(max-width:991px) {
.header-area .navbar-brand img{
	width:150px;
	}	
.become{
	font-size:15px;
	margin-right:17px;
	}	
.login-btn, .submit-btn{
	font-size:15px;
	}	
.header-area {
	padding: 15px 0px;
}	
.banner-contant h1{
	font-size:35px;
	}
.banner-contant p{
	font-size:15px;
	}
.banner-contant p br{
	display:none;
	}
.form_custom{
	width:600px;
	}
.all-work .col-sm-12 {
	padding: 0 11px !important;
}
.page-h2 h2 {
	font-size: 24px;
}
.page-h2 p {
	font-size: 13px;
	line-height: 19px;
	padding-bottom: 16px;
}
.work-box span{
	font-size:17px;
	}
.categori-box p{
	font-size:16px;
	}
.expart-banner h2 {
	font-size: 40px;
	margin-bottom: 18px;
}
.expart-banner p {
	font-size: 14px;
	padding-bottom: 6px;
}
.expart-banner a {
	padding: 8px 44px;
	font-size: 15px;
}
.dif-detls h2 {
	font-size: 30px;
	padding-bottom: 4px;
}
.dif-detls p{
	font-size:14px;
	}
.dif-detls ul li {
	width: 100%;
	padding-right: 0;
}	
.dif-detls ul li span {
	width: 48px;
	min-height: 85px;
}

.dif-detls ul li h6 {
	font-size: 15px;
	margin-bottom: 6px;
}
.learn-btn {
	font-size: 15px;
	height: 46px;
	padding: 0 40px;
	line-height: 47px;
}
.testimonial-area .page-h2 h2{
	font-size:24px;
	}
.testimonial-area .page-h2 p{
	font-size:14px;
	}
.fot-box ul {
	width: 50%;
	margin-right: 0% !important;
	border-right: none;
}
.fot-box{
	margin-bottom:20px;
	}
.below-footer {
	padding: 20px 0;
}
.main-login {
	width: 600px;
}
.main-login h2 {
	font-size: 26px;
	font-weight: 500;
	margin-bottom: 20px;
}
.white-div{
	padding:22px;
	}
.login-type {
	height: 55px;
	font-size: 15px;
}
.checkbox-group label, .login_forgot{
	font-size:15px;
	}
.or-main{
	width:400px;
	}




/*tapan*/
.only_shawo {
	display: none !important;
}
.tab_head_sheet_1 {
	padding: 10px;
	height: auto;
	display: initial !important;
	float: left;
	width: 100% !important;
}
.W55_1 {
	display: inline-block;
	width: 50%;
	float: left;
	font-size: 15px;
	color: #007cc2;
}
.tab_head_sheet_1 p {
	width: 50%;
	float: right;
}
.tab_head_sheet_1 p {
	font-size: 14px;
}
.acpt {
	padding: 2px 3px;
	font-size: 13px;
}
.rjct {
	padding: 2px 3px;
	font-size: 13px;
}
.dshbrd-lftmnu {
	width: 37%;
}
.dshbrd-rghtcntn {
	width: 61%;
}
.frmfld {
	width: 46%;
	margin-right: 2%;
}


.one-type {
	width: 48%;
	margin: 1%;
}
.tow-type {
	width: 48%;
	margin: 1%;
}
.three-type {
	float: left;
	width: 98%;
	margin: 1%;
}
.srchpgi {
	padding-right: 10px;
	margin-bottom: 0;
}
.srtby {
	margin-bottom: 10px;
}
.pagination{
	margin-bottom: 10px;
	}

.lfttbvrsn {
	width: 100%;
	margin-bottom: 15px;
}
.lfttbvrsn ul li {
	float: none;
	display: inline-block;
}
.lfttbvrsn ul {
	text-align: center;
}
.rtsidebtn {
	width: 100%;
	float: none;
	text-align: center;
	margin-bottom: 10px;
}
.rtsidebtn ul {
	float: none;
}	
.porflabt {
	margin-bottom: 15px;
}
.pra {
	font-size: 14px;
	line-height: 22px;
}
.avll {
	position: relative;
	float: right;
}
.avll p {
	font-size: 14px;
}
.avll p img {
	max-width: 28px;
}	
}
/*991*/

@media(max-width:767px) {
.become{
	margin-right:10px;
	}
.become img{
	display:none;
	}
.banner-area {
	min-height: 100px;
	padding: 40px 0;
}
.banner-contant h1 {
	font-size: 23px;
	margin-bottom: 10px;
}
.work-box {
	padding: 20px 0 15px 0;
}
.view-all {
	margin-top: 0;
	font-size: 14px;
	font-family: 'Roboto', sans-serif;
	height: 42px;
	line-height: 43px;
}
.expart-banner {
	padding: 40px 0;
}
.expart-banner h2 {
	font-size: 30px;
	margin-bottom: 14px;
}
.differ-image{
	display:none;
	}
.fot-box h3 {
	font-size: 18px;
	margin-bottom: 6px;
}
.form_custom {
	width: 480px;
}	
.right-white{
	display:none;
	}	
.guidance-area .owl-prev{
	margin-left:0px !important;
	}
.guidance-area .owl-next{
	margin-right:0px !important;
	}
.guidance-area .owl-nav{
	margin:0px !important;
	}
.login-body {
	padding: 45px 0;
}
.user-div a{
	font-size:14px;
	margin:0 2px;
	}
.user-div {
	margin-top: 12px;
}
.main-login {
	width: 450px;
}
.or-main {
	width: 270px;
}



.header-area {
	padding: 10px;
	position:relative;
}
.header-area .navbar-collapse{
	position: absolute;
	top: 47px;
	background: rgba(0, 0, 0,0.8) none repeat scroll 0% 0%;
	width: 100%;
	padding: 10px;
	z-index:9;
	}
.header-area .navbar-toggler{
	border:none;
	}	
.become {
	margin-right: 0;
	width: 100%;
	float: left;
	color:#fff;
}
.login-btn, .submit-btn {
	font-size: 15px;
	padding: 0;
	border: none;
	color: #fff;
	width: 100%;
	float: left;
}	
.become:hover, .login-btn:hover, .submit-btn:hover {
	color:#fa4041;
	background:none;
	}
.expart-signup p {
	font-size: 15px;
	margin-bottom: 17px;
}
.top-white, .mid-light {
	padding: 25px 65px 19px 65px;
}
.mid-light .form-group {
	width: 37%;
}



/*tapan*/
.dshbrd-lftmnu {
	width: 100%;
	display:none;
}
.dshbrd-rghtcntn {
	width: 100%;
	padding-top: 15px;
}
.dashboard-type {
	height: 39px;
	font-size: 13px;
}
.search_label {
	font-size: 13px;
}
.banner_subb {
	font-size: 16px;
	padding: 7px 19px;
	margin-top: 24px;
}

.mobile_filter{
	display:block;
	}
.bkng-hstrybdy h2 {
	font-size: 23px;
}
.bokcntnt-bdy {
	margin-top: 13px;
}
.dashboard_select {
	background: rgb(255,255,255) url("../images/drop-arw.png") no-repeat right 10px top 17px;
}	
.rwmrgn{
	margin:0 !important;
	}
.search-white {
	margin-top: 0;
}	
.pstn {
	top: 33px;
}
.rghtinoo .breadcrumb-item {
	font-size: 13px;

}
.boxed-list-item .item-description p {
	font-size: 13px;
}
.pra {
	font-size: 13px;
}
.pbdy-box h3 {
	font-size: 19px;
}
.boxed-list-item .item-content h4 a, .boxed-list-item .item-content h4 {
	font-size: 15px;
}
.boxed-list-item .item-details .detail-item {
	font-size: 14px;
}
.star-rating::before {
	font-size: 12px;
}
.star-rating .star {
	padding: 4px 0 0;
	font-size: 13px;
}
.eductn-sec h5 {
	font-size: 15px;
	margin-bottom: 10px;
}
.eductn-sec li {
	font-size: 13px;
}
.eductn-sec li img{
	max-width:14px;
	}
.eductn-sec p {
	font-size: 13px;
	margin: 10px 0;
}
.pbdy-box {
	margin-bottom: 20px;
}
.skilsplty ul li {
	padding: 7px 15px;
	font-size: 13px;
}
.upupdwnpd .tab_head_sheet_1 {
	padding-top: 8px;
	padding-bottom: 8px;
}
.header-area .navbar-nav li{
	margin-bottom:5px;
	}

.personal-type {
	height: 41px;
	font-size: 14px;
}
.personal-label {
	font-size: 15px;
	margin-bottom: 2px;
}
.personal-type99 {
	font-size: 14px;
}
.dash_form_box h4 {
	font-size: 18px;
	margin: 11px 0 10px;
}
.login_submitt {
	font-size: 16px;
	height: 43px;
	padding: 4px 13px;
}
}
/*767*/



@media(max-width:575px) {
	
	
	
	
	
	
	
	
.banner-contant {
	padding-top: 20px;
}
.form_custom {
	width: 355px;
}
.search-type {
	height: 34px;
	padding: 4px 88px 3px 30px;
}
.form_custom span {
	top: 4px;
}
.submit-search {
	padding: 8px 15px;
	font-size: 13px;
}
.banner-area {
	min-height: 100px;
	padding: 40px 0 0px 0;
}
.category .page-h2 {
	padding: 0 10px;
}
.all-categories {
	padding: 23px 10px 0 10px;
}
.guidance-area .page-h2 {
	padding: 0 10px;
}
.all-guidance {
	padding: 23px 20px 0 20px;
}
.all-testi {
	padding: 23px;
}
.top-footer {
	padding: 31px 10px 20px 10px;
}	
.different-area {
	padding: 35px 0;
}	
.dif-detls h2 {
	font-size: 24px;
	padding-bottom: 0px;
}	
.dif-detls p {
	font-size: 14px;
	margin: 0;
}	
.guidance-area, .testimonial-area {
	padding: 35px 0;
}	
.testi-image-area {
	width: 93px;
}	
.testi-image-area span {
	width: 65px;
	height: 65px;
}	
.testi-dtls h4{
	font-size:17px;
	}	
.all-testi {
	padding: 18px;
	padding-bottom: 0px;
}	
.testimonial-area .page-h2 {
	padding: 0 6px;
}
.below-footer {
	padding: 15px 0;
}	
.below-footer p{
	font-size:14px;
	}	
.category {
	padding: 35px 0;
}	
.categori-box p {
	font-size: 15px;
	padding:8px;
}	
	
.main-login {
	width: 365px;
}
.login-type {
	height: 48px;
	font-size: 14px;
}
.checkbox-group label .box{
	width:18px;
	height:18px;
	}	
.checkbox-group label .check {
	top: 5px;
	left: 6px;
	height: 12px;
}
.checkbox-group label, .login_forgot {
	font-size: 14px;
	line-height: 19px;
}
.checkbox-group label {
    padding-left: 25px;
	}
.or-main {
	width: 206px;
	margin-top:34px;
}
.login-social {
	margin: 30px 0 10px 0;
}
.login-social img {
	margin: 0 0px;
	width: 117px;
}
.login_submit1 {
	font-size: 15px;
	padding: 5px 35px;
}
.user-div a{
	padding: 6px 12px;
	}
.below-white p{
	font-size:15px;
	}	
.login-body {
	padding: 25px 0;
}	
.main-login h2 {
	font-size: 20px;
	margin-bottom: 11px;
}	
.signup-page .login_submit1 {
	padding: 6px 24px;
}	
.signup-page .login-social {
	margin: 7px 0 10px 0;
}
.already{
	font-size:14px;
	}	
.top-white, .mid-light {
	padding: 25px 45px 19px 45px;
}	
.mid-light .form-group {
	width: 36%;
}	
.expart-signup .login-social img {
	margin: 0 0 10px 0;
	width: 100%;
}	
	
.bkng-hstrybdy {
	padding: 22px 0 30px;
}
.bkng-hstrybdy h2 {
	font-size: 20px;
	padding-bottom: 12px;
}	

.prlpic {
	width: 90px;
	height: 90px;
}
.prlpic img{
	width:100%;
	}
.jbinfo {
	margin-top: 0;
}
.jbinfo ul li span {
	font-size: 14px;
	margin-bottom: 2px;
}
.jbinfo ul li p {
	font-size: 14px;
}
.rtsidebtn ul li {
	margin: 3px;
}
.rtsidebtn ul li a {
	padding: 8px 7px;
	font-size: 14px;
	margin: 0;
}
.shre {
	width: 38px;
	height: 38px;
	line-height: 18px;
}
.fc-button {
	padding: 5px 4px !important;
	font-size: 12px !important;
	line-height: 1.5 ;
}
.fc-toolbar h2 {
	font-size: 15px !important;
}
.jbinfo ul li {
	padding: 0 10px;
}
.prfldtl {
	padding-top: 9px;
}
.prfldtl h5 {
	font-size: 17px;
}
.prfldtl p {
	font-size: 13px;
}
.porflabt {
	float: none;
	max-width: 310px;
	margin: 0 auto;
	margin-bottom: 15px !important;
	display: block;
	overflow: hidden;
}
.prfil-info {
	padding: 20px 0 18px;
}
.pblcprfl-bdy {
	width: 100%;
	float: left;
	padding: 14px 0 0;
	background: #f0f2f3;
}
.main-form {
	margin-top: 0;
}
.usrdsp h3 {
	font-size: 16px;
}
.usrdsp h6 {
	font-size: 15px;
}
.usrdsp p {
	font-size: 12px;
}
.usrdsp {
	overflow: hidden;
	padding-left: 12px;
}
.myusr {
	padding: 12px;
}
.usrdsp {
	padding-left: 0;
	width: 100%;
	padding-top: 15px;
}

.dash_form_box {
	padding: 0 8px;
}
}

/*575*/


@media(max-width:450px) {
.form_custom {
	width: 300px;
	padding:5px;
}
.search-type {
	height: 34px;
	padding: 3px 71px 3px 26px;
	font-size: 14px;
}
.form_custom span img{
	width:14px;
	}
.form_custom span {
	top: 0px;
	left: 8px;
}
.submit-search {
	padding: 8px 11px;
	font-size: 14px;
	top:4px;
	right:4px;
}
.expart-banner {
	padding: 25px 7px;
}
.expart-banner h2 {
	font-size: 24px;
	margin-bottom: 10px;
}
.learn-btn {
	font-size: 13px;
	height: 41px;
	padding: 0 30px;
	line-height: 41px;
}
.testi-image-area span {
	width: 50px;
	height: 50px;
}
.testi-image-area {
	width: 70px;
	padding: 9px;
}
.banner-area {
	min-height: 90px;
	padding: 30px 5px 0px 5px;
}


.pbdy-box h3 {
	font-size: 17px;
}
.rtsidebtn ul li a {
	font-size: 12px;
}	
.fc-unthemed th, .fc-unthemed td, .fc-unthemed thead, .fc-unthemed tbody, .fc-unthemed .fc-divider, .fc-unthemed .fc-row, .fc-unthemed .fc-content, .fc-unthemed .fc-popover, .fc-unthemed .fc-list-view, .fc-unthemed .fc-list-heading td {
	font-size: 12px;
}
.prlpic {
	width: 76px;
	height: 76px;
}
.rghtinoo .rtd::after {
	display: none;
}
.rghtinoo .breadcrumb {
	padding: 7px 10px;
}	
.lfttbvrsn ul li a {
	font-size: 14px;
}
}

/*450*/

@media(max-width:400px) {
.banner-contant h1 {
	font-size: 18px;
	margin-bottom: 10px;
}
.banner-contant p {
	font-size: 14px;
	margin-bottom: 23px;
}	
.main-login {
	width: 300px;
}
.white-div {
	padding: 13px;
}	
.white-div .from-group {
	margin-bottom: 10px;
}	
.login-type {
	height: 40px;
	font-size: 13px;
	padding: 5px 11px;
}
.login_forgot {
	width: 100%;
	float: left;
	text-align: left;
}	
.top-white, .mid-light {
	padding: 10px 15px 10px 15px;
}
.mid-light a {
	padding: 11px 10px;
	font-size: 16px;
}	
	
.pagination a {
	padding: 3px 8px;
	font-size: 12px;
}
.result-type {
	height: 40px;
	font-size: 12px;
	padding: 8px 6px;
}
.search-label {
	font-size: 13px;
}
.header-area .navbar-brand img {
	width: 132px;
}
.uu_roundd {
	height: 34px;
	width: 34px;
}
.menu_dash p {
	font-size: 13px;
	padding-left: 8px;
}
.noticon span {
	height: 23px;
	width: 23px;
	font-size: 11px;
	line-height: 22px;
}
.alertt {
	margin: 12px 10px 0 0;
}
}
/*400*/


@media(max-width:340px) {
.header-area {
	padding: 4px 7px;
}
.header-area .navbar-collapse{
	top:41px;
	}
.testi-dtls {
	width: 74%;
}	
	
}
/*340*/































