
*{
	margin:0;
	padding:0;
	}
body{
	background-position:top;
	background-color:#fff;
	font-size:12px;
	color:#454545;
	margin:0;
	padding:0;
	}	
.clear{
	clear:both;
	}	
ul{
	list-style:none;
	margin:0px !important;
	}	
:focus{
	outline:none !important;
	border:none;
	}
a:hover{
	text-decoration:none !important;
	}		
a{
	text-decoration:none;
	}	
a img{
	border:none;
	}	
h1{
	font-size:25px;
	color:#454545;
	margin:0;
	padding:0;
	}	
h2{
	font-size:22px;
	color:#454545;
	margin:0;
	padding:0;
	}	
h3{
	font-size:20px;
	color:#454545;
	margin:0;
	padding:0;
	}	
h4{
	font-size:18px;
	color:#454545;
	margin:0;
	padding:0;
	}	
h5{
	font-size:15px;
	color:#454545;
	margin:0;
	padding:0;
	}	
h6{
	font-size:14px;
	color:#454545;
	margin:0;
	padding:0;
	}	
p{
	font-family: 'Open Sans', sans-serif;
	font-size:12px;
	color:#454545;
	margin:0;
	padding:0;
	}	
.wrapper{
	float:left;
	width:100%;
	}	
	
.banner-area {
	float: left;
	width: 100%;
	background: #ccc url("../images/banner.jpg") no-repeat left center;
	background-size: cover;
	min-height: 220px;
	padding:70px 0;
	text-align: center;
}
.banner-contant {
	float: left;
	width: 100%;
	padding-top: 50px;
}
.banner-contant h1 {
	font-family: 'Roboto', sans-serif;
	font-size: 54px;
	font-weight: 500;
	color: #fff;
	margin-bottom: 12px;
}
.banner-contant p {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: #fff;
	margin-bottom: 28px;
}
.form_custom {
	float: none;
	width: 700px;
	background: #fff;
	padding: 8px 13px;
	border-radius: 5px;
	box-shadow: 1px 0px 13px rgba(0,0,0,0.3);
	position: relative;
	margin: auto;
	margin-bottom: 60px;
}
.search-type {
	position: relative;
	border: none;
	height: 42px;
	padding: 4px 88px 3px 30px;
	width: 100%;
}
.form_custom span {
	position: absolute;
	color: #8b8b8b;
	font-size: 25px;
	top: 8px;
	left: 15px;
}
.submit-search {
	position: absolute;
	top: 8px;
	background:#fa4041;
	padding: 10px 15px;
	color: #fff;
	font-size: 15px;
	font-family: 'Poppins', sans-serif;
	right: 8px;
	border-radius: 4px;
	cursor: pointer;
	border: none;
}
.submit-search:hover{
	background:#1781d2;
	}
/*.banner-contant ul li{
	display:inline-block;
	border-right:1px solid #fff;
	padding:0 15px;
	text-align:left;
	color:#fff;
	}
.banner-contant ul li:last-child{
	border:none;
	}
.banner-contant ul li span {
	font-family: 'Rubik', sans-serif;
	font-size: 22px;
	font-weight: normal;
	line-height: 18px;
}
.banner-contant ul li p{
	margin:0px;
	font-size:14px;
	font-weight:normal;
	}*/
.how-work{
	float:left;
	width:100%;
	padding:0 0 35px 0;
	background:#f5f9fe;
	}
.work-white {
	float: left;
	width: 100%;
	background: #fff;
	padding: 15px;
	border-radius: 10px;
}
.page-h2 {
	float: left;
	width: 100%;
	text-align: center;
	padding: 15px 0 0px 0;
}
.page-h2 h2{
	color:#000;
	font-size:34px;
	font-weight:bold;
	font-family: 'Roboto', sans-serif;
	}
.page-h2 p {
	color: #636161;
	font-size: 14px;
	font-weight: normal;
	font-family: 'Poppins', sans-serif;
	line-height: 23px;
	background: url("../images/border.jpg") no-repeat bottom center;
	padding-bottom: 22px;
	margin: 0;
	position: relative;
}
.all-work {
	float: left;
	width: 100%;
	border-top: 1px solid #ededed;
	margin-top: -2px;
}
.all-work .col-sm-12{
	padding:0 7px !important;
	}
.work-box {
	float: left;
	width: 100%;
	padding: 40px 0 30px 0;
	text-align: center;
}
.work-box img{
	margin-bottom:18px;
	}
.work-box span {
	color: #1781d2;
	font-weight: 500;
	font-size: 20px;
	font-family: 'Poppins', sans-serif;
	margin-bottom:8px;
	float: left;
	width: 100%;
}
.work-box p {
	color: #878a8e;
	font-weight: 400;
	font-size:14px;
	font-family: 'Open Sans', sans-serif;
	margin-bottom: 0px;
	float: left;
	width: 100%;
}
.category{
	float:left;
	width:100%;
	padding:50px 0;
	}
.all-categories{
	float: left;
	width: 100%;
	border-top: 1px solid #ededed;
	margin-top: -2px;
	padding:30px 0 0 0;
}
.category .page-h2{
	padding:0px;
	}
.categori-box {
	float: left;
	width: 100%;
	height: 176px;
	background: #ccc;
	position: relative;
	overflow: hidden;
	text-align: center;
	border-radius: 4px;
	margin-bottom: 30px;
}
.categori-box img{
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	margin:auto;
	max-height:100%;
	max-width:100%;
	width:auto;
	height:auto;
	}
.categori-box p {
	position: absolute;
	z-index: 2;
	background: rgba(0,0,0,0.5);
	width: 100%;
	bottom: 0;
	margin: 0;
	padding: 11px;
	color: #fff;
	font-size: 19px;
	font-weight: normal;
	font-family: 'Rubik', sans-serif;
}
.view-all {
	margin-top: 13px;
	background: #fa4041;
	padding: 0px 29px;
	color: #fff;
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
	right: 8px;
	border-radius: 4px;
	font-weight: 500;
	height: 45px;
	display: inline-block;
	line-height: 46px;
}
.view-all .fa{
	margin-left:5px;
	}
.view-all:hover{
	background:#1781d2;
	color:#fff;
	} 
.expart-banner{
	float:left;
	width:100%;
	padding:60px 0;
	background:#1781d2 url("../images/expert-bg.jpg") no-repeat left center;
	background-size:cover;
	text-align:center;
	}
.expart-banner h2 {
	width: 100%;
	color: #fff;
	font-family: 'Playfair Display', serif;
	font-size: 62px;
	font-weight: 700;
	margin-bottom: 25px;
}
.expart-banner p{
	width: 100%;
	color: #fff;
	font-family: 'Roboto', sans-serif;
	font-size: 17px;
	font-weight: 400;
	padding-bottom:15px;
}
.expart-banner a {
	color: #fff;
	background: #fa4041;
	padding: 10px 64px;
	font-family: 'Roboto', sans-serif;
	font-size: 21px;
	font-weight: 400;
	border-radius: 29px;
	margin: auto;
}
.expart-banner a:hover{
	background:#000;
	color:#fff;
	}
.different-area{
	float:left;
	width:100%;
	background:#f7f7f7;
	padding:55px 0;
	position:relative;
	}
.dif-detls {
	float: left;
	width: 100%;
}
.dif-detls h2{
	color: #000;
	font-family: 'Roboto', sans-serif;
	font-size: 40px;
	font-weight: 700;
	padding-bottom:10px;
	}
.dif-detls p{
	color: #000;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 400;
	}
.dif-detls ul{
	float:left;
	width:100%;
	margin-top:30px !important;
	}
.dif-detls ul li{
	float:left;
	width:50%;
	padding-right:25px;
	}
.dif-detls ul li span{
	float:left;
	width:48px;
	min-height:108px;
	margin-bottom:15px;
	}
.dif-detls ul li span img{
	width:30px;
	}
.dif-detls ul li h6{
	color:#434343;
	font-size:18px;
	font-weight:500;
	font-family: 'Poppins', sans-serif;
	margin-bottom:8px;
	}
.dif-detls ul li p{
	color:#626262;
	font-size:14px;
	font-weight:400;
	font-family: 'Open Sans', sans-serif;
	margin-bottom:8px;
	}
.learn-btn {
	color: #fff;
	background: #fa4041;
	font-size: 18px;
	font-weight: 500;
	font-family: 'Poppins', sans-serif;
	height: 55px;
	padding: 0 40px;
	border-radius: 50px;
	display: inline-block;
	line-height: 55px;
	margin-top: 2px;
}
.learn-btn:hover{
	background:#1781d2;
	color:#fff;
	}
.differ-image {
	position: absolute;
	top: 60px;
	right: 0;
	z-index: 2;
	width: 35%;
	height: 447px;
	overflow: hidden;
}
.differ-image img {
	width: 100%;
	height: 100%;
}
.right-white {
	position: absolute;
	right: 0;
	top: 0;
	width: 8%;
	background: #fff;
	height: 573px;
	z-index: 1;
}
.guidance-area{
	float:left;
	width:100%;
	padding:55px 0;
	}
.guidance-area .page-h2{
	padding:0px;
	}	
.all-guidance{
	float: left;
	width: 100%;
	border-top: 1px solid #ededed;
	margin-top: -2px;
	padding: 30px 0 0 0;
	}
.guiede-box {
	float: left;
	width: 100%;
	box-shadow: 0px 1px 9px 0px rgba(0,0,0,0.1);
	margin: 0px 0 13px 0;
}
.guide-image {
	float: left;
	width: 100%;
	height:229px;
	overflow: hidden;
	position: relative;
	background: #ccc;
}
.guide-image img{
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	margin:auto;
	max-height:100%;
	max-width:100%;
	width:auto !important;
	height:auto;
	}
.guide-dtls {
	float: left;
	width: 100%;
}
.guide-intro {
	float: left;
	width: 100%;
	padding: 10px;
}
.guide-intro h3 {
	color: #1e2022;
	font-size: 17px;
	font-weight: 500;
	font-family: 'Poppins', sans-serif;
	float: left;
	width: 100%;
	margin-bottom: 1px;
}
.guide-intro ul {
	float: right;
	width: auto;
	padding:3px 0 0 0;
}
.guide-intro ul li {
	float: left;
	margin-right: 1px;
	color: #4c4c4c;
	font-size: 13px;
	font-weight: 400;
	font-family: 'Roboto', sans-serif;
	line-height: 11px;
}
.guide-intro ul li:last-child{
	margin-left:5px;
	}
.guide-intro p {
	color: #4c4c4c;
	font-size: 15px;
	font-weight: 400;
	font-family: 'Roboto', sans-serif;
	margin: 0px;
}
.guide-more {
	background: #fafafa;
	padding: 10px;
	float: left;
	width: 100%;
}
.guide-more ul{
	float: left;
	width: 100%;
	}
.guide-more ul li {
	float: left;
	width: auto;
	padding: 0 15px 0 10px;
	border-right: 1px solid #dddddd;
}
.guide-more ul li:last-child{
	border:none;
	}
.guide-more ul li span{
	color:#6c6c6c;
	font-size:15px;
	font-weight: 400;
	font-family: 'Roboto', sans-serif;
	}
.guide-more ul li p {
	color: #201d1d;
	font-size: 15px;
	font-weight: 400;
	font-family: 'Roboto', sans-serif;
	margin: 0px;
}
.guide-btn {
	background: #fa4041;
	color: #fff;
	font-size: 14px;
	font-weight: 400;
	font-family: 'Poppins', sans-serif;
	padding: 8px 9px;
	display: inline-block;
	border-radius: 3px;
	margin-top: 14px;
}
.guide-more .pull-right{
	background:#1781d2 !important;
	}
.guide-btn:hover{
	background:#000 !important;
	color:#fff;
	}
.guidance-area .owl-nav {
	position: absolute;
	top: 37%;
	width: 100%;
}
.guidance-area .owl-dots{
	display:none;
	}
.guidance-area .owl-prev {
	background: url("../images/left-arw.png") no-repeat !important;
	height: 47px;
	width: 47px;
	text-indent: -100092%;
	float: left;
	margin-left: -60px !important;
}
.guidance-area .owl-prev:hover {
	background: url("../images/left-arw-h.png") no-repeat !important;
}
.guidance-area .owl-next {
	background: url("../images/right-arw.png") no-repeat !important;
	height: 47px;
	width: 47px;
	text-indent: -100092%;
	float: right;
	margin-right: -60px !important;
}
.guidance-area .owl-next:hover{
	background: url("../images/right-arw-h.png") no-repeat !important;
	}

.testimonial-area{
	float:left;
	width:100%;
	background:#0079c2 url("../images/testimonial-banner.jpg") no-repeat left center;
	background-size:cover;
	padding:45px 0;
	}
.testimonial-area .page-h2{
	padding:0px;
	}
.testimonial-area .page-h2 h2 {
	color: #fff;
	font-size: 40px;
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	margin-bottom: 5px;
}
.testimonial-area .page-h2 p{
	color:#fff;
	font-size:15px;
	background: url("../images/border1.jpg") no-repeat bottom center;
	padding-bottom: 16px;
	}
.all-testi {
	float: left;
	width: 100%;
	padding-top:30px;
}
.testi-box {
	float: left;
	width: 100%;
	background: #fff;
	margin-top: 16px;
}
.testi-image-area {
	float: left;
	width: 112px;
	min-height: 190px;
	padding: 13px;
}
.testi-image-area span{
	display:inline-block;
	background:#ccc;
	width:82px;
	height:82px;
	border-radius:50%;
	overflow:hidden;
	position:relative;
	}
.testi-image-area span img{
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	margin:auto;
	max-height:100%;
	max-width:100%;
	width:100% !important;
	height:100%;
	}
.testi-dtls {
	padding: 28px 0 0 0;
	float: left;
	width: 79.8%;
	position: relative;
}
.testi-dtls h4{
	color:#242628;
	font-size:20px;
	font-weight: 400;
	font-family: 'Roboto', sans-serif;
	margin-bottom:1px;
	}
.testi-dtls h5 {
	color: #828282;
	font-size: 16px;
	font-weight: 400;
	font-family: 'Roboto', sans-serif;
	margin-bottom: 11px;
	display: inline-block;
}
.testi-dtls p{
	color:#3e4040;
	font-size:15px;
	font-weight: 400;
	font-family: 'Roboto', sans-serif;
	margin-bottom:20px;
	}
.testi-dtls h6 {
	color: #1781d2;
	font-size: 14px;
	font-weight: 400;
	font-family: 'Poppins', sans-serif;
	padding: 15px 0;
	border-top: 1px solid;
	margin: 0;
}
.coute{
	position:absolute;
	top:-15px;
	left:0;
	}
	
	
	
.all-testi .owl-nav{
	display:none;
	}
.all-testi .owl-dots{
	margin-top:15px;
	}	
.all-testi .owl-dot span {
	width: 13px !important;
	height: 13px !important;
	background: #fff !important;
	margin: 4px !important;
}
.all-testi .active span{
	background:#fa4041 !important;
	}
	
.footer-area {
float: left;
width: 100%;
}
.top-footer {
	float: left;
	width: 100%;
	padding: 45px 0 33px 0;
}
.fot-box {
	float: left;
	width: 100%;
	padding-right: 10px;
}
.fot-box h3 {
	color: #27282c;
	font-size: 20px;
	font-weight: 500;
	font-family: 'Poppins', sans-serif;
	margin-bottom: 20px;
}
.fot-box p {
	color: #4c4c4c;
	font-size: 14px;
	font-weight: 400;
	font-family: 'Roboto', sans-serif;
	line-height: 24px;
	margin-bottom: 6px !important;
}
.red_more {
	color: #fa4041;
	font-size: 16px;
	font-weight: 400;
	font-family: 'Roboto', sans-serif;
	text-transform: capitalize;
	margin-top: 8px;
	float: left;
}
.red_more:hover {
	color: #0079c2;
}
.fot-box ul {
	float: left;
	width: 38%;
	margin-right: 11% !important;
	border-right: 1px solid #ccc;
}
.fot-box ul li {
	float: left;
	width: 100%;
	margin-bottom: 4px;
}
.fot-box ul li a {
	display: block;
	color: #4c4c4c;
	font-size: 15px;
	font-weight: 400;
	font-family: 'Roboto', sans-serif;
}
.fot-box ul li a:hover {
	color: #f24764;
}	
.fot-social {
	float: left;
	width: 100% !important;
	margin: 10px 0 0 0 !important;
	border: none !important;
}
.fot-social li {
	float: left;
	width: auto !important;
	margin-right: 10px;
}
.fot-social li:hover{
	opacity:0.5;
	}	
.below-footer {
	float: left;
	width: 100%;
	border-top: 1px solid #ccc;
	padding: 28px 0;
	text-align: center;
}	
.below-footer p{
	margin:0px;
	color:#7e7e7e;
	font-size:15px;
	font-family: 'Open Sans', sans-serif;
	}	
.header-area {
	float: left;
	width: 100%;
	padding: 22px 0px;
	box-shadow: 1px 7px 7px rgba(17, 19, 20, 0.1);
	position: relative;
}
.header-area .navbar{
	padding:0px !important;
	width:100% !important;
	}	
.become {
	color: #454545;
	font-size: 17px;
	font-weight: 400;
	font-family: 'Poppins', sans-serif;
	margin-right:25px;
}	
.become:hover{
	color:#1781d2;
	}
.become img{
	float:left;
	margin-right:7px;
	}	
.login-btn {
	color: #1781d2;
	font-size: 15px;
	font-weight: 400;
	font-family: 'Poppins', sans-serif;
	border: 1px solid #1781d2;
	padding: 5px 18px;
	border-radius: 3px 0 0 3px;
}	
.login-btn:hover, .submit-btn:hover{
	background:#1781d2;
	color:#fff;
	}
.submit-btn{
	color: #1781d2;
	font-size: 15px;
	font-weight: 400;
	font-family: 'Poppins', sans-serif;
	border: 1px solid #1781d2;
	padding: 5px 18px;
	border-radius: 0px 3px 3px 0px;
	border-left:none;
	}	
	
.login-body{
	float:left;
	width:100%;
	padding:65px 0;
	background:#f5f9fe;
	}	
/*========
Check box start 
=========*/

.checkbox-group {
	position: relative;
	margin: 0;
	float: left;
	width: auto;
}
.checkbox-group input[type=checkbox] {
    display:none
}
.checkbox-group label {
	padding-left: 31px;
	cursor: pointer;
	color: #1781d2;
	font-size: 18px;
	font-weight: 400;
	font-family: 'Poppins', sans-serif;
	line-height: 22px;
}
.checkbox-group label span {
    display:block;
    position:absolute;
    left:0;
    -webkit-transition-duration:.3s;
    -moz-transition-duration:.3s;
    transition-duration:.3s;
}
.checkbox-group label .box {
	background: #fff;
	height: 22px;
	width: 22px;
	z-index: 9;
	-webkit-transition-delay: .2s;
	-moz-transition-delay: .2s;
	transition-delay: .2s;
	border: 2px solid #1781d2;
	border-radius:3px;
}
.checkbox-group label .check {
	top: 5px;
	left: 8px;
	width: 6px;
	height: 15px;
	border: 2px solid #fff;
	border-top: none;
	border-left: none;
	opacity: 0;
	z-index: 10;
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	transform: rotate(180deg);
	-webkit-transition-delay: .3s;
	-moz-transition-delay: .3s;
	transition-delay: .3s;
}
input[type="checkbox"]:checked ~ label .box {
	background: #0097ff;
	border: 1px solid #0097ff;
}
input[type=checkbox]:checked ~ label .check {
    opacity:1;
    -webkit-transform:scale(1) rotate(45deg);
    -moz-transform:scale(1) rotate(45deg);
    transform:scale(1) rotate(45deg);
}
.checkbox-group label b {
	color: #0097ff;
	font-weight: normal !important;
}
/*========
Check box End 
=========*/	
.main-login {
	float: none;
	width: 800px;
	margin: auto;
	text-align: center;
}	
.main-login h2{
	color: #000;
	font-size: 35px;
	font-weight: bold;
	font-family: 'Roboto', sans-serif;
	margin-bottom:30px;
	}	
.white-div {
	background: #fff;
	border-radius: 5px;
	box-shadow: 1px 0px 14px rgba(92, 155, 196, 0.2);
	padding: 32px;
	display: inline-block;
	width: 100%;
	margin-bottom: 20px;
}
.white-div .from-group{
	float:left;
	width:100%;
	margin-bottom:17px;
	}	
.login-type {
	border: 1px solid #cccccc;
	height: 70px;
	width: 100%;
	padding: 10px 15px;
	font-size: 18px;
	font-weight: 400;
	font-family: 'Poppins', sans-serif;
	color:#000;
}
.login_forgot{
	float:right;
	color: #1781d2;
	font-size: 18px;
	font-weight: 400;
	font-family: 'Poppins', sans-serif;
	line-height: 22px;
	}	
.login_forgot:hover{
	color:#000;
	}	
.check_group{
	float:left;
	width:100%;
	}	
.login_submit1 {
	background: #fa4041;
	color: #fff;
	font-size: 17px;
	font-weight: normal;
	font-family: 'Roboto', sans-serif;
	border: none;
	padding: 6px 46px;
	border-radius: 3px;
	cursor:pointer;
}
.login_submit1:hover{
	background:#1781d2;
	}	
.or-main {
	float: none;
	margin: auto;
	width: 600px;
	height: 1px;
	background: #9a9898;
	margin-top: 48px;
	position: relative;
	display: inline-block;
}
.or-main span {
	background: #fff;
	color: #9a9898;
	font-size: 17px;
	font-weight: 400;
	font-family: 'Roboto', sans-serif;
	border-radius: 50%;
	display: inline-block;
	width: 62px;
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	top: -12px;
}
.login-social {
	float: left;
	width: 100%;
	margin: 45px 0 17px 0;
}	
.login-social img{
	margin:0 2px;
	}	
.login-social img:hover{
	opacity:0.7;
	}
.below-white{
	padding:25px;
	}		
.below-white p {
	float: left;
	width: 100%;
	color: #313131;
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
	margin: 0px;
	font-weight: 300;
	letter-spacing: 1px;
}
.user-div {
	float: left;
	width: 100%;
	margin-top: 20px;
}
.user-div a {
	color: #fff;
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	padding: 8px 25px;
	border-radius: 3px;
	background: #1781d2;
	display: inline-block;
	margin: 0 7px;
}	
.user-div a:hover{
	color:#fff;
	background:#fa4041;
	}	
.one-row{
	float:left;
	width:100%;
	}
.one-row .from-group{
	float:left;
	width:49%;
	margin-right:2%;
	}	
.login-select{
	background:url("../images/select-are.png") no-repeat right 12px center;
	 -webkit-appearance: none;
   -moz-appearance:    none;
   appearance:         none;
	}	
.signup-page .login_submit1 {
	padding: 9px 24px;
	margin-top: 15px;
}
.sign-des {
	float: left;
	width: 100%;
	margin-top: 5px;
	color: #737272;
	font-size: 12px;
	font-weight: 400;
	font-family: 'Roboto', sans-serif;
	letter-spacing:0.3px;
}
.sign-des a{
	color:#0097ff;
	}	
.login-social p {
	color: #626161;
	font-size: 14px;
	font-weight: 400;
	font-family: 'Roboto', sans-serif;
	margin-bottom: 10px;
}
.signup-page .login-social {
	margin: 25px 0 10px 0;
}	
.already{
	float: left;
	width: 100%;
	color: #313131;
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
	margin: 0px;
	font-weight: 300;
	letter-spacing: 1px;
	}	
.already a{
	color:#0097ff;
	}	
.already a:hover{
	color:#fa4041;
	}	
.expart-signup{
	width:510px;
	}
.expart-signup h2 {
	font-size: 30px;
	margin-bottom: 10px !important;
}
.expart-signup p {
	float: left;
	width: 100%;
	color: #000;

	font-size: 17px;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	margin-bottom:22px;
}	
.white-div2{
	background:none;
	border-radius: 5px;
	box-shadow: 1px 0px 14px rgba(92, 155, 196, 0.2);
	display: inline-block;
	width: 100%;
	margin-bottom: 20px;
	}	
.top-white {
	float: left;
	width: 100%;
	background: #fff;
	padding: 30px 85px 20px 85px;
}
	
.expart-label {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	color: #333;
	font-weight: 500;
	margin-bottom: 4px;
	width: 100%;
	text-align: left;
}	
.expart-signup .login-type {
	height: 47px;
	border: 1px solid #999999;
	border-radius: 4px;
	font-size: 13px;
}
.expart-signup .form-group {
	margin-bottom: 6px;
	float: left;
	width: 100%;
}	
.mid-light {
	padding: 15px 85px 13px 85px;
	float: left;
	width: 100%;
}
.mid-light .form-group {
	width: 38%;
	margin-right: 3%;
	float: left;
}	
.mid-light a {
	color: #fff;
	padding: 10px 10px;
	font-size: 17px;
	font-weight: 400;
	font-family: 'Roboto', sans-serif;
	background: #0097ff;
	margin-top: 27px;
	float: right;
	border-radius: 3px;
}
.mid-light a:hover{
	background:#fa4041;
	color:#fff;
	}	
	
	
	
.expart-signup .login_submit1{
	padding: 9px 24px;
	margin-top: 15px;
	background:#0097ff;
	}	
.expart-signup .login_submit1:hover{
	background:#fa4041;
	}	
.expart-signup .or-main {
	width: 264px;
	background: #d0d0d0;
	margin-top: 30px;
	display: inline-block;
}	
.expart-signup .or-main span {
	background: #000;
	color: #fff;
	font-size: 14px;
	top: -18px;
	width: 35px;
	height: 35px;
	line-height: 34px;
}
.expart-signup .login-social {
	margin: 25px 0 17px 0;
}
.expart-signup .login-social img {
	margin: 0 0 10px 0;
}	
	
.search-filter{
	float:left;
	width:100%;
	background:#f5f9fe;
	padding:30px 0;
	}	
.search-white{
	float:left;
	width:100%;
	background:#fff;
	padding:18px;
	box-shadow: 1px 0px 9px rgba(92, 155, 196, 0.1);
	margin-top: 40px;
	}	
.search-label{
	float:left;
	width:100%;
	font-size:15px;
	color:#4a4a4a;
	font-family: 'Poppins', sans-serif;
	margin-bottom:3px;
	}	
.result-type{
	height: 47px;
	border: 1px solid #999999;
	border-radius: 4px;
	font-size: 13px;
	border: 1px solid #999999;
	width: 100%;
	padding: 10px 15px;
	font-weight: 400;
	font-family: 'Poppins', sans-serif;
	color: #000;
	}	
.one-type {
	float: left;
	width: 20.3%;
	margin-right: 1%;
	margin-bottom: 3px !important;
}	
.result-select{
	background: url("../images/select-are.png") no-repeat right 8px center;
	webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	}	
.tow-type {
	float: left;
	width: 15%;
	margin-right: 1%;
	margin-bottom:3px !important;
}	
.three-type{
	float: left;
	width: 20%;
	margin-bottom:3px !important;
	}
	
.slider_rnge {
	/*margin-top: 12px;*/
	float: left;
	display: block;
	overflow: hidden;
	width: 100%;
	height: auto;
	padding-top: 12px;
}
.slider_rnge .ui-widget-header {
	background: #1781d2 !important;
}
.slider_rnge .ui-slider-horizontal {
	background: #000 none repeat scroll 0 0 !important;
	border: medium none !important;
	height: 6px !important;
	margin: 0;
}

.slider_rnge .ui-state-default, .slider_rnge .ui-widget-content .ui-state-default,.slider_rnge .ui-widget-header .ui-state-default {
	border-radius: 50% !important;
	height: 22px !important;
	top: -8px !important;
	width: 22px !important;
}
.slider_rnge input[type="text"] {
	color: #333 !important;
	float: left;
	font-family: 'Roboto', sans-serif;
	font-size: 14px !important;
	height: 18px !important;
	padding: 0 !important;
	position: relative;
	width: 100%;
	margin: 11px 0 0px 0px;
	border: 0 none !important;
	text-align: center;
}
.search-body{
	float:left;
	width:100%;
	padding:27px 0;
	background:#fff;
	}	
.all-search .col-sm-12{
	padding:0 12px !important;
	}		
.all-search .guiede-box{
	margin-bottom:30px;
	}	


.srchpgi{
	width:100%;
	float:left;
	margin-bottom:15px;
	}
.pagination {
  display: inline-block !important;
  float:right;
}

.pagination a {
	color: #5b5b5b;
	float: left;
	padding: 6px 14px;
	text-decoration: none;
	transition: background-color .3s;
	border: 1px solid #ddd;
	margin: 0 1px;
	border-radius: 3px;
	text-transform: uppercase;
	font-size: 13px;
	font-weight: 600;
}
.pagination a i{
	font-size:14px;
	font-weight:700;
	}
.pagination a:hover {
  background-color: #2a85d7;
  color: white;
  /*border: 1px solid #d7d7d7;*/
  border-radius: 3px;
}
.pagination a.active {
  background-color: #2a85d7;
  color: white;
  /*border: 1px solid #d7d7d7;*/
  border-radius: 3px;
}

/*.pagination a:hover:not(.active) {background-color: #ddd;}*/
	
	
	
	
	
.srtby {
	height: 34px;
	border: 1px solid #e9e8e8;
	border-radius: 2px;
	font-size: 13px;
	width: 100px;
	padding: 7px 8px;
	font-weight: 400;
	font-family: 'Roboto', sans-serif;
	color: #7e7f7f;
	background: url("../images/select-are.png") no-repeat right -3px center;
	webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	float: right;
	margin-left:15px;
}
	
	
	
.ftrshdw{
	box-shadow: 0px -3px 22px -4px rgba(0,0,0,0.1);
	}


	
	
	
	
	
/*tapan*/
.bkng-hstrybdy{
	width:100%;
	float:left;
	background:#f5f9fe;
	padding:50px 0 30px;
	}	
.bkng-hstrybdy h2 {
	color: #000;
	font-size: 34px;
	font-weight: bold;
	font-family: 'Roboto', sans-serif;
	background: url("../images/border.jpg") no-repeat bottom center;
	padding-bottom: 22px;
	width:100%;
	float:left;
	text-align:center;
}
	
	
	
.bokcntnt-bdy{
	width:100%;
	float:left;
	padding:20px 15px;
	background:#fff;
	border-radius:4px;
	box-shadow: 0px 1px 9px 0px rgba(0,0,0,0.1);
	min-height:400px;
	margin-top:30px;
	}	
.dshbrd-lftmnu{
	width:25%;
	float:left;
	padding:15px 0 0;
	min-height:300px;
	box-shadow: 0px 1px 9px 0px rgba(212,236,255,0.9);
	}

.prflinfo-sec{
	width:100%;
	float:left;
	padding:0 15px;
	text-align:center;
	}
.prflinfo-sec span{
	width:100%;
	float:left;
	text-align:center;
	font-size: 11px;
	font-weight: 300;
	font-family: 'Roboto', sans-serif;
	color:#252424;
	}
.prflpic{
	width:100%;
	float:left;
	text-align:center;
	margin:10px 0;
	}
.prflpic img{
	max-width:100%;
	}
.prflinfo-sec p{
	width:100%;
	float:left;
	text-align:center;
	font-size: 15px;
	font-weight: 400;
	font-family: 'Poppins', sans-serif;
	color:#252424;
	margin:0 0 5px;
	}
.prflinfo-sec h6 {
	text-align: center;
	font-size: 16px;
	font-weight: 400;
	font-family: 'Poppins', sans-serif;
	color: #1781d2;
	display: inline-block;
	border-bottom: 1px solid #1781d2;
	padding-bottom: 8px;
}
	
	
.dashmnu {
	width: 100%;
	float: left;
	margin-top: 15px;
}
.dashmnu ul{
	width:100%;
	float:left;
	}
.dashmnu ul li{
	width:100%;
	float:left;
	border-bottom:1px solid #d7eefe;
	}	
.dashmnu ul li a{
	font-family: 'Poppins', sans-serif;
	color:#252424;
	font-size:15px;
	width:100%;
	float:left;
	padding:10px 15px;
	}
.dashmnu ul li a img{
	max-width:20px;
	margin-right:10px;
	}	
	
.dashmnu ul li a:hover{
	color:#1781d2;
	}	
.dashmnu ul li:last-child{
	border:none;
	}


.dshbrd-rghtcntn {
	width: 73%;
	float: right;
	padding: 0 0 0;
	min-height: 300px;
}
	
	
	
.buyer_table {
	float: left;
	width: 100%;
	padding: 0 0;
}
.buyer_table .table {
	margin-bottom: 0px !important;
}
/*table css*/

.table {
	display: table;
	margin-bottom: 0;
	max-width: 100%;
	width: 100% !important;
	box-shadow: 0px 1px 2px #dcdcdc;
}
.table .one_row1 {
	display: table-row;
}
.tab_head_sheet {
	background: #1781d2;
	border: medium none;
	color: #fff;
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
	line-height: 22px;
	padding-left: 20px;
	text-align: left;
	font-weight: 400;
}
.cell1 {
	display: table-cell;
	padding:12px 5px 12px 15px;
	position: relative;
	vertical-align: middle;
	white-space: nowrap;
	border-bottom:1px solid #e5e5e5;
}
.tab_head_sheet_1 {
	/* height: 50px; */
	padding: 12px 0px 12px 15px;
	text-align: left;
	white-space: normal;
	overflow-wrap: break-word;
	color: #475057;
	font-family: 'Roboto', sans-serif;
}
.tab_head_sheet_1 p {
	color: #475057;
	font-size: 15px;
	font-weight: 400;
	margin: 0;
	font-family: 'Roboto', sans-serif;
}
.W55_1 {
	display: none;
}
.cell1.tab_head_sheet_1 img {
	padding: 7px 2px;
}
.item_img{
	float:left;
	width:55px;
	height:55px;
	border:1px solid #dedbdb;
	background:#fff;
	overflow:hidden;
	position:relative;
	text-align:center;
	margin-right:20px;
	}
.item_img img{
	position:absolute;
	top:0;
	bottom:0;
	right:0;
	left:0;
	margin:auto;
	}
.cell1 img:hover{
	opacity:0.6;
}
/*.table .small_screen31:nth-child(2n+1) {
	border-bottom:2px solid #e5e5e5;
}*/
.acpt{
	background:#000;
	padding:3px 4px;
	font-family: 'Roboto', sans-serif;
	font-size:14px;
	font-weight:500;
	color:#fff;
	display:inline-block;
	border-radius:2px;
	}
.acpt:hover{
	background:#1781d2;
	color:#fff;
	}

.rjct{
	background:#fa4041;
	padding:3px 4px;
	font-family: 'Roboto', sans-serif;
	font-size:14px;
	font-weight:500;
	color:#fff;
	display:inline-block;
	border-radius:2px;
	}
.rjct:hover{
	background:#1781d2;
	color:#fff;
	}
/*table css*/	
	
	
.form-group {
	float: left;
	/*width: 100%;*/
}
.search_label {
	float: left;
	width: 100%;
	color: #4a4a4a;
	font-size: 15px;
	font-weight: normal;
	font-family: 'Poppins', sans-serif;
	margin-bottom: 5px;
}
.dashboard-type {
	float: left;
	width: 100%;
	border: 1px solid #999;
	height: 48px;
	padding: 5px 10px;
	font-size: 14px;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	color: #bbc3cc;
	border-radius: 4px;
}
.dashboard_select {
	background: rgb(255,255,255) url("../images/drop-arw.png") no-repeat right 12px top 21px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	cursor: pointer;
}
.from-field {
	float: left;
	width: 100%;
	margin-bottom: 10px;
}	
.banner_subb {
	float: left;
	border: none;
	text-align: center;
	color: #fff;
	font-size: 17px;
	background: #fa4041;
	border-radius: 3px;
	cursor: pointer;
	padding: 11px 25px;
	margin-top: 27px;
	font-weight: 400;
	font-family: 'Poppins', sans-serif;
}
.banner_subb:hover {
	color: #fff;
	background: #1781d2;
}
.frmfld {
	width: 23%;
	float: left;
	margin-right: 1.5%;
}

.mobile_filter {
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	color: #fff;
	background: #0a376d;
	padding: 8px 12px;
	width: 100%;
	float: left;
	display: none;
	cursor: pointer;
}
.mobile_filter:hover {
	background: #ef5b5b;
}
.mobile_filter p {
	float: none;
	color: #fff;
	font-size: 16px;
	width: auto !important;
	display: inline-block;
	margin-left: 5px !important;
	margin-bottom: 0px !important;
	font-weight: 500;
	font-family: "Roboto",sans-serif;
}	
.fot-links{
	width:100%;
	}	
	
	
.pstn {
	position: absolute;
	right: 10px;
	top: 41px;
}
.frmfld .form-group{
	position:relative;
	}


.prfile-bnr-sec{
	width:100%;
	float:left;
	background:url(../images/prfile-bnnr.jpg) no-repeat;
	background-size:cover;
	}
.prfil-info{
	width:100%;
	float:left;
	padding:40px 0 35px;
	}	
	
.porflabt {
	float: left;
	max-width: 310px;
}	
	
.prlpic{
	width:124px;
	height:124px;
	float:left;
	border-radius:50%;
	overflow:hidden;
	}	
.prlpicm img{
	width:100%;
	}
.prfldtl {
	overflow: hidden;
	padding-left: 15px;
	padding-top: 26px;
}
	
	
.prfldtl h5 {
	font-family: "Roboto",sans-serif;
	color: #1b1b1b;
	font-size: 20px;
	width: 100%;
	float: left;
	font-weight: 400;
	margin-bottom: 3px;
}
.prfldtl p{	
	font-family: "Roboto",sans-serif;
	color:#fa4041;
	font-size:15px;
	width:100%;
	float:left;
	margin-bottom:0;
}
.prfldtl ul {
	width: 100%;
	float: left;
	line-height: 13px;
}
.prfldtl ul li{
	display:inline-block;
	list-style-type:none;
	font-size:12px;
	color:#4c4c4c;
	}
	
.rghtinoo{
	width:auto;
	float:right;
	}	

.rghtinoo .breadcrumb {
	width: 100%;
	float: left;
	background: #fff !important;
	padding: .75rem 1rem;
}
.rghtinoo .breadcrumb-item {
	padding: 0 5px 0 0 !important;
	font-size:16px;
	font-family: "Roboto",sans-serif;
}
.rghtinoo .breadcrumb-item a {
	color: #090909;
	text-decoration: none;
}
.rghtinoo .breadcrumb-item.active {
	color: #666;
}
.rghtinoo .breadcrumb-item a:hover{
	color:#fa4041;
	}	
	
.rghtinoo .breadcrumb-item + .breadcrumb-item::before {
	display:none !important;
}

.rghtinoo .rtd::after {
	display: inline-block;
	/* padding-right: .5rem; */
	color: #000;
	content: "|";
	padding: 0 8px 0 12px;
}
	
	
.jbinfo {
	width: 100%;
	float: left;
	margin-top: 20px;
}
.jbinfo ul {
	width: auto;
	float: right;
}
.jbinfo ul li {
	float: left;
	padding: 0 15px;
	list-style-type: none;
	text-align: center;
	position: relative;
	margin: 0 0 0 0;
	border-right:1px solid #fff;
	}
.jbinfo ul li span {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #1781d2;
	text-align: center;
	width: 100%;
	margin-bottom: 8px;
	display: block;
}
.jbinfo ul li p {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #201d1d;
	margin:0;
}
.jbinfo ul li:last-child{
	border:none;
	padding-right:0;
	}	
	
	
.prfltab{
	float: left;
	width: 100%;
	padding: 10px 0px 0;
	box-shadow: 1px 3px 7px rgba(17, 19, 20, 0.1);
	position: relative;
	margin-bottom:0;
}
.lfttbvrsn{
	width:55%;
	float:left;
	}	
.lfttbvrsn ul{
	width:100%;
	float:left;
	}
.lfttbvrsn ul li {
	float: left;
	text-align: center;
	padding: 0 25px 10px 25px;
}
.lfttbvrsn ul li a{
	text-align:center;
	color:#343434;
	font-size:15px;
	font-family: 'Roboto', sans-serif;
	position:relative;
	padding-bottom: 8px;
	border-bottom:3px solid #fff;
	}
.lfttbvrsn ul li a:hover{
	color:#fa4041;
	border-bottom:3px solid #fa4041;
	}
.lfttbvrsn ul li a:focus {
	color: #fa4041;
	border-bottom: 3px solid #fa4041;
}
	
/*.lfttbvrsn ul li a:hover:after {
	content:"";
	width:50px;
	height:2px;
	background:#fa4041;
	position:absolute;
	left:0;
	right:0;
	bottom:0;
	margin:0 auto;
	}*/
	

.lfttbvrsn ul li a span {
	display: block;
	width: 100%;
	text-align: center;
}
.lfttbvrsn ul li a span img{
-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}
.lfttbvrsn ul li a:hover span img{
	-webkit-filter:inherit;
  filter: inherit;
}
.lfttbvrsn ul li a:focus span img{
	-webkit-filter:inherit;
  filter: inherit;
}

.lfttbvrsn ul li:first-child{
	padding-left:0;
	}


.rtsidebtn{
	width:45%;
	float:right;
	}
.rtsidebtn ul{
	float:right;
	}
.rtsidebtn ul li{
	display:inline-block;
	}
.rtsidebtn ul li a{
	background:#1781d2;
	padding:11px 10px;
	font-family: 'Roboto', sans-serif;
	font-size:16px;
	border-radius:3px;
	margin-left:7px;
	color:#fff;
	display: inline-block;
	}
.rtsidebtn ul li a:hover{
	background:#fa4041;
	color:#fff;
	text-decoration:none;
	}
.shre {
	width: 41px;
	height: 41px;
	text-align: center;
	line-height: 18px;
	border-radius: 50% !important;
}



.pblcprfl-bdy{
	width:100%;
	float:left;
	padding:35px 0;
	background:#f0f2f3;
	}
.pbdy-box{
	width:100%;
	float:left;
	background:#fff;
	padding:15px;
	box-shadow: 1px 1px 10px rgba(17, 19, 20, 0.1);
	margin-bottom:40px;
	border-radius:3px;
	}
.pbdy-box h3{
	color:#1781d2;
	font-size:21px;
	font-weight:500;
	width:100%;
	float:left;
	padding-bottom:10px;
	border-bottom:2px dashed #e8e8e8;
	font-family: 'Poppins', sans-serif;
	}
.pra{
	font-family: 'Roboto', sans-serif;
	width:100%;
	float:left;
	color:#4d4f4f;
	font-size:15px;
	line-height:25px;
	}

.skilsplty{
	width:100%;
	float:left;
	margin-top:10px;
	}
.skilsplty ul{
	width:100%;
	float:left;
	}
.skilsplty ul li {
	float: left;
	margin: 4px;
	padding: 11px 25px;
	background: #f0f2fd;
	border-radius: 2px;
	font-size: 14px;
	color: #4d4f4f;
	font-family: 'Roboto', sans-serif;
	display: inline-block;
}


.boxed-list {
	margin-top: 0;
	display: block;
	width: 100%;
	float: left;
}
.boxed-list ul.boxed-list-ul {
	list-style: none;
	margin: 0;
}
.boxed-list ul.boxed-list-ul > li {
	display: block;
	background-color: transparent;
	padding: 0 0 20px 0px;
	border-radius: 4px;
}
.boxed-list-item .item-content h4 a, .boxed-list-item .item-content h4 {
	font-size: 17px;
	font-weight: 400;
	color: #0a0909;
	float: left;
	width: 100%;
	margin: 8px 0;
	font-family: 'Roboto', sans-serif;
}
.boxed-list-item .item-content h4 span {
	font-size: 12px;
	color: #7c7e7f;
	display: block;
	font-weight: 500;
	margin: 5px 0;
	font-family: 'Poppins', sans-serif;
}
.boxed-list-item .item-details {
	display: flex;
	margin-top: 5px;
	width: 100%;
}
.margin-top-10 {
	margin-top: 10px !important;
}
.boxed-list-item .item-details .star-rating {
	top: -2px;
	position: relative;
	margin-right: 15px;
}
.star-rating::before {
	content: attr(data-rating);
	float: left;
	border-radius: 2px;
	background-color: #1781d2;
	color: #fff;
	font-size: 15px;
	line-height: 15px;
	font-weight: 500;
	padding: 5px 7px;
	position: relative;
	top: 1px;
	margin-right: 10px;
	font-family: 'Poppins', sans-serif;
}
.star-rating .star {
	display: inline-block;
	margin: 0;
	padding: 0;
	float: left;
	margin-right: 3px;
	position: relative;
	color: #1781d2;
}
.boxed-list-item .item-details .detail-item {
	margin-right: 15px;
	color: #4d4f4f;
	font-size:15px;
}
.boxed-list-item .item-details .detail-item i {
	margin-right: 3px;
	position: relative;
	top: 0;
}
.boxed-list-item .item-description p {
	margin-bottom: 0;
	padding-bottom: 0;
	font-size: 15px;
	color: #4d4f4f;
	margin-top: 12px;
	font-weight: 400;
	font-family: 'Roboto', sans-serif;
}

.eductn-sec{
	width:100%;
	float:left;
	margin:8px 0;
	}
.eductn-sec h5{
	width:100%;
	float:left;
	font-family: 'Roboto', sans-serif;
	color:#0a0909;
	font-size:17px;
	margin-bottom:15px;
	}
.eductn-sec li{
	float:left;
	font-family: 'Roboto', sans-serif;
	font-size:15px;
	margin-right:18px;
	list-style-type:none;
	}
.eductn-sec li img{
	display: inline-block;
margin-right: 5px;
margin-top: -5px;
	}	
	
	
.eductn-sec p{
	width:100%;
	float:left;
	font-family: 'Roboto', sans-serif;
	color:#4d4f4f;
	font-size:15px;
	margin:15px 0;
	}



 #wrap {
    width: 100%;
    margin: 0 auto;
  }

  #external-events {
    float: left;
    width: 150px;
    padding: 0 10px;
    border: 1px solid #ccc;
    background: #eee;
    text-align: left;
  }

  #external-events h4 {
    font-size: 16px;
    margin-top: 0;
    padding-top: 1em;
  }

  #external-events .fc-event {
    margin: 10px 0;
    cursor: pointer;
  }

  #external-events p {
    margin: 1.5em 0;
    font-size: 11px;
    color: #666;
  }

  #external-events p input {
    margin: 0;
    vertical-align: middle;
  }

  #calendar {
    float: right;
    width: 100%;
  }
.fc-unthemed td.fc-today {
	background: #4f4f4e !important;
	color: #fff !important;
}

.pbdy-box h2 {
	width: auto;
	text-align: left;
	color: #0a54a9;
	font-size: 24px;
	font-family: 'Roboto', sans-serif;
	padding-bottom: 15px;
	margin: 0px;
	padding-left: 20px;
	float: left;
}
.main-form{
	position:relative;
	width:100%;
	float:left;
	margin-top:15px;
	}
.avll {
	max-width: 323px;
	position: absolute;
	right: 0;
	top: 7px;
}
.avll p {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #8f9091;
	display: inline-block;
	margin-left:10px
}
.clrid{
	color:#1782d2 !important;
	}
.upupdwnpd .tab_head_sheet_1{
	padding-top:18px;
	padding-bottom:18px;
	}


.myusr{
	width:100%;
	float:left;
	border:1px solid #c7c7c7;
	border-radius:4px;
	margin-bottom:20px;
	padding:15px;
	}
.myusr-pic{
	width:109px;
	height:109px;
	border-radius:5px;
	float:left;
	}
.myusr-pic img{
	width:100%;
	}
.usrdsp{
	overflow:hidden;
	padding-left:20px;
	}

.usrdsp h3{
	font-size: 19px;
	color: #1e2022;
	display: block;
	font-weight: 500;
	margin: 5px 0;
	font-family: 'Poppins', sans-serif;
	width:100%;
	float:left;
}
.usrdsp h6{
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #202020;
	display: inline-block;
	margin-left:10px
	width:100%;
	float:left;
}
.usrdsp p {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	color: #4d4f4f;
	display: inline-block;
	margin-left:10px
	width:100%;
	float:left;
	margin:0;
}

.right-menu {
	float: right;
	width: auto;
}

.dashboard_header {
	display: inline-block;
	width: auto;
	position: relative;
	float: right;
	margin-right: 0;
}
.menu_dash {
	cursor: pointer;
	max-width: 300px;
}
.menu_dash p {
	color: #1781d2;
	cursor: pointer;
	display: inline-block;
	font-family: 'Poppins', sans-serif;
	font-size: 15px;
	font-weight: 500;
	line-height: 28px;
	margin: 0;
	float: left;
	padding-left: 13px;
}
.menu_dash p .fa {
	float: right;
	margin: 5px 0 0 10px;
	color: #7a7a7a;
	font-size: 14px;
}
.uu_roundd {
	border-radius: 50%;
	display: inline-block;
	height: 40px;
	margin-right: 0;
	overflow: hidden;
	width: 40px;
	padding: 0px;
	text-align: center;
	position: relative;
	float: left;
}
.uu_roundd img {
	max-width: 100%;
	position: absolute;
	top: -4px;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}
.dropdown_dash {
	background: #fff;
	box-shadow: 1px 3px 4px -1px rgb(43, 43, 43);
	position: absolute;
	right: 0;
	top: 55px;
	width: 180px;
	z-index: 99999;
	border-radius: 6px;
}
.dropdown_dash ul {
	margin: 0;
	padding: 0;
}
.dropdown_dash ul li {
	display: block;
	margin: 0;
	overflow: hidden;
	width: 100%;
	padding: 0 !important;
	text-align: left;
}
.dropdown_dash ul li:last-child {
	padding-left: 0px !important;
	border: none;
}
.dropdown_dash ul li a {
	color: #747474;
	float: left;
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	font-weight: normal;
	padding:5px 12px !important;
	text-decoration: none;
	width: 100%;
}
.dropdown_dash ul li a:hover {
	color: #4290fb;
}
.main-text{
	float:left;
	width:100%;
	text-align:center;
	position:relative;
	}
.main-text h2{
	color: #000;
	font-size: 26px;
	font-weight: 500;
	font-family: 'Roboto', sans-serif;
	margin-bottom: 10px;
	text-transform:uppercase;
	}
.user-image {
	position: absolute;
	top: -12px;
	right: 0;
	width: 44px;
	height: 44px;
	border: 1px solid #ccc;
	overflow: hidden;
	text-align: center;
	border-radius:50%;
}
.user-image img{
	position:absolute;
	margin:auto;
	top:0;
	bottom:0;
	left:0;
	right:0;
	max-width:100%;
	}

.alertt {
	float: left;
	margin-right: 15px;
	margin: 12px 20px 0 0;
}
.noticon {
	color: #000;
	font-size: 20px;
	float: right;
	margin: -6px 8px;
	position: relative;
}
.noticon span {
	height: 25px;
	width: 25px;
	font-size: 11px;
	color: #fff;
	background: #1781d2;
	position: absolute;
	top: -7px;
	right: -13px;
	text-align: center;
	border-radius: 50%;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	line-height: 25px;
}
.noticon:hover{
	color:#fa4041;
	}


.dash_form_box {
	display: inline-block;
	padding: 0 15px;
}
.form_body {
	float: left;
	width: 100%;
}
.dash_form_box .col-sm-12 {
	padding: 0 8px !important;
}
.dash_form_box .form-group {
	display: inline-block;
	width: 100%;
}
.personal-label {
	color: #595a5a;
	font-size: 18px;
	font-weight: 500;
	font-family: 'Poppins', sans-serif;
	margin-bottom: 5px;
	float: left;
	width: 100%;
}
.personal-type {
	float: left;
	width: 100%;
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 4px;
	height: 50px;
	font-size: 16px;
	font-weight: 400;
	font-family: 'Poppins', sans-serif;
	padding: 10px 15px;
	color: #b4b5b5;
}
.personal-select {
	background: url("../images/drp-arw.png") no-repeat right center;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.personal-type99 {
	float: left;
	width: 100%;
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 4px;
	min-height: 100px;
	font-size: 16px;
	font-weight: 400;
	font-family: 'Poppins', sans-serif;
	padding: 10px 15px;
	color: #bfbebe;
}

.login_submitt {
	float: left;
	width:auto;
	text-align: center;
	color: #fff;
	background: #1781d2;
	font-size: 18px;
	font-weight: 500;
	font-family: 'Poppins', sans-serif;
	height: 48px;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	margin-bottom: 15px;
	padding:9px 20px;
}
.login_submitt:hover {
	background: #fa4041;
}

.dash_form_box h4 {
	color: #242424;
	font-size: 24px;
	font-weight: 500;
	margin:20px 0 10px;
	float: left;
	width: 100%;
	padding: 0 !important;
	border: none;
	font-family: 'Roboto', sans-serif;
}