


@media (min-width: 768px) and (max-width: 5000px)
{
.nav_top .dropdown .dropdown-menu { -webkit-transition: all 0.3s; -moz-transition: all 0.3s; -ms-transition: all 0.3s;
    -o-transition: all 0.3s;transition: all 0.3s; max-height: 0; display: block; opacity: 0;visibility: hidden;  margin:0px; border: none; border-bottom: 2px solid #ccc;
    background:#fff !important;
    width: 150px; padding: 0px;
   border-radius: 0; left: 0; right: inherit; padding: 5px 8px 8px; box-shadow: inherit; }

.nav_top .dropdown:hover .dropdown-menu { max-height: 300px;opacity: 1; visibility: visible; }

.nav_top .dropdown .dropdown-menu{width: 100% !important; background: #fd4343 !important; border: none !important;}






}





@media (max-width: 1199px) {

.banner_text h5{font-size: 38px; line-height: 48px;}
.banner_text p {
    font-size: 15px;
    line-height: 26px;
}
.page_btn{padding: 0 24px;font-size: 15px;}
.banner_img img{width: 351px;}
.banner_box{min-height: 482px;}

.vedio_img_inr > img{height: 363px;}
.vedio_text h6{font-size: 32px;
line-height: 39px;}
.vedio_text p{font-size: 16px;
line-height: 27px;}
.vedio_text{padding-left: 45px;
padding-top: 33px;}

.single_img img{width: 348px;}
.single_text {
    padding-top: 10px;
}
.single_text p{font-size: 16px;
line-height: 27px;}
.produt_sec .col-sm-3{-ms-flex: 0 0 33.3333%;
flex: 0 0 33.3333%;
max-width: 33.3333%;}
.foot_sec p{font-size: 16px;
line-height: 27px;}
.sec-heading h2{font-size: 32px;line-height: 39px;}
.sec-heading p{font-size: 16px; line-height: 27px;}
 .banner-rightimg span {
    width: 320px;
    height: 320px;
    margin-left: 50px;
}
.banner-rightimg::after{
     width: 320px;
    height: 320px;
    top: 10%;
    right:2%;
}

.banner-rightimg {
    margin-bottom: 30px;
}
.banner_right_after {
       width: 315px;
    height: 315px;
    top: 10%;
    right: 46px;
}

.content_file_1 {
    width: 370px;
    height: 370px;
}
.single_box .col-sm-6.cont_move_right{
    padding-left:15px;
}
/*(31/08/21)*/
.modal_sus .modal-dialog {
    max-width:90%;
}
.modal_sus_bdy {
    padding: 40px 50px;
}
.modal_sus_bdy h2 {
    font-size: 70px;
    line-height: 86px;
}
.modal_sus_bdy p {
    font-size: 16px;
    line-height: 26px;
    margin-top: 12px;
}
.modal_sus_bdy p b {
    font-size: 25px;
    line-height: 30px;
}
/*whyus*/

.whyus_bx p{
    margin-top: 10px;
    font-size: 14px;
    line-height: 24px;}
.whyus_bx{padding: 20px 15px 21px;min-height: 284px;}

/*faq page*/
.faq_sec {
    padding: 18px 0;
}

}
/* 1199 */


@media only screen and (max-width: 991px) {
.nav_top .navbar-toggler{ border-color: #383e40; background: #383e40;}
.nav_top .navbar-toggler{ padding: 10px; margin-right: 0;}
.nav_top .navbar-toggler .icon-bar {display: block;width: 22px;height: 2px;  border-radius: 1px; background-color: #fff;}
.nav_top .navbar-toggler .icon-bar + .icon-bar {  margin-top: 4px;}
.navbar-toggler .icon-bar { display: block;  width: 22px;  height: 2px;  border-radius: 1px;  background-color: #fff;}
.navbar-toggler { margin-right: 15px;}
.navbar-toggler { padding: 10px;}

.nav_top .navbar-toggler {border-color: #173a68;background: #173a68; margin: 15px 15px 15px 0;}
.nav_top .navbar-toggler.showtoggle .icon-bar:nth-child(1) {-ms-transform: matrix(1, -1, 0, 1, 0, 0); transform: matrix(1, -1, 0, 1, 0, 0);
     -webkit-transform: matrix(1, -1, 0, 1, 0, 0); width: 25px;}
.nav_top .navbar-toggler.showtoggle .icon-bar:nth-child(2) { opacity: 0;  width: 0px;}
.nav_top .navbar-toggler.showtoggle .icon-bar:nth-child(3) {-ms-transform: matrix(1, 1, 0, 1, 0, 0); transform: matrix(1, 1, 0, 1, 0, 0); -webkit-transform: matrix(1, 1, 0, 1, 0, 0);
width: 25px;  margin-top: -11px;}
.nav_top .navbar-toggler .icon-bar { display: block; width: 30px; height: 2px; border-radius: 3px; background-color: #fff; opacity: 1;
    transform: matrix(1, 0, 0, 1, 0, 0); -moz-transition: all 0.5s ease-in-out; -o-transition: all 0.5s ease-in-out; -webkit-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out; transition: all 0.5s ease-in-out;}
.nav_top .navbar-toggler { width: 45px; height: 40px; text-align: center; -moz-transition: all 0.5s ease-in-out; -o-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out; -ms-transition: all 0.5s ease-in-out; transition: all 0.5s ease-in-out; border-radius: 0px;
    border: 0px solid transparent; border-top-color: transparent;border-right-color: transparent;    border-bottom-color: transparent;
        border-left-color: transparent; position: relative;}
.nav_top .navbar-toggler {padding: 5px 8px;}
.nav_top .navbar-toggler .icon-bar + .icon-bar {margin-top: 8px;}
.nav_top .navbar-toggler.showtoggle {padding-left: 10px !important;}


.banner_text h5 {
    font-size: 30px;
    line-height: 45px;
}
.banner_box {
    min-height: 423px;
}
.banner_text p {
    font-size: 14px;
    line-height: 23px;
    margin-top: 8px;
}
.page_btn{padding: 0 17px;
font-size: 14px;
height: 35px;
line-height: 35px;letter-spacing: 1px;}
.banner_img img {
    width: 245px;
}
.banner_box {
    min-height: 330px;
}
.vedio_text {
    padding-left: 0;
    padding-top: 22px;
}
.vedio_sec_inr {
    padding: 0 0;
}
.vedio_text h6 {
    font-size: 28px;
    line-height: 36px;
}
.vedio_text p {
    font-size: 14px;
    line-height: 25px;
}
.vedio_img_inr > img {
    height: 318px;
}
.vedio_img_inr::before {
left: -63px;
width: 161px;
height: 161px;
}
.vedio_sec {
    padding: 37px 0;
}
.single_box {
    padding: 35px 0;
}
.single_text p {
    font-size: 14px;
    line-height: 25px;
}


.sec-heading h2 {
    font-size: 28px;
    line-height: 36px;
}
.sec-heading p {
    font-size: 14px;
    line-height: 25px;
    margin-top: 7px;
}
  .banner-rightimg span {
    width: 290px;
    height: 290px;
    margin-left: 10px;
}
.banner-rightimg::after{
     width: 290px;
    height: 290px;
    top: 10%;
    right:0%;
}

.banner-rightimg {
    margin-bottom: 30px;
}
.banner_right_after {
    width: 298px;
    height: 292px;
    top: 10%;
    right: 4px;
}

.content_file_1 {
    width: 350px;
    height: 350px;
}
/*(31/08/21)*/
.modal_sus_bdy h2 {
    font-size: 59px;
    line-height: 83px;
}
.modal_sus_bdy p b {
    font-size: 22px;
    line-height: 30px;
}
/*whyus*/

.whyus_inr .col-sm-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}
.whyus_inr .row{justify-content: center;}
.whyus_bx{margin-top: 15px;}
.whyus_inr {margin-top: 28px;}
.page_hed h1, .page_hed h2, .page_hed h3, .page_hed h4, .page_hed h5, .page_hed h6{font-size: 30px;
line-height: 42px;}
.counter_ul li p.counter_num {
    font-size: 18px;
    font-weight: 600;
    width: 44px;
    height: 44px;
    line-height: 47px;
}
.counter_ul li p {
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.4px;
}
#temp_title{
    font-size: 16px;
}
}
/* 991 */





@media only screen and (max-width: 767px){

.container{max-width: 100%;}
.header_sec .container{padding: 0;}
.header_sec .navbar-brand{margin-left: 15px;}
.header_sec{padding-right: 15px;}
.banner_text h5 {
    font-size: 26px;
    line-height: 42px;
}
.banner_img img {
    width: 214px;
}
.vedio_img_inr > img {
    height: 271px;
}
.single_text p {
    font-size: 13px;
    line-height: 23px;
}
.vedio_sec {
    padding: 34px 0 15px;
}
.produt_sec .col-sm-3 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}
.foot_sec p {
    font-size: 14px;
}
.foot_sec {
    padding: 10px 0;
    margin-top: 11px;
}
.foot_sec .header_sos{margin-top: 12px;}
  .banner-rightimg span {
    width: 230px;
    height: 230px;
    margin-left: 20px;
}
.banner-rightimg::after{
     width: 230px;
    height: 230px;
    top: 10%;
    right:13%;
}

.banner-rightimg {
    margin-bottom: 30px;
}
.banner_right_after {
   width: 228px;
    height: 228px;
    top: 10%;
    right: 16px;
}
.content_file_1 , .vedio_img_inr_circle{
    width: 240px;
    height: 240px;
}
.vedio_img_inr_circle{
    left:-18px;
}
/*(31/08/21)*/
.modal_sus_bdy p b {
    font-size: 22px;
    line-height: 30px;
}
.modal_sus_bdy {
    padding: 25px 28px;
}
.modal_sus_bdy h2 {
    font-size: 48px;
    line-height: 68px;
}
.modal_sus_bdy p {
    font-size: 14px;
    line-height: 24px;
    margin-top: 10px;
}
.modal_sus_bdy p b {
    font-size: 18px;
    line-height: 25px;
}
.net_sus_btn .page_btn {
    margin-top: 35px;
}
.net_sus_btn .page_btn i {
    font-size: 11px;
}

.counter_ul li p.counter_num {
    font-size: 18px;
    font-weight: 600;
    width: 43px;
    height: 43px;
    line-height: 45px;
}
.counter_ul li p {
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.4px;
}
.banner_text{
    width: 68%;
}
.counter_ul li {
    margin-top: 8px;
}
.banner_text p {
    line-height: 22px;
    margin-top: 6px;
}
}
/*767px*/

@media only screen and (max-width: 660px){
    .banner-rightimg span {
        width: 230px;
        height: 230px;
        margin-left: 20px;
    }
    .banner-rightimg::after{
        width: 230px;
        height: 230px;
        top: 10%;
        right:0%;
    }

    .banner-rightimg {
        margin-bottom: 30px;
    }
    .counting-date p span{
        font-size: 16px;
    }
.vedio_img_inr_circle {
    left: -22px;
}
/*(31/08/21)*/
.modal_sus_bdy p b {
    font-size: 22px;
    line-height: 30px;
}
.modal_sus_bdy {
    padding: 25px 28px;
}
.modal_sus_bdy h2 {
    font-size: 48px;
    line-height: 68px;
}
.modal_sus_bdy p {
    font-size: 14px;
    line-height: 24px;
    margin-top: 10px;
}
.modal_sus_bdy p b {
    font-size: 18px;
    line-height: 25px;
}
.net_sus_btn .page_btn {
    margin-top: 35px;
}
.net_sus_btn .page_btn i {
    font-size: 11px;
}
/*whyus*/
.whyus_sec {
    padding: 30px 0;
}
.page_hed p {
    margin-top: 10px;
    font-size: 15px;
    line-height: 24px;
    margin-top: 8px;
}
.whyus_bx strong{font-size: 16px;}
.whyus_bx em{
font-size: 30px;
height: 67px;
line-height: 67px;
width:67px;}
.foot-inr-sb{
    position: static;
    transform: translateY(-0%);
    margin: 10px auto 0px auto;
}
.foot-inr-sb img{
    width: 100px;
}


}



@media only screen and (max-width: 575px){
.banner_box {
    min-height: 301px;
}
.banner_text h5 {
    font-size: 21px;
    line-height: 37px;
}
.banner_img img {
    width: 168px;
}

.vedio_img{margin-top: 20px;}
.vedio_img_inr::before{display: none;}
.vedio_text{padding-top: 0;}
.vedio_text p{margin-top: 15px;}
.vedio_text h6 {
    font-size: 19px;
    line-height: 25px;
}
.single_img{text-align: center;}
.sec-heading h2 {
    font-size: 19px;
    line-height: 25px;
}
.ved_img img{height: 346px;}
    .banner-rightimg span {
    width: 200px;
    height: 200px;
    margin-left: 60px;
}
    .banner-rightimg span {
    width: 250px;
    height: 250px;
    margin-left: 60px;
}
.banner-rightimg::after{
     width: 250px;
    height: 250px;
    top: 10%;
    right: 18%;
}
.vedio_text h6, .single_box h6{
   font-size: 27px;
    line-height: 25px;
}
.banner-rightimg {
    margin-bottom: 30px;
}
.banner_right_after {
    width: 250px;
    height: 250px;
    top: 10%;
    right: 40px;
}
/*whyus*/
.whyus_inr .col-sm-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
.whyus_bx{min-height: auto;}
.page_hed h1, .page_hed h2, .page_hed h3, .page_hed h4, .page_hed h5, .page_hed h6 {
    font-size: 24px;
    line-height: 34px;
}
.banner_text{
    width: 70%;
}
.banner_text p {
    font-size: 13px;
    line-height: 20px;
    margin-top: 0px;
}
.page_btn {
    font-size: 13px;
    height: 34px;
    line-height: 34px;
    margin-top: 11px;
}
.counter_ul li p.counter_num {
    font-size: 16px;
    width: 40px;
    height: 40px;
    line-height: 40px;
}
.counter_ul li p{
    font-size: 11px;
}
.counter_ul li {
    margin-top: 8px;
}
.content_file_1 {
    width: 235px;
    height: 235px;
    margin-left: 38px;
}
.vedio_img_inr_circle {
    width: 250px;
    height: 250px;
}
.vedio_img_inr_circle {
    left: 0;
    top: 16px;
}
}

/*575px*/

@media only screen and (max-width: 480px){

.banner_text{width: 70%;}

.banner_img{width: 30%;}
.banner_img img {
    width: 100%;
}
.navbar-brand img{width: 100px;}
.header_sos li a{width: 22px;
height: 22px;
line-height: 22px;
margin: 0 2px;
font-size: 12px;}
    .banner-rightimg span {
    width: 230px;
    height: 230px;
    margin-left: 60px;
}
.banner-rightimg::after{
     width: 230px;
    height: 230px;
    top: 10%;
    right: 28%;
}

.banner-rightimg {
    margin-bottom: 30px;
}
/*(31/08/21)*/
.modal_sus_bdy h2 {
    font-size: 32px;
    line-height: 50px;
}
.net_sus_btn .page_btn {
    margin-top: 28px;
}
/*whyus*/
.page_hed h1, .page_hed h2, .page_hed h3, .page_hed h4, .page_hed h5, .page_hed h6 {
    font-size: 18px;
    line-height: 22px;
}
.banner_right_after {
    width: 230px;
    height: 230px;
    top: 10%;
    right: 43px;
}
.other_wrapper .navbar-menu {
    padding-top: 0;
}
.counter_ul li {
    margin-right: 5px;
}
.counter_ul li p.counter_num {
    width: 35px;
    height: 35px;
    line-height: 35px;
}
.counter_ul li p {
    font-size: 10px;
}
}

/*480px*/


@media only screen and (max-width: 400px){

.produt_sec .col-sm-3 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
.single_img img {
    width: 301px;
}
.banner_text h5 {
    font-size: 19px;
    line-height: 29px;
}
.banner_text p {
    font-size: 13px;
    line-height: 20px;
    margin-top: 7px;
}
.produt_img{margin-top: 21px;}
.ved_img img {
    height: 256px;
}
    .banner-rightimg span {
    width: 200px;
    height: 200px;
    margin-left: 60px;
}
.banner-rightimg::after{
     width: 200px;
    height: 200px;
    top: 10%;
    right: 20%;
}

.banner-rightimg {
    margin-bottom: 30px;
}
.banner_right_after {
    width: 200px;
    height: 200px;
    top: 10%;
    right: 24px;
}
    }

/*400px*/
@media (max-width: 350px) {
    .banner-rightimg span {
    width: 200px;
    height: 200px;
    margin-left: 40px;
}
.banner-rightimg::after{
     width: 200px;
    height: 200px;
    top: 10%;
    right: 10%;
}
.banner_right_after {
    width: 200px;
    height: 200px;
    top: 10%;
    right: 24px;
}
    }

    @media only screen and (max-width: 350px){
        .header_sec .navbar-brand {
            margin-left: 4px;
            margin-right: 4px;
        }
        .navbar-brand img{
            width: 93px;
        }
    }
