body{ padding: 0px; margin: 0px; list-style: none; font: 400 14px/23px 'Open Sans', sans-serif !important;  color:#000; }
p{padding: 0px; margin: 0px;}
a{padding: 0px; margin: 0px; outline: none;}
ul{ list-style: none; padding: 0px; margin: 0px;}
label{ list-style: none; padding: 0px; margin: 0px;}
ul li{ padding: 0px; margin: 0px;}
h1, h2, h3, h4, h5, h6{padding: 0px; margin: 0px;}
input[type="text"]::-webkit-placeholder { opacity: 1;  }
input[type="text"]::-moz-placeholder { opacity: 1;}
input[type="password"]::-webkit-placeholder { opacity: 1;}
input[type="password"]::-moz-placeholder { opacity: 1;}
input[type="search"]::-webkit-placeholder { opacity: 1;}
input[type="search"]::-moz-placeholder { opacity: 1;}
input[type="email"]::-webkit-placeholder { opacity: 1; }
input[type="email"]::-moz-placeholder { opacity: 1;}
input[type="tel"]::-webkit-placeholder { opacity: 1;}
input[type="tel"]::-moz-placeholder { opacity: 1;}
textarea::-moz-placeholder { opacity: 1;  }
textarea::-webkit-placeholder { opacity: 1;}
a:hover{ outline: none !important; text-decoration: none;}
a:active{ outline: none !important; text-decoration: none;}
a{ text-decoration: none !important;-webkit-transition: all 0.3s ease; -moz-transition: all 0.3s ease; transition: all 0.3s ease;}

/*font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif;*/

.wrapper{ width: 100%;}
.panel-default > .panel-heading{ background: none !important; border: none !important; border-radius: 0px !important;}
.panel-default{ border-radius: 0px !important;}
.panel-default > .panel-heading + .panel-collapse > .panel-body{ background: none !important; border: none !important; border-radius: 0px !important;}
a:hover, a:focus{ text-decoration: inherit !important;}

/*header*/
.header_sec{ width: 100%;}
.header_Inn{ width: 100%;}

.nav_top{ margin: 0px; padding: 0px; background: none; border: none; min-height: auto; box-shadow: none; border-radius: 0px;}
.drop-nav{ position: absolute; top: 10px; right: 0px;}
.nav_top .dropdown-menu li a{ font-size: 13px;}
.menu_sec li{ position: relative;}



.nav_top .navbar-toggler {border-color: #f84848;background: #f84848; margin: 15px 15px 15px 0; outline: none !important;}
.nav_top .navbar-toggler.showtoggle .icon-bar:nth-child(1) {-ms-transform: matrix(1, -1, 0, 1, 0, 0); transform: matrix(1, -1, 0, 1, 0, 0);
     -webkit-transform: matrix(1, -1, 0, 1, 0, 0); width: 25px;}
.nav_top .navbar-toggler.showtoggle .icon-bar:nth-child(2) { opacity: 0;  width: 0px;}
.nav_top .navbar-toggler.showtoggle .icon-bar:nth-child(3) {-ms-transform: matrix(1, 1, 0, 1, 0, 0); transform: matrix(1, 1, 0, 1, 0, 0); -webkit-transform: matrix(1, 1, 0, 1, 0, 0);
width: 25px;  margin-top: -11px;}
.nav_top .navbar-toggler .icon-bar { display: block; width: 30px; height: 2px; border-radius: 3px; background-color: #fff; opacity: 1;
    transform: matrix(1, 0, 0, 1, 0, 0); -moz-transition: all 0.5s ease-in-out; -o-transition: all 0.5s ease-in-out; -webkit-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out; transition: all 0.5s ease-in-out;}
.nav_top .navbar-toggler { width: 45px; height: 40px; text-align: center; -moz-transition: all 0.5s ease-in-out; -o-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out; -ms-transition: all 0.5s ease-in-out; transition: all 0.5s ease-in-out; border-radius: 0px;
    border: 0px solid transparent; border-top-color: transparent;border-right-color: transparent; border-bottom-color: transparent;
        border-left-color: transparent; position: relative;}
.nav_top .navbar-toggler {padding: 5px 8px; z-index: 99;}
.nav_top .navbar-toggler .icon-bar + .icon-bar {margin-top: 8px;}
.nav_top .navbar-toggler.showtoggle {padding-left: 10px !important;}


.navbar-collapse {background: #f84848; position: fixed; width: 240px; height: 100%; z-index: 11111111111; display: block !important;
    top: 0px;  left: -240px; -webkit-transition: all 0.3s ease; -moz-transition: all 0.3s ease; transition: all 0.3s ease; overflow: auto;}
.navbar-collapse.show{ left: 0px;}
.menu_sec li{ width: 100%;}
.menu_sec li a{ width: 100%; display: inline-block; padding: 10px 15px; font: 400 14px/20px 'Roboto', sans-serif; color: #fff;}
.menu_sec li a:hover{ background: #000;}
.menu_sec{ margin-top: 30px;}

.closeactive{width: 100%; height: 100%; position: fixed; left: 0; top: 0; background: rgba(0, 0, 0, 0.50);}


.drop-arw{position: absolute; right: 0;padding: 10px 15px; cursor: pointer;}
.nav_top .dropdown .dropdown-menu{width: 100% !important; background: #e13187 !important; border: none; border-radius: 0 !important;}

.closeactive{cursor: url(../images/close2.png), pointer;}


.header_sos li{display: inline-block;}
.header_sos li a{color: #fff; background: #425465; width: 30px; height: 30px;
display: inline-block; text-align: center; line-height: 30px;
border-radius: 100%;
margin: 0 3px;}
.header_sos li:last-child a{margin-right: 0;}
.header_sos li a:hover{background: #89d0ca;}

/*bannersec*/

.bannersec{position: relative; background: #89d0ca;width: 100%; overflow: hidden;}
.banner_box{ position: relative;width: 100%; min-height: 600px;}
.banner_text{float:none; width: 50%; /* position: absolute; left: 0;
top: 50%; */
/* -webkit-transform: translateY(-50%);
-moz-transform: translateY(-50%);
transform: translateY(-50%); */
}
.banner_img{position: absolute; right: 0; width: 50%; bottom: 0; text-align: right;}
.banner_img img{max-width: 100%; width: 483px;}
.banner_text h5{ color: #111; font-size: 50px; line-height:58px;}
.banner_text h5 span{font-weight: 400;}
.banner_text p{font-size: 18px; line-height: 28px;
margin-top: 20px; font-style: italic;}
.page_btn{background:#425465; color: #fff; padding: 0 50px;
height: 50px; line-height: 50px; font-size: 16px; display: inline-block;
font-weight: 600; letter-spacing: 2px;
margin-top: 20px; border: none; cursor: pointer;}
.page_btn:hover{background: #60778c;}


/*form */

.from_panel{width: 100%;}
.formInrInput{width: 100%;}
.formInrInput input[type="text"], .formInrInput input[type="email"], .formInrInput input[type="tel"], .formInrInput input[type="url"], .formInrInput input[type="number"],
 .formInrInput textarea,  .formInrInput select{width: 100%; background: none; border: 1px solid #ced3d5; height: 40px;
    -webkit-outline: none; -moz-outline: none; outline: none; margin-top: 10px;
    opacity: 1 !important; font-family: 'Open Sans', sans-serif; font-size: 14px;color:#ced3d5;
padding: 0 10px; border-radius: 7px;}
 .formInrInput textarea{height: 80px; resize: none; padding: 16px 10px;}
  .formInrInput label{font-size: 15px; color: #ced3d5;}
.formInrInput textarea::placeholder, .formInrInput input::placeholder{ opacity: 1 !important; color: #ced3d5;}
 .modal_frm .modal-footer .page_btn{margin: 0;}
  .modal_frm .modal-title{font-size: 20px; line-height: 29px; color: #111;  }


/*vedio_sec*/
.vedio_img{width: 100%;}
.vedio_img_inr{width: 100%;position: relative;}
.playIcon {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.playIcon .fancybox-media{display: inline-block;}
.playIcon img {
    width: 50px !important;
    height: 50px !important;
    border: none !important;
}
.vedio_sec{width: 100%; padding: 50px 0;}
.vedio_sec_inr{width: 100%; padding: 0 50px;}
.vedio_text{width: 100%; padding-left: 60px; padding-top: 60px;}
.vedio_text h6, .single_box h6{

    color: #111;
    font-size: 40px;
    line-height: 50px;
    font-weight: 400;
}
.vedio_text h6 span, .single_box h6 span{font-weight: 700;}
.vedio_text p{color: #111; font-size: 18px; line-height: 28px;
margin-top: 20px;}
.vedio_img_inr > img{width: 100%; height: 439px; object-fit: cover;}
/* .vedio_img_inr:before{position: absolute; left: -100px;
width: 300px; height: 300px; background: #89d0ca;
border-radius: 100%;
content: "";
top: 40px;
z-index: -1;} */

.single_box{width: 100%; padding: 40px 0;}
.single_img{width: 100%;}
.single_img img{max-width: 100%;}
.single_text{width: 100%; padding-top: 97px;}
.single_text p{color: #808080 !important;
font-size: 18px;
line-height: 28px;}

.produt_sec{width: 100%; padding: 30px 0 30px;}
.produt_img{width: 100%;margin-top: 40px; box-shadow: 0px 0px 16px -9px #a69494; max-height:438px;}
.produt_img img{width: 100%; height: 219px; object-fit: cover;}
.produt_text h5{
color: #111; font-size: 18px;}
.produt_text h5 a{color: #111;}
.produt_text h5 a:hover{color: #89d0ca;}
.produt_text{width: 100%; padding:15px 10px 10px;}
.produt_text .page_btn{padding: 0 15px; height: 35px; line-height: 35px;
letter-spacing: 1px; font-size: 14px;margin-top: 15px;}
.foot_sec{width: 100%; text-align: center; padding:20px 0;
border-top: solid 1px #425465; margin-top: 20px;}
.foot_sec p{color: #ffffff;
font-size: 18px;
line-height: 28px;}
.foot_sec p a{color: #808080;}
.foot_sec p a:hover{color: #89d0ca;}
.foot_sec .header_sos{text-align: center; margin-top: 20px;}



.sec-heading h6 {
    color: #111111;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
}
.sec-heading h2 {
    font-weight: 700;
    text-transform: capitalize;
    font-size: 40px;
    line-height: 48px;
    color: #111;


}
.sec-heading p{color: #111;
font-size: 18px;
line-height: 28px;
margin-top: 20px;}
.bg-gray {
    background-color: #89d0ca2e;
}

.ved_1{padding: 40px 0;}
.ved_img {
    position: relative;
    margin-top: 18px;
}
.ved_img img, .ved_img video {
    width: 100%;
    height: 480px;
    object-fit: cover;
    border-radius: 20px;
}
.paly_btn {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    cursor: pointer;
}
.video-player a {
    display: inline-block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    font-size: 30px;
    line-height: 80px;
    padding: 0 28px;
    background-color: #89d0ca;
    color: #fff;
    position: relative;
}
.video-player a::before {
    content: "";
    position: absolute;
    left: -5px;
    top: -5px;
    height: 90px;
    width: 90px;
    border: 3px solid #89d0ca;
    border-radius: 50%;
    -webkit-animation: icon-bubble 1s infinite forwards linear 0.5s;
    animation: icon-bubble 1s infinite forwards linear 0.5s;
}
.video-player a::after {
    content: "";
    position: absolute;
    left: -5px;
    top: -5px;
    height: 90px;
    width: 90px;
    border: 3px solid #89d0ca;
    border-radius: 50%;
    -webkit-animation: icon-bubble 1s infinite forwards linear;
    animation: icon-bubble 1s infinite forwards linear;
}

.banner-rightimg{
    position: relative;
    margin-bottom: 60px;
}
/* .banner-rightimg::after{
    position: absolute;
    z-index: 9;
    content: "";
    width: 360px;
    border-radius: 50%;
    height: 360px;
    background: #89d0ca;
    top: 15%;
    right: 7px;
} */
.banner-rightimg span {
    background: #f2f2f2;
    border-radius: 50%;
    width: 320px;
    height: 320px;
    z-index: 11;
    overflow: hidden;
    margin-left: 101px;
    display: inline-block;
    position: relative;
    object-fit: cover;
}
.banner-rightimg span img , .about-imgs span img{
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.counting-date p{
    font-size: 20px;
    color: #000;
    margin-top: 15px;
}
.counting-date p span{
    color: #425465;
    font-weight: 600;
}
.banner_right_after{
	position: absolute;
    z-index: 9;
    content: "";
    width: 360px;
    border-radius: 50%;
    height: 360px;
    background: #89d0ca;
    top: 15%;
    right: 7px;
}
.vedio_img_inr_circle{
    position: absolute;
    left: -21px;
    width: 300px;
    height: 300px;
    background: #89d0ca;
    border-radius: 100%;
    content: "";
    top: -16px;
    z-index: -1;
}

.before_vedio{
    position: absolute;
    left: -5px;
    top: -5px;
    height: 90px;
    width: 90px;
    border: 3px solid #89d0ca;
    border-radius: 50%;
    -webkit-animation: icon-bubble 1s infinite forwards linear 0.5s;
    animation: icon-bubble 1s infinite forwards linear 0.5s;}
    .after_vedio{
    position: absolute;
    left: -5px;
    top: -5px;
    height: 90px;
    width: 90px;
    border: 3px solid #89d0ca;
    border-radius: 50%;
    -webkit-animation: icon-bubble 1s infinite forwards linear;
    animation: icon-bubble 1s infinite forwards linear;
}

.video-player a::before{display: none;}
.video-player a::after{display: none;}


@-webkit-keyframes icon-bubble {
    0% {
        -webkit-transform: scale(0.85);
        transform: scale(0.85);
        opacity: 1;
    }

    25% {
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
        opacity: 0.8;
    }

    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
        opacity: 0.55;
    }

    75% {
        -webkit-transform: scale(1.32);
        transform: scale(1.32);
        opacity: 0.3;
    }

    100% {
        -webkit-transform: scale(1.4);
        transform: scale(1.4);
        opacity: 0;
    }
}

@-webkit-keyframes icon-bubble {
    0% {
        -webkit-transform: scale(0.85);
        transform: scale(0.85);
        opacity: 1;
    }

    25% {
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
        opacity: 0.8;
    }

    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
        opacity: 0.55;
    }

    75% {
        -webkit-transform: scale(1.32);
        transform: scale(1.32);
        opacity: 0.3;
    }

    100% {
        -webkit-transform: scale(1.4);
        transform: scale(1.4);
        opacity: 0;
    }
}

@keyframes icon-bubble {
    0% {
        -webkit-transform: scale(0.85);
        transform: scale(0.85);
        opacity: 1;
    }

    25% {
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
        opacity: 0.8;
    }

    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
        opacity: 0.55;
    }

    75% {
        -webkit-transform: scale(1.32);
        transform: scale(1.32);
        opacity: 0.3;
    }

    100% {
        -webkit-transform: scale(1.4);
        transform: scale(1.4);
        opacity: 0;
    }
}



@keyframes loading {
    0% {
      transform: perspective(250px) rotateX(0deg) rotateY(0deg);
    }

      15% {
          background-color: #d1d1d1;
      }

      16% {
          background-color: #d1d1d1;
      }

    50% {
      transform: perspective(250px) rotateX(180deg) rotateY(0deg);
          background-color: #d1d1d1;
    }

      65% {
          background-color: #d1d1d1;

      }

    66% {
              background-color: #d1d1d1;
      }

    100% {
      transform: perspective(250px) rotateX(180deg) rotateY(0deg);
    }
  }

  @keyframes loading-icon {
    0% {
      transform: perspective(250px) rotateX(0deg) rotateY(0deg);
    }

      15% {
          transform: perspective(250px) rotateX(0deg) rotateY(0deg);
      }

      16% {
          transform: perspective(250px) rotateX(180deg) rotateY(0deg);
      }

    50% {
      transform: perspective(250px) rotateX(180deg) rotateY(0deg);
    }

      65% {
          transform: perspective(250px) rotateX(180deg) rotateY(0deg);
      }

    66% {
              transform: perspective(250px) rotateX(180deg) rotateY(0deg);
      }

    100% {
      transform: perspective(250px) rotateX(180deg) rotateY(0deg);
    }
  }
  #landing_preloader {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999999;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 100%;
    overflow: visible;
    background: #fff;
}
.u-loading {
    width: 128px;
    height: 128px;
    display: block;
}

.u-loading_symbol {
    background-color: #d1d1d1;
    padding: 8px;
    animation: loading  2s infinite;
    border-radius: 5px;
    width: 150px;
    min-height: 62px;
}

.u-loading_symbol img {
    display: block;
    max-width: 100%;
    width: 100%;
    height: 100%;
    object-fit: contain;
    animation: loading-icon  2s infinite;
}

.mulitcontent h5 {
    font-weight: 400;
}

.content_file_1{
    width:450px;
    height:450px;
    background: #cccccc24;
    overflow: hidden;
    display: inline-block;
    position: relative;
}
.content_file_1 img{
    max-height: 100%;
    max-width: 100%;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.single_box .col-sm-6.cont_move_right{
    padding-left:90px;
}
.single_text.no-pad-text {
    padding-top: 10px;
}

.content_file_1 iframe{
    width: 100%;
    height: 439px;
}
.content_file_2 iframe{
    width: 100%;
    height: 100%;
}
.content_file_3 iframe{
    width: 100%;
    height: 100%;
}
.content_file_4 iframe{
    width: 100%;
    height: 100%;
}
.video_youtube{
    border-radius: 20px !important;
}

/* timer css */
.counter_ul{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.counter_ul li{
    margin-right: 15px;
    text-align: center;
    margin-top: 15px;
}
.counter_ul li p{
    font-style: normal;
    text-transform: uppercase;
    font-size: 16px;
    color: #fff;
    margin-top: 0;
    font-weight: 700;
}
.counter_ul li p.counter_num {
    color: #fff;
    font-size: 26px;
    font-weight: 700;
    border-radius: 50%;
    background: #425465;
    width: 64px;
    height: 64px;
    text-align: center;
    margin:0 auto;
    line-height: 64px;
}
/* timer css */


.produt_text div{
    display: flex;
    justify-content: space-between;
}
.produt_text h5.pro-des a{
    color: #000;
    margin: 0 5px 10px 0 !important;
    display: block;
    font-size: 20px;
}
.pro-price a{
    color:#000;
    font-size: 17px;
}
.produt_text h5.pro-des a:hover{
    color: #89d0ca;
}
.produt_text div.timer-div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.timer-pro{
    background: #425465;
    color: #fff !important;
    padding: 8px;
    margin-top: 9px;
    border-radius: 0;
    font-size: 16px;
    font-weight: 700;
}

/*(31/08/21)*/

.modal_sus .modal-dialog{max-width: 1140px;}
.modal_sus #success-modal .modal-header{border: none;}
.modal_sus .close{position: absolute; right: 15px; top: 15px;
    color: #000 !important;
    cursor: pointer !important;
    z-index: 300;}
.modal_sus_bdy{width: 100%; padding: 40px 182px ;}
.modal_sus #success-modal .modal-body{background-color:#89d0ca;}
.modal_sus_bdy h2{font-size: 38px; font-weight: 800; letter-spacing: 2px; /*text-transform: uppercase;*/
    /*line-height: 95px;*/word-wrap: break-word;}
.modal_sus_bdy p{font-size: 20px;
line-height: 28px;
margin-top: 24px; color: #425465;}
.modal_sus_bdy p b{font-weight: 700; font-size: 28px; line-height: 35px;}
.net_sus_btn{width: 100%; text-align: center;}
.net_sus_btn .page_btn{margin-top: 50px;}
.net_sus_btn .page_btn i{font-size: 16px;}
.contact-form input[type="checkbox"]{height: auto !important;}
.lead_privacy_policy_link{
    color: #89d0ca;
    cursor: pointer;
}
.net_sus_btn .btn_pro{
    font-size: 20px;
}
.modal_sus .privacy_back{
    background-color: #425465;
    color: white !important;
    padding: 10px;
    font-size: 14px;
    opacity: 1 !important;
    font-weight: 100;
}

/*whyus*/

.whyus_sec{width: 100%; display: inline-block;}
.page_hed{width: 100%; text-align: center;}
.page_hed span{
font-weight: 500;
text-transform: uppercase;
margin-bottom: 8px; margin-bottom: 10px; display: inline-block;}
.page_hed span em{background: #1c1b1b; width: 30px; height: 1px; display: inline-block;margin-left: 1px;
vertical-align: middle;}
.whyus_sec{padding: 50px 0;}
.page_hed h1, .page_hed h2, .page_hed h3, .page_hed h4, .page_hed h5, .page_hed h6{
    font-size: 40px; line-height: 50px; text-transform: uppercase;
    font-weight: 700;
    color: #111;
}
.page_hed p{margin-top: 10px;font-size: 16px;line-height: 28px;
margin-top: 10px;}
.whyus_inr{width: 100%; margin-top: 40px;}
.whyus_bx{width: 100%; text-align: center;background: #89d0ca2e; border-radius: 20px;padding: 20px 23px 21px;
min-height: 500px;min-height: 250px;}
.whyus_bx em{
    text-align: center;
    font-size: 50px;
    color: #fff;
    width: 100px;
    border-radius: 100%;
    height: 100px;
    line-height: 100px;
    background: #89d0ca;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.whyus_bx strong{text-transform: uppercase;
    font-weight: 700; font-size: 20px; color: #1c1b1b;width: 100%;display: inline-block;
margin-top: 10px;}
.whyus_bx strong a{color: #1c1b1b; cursor:default}
.whyus_bx strong a:hover{color: #425465;}
.whyus_bx p{font-size: 16px; line-height: 28px; margin-top: 10px;
font-size: 18px;
line-height: 28px;}
.page_hed b{font-weight: 400;}
.whyus_bx em img{
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 50%;
}
/*whyus*/

/*faq page*/
.faq_sec{width: 100%; padding: 40px 0;}
.contact-wrap {
    width: 100%;
    border-radius: 2px;
    padding: 10px 15px;
    padding-top: 0;
    background: #fff;
}
.top-main-profile {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0px 0px 4px 1px rgba(78, 18, 138, 0.1);
    background: #fff;
}

.accordion {
    padding: 15px 0 0 0;
}
.accordion {
    width: 100%;
    margin: 10px auto 10px;
    background: #FFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.accordion li {
    list-style-type: none;
    margin-bottom: 22px;
}
.accordion .link {
    cursor: pointer;
    display: block;
    color: #333;
    font-size: 16px;
    border-left: 4px solid #425465;
    position: relative;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    font-weight: 400;
    padding-bottom: 10px;

    padding: 9px 35px 9px 9px;
    background: #89d0ca2e;
}
.accordion li i {
    position: absolute;
    top: 14px;
    right: 12px;
    font-size: 16px;
    color: #425465;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.submenu {
    display: none;
    font-size: 14px;
    border: 1px solid #425465;
    border-top-color: rgb(209, 209, 209);
    border-top-style: solid;
    border-top-width: 1px;
    border-top: none !important;
    padding: 14px;
    background: #eaf7f6;
}
.accordion li p {

    font-size: 16px;
    color: #454545;
    text-align: left;
    font-weight: 400;
}
.accordion .open .link {
    background: #425465;
    border-left: 4px solid #233238;
    color: #fff;
}
.accordion .open .link i{color: #fff;}
.top-main-profile{width: 100%; margin-top: 20px;}

.whyus_bx em img{
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 50%;
}
/*faq page*/


/* .accordionlanding1 .card-header.collapsed:after {
    font-family: "Font Awesome 5 Free";
    content: "\f067";
}
.accordionlanding1 .card-header:after {
    font-family: "Font Awesome 5 Free";
    content: "\f068";
    float: right;
} */
.accordionlanding1 .card-header{
    cursor: pointer;
    display: block;
    color: #333;
    font-size: 16px;
    border-left: 4px solid #425465;
    position: relative;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    font-weight: 400;
    padding-bottom: 10px;

    padding: 9px 15px 9px 9px;
    background: rgba(137, 208, 202, 0.3);
    border-color: rgb(66, 84, 101);
    border-bottom: 0;
    margin-top: 18px;
}
.card{
    border: 0;
}
.accordionlanding1 .card-body{
    padding: 0;
    margin-bottom: 20px;
}
.accordionlanding1 .card-body p{
    font-size: 16px;
    border: 1px solid #425465;
    border-top-color: rgb(209, 209, 209);
    border-top-style: solid;
    border-top-width: 1px;
    border-top: none !important;
    line-height: 26px;
    padding: 14px;
    background: rgba(137, 208, 202, 0.3);
}
.accordionlanding1 .card-header i{
    float: right;
    line-height: 25px;
}
#all-products{
    justify-content: center;
}
.whyus_inr .row{
    justify-content: center;
}
#lead_success_ok{
    font-weight: 700;
}
.square_image{
    border-radius: 20px !important;
}
.u-loading_symbol img, .navbar-brand img{
    width: 184px;
    height: 68px;
    object-fit: contain;
}

/*Contact us*/

.contact-sec .page_hed{text-align: left;}
.contact-sec{width: 100%;background-color: #89d0ca2e; padding: 40px 0;}
.contact-form .form-control {
    background: #fff;
    width: 100%;
    padding: 10px 18px;
    border: none;
    outline: none;
    border-radius: 0;
    color: #363636;
    font-size: 16px;
    margin-top: 10px;
    outline: none !important;

    outline: none !important;
}
.form-group textarea.form-control {
    height: 100px;
    resize: none;
}

.cont-info h3 {

    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: 700;
   color: #111;
}
.cont-info-single {
    width: 100%;
    margin-top: 30px;
}
.cont-info-single h5 {
    font-size: 18px;
    color: #425465;
}
.cont-info-single p {
    font-size: 16px;
    padding-left: 26px;
    margin-top: 15px;
}
.cont-info-single h5 i {
    margin-right: 8px;
}
.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #fff;
    outline: 0;
    box-shadow: none !important;
}
.error{
    color: red;
}
.content_file_1{
    border-radius: 100%;
}


.produt_sec .owl-item .item {
    padding: 16px 15px;
}
.produt_sec .owl-nav {
    display: none !important;
}
.produt_sec .owl-dots {
    display: block !important;
    margin-top: 18px;
    width: 100%;
    text-align: center;
}
.produt_sec .owl-dot.active {
    background: #89d0ca;
    opacity: 1;
}
.produt_sec .owl-dot {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background: #d2d2d2;
    display: inline-block;
    margin: 0 5px;
    opacity: 0.6;
}
.file_div {
    position: relative;
    display: block;
}
.vid-icon-you a {
    width: 50px;
    height: 50px;
    font-size: 20px;
    line-height: 50px;
    padding: 0 19px;
}
.row_main{
    justify-content: center;
}

.foot_inr{
    position: relative;
}
.foot-inr-sb{
    position: absolute;
    top: 50%;
    right: 0px;
    transform: translateY(-50%);
    display: block;
    width: fit-content;
}
.foot-inr-sb img{
    width: 156px;
}
.banner_box{

    display: flex;
        flex-direction: row;
        align-items: center;
}
