@media  (max-width: 1199px) {
    .caption h1 {
        line-height: 54px;
        font-size: 47px;
    }

    .caption p {
        font-size: 18px;
        line-height: 29px;
    }

    h2 {
        font-size: 36px;
        line-height: 51px;
    }

    .about-cont li {
        font-size: 16px;
    }

    .about-cont {
        padding-left: 25px;
    }

    .prod-info {
        padding: 12px 20px 29px;
    }

    .pro_ac a {
        font-size: 20px;
    }

    h5 {
        font-size: 16px;
        line-height: 27px;
    }

    #facilities-area {
        padding: 100px 0 75px;
    }

    .facilty-single i {
        width: 75px;
        height: 75px;
        line-height: 75px;
        font-size: 40px;
    }

    .facilty-single i {
        width: 60px;
        height: 60px;
        line-height: 60px;
        font-size: 35px;
    }

    .facilty-single .icon {
        width: 22%;
    }

    .facilty-single .cont {
        width: 78%;
        padding: 0 0 0 15px;
    }

    .facilty-single h4 {
        font-size: 25px;
        line-height: 35px;
    }

    .feat-img img {
        max-width: 250px;
    }

    .testi-single.two .client-comment {
        padding-left: 20px;
    }

    .slider .caption-img img {
        max-width: 300px;
        margin: 0 auto;
    }

    .banner-rightimg span {
        width: 280px;
        height: 280px;
    }

    .banner-rightimg::after {
        width: 280px;
        height: 280px;
        top: 10%;
        right: -3%;
    }

    .about-imgs span {
        width: 400px;
        height: 400px;
    }

    .banner_right_after {
        width: 270px;
        height: 270px;
    }

    .single_img .banner_right_after {
        top: 11%;
        right: 50px;
    }

    .single_img .banner-rightimg span {
        background: transparent;
        border-radius: 50%;
        width: 256px;
        height: 256px;
    }

    .single_img .banner_right_after {
        border-radius: 50%;
        width: 256px;
        height: 256px;
    }

    .single_box.cont_move_right .col-sm-7 {
        padding-left: 0px;
    }

    .carosualbtn {
        width: 38px;
        height: 38px;
        margin: 0 10px;
        font-size: 22px;
        line-height: 32px;
    }
/*(31/08/21)*/
    .modal_sus .modal-dialog {
        max-width: 90%;
    }

    .modal_sus_bdy {
        padding: 40px 50px;
    }

    .modal_sus_bdy h2 {
        font-size: 70px;
        line-height: 86px;
    }

    .modal_sus_bdy p {
        font-size: 16px;
        line-height: 26px;
        margin-top: 12px;
    }

    .modal_sus_bdy p b {
        font-size: 25px;
        line-height: 30px;
    }
/*whyus*/

    .whyus_bx p {
        margin-top: 10px;
        font-size: 14px;
        line-height: 24px;
    }

    .whyus_bx {
        padding: 20px 15px 21px;
        min-height: 284px;
    }

/*faq page*/
    .faq_sec {
        padding: 15px 0 0;
    }
}
/* 1199 */


/*--------------------------------------------------------------
    tablet
---------------------------------------------------------------*/

@media (max-width: 991px) {
    h2 {
        font-size: 44px;
        line-height: 54px;
    }

    h4 {
        font-size: 23px;
        line-height: 33px;
    }

    .navbar-toggler {
        background-color: #ff5740;
        color: #fff;
    }

    .header-cont-info li i {
        padding-right: 3px;
    }

    .header-social li {
        padding: 0;
    }

    .navbar-nav .nav-item {
        text-align: center;
    }

    .navbar-nav {
        padding: 25px 0 0;
    }

    .navbar-nav.shop-btn {
        padding: 0;
    }

    .navbar-nav.shop-btn .nav-link {
        display: inline-block;
        margin: 20px 0 25px;
    }

    .caption h1 {
        font-size: 47px;
        line-height: 58px;
    }

    #hero-area {
        padding: 40px 0 25px;
    }

    .header-top li {
        padding-right: 10px;
    }

    .caption p {
        font-size: 18px;
        line-height: 28px;
    }

    #hero-area.hero-two {
        padding: 10px 0 0;
    }

    #hero-area.hero-two .caption-img {
        margin: 100px 0 0;
    }

    .about-img.bg {
        text-align: center;
        margin-bottom: 100px;
    }

    .about-img img {
        max-width: 200px;
    }

    .about-cont {
        padding-left: 0;
        padding-top: 45px;
    }

    .why-choose-img {
        text-align: center;
    }

    .why-choose-img img {
        max-width: 200px;
    }

    #about-area {
        padding: 18px 0 42px;
    }

    .facilty-single i {
        width: 60px;
        height: 60px;
        line-height: 60px;
        font-size: 36px;
    }

    .facilty-single .cont {
        padding: 0 0 0 15px;
    }

    .facilty-single h4 {
        font-size: 26px;
        line-height: 36px;
    }

    #facilities-area {
        padding: 100px 0 75px;
    }

    .cont-info {
        margin: 30px 0 0 20px;
    }

    .footer-single {
        margin-bottom: 40px;
    }

    .footer-top {
        padding: 90px 0 30px;
    }

    .feat-img img {
        max-width: 150px;
    }

    .feat-icon {
        width: 100%;
        margin: 0 0 10px;
    }

    .why-choose-single.two .icon {
        width: 10%;
    }

    .why-choose-single.two .cont {
        width: 90%;
    }

    .testi-single.two .client-img {
        width: 25%;
    }

    .testi-single.two .client-comment {
        width: 75%;
        padding-left: 20px;
    }

    .offer-single .discount-cont {
        text-align: center;
        margin: 0 0 20px;
    }

    .discount-cont h3 {
        margin: 0 0 10px;
        font-size: 36px;
        line-height: 46px;
    }

    .discount-cont a {
        padding: 10px 30px;
    }

    #faq-area {
        padding: 95px 0 55px;
    }

    .feat-single.three .feat-cont {
        padding-left: 20px;
    }

    #hero-area.hero-three {
        padding: 140px 0 180px;
    }

    .faq-img img {
        max-width: 230px;
    }

    .card-header a {
        font-size: 20px;
        line-height: 30px;
    }

    .feat-single.two .feat-cont {
        width: 100%;
    }

    #feat-area .sec-heading {
        text-align: left !important;
    }

    .caption h1 {
        line-height: 44px;
        font-size: 36px;
        margin-bottom: 9px;
    }

    .caption p {
        font-size: 16px;
        line-height: 28px;
    }

    .caption ul {
        margin: 34px 0 0;
    }

    h2 {
        font-size: 25px;
        line-height: 42px;
        margin-bottom: 5px;
    }

    .about-cont li {
        font-size: 16px;
    }

    .about-cont {
        padding-left: 25px;
    }

    .prod-info {
        padding: 12px 20px 29px;
    }

    .pro_ac a {
        font-size: 20px;
    }

    h5 {
        font-size: 16px;
        line-height: 27px;
    }

    p {
        font-size: 16px;
        line-height: 27px;
    }

    .about-cont ul {
        margin: 0px 0 21px;
    }

    .about-cont li {
        font-size: 15px;
    }

    .about-cont a {
        padding: 10px 19px;
        font-size: 15px;
    }

    #video-area {
        padding: 42px 0 50px;
    }

    .sec-heading {
        margin: 0 0 0px;
    }

    .btn_pro {
        margin: 16px 0 0;
        padding: 6px 22px;
        font-size: 14px;
    }

    #contact-area {
        padding: 31px 0 31px;
    }

    .contact-form button {
        padding: 11px 18px;
        font-size: 14px;
    }

    .banner-rightimg span {
        width: 250px;
        height: 250px;
    }

    .banner-rightimg::after {
        width: 250px;
        height: 250px;
        top: 10%;
        right: -5%;
    }

    .about-imgs span {
        width: 240px;
        height: 240px;
    }

    .cur1 {
        left: 1px;
        top: 173px;
        width: 24px;
        height: 24px;
    }

    .cur2 {
        right: 28px;
        top: 154px;
        width: 30px;
        height: 30px;
    }

    .cur3 {
        right: 45px;
        bottom: 132px;
        width: 13px;
        height: 13px;
    }

    .banner_right_after {
        width: 245px;
        height: 245px;
    }

    .single_img .banner_right_after {
        top: 11%;
        right: -20px;
    }

    .butoon {
        padding: 10px 19px;
        font-size: 15px;
    }

    .image-move-right {
        left: 00px;
    }
/*(31/08/21)*/
    .modal_sus_bdy h2 {
        font-size: 59px;
        line-height: 83px;
    }

    .modal_sus_bdy p b {
        font-size: 22px;
        line-height: 30px;
    }
/*whyus*/

    .whyus_inr .col-sm-4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }

    .whyus_inr .row {
        justify-content: center;
    }

    .whyus_bx {
        margin-top: 15px;
    }

    .whyus_inr {
        margin-top: 28px;
    }

    .page_hed h1, .page_hed h2, .page_hed h3, .page_hed h4, .page_hed h5, .page_hed h6 {
        font-size: 30px;
        line-height: 42px;
    }

    .foot-inr-sb{
        top: 100%;
        transform: translateY(-100%);
    }
    .foot-inr-sb img{
        width: 100px;
    }
}



/*991px*/

@media (max-width: 767px) {
    h2 {
        font-size: 40px;
        line-height: 50px;
    }

    h4 {
        font-size: 24px;
        line-height: 34px;
    }

    h6 {
        font-size: 14px;
        line-height: 24px;
    }

    p {
        font-size: 16px;
        line-height: 26px;
    }

    .navbar-toggler {
        background-color: #ff5740;
        color: #fff;
    }

    .header-top {
        text-align: center;
    }

    .header-social {
        text-align: center !important;
        margin: 15px 0 8px;
    }

    .navbar-nav {
        padding-top: 25px;
    }

    .navbar-nav.shop-btn .nav-link {
        display: inline-block;
    }

    .navbar-nav.shop-btn {
        text-align: center;
        margin: 20px 0 25px;
        padding: 0;
    }

    .caption {
        text-align: center;
    }

    #hero-area {
        padding: 100px 0 150px;
    }

    h1 {
        font-size: 25px;
        line-height: 35px;
    }

    h2 {
        font-size: 40px;
        line-height: 50px;
    }

    .caption h1 {
        line-height: 60px;
    }

    .caption-img {
        margin: 30px 0 0;
    }

    .caption-img img {
        max-width: 300px;
    }

    .caption h5 {
        margin-bottom: 15px;
        font-size: 18px;
        line-height: 28px;
    }

    .caption li a {
        line-height: 1;
    }

    .about-cont {
        padding-left: 0;
        margin: 60px 0 0;
    }

    .about-cont ul {
        margin: 0;
    }

    .about-cont li {
        font-size: 18px;
    }

    .about-btn {
        margin: 40px 0 0;
    }

    .about-cont a {
        line-height: 1;
    }

    .about-cont p {
        margin: 0 0 25px;
    }

    .feat-single .icon {
        width: 100%;
    }

    .feat-single .title {
        width: 100%;
    }

    .feat-head {
        margin-bottom: 0px;
    }

    .discount-cont {
        text-align: center;
    }

    .discount-cont a {
        margin: 25px 0 50px;
        line-height: 1;
    }

    .testi-single {
        margin: 0 30px;
    }

    .testi-single h4 {
        font-size: 24px;
        line-height: 34px;
    }

    .newsletter-form input,
    .newsletter-form button {
        height: 55px;
    }

    #why-choose-area .sec-heading {
        margin: 60px 0 40px 0px;
    }

    .why-choose-cont {
        margin-left: 0;
    }

    .facilty-single .icon {
        width: 100%;
    }

    .facilty-single .cont {
        width: 100%;
    }

    .facilty-single {
        margin-bottom: 30px;
        text-align: center;
    }

    .facilty-single i {
        width: 80px;
        height: 80px;
        line-height: 80px;
        font-size: 40px;
        margin: 0 0 10px;
    }

    #facilities-area {
        padding: 100px 0 55px;
    }

    .cont-info {
        margin: 50px 0 0 0px;
    }

    #contact-area .sec-heading {
        text-align: center;
    }

    .footer-single {
        margin: 0 0 40px;
    }

    .footer-top {
        padding: 90px 0;
    }

    .feat-single {
        text-align: center;
        padding: 0 10%;
    }

    #hero-area.hero-two {
        padding: 100px 0 0;
    }

    .about-single {
        padding: 0 10%;
        margin: 0 0 50px;
    }

    .about-single i {
        margin: 0 0 20px;
    }

    #about-area.two {
        padding: 85px 0 40px;
    }

    .feat-icon,
    .feat-cont {
        width: 100%;
    }

    .feat-img img {
        max-width: 200px;
        margin: 20px 0 50px;
    }

    .why-choose-single.two .icon {
        width: 10%;
    }

    .why-choose-single.two .cont {
        width: 90%;
    }

    .testi-single img {
        max-width: 75px;
    }

    .offer-single {
        margin: 0 0 50px;
    }

    .discount-img {
        margin: 40px 0 10px;
        text-align: center;
    }

    .discount-img img {
        max-width: 250px;
    }

    #discount-area {
        padding: 95px 0 40px;
    }

    .slider .caption-img img {
        max-width: 300px;
        margin: 0 auto 70px;
    }

    #hero-area.hero-three {
        padding: 45px 0 160px;
    }

    .slider .owl-dots {
        bottom: -120px;
    }

    .feat-single.three .feat-icon {
        width: 100%;
    }

    .feat-single.three .feat-cont {
        width: 100%;
    }

    #about-area.three .about-cont {
        padding-left: 0;
        margin: 0 0 60px;
    }

    .faq-img img {
        max-width: 300px;
        margin: 0 0 60px;
    }

    .card-header a {
        font-size: 20px;
        line-height: 30px;
    }

    #hero-area {
        padding: 0 0 32px;
    }

    .ban_sec .row {
        flex-direction: column-reverse;
    }

    .container {
        max-width: 100%;
    }

    .caption h1 {
        font-size: 25px;
        line-height: 35px;
        margin-bottom: 7px;
    }

    .caption {
        margin-top: 20px;
    }

    .caption ul {
        margin: 18px 0 0;
    }

    .caption li a {
        padding: 12px 18px;
        font-size: 14px;
    }

    .about-cont {
        margin: 0 0 0;
    }

    h2 {
        font-size: 23px;
        line-height: 31px;
    }

    h6 {
        font-size: 13px;
        line-height: 19px;
    }

    .about-cont li {
        font-size: 14px;
    }

    .about-btn {
        margin: 23px 0 0;
    }

    #product-area {
        padding: 40px 0 24px;
    }

    .contact-form textarea {
        height: 91px;
    }

    .ved_img img {
        height: 331px;
    }

    .banner-rightimg span {
        width: 270px;
        height: 270px;
    }

    .banner-rightimg::after {
        width: 270px;
        height: 270px;
        top: 10%;
        right: 25%;
    }

    .about-imgs span {
        width: 380px;
        height: 380px;
    }

    .cur1 {
        left: 1px;
        top: 74px;
    }

    .cur2 {
        right: 51px;
        top: 53px;
    }

    .cur3 {
        right: 68px;
        bottom: 6px;
    }

    .single_img .banner-rightimg span {
        background: transparent;
        border-radius: 50%;
        width: 200px;
        height: 200px;
    }

    .single_img .banner_right_after {
        border-radius: 50%;
        width: 200px;
        height: 200px;
    }

    .single_img .banner_right_after {
        top: 5%;
        right: 0px;
    }

    .carosualbtn {
        width: 35px;
        height: 35px;
        margin: 0 10px;
        font-size: 21px;
        line-height: 30px;
    }
/*(31/08/21)*/
    .modal_sus_bdy p b {
        font-size: 22px;
        line-height: 30px;
    }

    .modal_sus_bdy {
        padding: 25px 28px;
    }

    .modal_sus_bdy h2 {
        font-size: 48px;
        line-height: 68px;
    }

    .modal_sus_bdy p {
        font-size: 14px;
        line-height: 24px;
        margin-top: 10px;
    }

    .modal_sus_bdy p b {
        font-size: 18px;
        line-height: 25px;
    }

    .net_sus_btn .page_btn {
        margin-top: 35px;
    }

    .net_sus_btn .page_btn i {
        font-size: 11px;
    }
/*whyus*/
    .whyus_sec {
        padding: 30px 0;
    }

    .page_hed p {
        margin-top: 10px;
        font-size: 15px;
        line-height: 24px;
        margin-top: 8px;
    }

    .whyus_bx strong {
        font-size: 16px;
    }

    .whyus_bx em {
        font-size: 30px;
        height: 67px;
        line-height: 67px;
        width: 67px;
    }

    .whyus_bx strong a {
        font-size: 15px;
    }

    .whyus_inr {
        margin-top: 0;
    }

    .banner_only_img .banner_right_after {
        width: 256px;
        height: 256px;
        top: 15%;
        right: 182px;
    }

    .banner-rightimg {
        margin-bottom: 20px;
    }

    .counter_ul {
        justify-content: center;
    }

    .counter_ul li p.counter_num {
        font-size: 20px;
        font-weight: 600;
        width: 47px;
        height: 47px;
        line-height: 49px;
    }

    .counter_ul li p {
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 0;
    }
}
/*767px*/



@media (max-width: 660px) {
    .banner_only_img .banner_right_after {
        right: 146px;
    }
}

@media (max-width: 610px) {
    .banner_only_img .banner_right_after {
        top: 9%;
        right: 125px;
    }
}

@media (max-width: 575px) {
    .banner-rightimg span {
        width: 210px;
        height: 210px;
    }

    .banner-rightimg::after {
        width: 210px;
        height: 210px;
        top: 10%;
        right: 15%;
    }

    .banner_only_img .banner_right_after {
        width: 210px;
        height: 210px;
    }

    .about-imgs span {
        width: 330px;
        height: 330px;
    }

    .single_img .banner_right_after {
        top: 5%;
        left: 18px;
        right: inherit;
    }
/*whyus*/
    .whyus_inr .col-sm-4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    .whyus_bx {
        min-height: auto;
    }

    .page_hed h1, .page_hed h2, .page_hed h3, .page_hed h4, .page_hed h5, .page_hed h6 {
        font-size: 24px;
        line-height: 34px;
    }

    .other_wrapper .navbar-menu {
        padding-top: 0;
    }
    .banner_only_img .banner_right_after {
    top: 6%;
    right: 110px;
}
.counter_ul li{
    margin-top: 0;
}
.counter_ul li p.counter_num {
    font-size: 17px;
    width: 40px;
    height: 40px;
    line-height: 41px;
}
.counter_ul li p {
    font-size: 13px;
    }

    .foot-inr-sb{
        position: static;
        transform: translateY(-0%);
        margin: 10px auto 0px auto;
    }
    .foot-inr-sb img{
        width: 100px;
    }
}
/*575px*/

@media (max-width: 480px) {

    .caption-img img {
        max-width: 260px;
    }

    .logo img {
        width: 100px;
    }

    .header-social li a {
        width: 30px;
        height: 30px;
        line-height: 28px;
        font-size: 13px;
    }

    .caption-img {
        margin: 26px 0 0;
    }

    .caption h1 {
        font-size: 20px;
        line-height: 31px;
        margin-bottom: 7px;
    }

    .caption p {
        font-size: 15px;
        line-height: 25px;
    }

    .about-cont {
        padding-top: 8px;
    }

    h2 {
        font-size: 18px;
        line-height: 26px;
    }

    .about-cont p {
        margin: 0 0 12px;
    }

    p {
        font-size: 15px;
        line-height: 25px;
    }

    .about-cont h2 {
        margin-bottom: 9px;
    }

    #about-area {
        padding: 18px 0 25px;
    }

    #product-area {
        padding: 30px 0 23px;
    }

    .product-carousel .owl-nav {
        margin: 15px 0 0;
    }

    .product-carousel .owl-nav > div {
        width: 30px;
        height: 30px;
        line-height: 30px;
    }

    label {
        font-size: 15px;
    }

    .cont-info {
        margin: 14px 0 0 0px;
    }

    .cont-info-single {
        margin: 0 0 0;
    }

    .cont-info-single h5 {
        margin-bottom: 0 !important;
    }

    .footer-btm {
        padding: 18px 0;
    }

    #contact-area {
        padding: 19px 0 31px;
    }

    .ved_img img {
        height: 228px;
    }

    .banner-rightimg span {
        width: 200px;
        height: 200px;
    }

    .banner-rightimg::after {
        width: 200px;
        height: 200px;
        top: 10%;
        right: 15%;
    }

    .about-imgs span {
        width: 280px;
        height: 280px;
        transform: rotate(0deg);
    }

    .about-imgs span img {
        transform: rotate(0deg);
    }
    .banner_only_img .banner_right_after {
    top: 10%;
    right: 80px;
}
.banner_only_img .banner_right_after {
    width: 196px;
    height: 196px;
}
}
@media (max-width: 440px) {
    .banner_only_img .banner_right_after {
    top: 10%;
    right: 70px;
}
}

@media (max-width: 380px) {
    .banner-rightimg span {
        width: 200px;
        height: 200px;
    }

    .about-imgs span {
        width: 250px;
        height: 250px;
        transform: rotate(0deg);
    }

    .about-imgs span img {
        transform: rotate(0deg);
    }

    .banner-rightimg::after {
        width: 200px;
        height: 200px;
        top: 10%;
        right: 5%;
    }
/*(31/08/21)*/
    .modal_sus_bdy h2 {
        font-size: 32px;
        line-height: 50px;
    }

    .net_sus_btn .page_btn {
        margin-top: 28px;
    }
/*whyus*/
    .page_hed h1, .page_hed h2, .page_hed h3, .page_hed h4, .page_hed h5, .page_hed h6 {
        font-size: 18px;
        line-height: 22px;
    }
    .banner_only_img .banner_right_after {
    top: 10%;
    right: 38px;
}
}

/*480px*/
