

@import url('https://fonts.googleapis.com/css?family=Josefin Sans');

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    color: #0c2461;
    position: relative;
    overflow-x: hidden;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a,
a:visited,
a:focus,
a:active,
a:hover {
    text-decoration: none;
    outline: none;
}

a,
button {
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

button {
    cursor: pointer;
}

button:focus {
    outline: 0;
}

a {
    color: #000;
    font-size: 18px;
    font-family: 'Josefin Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    margin-top: 0;
    font-family: 'Josefin Sans', sans-serif;
}

h1 {
    font-size: 70px;
    line-height: 80px;
}

h2 {
    font-size: 50px;
    line-height: 60px;
}

h3 {
    font-size: 40px;
    line-height: 50px;
}

h4 {
    font-size: 28px;
    line-height: 38px;
}

h5 {
    font-size: 20px;
    line-height: 30px;
}

h6 {
    font-size: 16px;
    line-height: 26px;
}

p {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    color: #3c6382
}

.d-table {
    width: 100%;
    height: 100%;
}

.bg-gray {
    background-color: #f6f3ea
}

.animation-jump {
    position: relative;
    -webkit-animation: animation-jump 2s ease-in-out infinite;
    animation: animation-jump 2s ease-in-out infinite;
}

@-webkit-keyframes animation-jump {
    0% {
        top: 3px;
    }

    50% {
        top: -3px;
    }

    100% {
        top: 3px;
    }
}

@keyframes animation-jump {
    0% {
        top: 3px;
    }

    50% {
        top: -3px;
    }

    100% {
        top: 3px;
    }
}


/*-------------------------------------------------------------------------------------
    header area
---------------------------------------------------------------------------------------*/
#header {
    -webkit-transition: 0.5s;
    transition: 0.5s
}

.header-top li {
    display: inline-block;
    padding-right: 20px;
}

.header-top-wrap {
    border-bottom: 1px solid #e4f1fb;
    padding: 14px 0;
}

.header-cont-info {
    padding: 10px 0 0;
}

.header-cont-info li i {
    color: #ff5740;
    padding-right: 7px;
}

.header-social li a {
    border: 1px solid #ff5740;
    display: block;
    width: 35px;
    height: 35px;
    line-height: 33px;
    text-align: center;
    border-radius: 4px;
    color: #ff5740;
    font-size: 15px;
}

.header-social li a:hover {
    background-color: #ff5740;
    color: #fff;
}

.header-social li {
    padding: 0 5px;
}

.navbar-nav .nav-link {
    color: #000;
    font-weight: 600;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.active {
    color: #ff5740;
}

.navbar-nav .nav-item {
    padding: 0 10px;
}

.mainmenu {
    -webkit-transition: 0.5s;
    transition: 0.5s;
    padding: 5px 0
}

.mainmenu.sticky {
    position: fixed;
    z-index: 999;
    background-color: #fff;
    padding: 5px 0;
    -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    width: 100%;
    top: 0;
    -webkit-transition: 0.5s;
    transition: 0.5s
}

.mainmenu.sticky .nav-link {
    color: #130f40;
}

.mainmenu.sticky .nav-link:hover,
.mainmenu.sticky .navbar-nav .nav-link.active {
    color: #ff5740;
}

.navbar-nav.shop-btn .nav-link {
    border: 1px solid #ff6348;
    border-radius: 5px;
    color: #fff;
    background-color: #ff6348;
    padding: 10px 22px;
}

.navbar-nav.shop-btn .nav-link:hover {
    border: 1px solid #ff6348;
    color: #ff6348;
    background-color: #fff;
}

.mainmenu.sticky .navbar-nav.shop-btn .nav-link {
    color: #fff;
}

.mainmenu.sticky .navbar-nav.shop-btn .nav-link:hover {
    color: #ff6348;
}

/*-------------------------------------------------------------------------------------
    hero area
---------------------------------------------------------------------------------------*/

#hero-area {
    padding: 103px 0;
    background-color: #fbd7b5;
}

.caption h5 {
    font-weight: 600;
    color: #fb4f31;
    text-transform: uppercase;
    margin-bottom: 20px
}

.caption h1 {
    line-height: 75px;
    font-weight: 700;
    margin-bottom: 20px
}

.caption h4 {
    color: #2e1278;
    font-weight: 600;
}

.caption p {
    font-size: 20px;
    line-height: 30px
}

.caption ul {
    margin: 45px 0 0;
}

.caption ul li {
    display: inline-block;
    margin-right: 20px;
}

.caption li a {
    display: block;
    background-color: #ff6348;
    color: #fff;
    padding: 15px 30px;
    border-radius: 4px;
    font-weight: 600;
}

.caption li a:hover {
    background-color: #fb4f31;
}

.caption li a i {
    margin-left: 10px;
}

.caption ul li span {
    font-weight: 600;
    font-size: 24px;
}

.hero-btn a {
    display: inline-block;
    background-color: #ff6348;
    margin: 30px 0 0;
    color: #fff;
    padding: 10px 30px 15px;
    border-radius: 4px;
    font-weight: 600;
}

.hero-btn a:hover {
    background: #fb4f31;
}

.hero-btn i {
    padding: 10px 0 0 10px;
}

#hero-area.hero-two {
    background-color: #7dcaba;
    padding: 30px 0 0
}

#hero-area.hero-three {
    padding: 140px 0 200px;
}

.slider .caption-img img {
    max-width: 400px;
}

.slider.owl-carousel .owl-nav > div {
    position: absolute;
    left: 20px;
    top: 50%;
    background-color: rgba(255, 99, 72, 0.5);
    width: 50px;
    height: 50px;
    line-height: 54px;
    text-align: center;
    font-size: 30px;
    border-radius: 5px;
    color: #130f40;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: 0.4s;
    transition: 0.4s;
    color: #fff
}

.slider.owl-carousel .owl-nav .owl-next {
    left: auto;
    right: 20px;
}

.slider.owl-carousel .owl-nav > div:hover {
    background-color: #ff6348;
    color: #fff
}

.slider .owl-dots {
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    bottom: -150px;
}

.slider .owl-dots .owl-dot {
    background-color: #fff;
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 0 10px;
    border-radius: 3px;
}

.slider .owl-dots .owl-dot.active {
    background-color: #ff6348;
}

.owl-item.active .slide-single .caption h1 {
    -webkit-animation: 1s .2s fadeInUp both;
    animation: 1s .2s fadeInUp both;
}

.owl-item.active .slide-single .caption p {
    -webkit-animation: 1s .4s fadeInUp both;
    animation: 1s .4s fadeInUp both;
}

.owl-item.active .slide-single .hero-btn {
    -webkit-animation: 1s .6s fadeInUp both;
    animation: 1s .6s fadeInUp both;
}

/*-------------------------------------------------------------------------------------
    about area
---------------------------------------------------------------------------------------*/

#about-area {
    padding: 95px 0 100px;
}

.about-cont {
    padding-left: 55px;
}

.about-cont h6 {
    color: #ff5740;
    text-transform: uppercase;
    font-weight: 600;
}

.about-cont h2 {
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.about-cont ul {
    margin: 20px 0 40px;
}

.about-cont li {
    padding: 6px 0;
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 500;
}

.about-cont i {
    margin-right: 10px;
    color: #ff5740;
}

.about-cont a {
    display: inline-block;
    color: #fff;
    padding: 15px 30px;
    border-radius: 4px;
    font-weight: 600;
    background-color: #ff6348
}

.about-cont a:hover {
    background-color: #fb4f31
}

.about-img.bg {
    background-image: url(../images/sar1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain
}

.about-single i {
    color: #ff6348;
    border-radius: 50%;
    display: inline-block;
    font-size: 60px;
    margin: 0 0 25px
}

.about-single h4 {
    font-weight: 600
}

#about-area.two {
    padding: 95px 0 75px
}

/*-------------------------------------------------------------------------------------
     section heading
---------------------------------------------------------------------------------------*/
.sec-heading {
    margin: 0 0 50px
}

.sec-heading h6 {
    color: #ff6348;
    text-transform: uppercase;
    font-weight: 600;
}

.sec-heading h2 {
    font-weight: 700;
    text-transform: capitalize;
}

/*-------------------------------------------------------------------------------------
     features area
---------------------------------------------------------------------------------------*/

#feat-area {
    padding: 95px 0 45px;

}

.feat-head {
    overflow: hidden;
    margin-bottom: 12px;
}

.feat-single .icon {
    width: 12%
}

.feat-single .title {
    width: 85%;
    padding-left: 10px
}

.feat-single h4 {
    font-weight: 600;
    margin: 10px 0 8px
}

.feat-head i {
    color: #ff6348;
    font-size: 40px;
    line-height: 46px;
    display: inline-block;
}

.feat-single {
    margin: 0 0 30px;
    overflow: hidden
}

.feat-img img {
    max-width: 250px
}

.feat-single.two {
    border-radius: 10px;
    overflow: hidden;
    margin: 0 0 20px
}

.feat-icon {
    width: 18%;
    float: left;
}

.feat-cont {
    float: left;
    width: 82%;
}

.feat-icon i {
    color: #ff6348;
    font-size: 44px;
    display: inline-block;
    margin: 10px 0 0
}

.feat-single.three .feat-icon {
    width: 14%;
}

.feat-single.three .feat-cont {
    width: 86%;
}

#feat-area.two {
    padding: 95px 0 55px
}

/*-------------------------------------------------------------------------------------
    discount-area
---------------------------------------------------------------------------------------*/

#discount-area {
    padding: 95px 0;
}

.discount-cont h6 {
    font-weight: 600;
    text-transform: uppercase;
    color: #ff6348;
}

.discount-cont h2 {
    font-weight: 700;
    text-transform: capitalize;
}

.discount-cont a {
    display: inline-block;
    color: #fff;
    padding: 15px 30px;
    border-radius: 4px;
    font-weight: 600;
    background-color: #ff6348;
    margin: 25px 0 0
}

.discount-cont.two a {
    margin: 15px 0 0
}

.discount-cont a:hover {
    background-color: #fb4f31;
}

.offer-single {
    margin: 0;
    padding: 45px 30px 45px 30px;
    border-radius: 20px;
}

.discount-cont h3 {
    margin: 0 0 20px;
}

.discount-img {
    margin: 15px 0 0;
}

/*-------------------------------------------------------------------------------------
    video area
---------------------------------------------------------------------------------------*/

#video-area {
    padding: 95px 0 100px;
    position: relative
}

/*.video-player-wrap {
    background-image: url(../images/watch-img-2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 200px 0;
    border-radius: 20px
}*/

.video-player a {
    display: inline-block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    font-size: 30px;
    line-height: 80px;
    padding: 0 28px;
    background-color: #ff6348;
    color: #fff;
    position: relative
}

.video-player a:hover {
    background-color: #ff4e56;
    color: #fff;
}

.video-player a:after {
    content: "";
    position: absolute;
    left: -5px;
    top: -5px;
    height: 90px;
    width: 90px;
    border: 3px solid #ff6348;
    border-radius: 50%;
    -webkit-animation: icon-bubble 1s infinite forwards linear;
    animation: icon-bubble 1s infinite forwards linear;
}

.video-player a:before {
    content: "";
    position: absolute;
    left: -5px;
    top: -5px;
    height: 90px;
    width: 90px;
    border: 3px solid #ff6348;
    border-radius: 50%;
    -webkit-animation: icon-bubble 1s infinite forwards linear 0.5s;
    animation: icon-bubble 1s infinite forwards linear 0.5s;
}

.about-img{position: relative;}
.cur1{position: absolute; left: 6px;
top: 156px; background: #ff6347;
width: 55px; height: 55px; border-radius: 100%;}
.cur2{position: absolute; right: 76px;
top: 97px; background: #0c2461;
width: 70px;
height: 70px; border-radius: 100%;}
.cur3{position: absolute; right: 116px;
bottom: 40px; background: #ff6347;
width: 35px; height: 35px; border-radius: 100%;}


.before_vedio{
    position: absolute;
    left: -5px;
    top: -5px;
    height: 90px;
    width: 90px;
    border: 3px solid #ff6348;
    border-radius: 50%;
    -webkit-animation: icon-bubble 1s infinite forwards linear 0.5s;
    animation: icon-bubble 1s infinite forwards linear 0.5s;}
    .after_vedio{
    position: absolute;
    left: -5px;
    top: -5px;
    height: 90px;
    width: 90px;
    border: 3px solid #ff6348;
    border-radius: 50%;
    -webkit-animation: icon-bubble 1s infinite forwards linear;
    animation: icon-bubble 1s infinite forwards linear;
}

.video-player a::before{display: none;}
.video-player a::after{display: none;}


@-webkit-keyframes icon-bubble {
    0% {
        -webkit-transform: scale(0.85);
        transform: scale(0.85);
        opacity: 1;
    }

    25% {
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
        opacity: 0.8;
    }

    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
        opacity: 0.55;
    }

    75% {
        -webkit-transform: scale(1.32);
        transform: scale(1.32);
        opacity: 0.3;
    }

    100% {
        -webkit-transform: scale(1.4);
        transform: scale(1.4);
        opacity: 0;
    }
}

@-webkit-keyframes icon-bubble {
    0% {
        -webkit-transform: scale(0.85);
        transform: scale(0.85);
        opacity: 1;
    }

    25% {
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
        opacity: 0.8;
    }

    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
        opacity: 0.55;
    }

    75% {
        -webkit-transform: scale(1.32);
        transform: scale(1.32);
        opacity: 0.3;
    }

    100% {
        -webkit-transform: scale(1.4);
        transform: scale(1.4);
        opacity: 0;
    }
}

@keyframes icon-bubble {
    0% {
        -webkit-transform: scale(0.85);
        transform: scale(0.85);
        opacity: 1;
    }

    25% {
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
        opacity: 0.8;
    }

    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
        opacity: 0.55;
    }

    75% {
        -webkit-transform: scale(1.32);
        transform: scale(1.32);
        opacity: 0.3;
    }

    100% {
        -webkit-transform: scale(1.4);
        transform: scale(1.4);
        opacity: 0;
    }
}

/*-------------------------------------------------------------------------------------
    product area
---------------------------------------------------------------------------------------*/
.product-area {
    padding: 95px 0 30px;
}

.prod-single {
    border: 1px solid #e6f0fa;
    border-radius: 20px;
    overflow: hidden;
    background-color: #fff
}

.prod-info {
    padding: 40px 20px 45px;
}

.prod-img {
    overflow: hidden;
    padding: 40px 15px 15px;
    position: relative;
}
.prod-img .playIcon{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 57px;
    height: 57px;
    margin-top: 40%;
}
.prod-img .playIcon img{
    width: 100% !important;
    height: 100% !important;
    object-fit: inherit;
}

.prod-img img, .prod-img iframe {
    margin: 0 auto;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    max-width: 230px
}

.prod-single:hover img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.prod-info i {
    display: inline-block;
    color: #ffb400;
    margin: 0 4px;
}

.prod-info h4 {
    font-weight: 600;
    font-size: 28px;

}


.prod-info h4  a{color: #000;}
.prod-info h5 {
    color: #ff5740;
    margin: 10px 0 0;
    font-weight: 600
}

.btn_pro {
    display: inline-block;
    margin: 25px 0 0;
    background-color: #ff5740;
    color: #fff;
    padding: 10px 35px;
    border-radius: 4px;
}

.btn_pro:hover {
    background-color: #fb4f31;
    color: #fff;
}

.product-carousel .owl-nav {
    text-align: center;
    margin: 35px 0 0
}

.product-carousel .owl-nav > div {
    width: 50px;
    height: 50px;
    background-color: #fff;
    color: #ff5740;
    text-align: center;
    display: inline-block;
    margin: 0 10px;
    font-size: 25px;
    line-height: 54px;
    border-radius: 5px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.product-carousel .owl-nav > div:hover {
    background-color: #ff5740;
    color: #fff;
}

/*-------------------------------------------------------------------------------------
    faq area
---------------------------------------------------------------------------------------*/
#faq-area {
    padding: 95px 0 65px;
}

.question-single {
    margin: 0 10px 30px 0;
}

.question-single h4 {
    font-weight: 600;
    font-size: 25px;
    line-height: 35px
}

.card {
    margin: 0 0 16px;
    border: 0;
}

.card-header {
    border: 0;
    background-color: transparent;
    padding: 0;
}

.card-header a {
    display: block;
    padding: 20px 45px;
    border-bottom: 1px solid #e6f0fa;
    font-size: 25px;
    line-height: 35px;
    font-weight: 600;
    color: #162466;
    font-family: 'Josefin Sans', sans-serif;
}

.card-body {
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    color: #3c6382;
}

.card-header.active a:before {
    content: "\eab9";
}

.card-header a:before {
    content: "\eab2";
    font-family: "IcoFont";
    font-size: 14px;
    position: absolute;
    left: 20px;
    top: 20px;
    color: #ff4e56;
}

.card-header a:hover {
    color: #ff4e56;
}

.faq-img img {
    max-width: 330px;
}

#faq-area.three {
    padding: 95px 0 85px
}

/*-------------------------------------------------------------------------------------
    testimonial area
---------------------------------------------------------------------------------------*/
#testi-area {
    padding: 95px 0 155px;
}

.client-comment > span > i {
    color: #ff6348;
    font-size: 50px
}

.client-comment p i,
.client-comment .rating-star i {
    color: #f0932b;
    font-size: 20px;
    margin: 0 2px;
    display: inline-block
}

.testi-single {
    border: 3px solid #e6f0fa;
    padding: 50px 30px 40px;
    border-radius: 20px;
}

.client-img {
    margin: 45px 0 20px;
}

.testi-single img {
    max-width: 100px;
    border-radius: 50%;
    margin: 0 auto
}

.testi-single h4 {
    font-weight: 600;
    margin: 0;
}

.testi-single.two {
    overflow: hidden
}

.testi-single.two .client-img {
    width: 30%;
    float: left;
    margin: 0
}

.testi-single.two .client-comment {
    width: 70%;
    float: left;
    padding-left: 10px
}

.testi-single.two p {
    margin: 10px 0 25px;
}

.testi-carousel-three .testi-single {
    border: 0;
    padding: 0 50px;
}

.testi-carousel .owl-dots,
.testi-carousel-two .owl-dots,
.testi-carousel-three .owl-dots {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -60px;
    text-align: center;
    width: 100%;
}

.testi-carousel .owl-dot,
.testi-carousel-two .owl-dot,
.testi-carousel-three .owl-dot {
    width: 16px;
    height: 16px;
    background-color: #0c2461;
    display: inline-block;
    margin: 0 6px;
    text-align: center;
    border-radius: 50%;
}

.testi-carousel .owl-dot.active,
.testi-carousel-two .owl-dot.active,
.testi-carousel-three .owl-dot.active {
    background-color: #ff6348;
}

/*-------------------------------------------------------------------------------------
    newsletter area
---------------------------------------------------------------------------------------*/
#newsletter-area {
    padding: 95px 0 100px;
}

.newsletter-form {
    position: relative;
}

.newsletter-form input {
    height: 65px;
    padding-left: 20px;
    font-family: 'Josefin Sans', sans-serif;
}

.newsletter-form button {
    background-color: #ff6348;
    color: #fff;
    border: 0;
    font-size: 18px;
    height: 65px;
    padding: 0 35px;
    border-radius: 0 4px 4px 0;
    position: absolute;
    right: 0;
    top: 0;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
}

.newsletter-form button:hover {
    background-color: #fb4f31;
}

/*-------------------------------------------------------------------------------------
    why choose area
---------------------------------------------------------------------------------------*/
#why-choose-area {
    padding: 100px 0 60px;
}

#why-choose-area .sec-heading {
    margin: 0 0 40px 30px
}

.why-choose-cont {
    margin-left: 30px;
}

.why-choose-single {
    overflow: hidden;
    margin: 0 0 22px;
}

.why-choose-single .icon {
    width: 10%;
    float: left;
}

.why-choose-single .cont {
    float: left;
    width: 80%;
}

.why-choose-single i {
    display: inline-block;
    color: #ff6348;
    font-size: 30px;
}

.why-choose-single h4 {
    font-weight: 500;
    font-size: 22px;
    line-height: 32px;
}

.why-choose-single.two .icon {
    width: 16%;
}

.why-choose-single.two .cont {
    width: 84%;
}

.why-choose-single.two h4 {
    font-weight: 600;
    font-size: 26px;
    line-height: 36px
}

#why-choose-area.two {
    padding: 95px 0 55px;
}

/*-------------------------------------------------------------------------------------
    contact area
---------------------------------------------------------------------------------------*/
#contact-area {
    padding: 95px 0 85px;
}

.contact-form input,
.contact-form textarea {
    font-size: 15px;
    border-color: #daecfd;
}

.contact-form input {
    height: 55px
}

.contact-form input,
.contact-form textarea {
    height: 200px
}

.contact-form input {
    height: 50px;
}

.contact-form label {
    font-weight: 700;
}

.contact-form button {
    background-color: #ff6348;
    padding: 15px 30px;
    color: #fff;
    border-radius: 4px;
    font-weight: 600;
    border: 0;
}

.contact-form button:hover {
    background-color: #fb4f31;
}

.help-block.with-errors li {
    color: #ff0000;
    margin: 4px 0 0;
}

.messages {
    margin: 15px 0 0
}

.messages button {
    color: #000;
    padding: 0;
    background-color: transparent
}

.messages button:hover {
    background-color: transparent
}

.cont-info {
    margin: 30px 0 0 30px;
}

.cont-info-single {
    margin: 0 0 40px
}

.cont-info-single h5 {
    font-weight: 600
}

.cont-info-single i {
    color: #ff6348
}

/*-------------------------------------------------------------------------------------
    facilities area
---------------------------------------------------------------------------------------*/

#facilities-area {
    padding: 100px 0 95px;
}

.facilty-single {
    overflow: hidden
}

.facilty-single .icon {
    float: left;
    width: 30%
}

.facilty-single i {
    display: inline-block;
    background-color: #fff;
    color: #ff6348;
    width: 90px;
    height: 90px;
    line-height: 90px;
    font-size: 50px;
    text-align: center;
    border-radius: 5px
}

.facilty-single .cont {
    float: left;
    width: 70%;
    padding: 12px 0 0 20px
}

.facilty-single h4 {
    font-weight: 600;
    margin: 0;
}

/*-------------------------------------------------------------------------------------
    footer
---------------------------------------------------------------------------------------*/
#footer {
    overflow: hidden
}

.footer-top {
    padding: 90px 0 65px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1)
}

.footer-single img {
    margin: 0 0 20px;
}

.footer-single li {
    display: block
}

.footer-single a {
    margin: 0 0 20px;
    font-weight: 500;
    display: inline-block;
    color: #0c2461
}

.footer-single p {
    color: #0c2461
}

.subscribe input {
    height: 60px;
    border-radius: 30px;
    border: 0;
    padding-left: 30px;
}

.subscribe input,
.subscribe textarea {
    font-size: 15px;
    border-color: #e6f0fa;
}

.subscribe button {
    border: 0;
    height: 50px;
    border-radius: 30px;
    padding: 0 30px;
    color: #fff;
    font-weight: 600;
    position: absolute;
    right: 25px;
    top: 5px;
    background: #ff6348;
}

.subscribe button:hover {
    background: #fb4f31;
    color: #fff;
}

.footer-social {
    margin: 25px 0 0 15px;
}

.footer-social li {
    display: inline-block;
}

.footer-social li a {
    display: block;
    background: #fff;
    width: 45px;
    height: 45px;
    line-height: 45px;
    border-radius: 50%;
    font-size: 20px;
    margin: 0 2px;
    border: 1px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    text-align: center
}

.footer-icon li a:hover {
    background: #fb4f31;
    color: #fff;
}

.footer-btm {
    padding: 25px 0;
}

.footer-btm p {
    font-weight: 500;
    margin: 0
}

.footer-btm p a {
    color: #ff6348
}

.footer-btm p a:hover {
    color: #fb4f31
}

/*-------------------------------------------------------------------------------------
    demo area
---------------------------------------------------------------------------------------*/

.demo-header {
    padding: 100px 0;
}

.demo-header h2 {
    font-weight: 800;
    font-size: 40px;
    line-height: 50px
}

.demo-body {
    padding: 100px 0 40px;
}

.demo-img {
    border: 1px solid #e6f0fa;
    border-radius: 10px;
    overflow: hidden
}

.demo-sing-cont h5 {
    font-weight: 700;
    margin: 24px 0 0;
    color: #3b04db;
    font-size: 20px
}

.demo-sing-cont a {
    display: inline-block;
    padding: 8px 26px;
    color: #3b04db;
    border-radius: 30px;
}

.demo-sing-cont a:hover {
    color: #ff4e56;
}

.demo-sing-cont a:hover {
    background-size: 200% auto
}

.demo-single {
    margin: 0 0 60px;
}

.demo-header-cont a {
    display: inline-block;
    padding: 10px 33px;
    color: #fff;
    border-radius: 30px;
    font-weight: 600;
    margin: 30px 10px 0 0;
    background-color: #ff4e56
}

.demo-header-cont a:hover {
    background-color: #e03b0d
}

.demo-sing-cont a.live-demo {
    background-color: #ff4e56;
    color: #fff;
    font-weight: 500;
}

.demo-sing-cont a.live-demo:hover {
    background-color: #e03b0d
}


.header-social li{display: inline-block;}
.navbar{margin: 0; padding: 0;}
.con_frm .contact-form input, .con_frm .contact-form textarea{border-color: #fb4f31;}
.con_frm .contact-form textarea{height: 100px;}
.pro_ac a{font-size: 28px; color: #0c2461;}
.pro_ac a:hover{ color: #fb4f31;}
.foo_sos{margin-top: 10px;}

.ved_img img, .ved_img video{width: 100%; height: 480px; object-fit: cover; border-radius: 20px;}
.ved_img{position: relative;}
.paly_btn{position: absolute; left: 50%;
top: 50%;
-webkit-transform: translate(-50%, -50%);
-moz-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
cursor: pointer;
}

.banner-rightimg{
    position: relative;
}
/* .banner-rightimg::after{
        position: absolute;
    z-index: 9;
    content: "";
    width: 360px;
    border-radius: 50%;
    height: 360px;
    background: #fb4f31;
    top: 15%;
    right: -5%;
} */
.banner-rightimg span {
    background: transparent;
    border-radius: 50%;
    width: 360px;
    height: 360px;
    background:#fcfcfc;
    z-index: 11;
    overflow: hidden;
    display: inline-block;
    position: relative;
}
.banner-rightimg span img , .about-imgs span img{
    max-height: 100%;
    max-width: 100%;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.about-imgs{
    position: relative;
    /* transform: rotate(-10deg); */
}
.about-imgs span {
    background: transparent;
    border-radius: 50%;
    width: 500px;
    /* border-left: 50px solid transparent;
      border-right: 50px solid transparent;
      border-top: 100px solid transparent; */
    height: 500px;
    z-index: 11;
    overflow: hidden;
    margin-top: -80px;
    display: inline-block;
    position: relative;
}
.about-imgs span img{
    position: relative;
}
.about-imgs span img::before {
   content: "";
   position: absolute;
   z-index: 2;
   height: 100%;
   width: 100%;
   top: 0;
   left: 0;
   background-color: rgba(0, 0, 0, 0.25);
}
.counting-date p{
    font-size: 20px;
    color: #000;
    margin-top: 15px;
}
.counting-date p span{
    color: #ff6348;;
    font-weight: 600;
}
.banner_right_after{
	position: absolute;
    z-index: 9;
    content: "";
    width: 360px;
    border-radius: 50%;
    height: 360px;
    background: #fb4f31;
    top: 15%;
    right: -5%;
}

@keyframes loading {
    0% {
      transform: perspective(250px) rotateX(0deg) rotateY(0deg);
    }

      15% {
          background-color: #d1d1d1;
      }

      16% {
          background-color: #d1d1d1;
      }

    50% {
      transform: perspective(250px) rotateX(180deg) rotateY(0deg);
          background-color: #d1d1d1;
    }

      65% {
          background-color: #d1d1d1;

      }

    66% {
              background-color: #d1d1d1;
      }

    100% {
      transform: perspective(250px) rotateX(180deg) rotateY(0deg);
    }
  }

  @keyframes loading-icon {
    0% {
      transform: perspective(250px) rotateX(0deg) rotateY(0deg);
    }

      15% {
          transform: perspective(250px) rotateX(0deg) rotateY(0deg);
      }

      16% {
          transform: perspective(250px) rotateX(180deg) rotateY(0deg);
      }

    50% {
      transform: perspective(250px) rotateX(180deg) rotateY(0deg);
    }

      65% {
          transform: perspective(250px) rotateX(180deg) rotateY(0deg);
      }

    66% {
              transform: perspective(250px) rotateX(180deg) rotateY(0deg);
      }

    100% {
      transform: perspective(250px) rotateX(180deg) rotateY(0deg);
    }
  }
  #landing_preloader {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999999;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 100%;
    overflow: visible;
    background: #fff;
}
.u-loading {
    width: 128px;
    height: 128px;
    display: block;
}

.u-loading_symbol {
    background-color: #d1d1d1;
    padding: 8px;
    animation: loading  2s infinite;
    border-radius: 5px;
    width: 150px;
    min-height: 62px;
}

.u-loading_symbol img {
    display: block;
    max-width: 100%;
    width: 100%;
    height: 100%;
    object-fit: contain;
    animation: loading-icon  2s infinite;
}
.single_img .banner-rightimg span {
    background: transparent;
    border-radius: 50%;
    width: 300px;
    height: 300px;
}
.single_img .banner_right_after{
   top: 12%;
    right: 94px;
    width: 280px;
    height: 280px;
}
.butoon{
    padding: 10px 19px;
    font-size: 18px;
    background: rgb(106, 63, 237);
        display: inline-block;
    color: #fff;
    padding: 15px 30px;
    border-radius: 4px;
    font-weight: 600;
    margin-bottom:10px;
}
.content_heading_2 , .content_heading_3 , .content_heading_4 , .content_heading_5{
    font-weight:700;
}
.single_box{
    margin-bottom:50px;
}
.image-move-right{
    left:80px;
}
.single_box.cont_move_right .col-sm-7{
    padding-left:90px;

}
.video_youtube_1{
    transform: inherit !important;
    margin-top: 36px !important;
}
.video_youtube_1 {
    border-radius: 20px !important;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 0;
}
.video_youtube{
    border-radius: 20px !important;
}
.content_file_1 iframe{
    width: 100%;
    height: 100%;
}
.content_file_2 iframe{
    width: 100%;
    height: 100%;
}
.content_file_3 iframe{
    width: 100%;
    height: 100%;
}
.content_file_4 iframe{
    width: 100%;
    height: 100%;
}

/* timer css */
.counter_ul{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.counter_ul li{
    margin-right: 15px;
    text-align: center;
    margin-top: 15px;
}
.counter_ul li p{
    font-style: normal;
    text-transform: uppercase;
    font-size: 16px;
    color: #ff6348;
    margin-top: 0;
    font-weight: 700;
}
.counter_ul li p.counter_num {
    color: #fff;
    font-size: 26px;
    font-weight: 700;
    border-radius: 50%;
    background: #ff6348;
    width: 64px;
    height: 64px;
    text-align: center;
    margin:0 auto;
    line-height: 64px;
}
.caption ul.counter_ul {
    margin: 0;
}
/* timer css */

.timer-pro{
    font-size: 17px;
    color: #ff6348;
    font-weight: 700;
    margin-bottom: -8px;
    margin-top: 10px;
}
/* .prod-single{min-height: 582px;} */
.prod-info {
    padding: 18px 20px 25px;
    min-height: auto;
}
.prod-img img, .prod-img iframe{
width: 100%;
max-width: 100%;
height: 200px;
object-fit: cover;}
.sec-heading {
    margin: 30px 0 50px;
}
.carosualbtn{
    width: 50px;
    height: 50px;
    background-color: #ff5740;
    color: #fff;
    text-align: center;
    display: inline-block;
    font-weight: 900;
    text-align: center;
    margin: 0 10px;
    font-size: 29px;
    line-height: 48px;
    border: 0;
    border-radius: 5px;
}
.timer-pro{
    font-size: 24px;
    border: solid 1px #ff5740;
    border-radius: 10px;
    padding: 5px 8px;
}

/*(31/08/21)*/

.modal_sus .modal-dialog{max-width: 1140px;}
.modal_sus .modal-header{border: none;}
.modal_sus .close{position: absolute; right: 15px; top: 15px;
    background-color: #7d4c4c00;
    color: #fff !important;
    cursor: pointer !important;
    z-index: 300;}
.modal_sus_bdy{width: 100%; padding: 40px 182px ;}
/* .modal_sus .modal-body{background-color:#080d13; color: #fff;} */
.modal_sus_bdy h2{font-size: 38px; font-weight: 800; letter-spacing: 2px; /*text-transform: uppercase;*/
    /*line-height: 95px;*/word-wrap: break-word;}
.modal_sus_bdy p{font-size: 20px;
line-height: 28px;
margin-top: 24px;}
.modal_sus_bdy p b{font-weight: 700; font-size: 28px; line-height: 35px;}
.net_sus_btn{width: 100%; text-align: center;}
.net_sus_btn .page_btn{margin-top: 50px;}
.net_sus_btn .page_btn i{font-size: 16px;}
.modal_sus .btn_pro{
    border: none;
    cursor: pointer;
}
.net_sus_btn .btn_pro{
    font-size: 20px;
}
.contact-form input[type="checkbox"]{height: auto !important;}
.modal_privacy .modal-body {
    background-color: #ffff;
    color: #0c2461;
}
.modal_privacy .close{
    color: #000 !important;
}
.modal_privacy .modal-body p{
    color: #0c2461;
}
.lead_privacy_policy_link{
    color: #ff5740;
    cursor: pointer;
}

/*whyus*/

.whyus_sec{width: 100%; display: inline-block;}
.page_hed{width: 100%; text-align: center;}
.page_hed span{
font-weight: 500;
text-transform: uppercase;
margin-bottom: 8px; margin-bottom: 10px; display: inline-block;}
.page_hed span em{background: #1c1b1b; width: 30px; height: 1px; display: inline-block;margin-left: 1px;
vertical-align: middle;}
.whyus_sec{padding: 50px 0;}
.page_hed h1, .page_hed h2, .page_hed h3, .page_hed h4, .page_hed h5, .page_hed h6{
    font-size: 40px; line-height: 50px;
    font-weight: 700;
    color: #0c2461;
}
.page_hed p{margin-top: 10px;font-size: 16px;line-height: 28px;
margin-top: 10px;}
.whyus_inr{width: 100%; margin-top: 40px;}
.whyus_bx{width: 100%; text-align: center; border:solid 1px #ff6348; border-radius: 20px;padding: 20px 23px 21px;
min-height: 500px;min-height: 250px;}
.whyus_bx em{
    text-align: center;
    font-size: 50px;
    color: #fff;
    width: 100px;
    border-radius: 46px 179px 151px 122px;
    height: 100px;
    line-height: 100px;
    background: #ff6348;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.whyus_bx strong{text-transform: uppercase;
    font-weight: 700; font-size: 20px; color: #1c1b1b;width: 100%;display: inline-block;
margin-top: 10px;}
.whyus_bx strong a{color: #0c2461; cursor:default}
.whyus_bx strong a:hover{color: #ff6348;}
.whyus_bx p{font-size: 16px; line-height: 28px; margin-top: 10px;
font-size: 18px;
line-height: 28px;}
.page_hed b{font-weight: 400;}
.whyus_bx em img{
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 50%;
}
/*whyus*/

/*faq page*/
.faq_sec{width: 100%; padding: 40px 0 0;}
.contact-wrap {
    width: 100%;
    border-radius: 2px;
    padding: 10px 15px;
    background: #fff;
}
.top-main-profile {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0px 0px 4px 1px rgba(78, 18, 138, 0.1);
    background: #fff;
}

.accordion {
    padding: 15px 0 0 0;
}
.accordion {
    width: 100%;
    margin: 10px auto 10px;
    background: #FFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.accordion li {
    list-style-type: none;
    margin-bottom: 22px;
}
.accordion .link {
    cursor: pointer;
    display: block;
    color: #333;
    font-size: 16px;
    position: relative;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    font-weight: 400;
    padding-bottom: 10px;
    padding: 9px 35px 9px 9px;
    background: #fbd7b5;
    border: solid 1px #ff5740;
border-radius: 23px 8px 23px 8px;
}
.accordion li i {
    position: absolute;
    top: 14px;
    right: 12px;
    font-size: 16px;
    color: #ff5740;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.submenu {
    display: none;
    font-size: 14px;
    border: 1px solid #ff5740;
    padding: 14px;
    background: #fff;
    margin-top: 4px;
}
.accordion li p {
    font-size: 16px;
    color: #454545;
    text-align: left;
    font-weight: 400;
}
.accordion .open .link {
    background: #ff5740;
    color: #fff;
}
.accordion .open .link i{color: #fff;}
.top-main-profile{width: 100%; margin-top: 51px;}

.whyus_bx em img{
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 50%;
}
/*faq page*/


.accordionlanding1 .card-header {
    cursor: pointer;
    display: block;
    color: #333;
    font-size: 16px;
    position: relative;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    font-weight: 400;
    padding-bottom: 10px;
    padding: 9px 15px 9px 9px;
    background: #fbd7b5;
    border: solid 1px #ff5740;
    border-radius: 23px 8px 23px 8px;
    margin-top: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.accordionlanding1 .card-header a{
    padding: 0;
    font-weight: normal;
    margin-bottom: 0;
    border-bottom: 0px solid #e6f0fa;
    font-size: 16px;
    line-height: 25px;
    position: relative;

}
.accordionlanding1 .card-body{
    padding: 0;
}
.accordionlanding1 .card-body p {
    font-size: 16px;
    color: #454545;
    text-align: left;
    font-weight: 400;
    border: 1px solid #ff5740;
    padding: 14px;
    background: #fff;
    margin-top: 4px;
}

.accordionlanding1 .card-header.active a:before {
    /* content: "\ef9a"; */
    content: "";
    color: #fff;
    font-size: 16px;
    left: auto;
    right: -18px;
    top: 0px;
}
 .accordionlanding1 .card-header a:before {
    /* content: "\efc2"; */
    content: "";
    font-family: "IcoFont";
    font-size: 16px;
    position: absolute;
    left: auto;
    right: -18px;
    top: 0px;
    color: #ff4e56;
}
 .accordionlanding1 .card{
    margin-bottom: 40px !important;
}
.faq_description{
    margin-bottom: 0;
}
.product-area {
    padding: 55px 0 30px;
}
.whyus_inr .row{
    justify-content: center;
}

.product-actual-carousel .owl-nav , .product-carousel .owl-nav{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 35px 0 0;
}
.product-actual-carousel .owl-nav > div, .product-carousel .owl-nav > div {
    width: 50px;
    height: 50px;
    background-color: #fff;
    color: #ff5740;
    text-align: center;
    display: inline-block;
    margin: 0 10px;
    font-size: 25px;
    line-height: 54px;
    border-radius: 5px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}
.product-actual-carousel .owl-nav > div:hover, .product-actual-carousel .owl-nav > div:hover {
    background-color: #ff5740;
    color: #fff;
}
#lead_success_ok{
    font-weight: 700;
}
.landing_logo{
    height: 100%;
    width: 100%;
}
.square_image{
    border-radius: 20px !important;
}
.navbar img{
    width: 184px;
    height: 68px;
    object-fit: contain;
}
.error{
    color: red;
}
#privacy-modal h2 {
    font-size: 28px;
    line-height: 1.5;
}
.privacy_back{
    opacity: 1 !important;
    padding: 8px 16px !important;
    font-size: 15px !important;
}
.vid-icon-you a {
    width: 50px;
    height: 50px;
    font-size: 20px;
    line-height: 50px;
    padding: 2px 19px;
}
.row_main{
    justify-content: center;
}



.foot_inr{
    position: relative;
}
.foot-inr-sb{
    position: absolute;
    top: 50%;
    right: 0px;
    transform: translateY(-50%);
    display: block;
    width: fit-content;
}
.foot-inr-sb img{
    width: 156px;
}
