<div class="cert_template font_montserrat template3" style="width: 700px; height: 550px;">
    <div class="third-templte">
        <p class="cert_head primary_color">Certificate of completion</p>
        <h4 class="course_name primary_color">&lcub;&lcub;Course Name&rcub;&rcub;</h4>
        <p class="below_course secondary_color">This is to certify this student pursued studies and completed all the requirements for this course</p>
        <div class="templete3-cer primary_color">
            <p class="above_stu_name secondary_color">This certificate is awarded to</p>
            <h4 class="stu_name primary_color">&lcub;&lcub;Student Name&rcub;&rcub;</h4>
        </div>
        <div class="note"> <p class="new_cont secondary_color"></p></div>
        <div class="below_course_div secondary_color font_w_600 new_sign">
            <img src="images/sign.png" height="50px"/>
            <p class="prof_name">Professional</p>
        </div>
        <div class="cert_det content__bottom">
            <small class="issued_on">Issued On: 28/10/2021</small>
            <small class="expires_on">Expires On: 28/10/2021</small>
        </div>
    </div>
</div>