<div class="cert_template font_montserrat template1" style="width: 700px; height: 550px;">
    
    <div class="first-templte">
        <div class="cert_det">
            <small class="issued_on">Issued On: 28/10/2021</small>
            <small class="expires_on">Expires On: 28/10/2021</small>
        </div>
        <div>
            <p class="cert_head secondary_color">THIS IS TO CERTIFY THAT</p>
            <h4 class="stu_name primary_color">&lcub;&lcub;Student Name&rcub;&rcub;</h4>
            <p class="below_stu_name primary_color"></p>
        </div>
        <div class="next-content">
            <p class="above_course secondary_color">Has pursued studies and completed all the requirements</p>
            <h4 class="course_name primary_color">&lcub;&lcub;Course Name&rcub;&rcub;</h4>
        </div>

        <div class="note"><p class="new_cont"></p></div>
        <div class="below_course_div secondary_color font_w_600">
            <img src="images/sign.png" height="50px"/>
            <p class="prof_name">Professional</p>
        </div>

    </div>
</div>