<div class="cert_template font_montserrat template2" style="width: 700px; height: 550px;">
    <div class="new-temp secondary_color">
        <div class="second-templte primary_color">
            <h2 class="cert_head primary_color">Certificate of completion</h2>
            <div>
                <p class="above_stu_name secondary_color">This is to certify that</p>
                <h4 class="stu_name primary_color">&lcub;&lcub;Student Name&rcub;&rcub;</h4>
            </div>
            <div>
                <p class="above_course w-80 secondary_color">Has pursued studies and completed all the requirements</p>
                <h4 class="course_name primary_color">&lcub;&lcub;Course Name&rcub;&rcub;</h4>
                <div class="note"><p class="new_cont secondary_color w-80"></p></div>
            </div>
            <div class="below_course_div secondary_color font_w_600 new_sign">
                <img src="images/sign.png" height="50px"/>
                <p class="prof_name">Professional</p>
            </div>
            <div class="cert_det content__bottom secondary_color">
                <small class="issued_on">Issued On: 28/10/2021</small>
                <small class="expires_on">Expires On: 28/10/2021</small>
            </div>
        </div>
    </div>
</div>
