<div class="cert_template font_montserrat template4" style="width: 700px; height: 550px;">
    <div class="four-templte">
        <h2 class="cert_head new-card-head four_cert font_w_700 font_w_800 primary_color">Certificate Of Completion</h2>
        <p class="above_stu_name secondary_color">This certificate is awarded to</p>
        <h4 class="stu_name new_4 primary_color">&lcub;&lcub;Student Name&rcub;&rcub;</h4>
        <p class="above_course secondary_color new-corss">Has pursued studies and completed all the requirements</p>
        <h4 class="course_name primary_color">&lcub;&lcub;Course Name&rcub;&rcub;</h4>
        <div class="note"> <p class="new_cont secondary_color"></p></div>
        <div class="below_course_div secondary_color font_w_600 new_sign">
            <img src="images/sign.png" height="50px"/>
            <p class="prof_name">Professional</p>
        </div>
        <div class="cert_det content__bottom">
            <small class="issued_on">Issued On: 28/10/2021</small>
            <small class="expires_on">Expires On: 28/10/2021</small>
        </div>
    </div>
</div>