


@media (min-width: 768px) and (max-width: 5000px)
{
.nav_top .dropdown .dropdown-menu { -webkit-transition: all 0.3s; -moz-transition: all 0.3s; -ms-transition: all 0.3s;
    -o-transition: all 0.3s;transition: all 0.3s; max-height: 0; display: block; opacity: 0;visibility: hidden;  margin:0px; border: none; border-bottom: 2px solid #ccc;
    background:#fff !important;
    width: 150px; padding: 0px;
   border-radius: 0; left: 0; right: inherit; padding: 5px 8px 8px; box-shadow: inherit; }

.nav_top .dropdown:hover .dropdown-menu { max-height: 300px;opacity: 1; visibility: visible; }

.nav_top .dropdown .dropdown-menu{width: 100% !important; background: #fd4343 !important; border: none !important;}






}





@media (max-width: 1199px) {

.banner_text h5{font-size: 38px; line-height: 48px;}
.banner_text p {
    font-size: 15px;
    line-height: 26px;
}
.bannersec > img{height: 459px;}
.banner_img img{width: 351px;}


.vedio_img_inr > img{height: 363px;}
.vedio_text h6{font-size: 32px;
line-height: 39px;}
.vedio_text p{font-size: 16px;
line-height: 27px;}
.vedio_text{padding-left: 45px;
padding-top: 33px;}

.single_img img{width: 348px;}
.single_text {
    padding-top: 10px;
}
.single_text p{font-size: 16px;
line-height: 27px;}
.produt_sec .col-sm-3{-ms-flex: 0 0 33.3333%;
flex: 0 0 33.3333%;
max-width: 33.3333%;}
.foot_sec p{font-size: 16px;
line-height: 27px;}
.sec-heading h2{font-size: 32px;line-height: 39px;}
.sec-heading p{font-size: 16px; line-height: 27px;}


/*(31/08/21)*/
.modal_sus .modal-dialog {
    max-width:90%;
}
.modal_sus_bdy {
    padding: 40px 50px;
}
.modal_sus_bdy h2 {
    font-size: 70px;
    line-height: 86px;
}
.modal_sus_bdy p {
    font-size: 16px;
    line-height: 26px;
    margin-top: 12px;
}
.modal_sus_bdy p b {
    font-size: 25px;
    line-height: 30px;
}



.whyus_sec {
    padding: 30px 0;
}
.page_hed h1, .page_hed h2, .page_hed h3, .page_hed h4, .page_hed h5, .page_hed h6{font-size: 30px;
line-height: 40px;}
.whyus_bx{padding: 14px 16px 17px;min-height: 230px;}
.whyus_bx strong{font-size: 16px; line-height: 22px;}
.whyus_bx p {
    font-size: 14px;
    line-height: 25px;
    margin-top: 7px;
}
.about_pro_text h2{font-size: 27px;
line-height: 40px;}
.about_pro_text p {
    font-size: 14px;
    line-height: 25px;
    margin-top: 10px;
}
.produt_text h5{font-size: 16px;}
.timeer_bx strong{font-size: 18px;}






}

/*1199px*/

@media only screen and (max-width: 991px) {
.nav_top .navbar-toggler{ border-color: #383e40; background: #383e40;}
.nav_top .navbar-toggler{ padding: 10px; margin-right: 0;}
.nav_top .navbar-toggler .icon-bar {display: block;width: 22px;height: 2px;  border-radius: 1px; background-color: #fff;}
.nav_top .navbar-toggler .icon-bar + .icon-bar {  margin-top: 4px;}
.navbar-toggler .icon-bar { display: block;  width: 22px;  height: 2px;  border-radius: 1px;  background-color: #fff;}
.navbar-toggler { margin-right: 15px;}
.navbar-toggler { padding: 10px;}

.nav_top .navbar-toggler {border-color: #173a68;background: #173a68; margin: 15px 15px 15px 0;}
.nav_top .navbar-toggler.showtoggle .icon-bar:nth-child(1) {-ms-transform: matrix(1, -1, 0, 1, 0, 0); transform: matrix(1, -1, 0, 1, 0, 0);
     -webkit-transform: matrix(1, -1, 0, 1, 0, 0); width: 25px;}
.nav_top .navbar-toggler.showtoggle .icon-bar:nth-child(2) { opacity: 0;  width: 0px;}
.nav_top .navbar-toggler.showtoggle .icon-bar:nth-child(3) {-ms-transform: matrix(1, 1, 0, 1, 0, 0); transform: matrix(1, 1, 0, 1, 0, 0); -webkit-transform: matrix(1, 1, 0, 1, 0, 0);
width: 25px;  margin-top: -11px;}
.nav_top .navbar-toggler .icon-bar { display: block; width: 30px; height: 2px; border-radius: 3px; background-color: #fff; opacity: 1;
    transform: matrix(1, 0, 0, 1, 0, 0); -moz-transition: all 0.5s ease-in-out; -o-transition: all 0.5s ease-in-out; -webkit-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out; transition: all 0.5s ease-in-out;}
.nav_top .navbar-toggler { width: 45px; height: 40px; text-align: center; -moz-transition: all 0.5s ease-in-out; -o-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out; -ms-transition: all 0.5s ease-in-out; transition: all 0.5s ease-in-out; border-radius: 0px;
    border: 0px solid transparent; border-top-color: transparent;border-right-color: transparent;    border-bottom-color: transparent;
        border-left-color: transparent; position: relative;}
.nav_top .navbar-toggler {padding: 5px 8px;}
.nav_top .navbar-toggler .icon-bar + .icon-bar {margin-top: 8px;}
.nav_top .navbar-toggler.showtoggle {padding-left: 10px !important;}


.banner_text h5 {
    font-size: 30px;
    line-height: 45px;
}

.banner_text p {
    font-size: 14px;
    line-height: 25px;
    margin-top: 12px;
}
.page_btn{padding: 0 17px;
font-size: 14px;
height: 35px;
line-height: 35px;letter-spacing: 1px;}
.banner_img img {
    width: 245px;
}

.vedio_text {
    padding-left: 0;
    padding-top: 22px;
}
.vedio_sec_inr {
    padding: 0 0;
}
.vedio_text h6 {
    font-size: 28px;
    line-height: 36px;
}
.vedio_text p {
    font-size: 14px;
    line-height: 25px;
}
.vedio_img_inr > img {
    height: 318px;
}
.vedio_img_inr::before {
left: -63px;
width: 161px;
height: 161px;
}
.vedio_sec {
    padding: 37px 0;
}
.single_box {
    padding: 25px 0;
}
.single_text p {
    font-size: 14px;
    line-height: 25px;
}


.sec-heading h2 {
    font-size: 28px;
    line-height: 36px;
}
.sec-heading p {
    font-size: 14px;
    line-height: 25px;
    margin-top: 7px;
}



.modal_sus_bdy h2 {
    font-size: 59px;
    line-height: 83px;
}
.modal_sus_bdy p b {
    font-size: 22px;
    line-height: 30px;
}

.page_hed h1, .page_hed h2, .page_hed h3, .page_hed h4, .page_hed h5, .page_hed h6 {
    font-size: 24px;
    line-height: 30px;
}
.page_hed p {
    font-size: 14px;
    margin-top: 7px;
}
.whyus_bx strong {
    font-size: 15px;
    line-height: 21px;
}
.whyus_bx {
    padding: 20px 10px 14px;
    min-height: 293px;
}
.whyus_inr .row{margin: 0 -5px;}
.whyus_inr .col-sm-4{padding: 0 5px;}
.whyus_bx em{font-size: 38px;}
.about_pro_img img, .about_pro_img iframe{border-radius: 14px;}
.about_pro_text h2 {
    font-size: 20px;
    line-height: 32px;
}
.about_pro_inr .row {
    margin-top: 25px;
}
.faq_sec{padding: 20px 0;}
.cont-info-single h5 {
    font-size: 16px;
}
.cont-info-single p {
    font-size: 14px;
    padding-left: 21px;
    margin-top: 4px;
}
.whyus_bx em{width: 80px; height: 80px;font-size: 30px;}
.about_pro_text{min-height: auto; margin-top: 10px;}
.cont-info-single em{width: 70px;
height: 70px}
.cont-info-single em i {
    font-size: 23px;
}
.cont-info-single {
    margin-top: 10px;
}
.square_image {
    width: 65%;
    height: 65%;
    border-radius: 100%;
}
.foot-inr-sb{
    top: 100%;
    transform: translateY(-100%);
}
.foot-inr-sb img{
    width: 100px;
}

}

/* 991px*/




@media only screen and (max-width: 767px){

.container{max-width: 100%;}
.header_sec .container{padding: 0;}
.header_sec .navbar-brand{margin-left: 15px;}
.header_sec{padding-right: 15px;}
.banner_text h5 {
    font-size: 26px;
    line-height: 42px;
}
.banner_img img {
    width: 214px;
}
.vedio_img_inr > img {
    height: 271px;
}
.single_text p {
    font-size: 13px;
    line-height: 23px;
}
.vedio_sec {
    padding: 34px 0 15px;
}
.produt_sec .col-sm-3 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}
.foot_sec p {
    font-size: 14px;
}
.foot_sec {
    padding: 10px 0;
}
.foot_sec .header_sos{margin-top: 12px;}


/*(31/08/21)*/
.modal_sus_bdy p b {
    font-size: 22px;
    line-height: 30px;
}
.modal_sus_bdy {
    padding: 25px 28px;
}
.modal_sus_bdy h2 {
    font-size: 48px;
    line-height: 68px;
}
.modal_sus_bdy p {
    font-size: 14px;
    line-height: 24px;
    margin-top: 10px;
}
.modal_sus_bdy p b {
    font-size: 18px;
    line-height: 25px;
}
.net_sus_btn .page_btn {
    margin-top: 35px;
}
.net_sus_btn .page_btn i {
    font-size: 11px;
}


.bannersec > img {
    height: 344px;
}
.header_sec .navbar-brand img{width: 150px;}
.header_sos li a{margin: 0 7px;
font-size: 15px;}
.whyus_sec {
    padding: 20px 0;
}
.page_hed h1, .page_hed h2, .page_hed h3, .page_hed h4, .page_hed h5, .page_hed h6 {
    font-size: 20px;
    line-height: 27px;
}
.whyus_inr {
    margin-top: 60px;
}
.whyus_bx em {
    font-size: 30px;
}
.about_pro_text{margin-top: 10px;}
.produt_sec{padding: 11px 0 22px;}
.accordion .link{font-size: 15px;}
.accordion li p{font-size: 14px;}
.contact-wrap{padding-top: 0;}
.top-main-profile{margin-top: 20px;}
.contact-form .page_btn{margin-top: 0;}
.cont-info{padding-top: 15px; padding-bottom: 20px;}
.cont-info-single{margin-top: 16px;}
.contact-sec {
    padding: 15px 0 27px;
}
.ved_1 .page_hed{padding-top: 0;}
.ved_img img {
    width: 97%;
}
.cont-info-single p{padding-left: 0;}
.foot_sec .header_sos {
    margin-top: 0;
}
.about_pro_img, .about_pro_text{border-radius: 16px;}
.produt_img:hover {
    margin-top: -6px;
}
.produt_img{margin-top: 0;}
.cont-info-single em {
    width: 50px;
    height: 50px;
}
.cont-info-single em i {
    font-size: 19px;
}
.cont-info {
    padding-top: 0;
    }
.foot_sec p{padding: 8px 0;}
.form-group {
    margin-bottom: 9px;
}

.square_image {
    width: 65%;
    height: 65%;
    border-radius: 100%;
}

}
/*767px*/


@media only screen and (max-width: 575px){

.banner_text h5 {
    font-size: 21px;
    line-height: 37px;
}
.banner_img img {
    width: 168px;
}

.vedio_img{margin-top: 20px;}
.vedio_img_inr::before{display: none;}
.vedio_text{padding-top: 0;}
.vedio_text p{margin-top: 15px;}
.vedio_text h6 {
    font-size: 19px;
    line-height: 25px;
}
.single_img{text-align: center;}
.sec-heading h2 {
    font-size: 19px;
    line-height: 25px;
}
.ved_img img{height: 346px;}
.whyus_bx{min-height: auto; margin-top: 49px;}
.foot_inr{flex-direction: column;}
.banner_text p br{display: none;}
.banner_box .page_btn {
    margin-top: 16px;
}
.produt_text p{margin-top: 4px;
font-size: 14px;
line-height: 24px;}
.ved_1 {
    padding: 15px 0;
}
.dis_f{margin-top: 8px;}
.produt_img {
    min-height: auto;
    padding-bottom: 15px;
}
.pri_dv strong {
    font-size: 16px;
}
.pri_dv strong i {
    margin-right: 5px;
}
.pri_dv{padding: 3px;}
.produt_inr .owl-dots{margin-top: 3px;}
.bannersec > img {
    height: 280px;
}
.whyus_inr {
    margin-top: 5px;
}
.square_image {
    width:85%;
    height: 85%;
    border-radius: 100%;
}

}

/*575px*/

@media only screen and (max-width: 480px){

.banner_img{width: 30%;}
.banner_img img {
    width: 100%;
}
.navbar-brand img{width: 100px;}
.header_sos li a{
margin: 0 5px;
font-size: 15px;}

/*(31/08/21)*/
.modal_sus_bdy h2 {
    font-size: 32px;
    line-height: 50px;
}
.net_sus_btn .page_btn {
    margin-top: 28px;
}
.page_hed p br{display: none;}
.banner_text p br{display: none;}
.banner_box .page_btn {
    margin-top: 16px;
}
.bannersec > img{object-position: right;}

.foot-inr-sb{
    position: static;
    margin-top: 10px;
    display: block;
    width: fit-content;
    transform: translateY(0%);
}

}


/*480px*/


@media only screen and (max-width: 400px){

.produt_sec .col-sm-3 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
.single_img img {
    width: 301px;
}
.banner_text h5 {
    font-size: 19px;
    line-height: 29px;
}
.banner_text p {
    font-size: 13px;
    line-height: 20px;
    margin-top: 7px;
}
.produt_img{margin-top: 21px;}
.ved_img img {
    height: 256px;
}
.about_pro_img img, .about_pro_img iframe {
    height: 264px;
}
.about_pro_text h2 {
    font-size: 17px;
    line-height: 26px;
}
.about_pro_text p {
    margin-top: 5px;
}


    }

/*400px*/
