body{ padding: 0px; margin: 0px; list-style: none; font: 400 14px/23px 'Lato', sans-serif; color:#fff; background: #000;}
p{padding: 0px; margin: 0px;}
a{padding: 0px; margin: 0px; outline: none;}
ul{ list-style: none; padding: 0px; margin: 0px;}
label{ list-style: none; padding: 0px; margin: 0px;}
ul li{ padding: 0px; margin: 0px;}
h1, h2, h3, h4, h5, h6{padding: 0px; margin: 0px;}
input[type="text"]::-webkit-placeholder { opacity: 1;  }
input[type="text"]::-moz-placeholder { opacity: 1;}
input[type="password"]::-webkit-placeholder { opacity: 1;}
input[type="password"]::-moz-placeholder { opacity: 1;}
input[type="search"]::-webkit-placeholder { opacity: 1;}
input[type="search"]::-moz-placeholder { opacity: 1;}
input[type="email"]::-webkit-placeholder { opacity: 1; }
input[type="email"]::-moz-placeholder { opacity: 1;}
input[type="tel"]::-webkit-placeholder { opacity: 1;}
input[type="tel"]::-moz-placeholder { opacity: 1;}
textarea::-moz-placeholder { opacity: 1;  }
textarea::-webkit-placeholder { opacity: 1;}
a:hover{ outline: none !important; text-decoration: none;}
a:active{ outline: none !important; text-decoration: none;}
a{ text-decoration: none !important;-webkit-transition: all 0.3s ease; -moz-transition: all 0.3s ease; transition: all 0.3s ease;}

/*font-family: 'Lato', sans-serif;
font-family: 'Montserrat', sans-serif;*/

.wrapper{ width: 100%;}
.panel-default > .panel-heading{ background: none !important; border: none !important; border-radius: 0px !important;}
.panel-default{ border-radius: 0px !important;}
.panel-default > .panel-heading + .panel-collapse > .panel-body{ background: none !important; border: none !important; border-radius: 0px !important;}
a:hover, a:focus{ text-decoration: inherit !important;}

/*header*/
.header_sec{ width: 100%; background: #fff;}
.header_Inn{ width: 100%;}

.nav_top{ margin: 0px; padding: 0px; background: none; border: none; min-height: auto; box-shadow: none; border-radius: 0px;}
.drop-nav{ position: absolute; top: 10px; right: 0px;}
.nav_top .dropdown-menu li a{ font-size: 13px;}
.menu_sec li{ position: relative;}



.nav_top .navbar-toggler {border-color: #f84848;background: #f84848; margin: 15px 15px 15px 0; outline: none !important;}
.nav_top .navbar-toggler.showtoggle .icon-bar:nth-child(1) {-ms-transform: matrix(1, -1, 0, 1, 0, 0); transform: matrix(1, -1, 0, 1, 0, 0); 
     -webkit-transform: matrix(1, -1, 0, 1, 0, 0); width: 25px;}
.nav_top .navbar-toggler.showtoggle .icon-bar:nth-child(2) { opacity: 0;  width: 0px;}  
.nav_top .navbar-toggler.showtoggle .icon-bar:nth-child(3) {-ms-transform: matrix(1, 1, 0, 1, 0, 0); transform: matrix(1, 1, 0, 1, 0, 0); -webkit-transform: matrix(1, 1, 0, 1, 0, 0);
width: 25px;  margin-top: -11px;} 
.nav_top .navbar-toggler .icon-bar { display: block; width: 30px; height: 2px; border-radius: 3px; background-color: #fff; opacity: 1;
    transform: matrix(1, 0, 0, 1, 0, 0); -moz-transition: all 0.5s ease-in-out; -o-transition: all 0.5s ease-in-out; -webkit-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out; transition: all 0.5s ease-in-out;}
.nav_top .navbar-toggler { width: 45px; height: 40px; text-align: center; -moz-transition: all 0.5s ease-in-out; -o-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out; -ms-transition: all 0.5s ease-in-out; transition: all 0.5s ease-in-out; border-radius: 0px;
    border: 0px solid transparent; border-top-color: transparent;border-right-color: transparent; border-bottom-color: transparent;
        border-left-color: transparent; position: relative;}
.nav_top .navbar-toggler {padding: 5px 8px; z-index: 99;}
.nav_top .navbar-toggler .icon-bar + .icon-bar {margin-top: 8px;}
.nav_top .navbar-toggler.showtoggle {padding-left: 10px !important;}


.navbar-collapse {background: #f84848; position: fixed; width: 240px; height: 100%; z-index: 11111111111; display: block !important;
    top: 0px;  left: -240px; -webkit-transition: all 0.3s ease; -moz-transition: all 0.3s ease; transition: all 0.3s ease; overflow: auto;}
.navbar-collapse.show{ left: 0px;}
.menu_sec li{ width: 100%;}
.menu_sec li a{ width: 100%; display: inline-block; padding: 10px 15px; font: 400 14px/20px 'Lato', sans-serif; color: #fff;}
.menu_sec li a:hover{ background: #000;}
.menu_sec{ margin-top: 30px;}

.closeactive{width: 100%; height: 100%; position: fixed; left: 0; top: 0; background: rgba(0, 0, 0, 0.50);}


.drop-arw{position: absolute; right: 0;padding: 10px 15px; cursor: pointer;}
.nav_top .dropdown .dropdown-menu{width: 100% !important; background: #e13187 !important; border: none; border-radius: 0 !important;}

.closeactive{cursor: url(../images/close2.png), pointer;}


.header_sos li{display: inline-block;}
.header_sos li a{color: #1b1b1b;
margin: 0 10px; font-size: 18px;}
.header_sos li:last-child a{margin-right: 0;}
.header_sos li a:hover{color: #c29032;}

/*bannersec*/

.bannersec{position: relative; background: #1b1b1b;width: 100%;}
.bannersec > img{width: 100%; height:600px; object-fit: cover; }
.bannersec:before{position: absolute; left: 0;top: 0; background: rgba(0, 0,0, 0.8);
width: 100%; height: 100%; content: "";}


.banner_box{ position: relative;width: 100%;}
.banner_text{float: left; width: 100%; position: absolute; left: 0;
top: 50%;
-webkit-transform: translateY(-50%);
-moz-transform: translateY(-50%);
transform: translateY(-50%);
text-align: center;}
.banner_text h5{font-family: 'Montserrat', sans-serif; color: #fff; font-size: 70px; line-height:88px;
font-weight: 700; text-transform: uppercase;}
.banner_text p{font-size: 18px; line-height: 28px;
margin-top: 20px;color: #fff;}
.banner_box .page_btn{margin-top: 40px;}
.page_btn{background:#1b1b1b; color: #fff; padding: 0 20px;
height: 50px; line-height: 50px; font-size: 16px; display: inline-block;
font-weight: 600; letter-spacing: 2px; border: none; cursor: pointer; font-family: 'Lato', sans-serif;
margin-top: 20px; border: none; cursor: pointer; text-transform: uppercase; border-radius: 4px;}
.page_btn:hover{background: #c29032; color: #1b1b1b;}


/*form */

.from_panel{width: 100%;}
.formInrInput{width: 100%;}
.formInrInput input[type="text"], .formInrInput input[type="email"], .formInrInput input[type="tel"],
 .formInrInput textarea,  .formInrInput select{width: 100%; background: none; border: 1px solid #ced3d5; height: 40px;
    -webkit-outline: none; -moz-outline: none; outline: none; margin-top: 10px;
    opacity: 1 !important; font-family: 'Open Sans', sans-serif; font-size: 14px;color:#ced3d5;
padding: 0 10px; border-radius: 7px;}
 .formInrInput textarea{height: 80px; resize: none; padding: 16px 10px;} 
  .formInrInput label{font-size: 15px; color: #ced3d5;}
.formInrInput textarea::placeholder, .formInrInput input::placeholder{ opacity: 1 !important; color: #ced3d5;}
 .modal_frm .modal-footer .page_btn{margin: 0;}
  .modal_frm .modal-title{font-size: 20px; line-height: 29px;font-family: Raleway, sans-serif; color: #111;  }


/*vedio_sec*/
.vedio_img{width: 100%;}
.vedio_img_inr{width: 100%;position: relative;}
.playIcon {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.playIcon .fancybox-media{display: inline-block;}
.playIcon img {
    width: 50px !important;
    height: 50px !important;
    border: none !important;
}
.vedio_sec{width: 100%; padding: 50px 0;}
.vedio_sec_inr{width: 100%; padding: 0 50px;}
.vedio_text{width: 100%; padding-left: 60px; padding-top: 60px;}
.vedio_text h6{font-family: Raleway, sans-serif;
color: #111;
font-size: 40px;
line-height: 50px; font-weight: 400;}
.vedio_text h6 span{font-weight: 700;}
.vedio_text p{color: #111; font-size: 18px; line-height: 28px;
margin-top: 20px;}
.vedio_img_inr > img{width: 100%; height: 439px; object-fit: cover;}
.vedio_img_inr:before{position: absolute; left: -100px;
width: 300px; height: 300px; background: #89d0ca;
border-radius: 100%;
content: "";
top: 40px;
z-index: -1;}

.single_box{width: 100%; padding: 40px 0;}
.single_img{width: 100%; text-align: right;}
.single_img img{max-width: 100%;}
.single_text{width: 100%; padding-top: 97px;}
.single_text p{color: #808080 !important;
font-size: 18px;
line-height: 28px;}

.produt_sec{width: 100%; padding: 40px 0 30px; background: #262626;}
.produt_img{width: 100%;margin-top: 28px; box-shadow: 0px 0px 16px -9px #a69494;
-webkit-box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);

}
.produt_img img{width: 100%; height: 219px; object-fit: cover;}
.produt_text h5{font-family: 'Montserrat', sans-serif;
color: #c29032; font-size: 18px; text-transform: uppercase;}
.produt_text p{color: #fff; margin-top: 10px;
font-size: 16px; line-height: 26px;}
.produt_text h5 a{color: #c29032;}
.produt_text h5 a:hover{color: #fff;}
.produt_text{width: 100%; padding:15px 10px 10px;}
.produt_text .page_btn{padding: 0 15px; height: 35px; line-height: 35px;
letter-spacing: 1px; font-size: 14px;margin-top: 15px;}
.foot_sec{width: 100%; text-align: center; padding:10px 0;
border-top: solid 1px #425465; background: #000;}
.foot_sec p{color: #fff !important;
font-size: 18px;
line-height: 28px;}
.foot_sec p a{color: #808080 !important;}
.foot_sec p a:hover{color: #89d0ca;}
.foot_sec .header_sos a{color: #fff; background: none;}
.foot_inr{display: flex; justify-content: space-between; align-items: center;}
.produt_img{min-height: 428px;}
.produt_text span{display: inline-block; width: 100%; font-size: 20px; font-weight: 700;
margin-top: 10px;color: #fff;}
.pro_ig{position: relative; width: 100%;}
.pri_dv{position: absolute; left: 0; right: 0; bottom: 0;
background: #c29032; padding: 10px; text-align: center;}
.produt_inr .owl-item{padding: 16px 15px;}
.pri_dv strong{font-size: 18px;color: #fff; }
.pri_dv strong i{margin-right: 10px;}


.sec-heading h6 {
    color: #ff6348;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
}
.sec-heading h2 {
    font-weight: 700;
    text-transform: capitalize;
    font-size: 40px;
    line-height: 48px;
    color: #111;
    font-family: Raleway, sans-serif;

}
.sec-heading p{color: #111;
font-size: 18px;
line-height: 28px;
margin-top: 20px;}

.ved_1{padding: 40px 0;}
.ved_img {
    position: relative;
    margin-top: 18px;
}
.ved_img img {
    width: 100%;
    height: 480px;
    object-fit: cover;
    border-radius: 10px;
    border: solid 2px #c29032;
}
.ved_img iframe{ width: 100%;
    height: 480px; border: solid 2px #c29032;}
.paly_btn {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.video-player a {
    display: inline-block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    font-size: 30px;
    line-height: 80px;
    padding: 0 28px;
    background-color: #c29032;
    color: #fff;
    position: relative;
    z-index: 99;
}
.video-player a::before {
    content: "";
    position: absolute;
    left: -5px;
    top: -5px;
    height: 90px;
    width: 90px;
    border: 3px solid #89d0ca;
    border-radius: 50%;
    -webkit-animation: icon-bubble 1s infinite forwards linear 0.5s;
    animation: icon-bubble 1s infinite forwards linear 0.5s;
}
.video-player a::after {
    content: "";
    position: absolute;
    left: -5px;
    top: -5px;
    height: 90px;
    width: 90px;
    border: 3px solid #89d0ca;
    border-radius: 50%;
    -webkit-animation: icon-bubble 1s infinite forwards linear;
    animation: icon-bubble 1s infinite forwards linear;
}


@-webkit-keyframes icon-bubble {
    0% {
        -webkit-transform: scale(0.85);
        transform: scale(0.85);
        opacity: 1;
    }

    25% {
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
        opacity: 0.8;
    }

    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
        opacity: 0.55;
    }

    75% {
        -webkit-transform: scale(1.32);
        transform: scale(1.32);
        opacity: 0.3;
    }

    100% {
        -webkit-transform: scale(1.4);
        transform: scale(1.4);
        opacity: 0;
    }
}

@-webkit-keyframes icon-bubble {
    0% {
        -webkit-transform: scale(0.85);
        transform: scale(0.85);
        opacity: 1;
    }

    25% {
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
        opacity: 0.8;
    }

    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
        opacity: 0.55;
    }

    75% {
        -webkit-transform: scale(1.32);
        transform: scale(1.32);
        opacity: 0.3;
    }

    100% {
        -webkit-transform: scale(1.4);
        transform: scale(1.4);
        opacity: 0;
    }
}

@keyframes icon-bubble {
    0% {
        -webkit-transform: scale(0.85);
        transform: scale(0.85);
        opacity: 1;
    }

    25% {
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
        opacity: 0.8;
    }

    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
        opacity: 0.55;
    }

    75% {
        -webkit-transform: scale(1.32);
        transform: scale(1.32);
        opacity: 0.3;
    }

    100% {
        -webkit-transform: scale(1.4);
        transform: scale(1.4);
        opacity: 0;
    }
}






/*whyus*/

.whyus_sec{width: 100%; display: inline-block;}
.page_hed{width: 100%; text-align: center;}
.page_hed span{font-family: 'Montserrat', sans-serif;
font-weight: 500;
text-transform: uppercase;
margin-bottom: 8px; margin-bottom: 10px; display: inline-block;}
.page_hed span em{background: #1c1b1b; width: 30px; height: 1px; display: inline-block;margin-left: 1px;
vertical-align: middle;}
.whyus_sec{padding: 50px 0;}
.page_hed h1, .page_hed h2, .page_hed h3, .page_hed h4, .page_hed h5, .page_hed h6{
    font-family: 'Montserrat', sans-serif; font-size: 40px; line-height: 50px; 
    font-weight: 700;
    color: #1b1b1b;
} 
.page_hed em{
display: inline-block;
width: 70px;
height: 4px;
background: #c29032;
margin: 0 auto;
bottom: 0;
background: #c29032;}

.page_hed p{margin-top: 10px;font-size: 16px;line-height: 28px;
margin-top: 10px;}
.whyus_inr{width: 100%; margin-top: 67px;}
.whyus_bx{width: 100%; text-align: center;background: #1c1b1b; border-radius: 20px;padding: 20px 15px 21px;
min-height: 500px;min-height: 250px;
}
.whyus_bx em{display: flex;
align-items: center;
justify-content: center;
color: #c29032;
font-size: 50px;
width: 100px;
height: 100px;
border-radius: 100%;
background: #fff;
margin: 0 auto;
    margin-top: 0px;
margin-top: -51px;
border: solid 1px #c29032;}
.whyus_bx em img{height: 70px; width: 70px; border-radius: 100%; object-fit: cover;}
.whyus_bx strong{font-family: 'Montserrat', sans-serif;text-transform: uppercase;
    font-weight: 700; font-size: 20px; color: #d0d0d0;width: 100%;display: inline-block;
margin-top: 20px;}
.whyus_bx strong a{color: #d0d0d0;}
.whyus_bx strong a:hover{color: #c29032;}
.whyus_bx p{font-size: 16px; line-height: 28px; margin-top: 10px; color: #d0d0d0;}


.before_vedio {
    position: absolute;
    left: -5px;
    top: -5px;
    height: 90px;
    width: 90px;
    border: 3px solid #c29032;
    border-radius: 50%;
    -webkit-animation: icon-bubble 1s infinite forwards linear 0.5s;
    animation: icon-bubble 1s infinite forwards linear 0.5s;
}

.after_vedio {
    position: absolute;
    left: -5px;
    top: -5px;
    height: 90px;
    width: 90px;
    border: 3px solid #c29032;
    border-radius: 50%;
    -webkit-animation: icon-bubble 1s infinite forwards linear;
    animation: icon-bubble 1s infinite forwards linear;
}
.popup-video:before, .popup-video:after{display: none;}
.about_pro_inr{width: 100%;}
.about_pro_inr .row:nth-child(2n) {
    flex-direction: row-reverse;
}
.about_pro_inr .row{align-items: center;margin-top: 60px;}
.about_pro_img{width: 100%; border: solid 1px #c29032;border-radius: 40px;
box-shadow: 2.736px 7.518px 20px 0px rgba(0, 0, 0, 0.14);}
.about_pro_img img{width: 100%; height: 400px; border-radius: 40px; object-fit: cover;}

.about_pro_text h2{font-family: 'Montserrat', sans-serif;
font-size: 28px;
line-height: 50px;
font-weight: 700;
}
.about_pro_text p{font-size: 16px;
line-height: 28px;
margin-top: 10px;}
.about_pro{width: 100%; padding-bottom: 40px;}
.about_pro_img iframe{width: 100%; height: 400px; border-radius: 40px;}
.timeer_bx strong{font-size: 20px; font-weight: 700; color: #5d189b;border: solid 1px #5d189b;
height: 35px;
line-height: 35px;padding: 0 15px; display: inline-block;}
.dis_f .page_btn{margin-top: 0;}
.dis_f{display: flex; justify-content: space-between; align-items: center; margin-top: 15px;}
.produt_img{transition: all 0.3s ease; overflow: hidden;
 padding: 10px 10px 0;}
.produt_img:hover{margin-top: 20px;}
.produt_img img{transition: transform .5s;}

.produt_inr .owl-nav {
    display: none !important;
}
.produt_inr .owl-dots {
    display: block !important;
    margin-top: 18px;
    width: 100%;
    text-align: center;
}
.produt_inr .owl-dot.active {
    background: #c29032;
}
.produt_inr .owl-dot {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background: #d2d2d2;
    display: inline-block;
    margin: 0 5px;
}
.produt_inr{width: 100%; margin-top: 10px;}
.contact-sec{ padding: 40px 0 60px;background: #262626; }
.contact-sec .page_hed{text-align: left;}
.contact-form{width: 100%;}
 .contact-form .form-control{
    background: #363636;
    width: 100%;
    padding: 10px 18px;
    border: none;
    outline: none;
    border-radius: 0;
    color: #828282;
    font-size: 16px;
    margin-top: 10px;
    outline: none !important;
    font-family: 'Lato', sans-serif;

}

.form-control:focus{box-shadow:inherit;}
.cont-info{width: 100%; padding: 0 0 41px;}
.cont-info h3{
color: #fff;}
.cont-info-single{width: 100%; margin-top: 30px;}
.cont-info-single h5{font-size: 18px; color: #fff; margin-top: 10px;}
.cont-info-single p{font-size: 16px;padding-left: 26px; margin-top: 6px; color: #fff;}
.cont-info-single h5 i{margin-right: 8px;}
.form-group textarea.form-control{height: 100px; resize: none;}
.about_pro_text{width: 100%; padding: 20px; border-radius: 40px;box-shadow: 2.736px 7.518px 20px 0px rgba(0, 0, 0, 0.14);
min-height: 400px;border: solid 1px #c29032;}
.cont-info-single{text-align: center;}



/*faq page*/
.faq_sec{width: 100%; padding: 40px 0;}
.contact-wrap {
    width: 100%;
    border-radius: 2px;
    padding: 10px 15px;
    background: #fff;
}
.top-main-profile {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0px 0px 4px 1px rgba(78, 18, 138, 0.1);
    background: #fff;  
}

.accordion {
    padding: 15px 0 0 0;
}
.accordion {
    width: 100%;
    margin: 10px auto 10px;
    background: #FFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.accordion li {
    list-style-type: none;
    margin-bottom: 22px;
}
.accordion .link {
    cursor: pointer;
    display: block;
    color: #333;
    font-size: 16px;
    position: relative;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    font-weight: 400;
    padding-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
    padding: 9px 35px 9px 9px;
  border: solid 1px #c29032;
border-radius: 10px;
}
.accordion li i {
    position: absolute;
    top: 14px;
    right: 12px;
    font-size: 16px;
    color: #c29032;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.submenu {
    display: none;
    font-size: 14px;
    border: 1px solid #d1d1d1;
        border-top-color: rgb(209, 209, 209);
        border-top-style: solid;
        border-top-width: 1px;
    border-top: none !important;
    padding: 14px;
}
.accordion li p {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: #454545;
    text-align: left;
    font-weight: 400;
}
.accordion .open .link {
    background: #c29032;
    color: #fff;
}
.accordion .open .link i{color: #fff;}
.top-main-profile{width: 100%; margin-top: 51px;}

.whyus_bx em img{
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 50%;
}

.produt_sec .page_hed h3{color: #c29032;}
.produt_sec .page_hed p{color: #fff;}
.contact-form .page_hed h3{color: #fff;}
.contact-form .page_hed p{color: #fff;}
.contact-form{padding-top: 10px;}
.cont-info-single em{background: #c29032; width: 80px; height: 80px; 
display: flex; justify-content: center; align-items: center;
margin: 0 auto; border-radius: 100px; color: #262626;}
.cont-info-single em i{font-size: 35px;}
.cont-info-single em img{width: }


